[2014-08-26 20:16] lavalamp opened #1 "heapster should use ordinary kubernetes client for master communication"
What can we do in k8s to make it easier for you to import just kubernetes/pkg/client & /pkg/api instead of rolling your own client which is likely to break in the future?

[2014-08-26 23:17] timcash opened #2 "cAdvisor link"
the cAdvisor link has an extra "https://" so the link is broken

[2014-08-27 06:37] #2 closed, assigned to nobody

[2014-08-27 07:12] #1 closed, assigned to nobody

[2014-08-30 06:25] akramh opened #3 "grafana images keeps restarting on vagrant"
deployed this on kuberentes running on virtual box using vagrant. The grafana image keeps failing continuously.

[vagrant@kubernetes-minion-3 ~]$ sudo docker events
[2014-08-30 06:23:27 +0000 UTC] 89317b9961b190fd4d00273f91e04342f6f7208a3e6c111011770551bbca6673: (from vish/k8s_grafana:latest) die
[2014-08-30 06:23:36 +0000 UTC] 0e0427e166bc57924fd52d8631d7e8211a6dca4adc3541ee3d36800b01c486f6: (fro

[2014-09-18 18:08] bmaltais opened #4 "grafana-influxdb-pod.json contains extra ','"
I could not get grafana-influxdb-pod.json to properly install on kubernetes. I would just sit there at the waiting stage... so I dug a bit and noticed two extra ',' in the json file. Removing those has fixed the issue.

You mighty want to update the file ;-) Here is the file with the fix:

{
  "id": "influx-grafana",
  "kind": "Pod",
  "apiVersion": "v1beta1",
  "desiredState": {
    "manifest": {

[2014-09-18 18:14] #4 closed, assigned to nobody

[2014-09-19 22:54] vishh opened #5 "Make heapster work outside of GCE"
Currently Kubernetes does not expose the public IP of services in GCE. This makes it necessary to obtain public IP of Influxdb service using GCE's metadata servers. If there is no public IP restriction on some of the supported Kubernetes platforms, heapster can be made to work by splitting influxdb and grafana into separate services.

cc @bmaltais

[2014-10-29 22:45] xueshanf opened #6 "where is /usr/bin/coreos?"
cluster/coreos Dockerfile ADD coreos to /usr/bin/coreos. Where is the source of coreos?

[2014-11-13 16:52] vishh opened #11 "Heapster CoreOS buddy assumes fleet server in running on host"
As per @andrewwebber suggestion, the coreOS buddy needs to take in fleet server information via a flag.

@MaheshRudrachar reported this issue:
I have setup 5 CoreOS instances on AWS and followed kelseyhightower kubernetes-fleet-tutorial.
Basically I have
1 ETCD dedicated Server,
3 Minions with 1 Minion acting as API Server and
1 dedicated Minion for setting up Heapster.
All Minions are pointing to

[2014-11-17 21:30] #5 closed, assigned to vishh

[2014-11-17 21:30] #3 closed, assigned to nobody

[2014-11-17 21:55] viklas opened #13 "IPV6 only constraint possibly"
Not sure if the issue is environmental (only me) or configuration baked into heapster and grafana pre-canned images. Every time I test the URL (port 80) to the minion running the heapster pod I get a "connection refused" error. All ports are open and this is reproducable even from a curl command running via SSH locally on the heapster minion. It appears to be web server config versus something at

[2014-11-17 22:42] #13 closed, assigned to nobody

[2014-11-21 09:33] jeinwag opened #15 "heapster and kubernetes: not getting any container stats"
I'm currently testing heapster with kubernetes v0.5 and cadvisor 0.6.2.

Grafana doesn't display any graphs with per container stats (total cluster CPU and memory usage is displayed fine), it's just giving the error "Couldn't look up columns for series: stats"

Heapster is also displaying errors constantly:

    E1121 09:30:41.665006 00007 kube.go:104] failed to get stats from kubelet on host with

[2014-11-25 10:33] mindscratch opened #16 "Provide binaries as part of the release"
I believe it would be beneficial to users if pre-built binaries were provided as part of the release. Kubernetes and cAdvisor do this which makes it simpler to get started.

[2014-12-02 14:08] nlamirault opened #22 "Can't load data"
i setup Heapster in a Kubernetes cluster with an Influxdb backend and Grafana like in the README.
I can log into Grafana using admin/admin and into the InfluxDB UI using root/root.
In Grafana UI i've got this error :

[code]

In the InfluxDB UI, i click "Explore Data" for the *k8s* database, and i try this request :+1:

[code]

And i've got an error message :

[code]

[2014-12-03 01:15] #16 closed, assigned to nobody

[2014-12-14 23:47] ghost opened #24 "CPU spike"
Is this normal?

![](https://dl.dropboxusercontent.com/u/30162278/Screen%20Shot%202014-12-15%20at%202.41.39%20AM.png)

Almost 60% cpu usage on a 2gb ram vm .. fedora 20 in digitalocean, yet it's not running in the first place:

[code]

[2014-12-15 23:11] #24 closed, assigned to nobody

[2014-12-19 11:46] jimmidyson opened #27 "Cannot override service name for influxdb storage when running in kubernetes"
As `ENTRYPOINT` is set to `/run.sh` this cannot be overridden in kubernetes where you can only specify a command. `run.sh` has a hard-coded name for the InfluxDB service as `INFLUX_MASTER`.

Switching to `CMD` rather than `ENTRYPOINT` would allow users to deploy & just run `/usr/bin/heapster`, passing in appropriate arguments rather than using `/run.sh` which would of course remain default if no a

[2014-12-19 18:57] #27 closed, assigned to nobody

[2014-12-19 22:16] vishh opened #29 "Track pods running in the kube master"
This will be useful to track resource usage across the entire cluster.

[2014-12-19 22:18] vishh opened #30 "Track raw containers (cgroups) on all in a kubernetes cluster"
To have a complete understanding of resource usage in the cluster, heapster needs to track docker containers that do not belong to a pod and raw cgroups that exist on the system.

[2014-12-29 09:45] josselin-c opened #31 "Namespaced containers stats aren't reported"
Not sure if it's a problem with cAdvisor, Heapster or Kubernetes but using [kubernetes setup for monitoring](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/monitoring) I don't see in grafana pods started in namespaces other than the default one.

[2015-01-02 21:56] vishh commented on #15
@Fandekasp: Kubernetes is using the latest version of cadvisor. Can you try upgrading cadvisor and see if that fixes your issues?

[2015-01-02 22:50] vishh commented on #31
Keeping this open until a new heapster release is completed.

[2015-01-06 17:08] #15 closed

[2015-01-06 18:22] rjnagal commented on #30
Can we just use the stats from root container and take a diff?

[2015-01-06 18:24] vishh commented on #30
If we run the system daemons in separate cgroups, it is useful to track each of the raw cgroups separately.

[2015-01-06 18:31] rjnagal commented on #30
True. These should be exported by Kubelet as a standard API. Otherwise, we
will end up picking lot of unrelated stuff that'll need to throw out. That
is lot of wasted bandwidth at cluster level.

On Tue, Jan 6, 2015 at 10:24 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-01-06 18:35] vishh commented on #30
Agreed!

On Tue, Jan 6, 2015 at 10:31 AM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-01-07 11:39] mindscratch opened #41 "Incorrect data type NodeList vs MinionList"
I'm running Kubernetes 0.7.0 and Heapster 0.4.0 and I noticed the Heapster container exits after ~10 seconds. I see in its logs:

[code]

[2015-01-07 17:59] vishh commented on #41
Kubernetes v0.7.0 has an API issue. Kindly upgrade to the latest release
v0.7.2.

On Wed, Jan 7, 2015 at 3:39 AM, Craig Wickesser <notifications@github.com>
wrote:

[2015-01-09 00:01] vishh commented on #31
This required a change to kubelet. Waiting for a kubernetes release with that change to rollout.

[2015-01-22 19:39] #31 closed

[2015-01-29 09:19] sourav82 opened #76 "Not getting graphs on heapster UI."
Below are the pods running on my system -

NAME        |   IMAGE(S)     |                   HOST              |            LABELS                  |        STATUS
f95a0a29-a78e-11e4-b11e-984be16ce9ba | kubernetes/heapster_influxdb:v0.2 |       10.227.125.10/10.227.125.10 |  name=influxGrafana   |                    Running
                                       kubernetes/heapster_grafana:v0.2

77

[2015-01-29 11:14] sourav82 commented on #76
These minions are on local intranet (running ubuntu). Not using any cloud infrastructure. It is local Kubernetes cluster having two minions.

[2015-01-29 15:10] antmanler opened #77 "High CPU usage for heapster v0.6"
I updated to latest version of heapster(kubernetes/heapster:v0.6) and influxdb(kubernetes/heapster_influxdb:v0.3) and found high CPU usage of influxdb.

I downgrade to heapster_influxdb:v0.2, still got high load, then tried heapster:v0.5, the cpu loads seemed normal

**heapter v0.5 + heapster_influxdb:v0.3**:
![v0 5](https://cloud.githubusercontent.com/assets/354668/5959700/4d975b08-a80b-11e4-84d0

[2015-01-29 17:02] vishh commented on #77
Thanks for reporting the issue. I will probe further on the CPU usage part.
Meanwhile, it is possible to cap the total amount of CPU and memory that
InfluxDB consumes. That might reduce the responsiveness of InfluxDB. Is
that an acceptable solution?

On Thu, Jan 29, 2015 at 7:10 AM, BinZhao <notifications@github.com> wrote:

[2015-01-29 17:06] vishh commented on #76
Can you check if `cadvisor` is running on all your nodes?

On Thu, Jan 29, 2015 at 3:15 AM, sourav82 <notifications@github.com> wrote:

[2015-01-29 18:17] antmanler commented on #77
I think it's better to make trade off, since a monitoring service should not cost much computing resources in cluster.
And I've no idea why sending data to influxdb will cause so much CPU usage, I checked the network payload in influxdb's container and there is not a lot of data incomes every 10 sec. I wonder maybe this issue is related to influxdb itself or its golang client?

[2015-01-29 18:20] vishh commented on #77
I agree with your assessment. I have seen InfluxDB use up all the CPU it
can at times. I will send out a PR to limit resource usage for the
monitoring infrastructure in general.

On Thu, Jan 29, 2015 at 10:17 AM, BinZhao <notifications@github.com> wrote:

[2015-01-30 04:04] sourav82 commented on #76
@vishh, Yes, cadvisor is reachable using http://<minion_ip>:4194/.

[2015-01-30 04:27] sourav82 commented on #76
@vishh, I was using kubernetes-mesos framework with mesos and came to know that cadvisor is not yet integrated with kubernetes-mesos. https://github.com/mesosphere/kubernetes-mesos/issues/137#issuecomment-72027269

[2015-01-30 04:27] #76 closed

[2015-02-09 19:03] vmarmol opened #89 "Separate Sources into Collectors"
Separate sources into collectors under a stronger API to allow us to collect from various sources and make that more configurable.

This will require us to annotate data outside of the collectors.

[2015-02-09 19:04] vmarmol opened #90 "Separate Sinks with an API"
Sinks today are able to export data to a certain backend. We need to separate these so that we may run them out of process of the main Heapster. This will require a clear API for this.

[2015-02-09 19:10] vmarmol opened #91 "Parallelize Heapster Core"
Allow the Heapster core to fetch and export multiple streams simultaneously. This should also entail work to allow a single stream to fall behind and be robust to node failures.

[2015-02-09 19:20] vishh opened #92 "Add a REST endpoint to expose resource usage at various levels"
Since heapster aggregates data across all nodes and containers, it can and probably should expose resource usage data aggregated at various levels,
1. container,
2. Pod,
3. Service/Controller,
4. labels
Instantaneous metrics will be useful for UI purposes and derives metrics (mean, 90%ile, max, etc) will be useful for end users.

[2015-02-09 19:49] vishh commented on #77
@antmanler: We are working on separating heapster from InfluxDB and Grafana. Heapster by itself should use minimal CPU and we will place appropriate resource restrictions to enforce that.

For InfluxDB though, its performance becomes abysmal when we restrict it to less than 1 CPU. Since the current default cluster config in kubernetes uses 1 cpu GCE VMs, setting InfluxDBs CPU limit to '1' will con

[2015-02-09 19:50] vishh commented on #77
Let me know if you need any help placing CPU and Memory restrictions on InfluxDB.

[2015-02-09 19:50] #41 closed

[2015-02-09 19:53] vishh opened #93 "Injest Prometheus metrics."
[Prometheus](https://github.com/prometheus/prometheus) client model is being adopted for supporting custom metrics from Kubernetes core components. Heapster needs to be able to scrape and parse Prometheus metrics, in-order to annotate them and make them available to various backends.

[2015-02-09 19:56] vishh commented on #93
cc @a-robinson

[2015-02-10 03:30] antmanler commented on #77
Thanks, sorry so busy these days, I'll try to put restrictions on InfluxDB and tune its resources consumption

[2015-02-10 21:03] vishh opened #95 "export diskio stats"
cAdvisor supports diskio stats. It needs to be exported to the storage backends.

[2015-02-10 21:24] arkadijs opened #97 "lastQuery handling in cAdvisor source is wrong"
There are two issues:

1. `lastQuery` is not set in the loop, resulting in data duplication, because cAdvisor returns last 64 stats instead. Example fix:
https://github.com/arkadijs/heapster/commit/2fc23c2a890e6c77c56ee0640e5601178f461df6#diff-3917589e63e61c59289ec2acb14ebcc8R66

2. On a medium to large cluster with medium to large number of containers the logic of one lastQuery per all peers woul

[2015-02-10 21:45] vishh commented on #97
Thanks for reporting the issue.
I wonder if we can eliminate `lastQuery` completely and instead just use `poll_duration`?
We have just started working towards improving the core, and eventually scalability as well. I can imagine polling all cadvisor's in parallel at the least, in the short term. We are aiming for sharding heapster itself from ground up, but that might not happen soon.

[2015-02-10 21:49] arkadijs opened #98 "Suggestion: use InfluxDB continuous queries"
In real life scenarios the performance of Grafana dashboard is abysmal and metrics are plain wrong when graphs are built on top of `stats` table directly. I suggest to use continuous queries.

Why wrong? Imagine a single Docker container with the same name deployed on different machines. There will be multiple rows from different machines, thus `derivative(cpu_cumulative_usage)` will return random

[2015-02-10 22:07] arkadijs opened #99 "Suggestion: get rid of the CoreOS / "buddy""
While flexible, the buddy / `hosts` file things complicates the deployment.
I ended up moving Fleet logic into Heapster and getting rid of noticeable chunk of the code. As there are no currently other types of the buddies (Mesos?), I suggest doing something like the following:
https://github.com/arkadijs/heapster/commit/7c4fc6ca628a2e9548fd26241993f5d30dba301e

1. If there is Kubernetes - use list

[2015-02-10 22:17] arkadijs commented on #91
For InfluxDB sink I suggest to use Go channels and a separate flusher goroutine together with GOMAXPROCS.
https://github.com/arkadijs/heapster/blob/master/sinks/influxdb.go#L209

[2015-02-10 22:39] arkadijs commented on #97
Also, adding to (1), numStats is not a cAdvisor HTTP query parameter, but must be supplied via POST JSON: https://github.com/arkadijs/heapster/commit/2fc23c2a890e6c77c56ee0640e5601178f461df6#diff-d506dd5ceb65926ead27b28cd6c5eca3L95

[2015-02-10 23:18] vishh commented on #98
@arkadijs: Why is `group by hostname` not possible? I thought it can be combined with a `where container_name=<blah>` clause in Grafana.

With diskio and filesystems I was thinking of separating them into separate series. Does that approach sound good?

[2015-02-10 23:22] vishh commented on #99
@arkadijs I am curious to know the deployment issues with using the buddy container?
In general, we intend to move towards a side-car based model for discovery, sharding and storage instead of a single monolithic binary.

[2015-02-10 23:23] vishh commented on #77
Closing this issue.

[2015-02-10 23:23] #77 closed

[2015-02-11 08:03] arkadijs commented on #98
An example.
There are two kinds of containers: user apps and infra. I want to show a stacked graph of infra containers accross the cluster. What do I do?

    select container_name, derivative(cpu_cumulative_usage) as cpu_usage
      from stats where container_name =~ '^infra-'
      group by time(10s), container_name

Doesn't work.
`derivative()` if operating on non-related values that comes from

[2015-02-11 08:26] arkadijs commented on #99
1. +1 container to deploy and explain to newcomer. I prefer to code a solution that just works. Please avoid microservices envy.
2. Exchanging live data via JSON formatted data on the filesystem? Really?
3. The _buddy_ is overwriting the `hosts` file in-place, thus a race condition with the reader (heapster). Use `rename()`.
4. There is code in Heapster that queries Kubernetes _nodes_ API. followi

[2015-02-11 17:32] vishh commented on #99
On Wed, Feb 11, 2015 at 12:26 AM, arkadijs <notifications@github.com> wrote:

should solve this problem.

some cases not change at all.

We want to limit the number of platforms that we support natively. Why?
Every new platform being added needs to be tested and maintained as part of
the core binary. Separating out node discovery helps to shard and scale
heapster easily. But limiting to CoreOS in

[2015-02-11 17:45] vishh commented on #98
Thanks for explaining! I see the problem now. We personally don't have
experience using InfluxDB in production and so feedback from users is much
appreciated.

I was thinking of going for a series per metric, but a series per container
sounds to be better.

I will try and work on this soon. Until then, feel free to post PRs to
enhance the InfluxDB backend.

On Wed, Feb 11, 2015 at 12:03 AM, arkadi

[2015-02-17 14:42] vmarmol opened #107 "Duplicate data sent to sinks"
While writing the GCM sink I found that Heapster sent a lot of duplicate data to the sinks. Something along the lines of:

Container: /  - Time: 0s-10s
Container: /  - Time: 0s-10s
Container: /  - Time: 0s-10s
Container: /  - Time: 30s-40s
Container: /  - Time: 30s-40s
Container: /  - Time: 30s-40s
Container: /  - Time: 60s-70s
Container: /  - Time: 60s-70s
Container: /  - Time: 60s-70s

[2015-02-17 16:02] vishh commented on #107
I will take a look at this issue today.

[2015-02-18 01:11] vishh commented on #97
This has been fixed.

[2015-02-18 01:11] #97 closed

[2015-02-18 01:12] vishh commented on #91
This has been fixed on head. The sinks themselves do not run in parallel yet.

[2015-02-18 01:12] #91 closed

[2015-02-18 01:14] vishh opened #110 "Push metrics to backends in a separate thread"
As of now metrics are pushed to backends synchronously. This can cause housekeeping delays. Instead, cache the metrics internally and use a separate go thread to export metrics to backends.

[2015-02-19 06:26] vishh opened #115 "Add integration test for heapster on CoreOS"
As of now the coreos buddy is not tested periodically. Having an integration test will reduce the release overhead.

[2015-02-20 01:33] vishh opened #117 "Add deployment support for the new GCM driver."
`deploy/run.sh` needs to be updated to support the new gcm backend driver.

[2015-02-20 01:37] vishh opened #118 "Collect and export kubernetes events and docker events"
InfluxDB supports events natively. Other backends might not. We can place structure around some specific events like container starts, deletions, restarts, etc and export them as metrics, but that might be sub-optimal.
Need to explore how events is currently handled by various monitoring/alerting systems.

[2015-02-20 02:43] #99 closed

[2015-02-20 03:43] vmarmol opened #119 "Instrument Heapster for monitoring"
Both the core as well as the sinks. Things like: metrics pushed, latency to push, errors, etc.

[2015-02-20 03:43] vmarmol opened #120 "Add files needed for TLS to Heapster container"
Add the host volumes needed to send TLS requests in Heapster. This is needed by some sinks like GCM.

[2015-02-20 22:07] #120 closed

[2015-02-23 13:00] keyz182 opened #126 "deploy/run.sh doesn't detect COREOS env var"
I've been trying to get Heapster up and running on a CoreOS cluster, and have been having issues. Using the v0.7 images, I get the following output from the container:

[code]

The command used to run it is (as per https://github.com/GoogleCloudPlatform/heapster/tree/master/clusters/coreos):

[code]

As can be seen, the COREOS environmental variable isn't picked up, because it's empty. ``` [ ! -z

[2015-02-23 16:48] pires commented on #119
+1

[2015-02-23 16:49] pires commented on #110
+1

[2015-02-23 16:49] pires commented on #107
Any updates on this?

[2015-02-23 17:10] pires commented on #98
@arkadijs excellent analysis. Will keep an eye on this issue.

[2015-02-23 18:02] vishh commented on #126
Thanks of reporting the issue @keyz182. We will fix it in the next release.

[2015-02-23 19:23] a-robinson opened #127 "Heapster fails to get stats from kubelet"
Potentially related to the push of heapster 0.7. I've been seeing all heapster requests to my kubelets' /stats/ endpoints failing. I initially reported this as a [Kubelet issue](https://github.com/GoogleCloudPlatform/kubernetes/issues/4717), but it looks possible that the new heapster added some sort of incompatibility with the kubelet.

The errors all look like this, and I expect it's very reprod

[2015-02-23 19:26] vishh commented on #127
Are you able to manually get stats using the URL mentioned in the logs?

`wget
http://10.240.173.100:10250/stats/default/kube-dns-0133o/70de926d-bb1a-11e4-b34e-42010af06d77/etcd
`.

I have seen such errors whenever cadvisor is not available.

On Mon, Feb 23, 2015 at 11:23 AM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-23 19:34] a-robinson commented on #127
Yeah, could definitely be due to cadvisor being missing.

[code]

[2015-02-23 19:35] vishh commented on #127
The kubelet also restarts often, so you might want to check kubelet health
as well.

On Mon, Feb 23, 2015 at 11:34 AM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-23 19:36] a-robinson commented on #127
It's happening every 10 seconds on every node, with no signs of kubelet restarts.

[2015-02-23 19:38] vishh commented on #127
The '10 seconds' matches heapster's default polling duration. Can you look
for cadvisor container restarts? Also can you post the entire heapster logs?

On Mon, Feb 23, 2015 at 11:36 AM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-23 19:44] a-robinson commented on #127
The cadvisor container has been up for 14 hours, since the cluster was created. The cadvisor logs (from `docker logs`) are empty. Docker's health checks for it are succeeding:
```time="2015-02-23T19:43:17Z" level="info" msg="-job container_inspect(a3fd307f497b2418822dd83bfbffd979cfea187ad8ede24c7734dd6af1f3def2) = OK (0)"```

[2015-02-23 19:44] a-robinson commented on #127
Heapster logs:
[code]

[2015-02-23 19:46] a-robinson commented on #127
kubelet logs:
[code]

[2015-02-25 17:56] vishh opened #130 "Make influxdb sink resilient to connectivity issues."
The sink should attempt db creation until it succeeds, even if the influxdb service is temporarily not accessible. The sink should buffer data for some sane duration if there are temporary network issues.

[2015-02-25 22:45] vishh opened #132 "Support persistent storage for InfluxDB backend."
As of now InfluxDB pod uses local storage.

[2015-02-25 23:38] vishh opened #133 "Add a deployment tool for kubernetes"
As of heapster setup and troubleshooting is difficult at times. Having a deployment tool, that verifies that cadvisor is installed on every node, sets up all the heapster components, and ensures that all the components are up and running. This tool could also help configure backends and dynamically generate kube configs.

[2015-02-25 23:41] vishh commented on #127
This must have been fixed on head by #4784. Can you recreate a cluster from HEAD and see if the issue is fixed?

[2015-02-26 13:53] pires commented on #132
+1

[2015-02-26 13:53] pires commented on #130
+1

[2015-02-26 14:19] pires opened #135 "Proxy calls to InfluxDB with nginx"
So, having something like
[code]
is very limitative when it comes to running ```influxdb``` + ```grafana```, especially inside Kubernetes.

See [my suggested solution](https://github.com/GoogleCloudPlatform/kubernetes/issues/4841).

[2015-02-26 15:42] samek opened #136 "marathon"
Does it support getting cadvisor nodes from marathon ?

[2015-02-26 18:25] rjnagal commented on #133
+1 there are too many steps in current monitoring setup for user/admin to run through themselves.

The tool should also support cleanly shutting down monitoring for people who don't use it. The subcommands I'd like to see:
- start monitoring
- stop monitoring
- validate (get validate output from heapster and cadvisors, also healthchecks sinks)

[2015-02-26 18:30] rjnagal commented on #136
Heapster currently supports kubernetes and fleet. Extending to add other types is pretty simple. We'd love to have PRs for marathon support and can help with any issues. We won't have time to get to it ourselves for a while though.

@samek would you like to give it a shot?

[2015-02-26 18:32] vishh commented on #133
It could also be extended to add and remove pluggable backends.
For example:
Deploy InfluxDB + Grafana backend if required or setup a GCM backend, etc.

On Thu, Feb 26, 2015 at 10:25 AM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-02-26 18:38] vishh commented on #136
+1 to what @rjnagal mentioned. It should be straight forward to add a new 'nodes' source. We can help you out if necessary.

[2015-02-26 19:40] vishh commented on #135
+1 to making this change. As long as it works on most kubernetes cluster
setups, I am fine with that change.

On Thu, Feb 26, 2015 at 6:19 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-02-26 20:13] a-robinson commented on #127
Sorry for the delay - I'd love to test this, but the wi-fi here isn't good enough for kube-up to work for me :/ I probably won't be able to until tomorrow

[2015-02-26 20:14] samek commented on #136
@rjnagal  Well the way I look it it's either I write it  from scratch or We add just the new source to this.

But we would need to discuss the approach part, get some guide lines ..

[2015-02-26 20:19] rjnagal commented on #136
@samek I was advocating adding a new source. Since the setup uses cadvisor, the only part we need to implement is a watch or poll interface for getting list of nodes from marathon. I'd love to help with any question about approach or guidelines.

[2015-02-26 20:36] vishh commented on #127
The heapster POST issue has been fixed on heapster HEAD. I will integrate
that into kube soon.

Can we stop dumping stack traces in kubelet? Does it really help debug any
issues?

On Thu, Feb 26, 2015 at 12:13 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-02-26 21:18] DreadPirateShawn commented on #127
For what it's worth, I'm currently seeing the same issue, using the latest heapster github code.

Just to make sure, here's the latest pull and restart that I performed:

[code]

I see that the pods were indeed recreated, however I'm still seeing the POST to /stats/ every 10 seconds:
[code]

And from the kubectl logs:
[code]

Is there more that I could check? (Still finding my way around the logs.

[2015-02-26 22:22] vishh commented on #127
`deploy/kube.sh` does not rebuild heapster docker images. I have pushed a
test image 'kubernetes/heapster:test'. Can you try again using that image?

On Thu, Feb 26, 2015 at 1:18 PM, Shawn Falkner-Horine <
notifications@github.com> wrote:

[2015-02-26 22:57] DreadPirateShawn commented on #127
Ah! Thanks, I didn't realize where the image was specified -- I see what you mean, now. Even better, I tried your test image, and I do see the POST actions change to GET:

[code]

I'm pretty sure now that my other issue is cAdvisor, since I'm still seeing the "invalid character 'I' looking for beginning of value" errors, but taking this GET/POST aspect off the table is definitely helpful.

[2015-02-26 23:00] vishh commented on #127
There was an issue in kubelet which affected access to cadvisor container.
That got fixed very recently (yesterday maybe). Running a cluster from head
might solve that problem.

On Thu, Feb 26, 2015 at 2:57 PM, Shawn Falkner-Horine <
notifications@github.com> wrote:

[2015-02-27 09:06] pires commented on #135
In progress..

[2015-02-27 18:57] a-robinson commented on #127
This appears to be fixed at head. Thanks Vish!

[2015-02-27 18:57] #127 closed

[2015-02-27 19:01] vishh opened #144 "rewrite integration test scripts in golang."

[2015-03-02 19:02] vishh opened #148 "wait for pods to exit before attempting removal of docker images"
There exists a race between pods deletion and docker images removal from nodes.

[2015-03-03 00:47] #117 closed

[2015-03-11 13:27] okapusta opened #160 "Heapster stops pushing data into Influxdb on Deis cluster"
I have a [Deis](deis.io) cluster set up on AWS and I've tried using heapster to monitor it, but it pushes data into influx db only for a while after start / restart and [then stops](http://cl.ly/image/0m0H3U2P1U1X). I set up everything as explained in [this](https://github.com/GoogleCloudPlatform/heapster/tree/master/clusters/coreos) guide. Here are my configs. Am I doing something wrong or heapst

[2015-03-11 16:07] vishh commented on #160
Heapster should work on CoreOS clusters.

Can you post the output from '/validate' endpoint on Heapster?

Can you pass in "-e DEBUG=true" while starting heapster to make it spew
more logs?

On Wed, Mar 11, 2015 at 6:27 AM, okapusta <notifications@github.com> wrote:

[2015-03-11 16:23] okapusta commented on #160
[code]

[code]

[2015-03-11 16:31] vishh commented on #160
@okapusta: Can you let heapster run for 30 minutes and then post the logs? Heapster polls the cadvisors every 10s by default.

[2015-03-11 17:30] okapusta commented on #160
Heapster flushed data to influxdb sink one more time at 16:25:58 and then stopped

[2015-03-11 17:34] vishh commented on #160
By stopped do you mean that heapster container stopped or you don't see any
logs from heapster?

On Wed, Mar 11, 2015 at 10:30 AM, okapusta <notifications@github.com> wrote:

[2015-03-11 17:34] okapusta commented on #160
Container is running, it just stopped querying (I guess) cadvisor containers and pushing data to InfluxDb

[2015-03-12 00:04] vishh commented on #160
I am trying to reproduce this issue locally. Will update the issue once I
make some progress.

On Wed, Mar 11, 2015 at 10:35 AM, okapusta <notifications@github.com> wrote:

[2015-03-16 16:56] vishh commented on #107
I fixed some heapster side bugs that should address this issue. There is still the dynamic housekeeping issue in Cadvisor. Now that cadvisor exposes a time range for stats, I will update heapster to use that time range.

[2015-03-20 03:27] vishh opened #170 "Make heapster resilient to kubelet failures"
As of now heapster fails stats collection completely if kubelet fails to return stats for a container. This is undesirable. heapster should log error and move on instead of failing completely.

[2015-03-20 03:41] vishh commented on #170
Correction: Heapster fails to collect only for the pod and not entirely. Still undesirable.

[2015-03-20 04:43] #170 closed

[2015-03-20 10:11] jimmidyson opened #172 "Metrics pub-sub"
While thinking about other services that would require metrics, e.g. alerting, autoscaling, etc, switching to a pub-sub model would allow for services to build around the metrics data. For example, if heapster could publish metrics to e.g. Apache Spark / Kafka then other services could subscribe to topics & provide functionality.

We could split up topics into a hierarchy something like namespace

[2015-03-20 10:21] jimmidyson opened #173 "Collecting application level metrics"
Currently Heapster collects metrics from cAdvisor to gather container level metrics. Collecting application level metrics would provide an even richer set of data. Applications would be required to implement an http endpoint to expose the metrics that it wants to publish.

As a PoC, we have a heapster fork, jadvisor (https://github.com/fabric8io/jadvisor), that collects JVM stats via JMX exposed v

[2015-03-20 10:26] jimmidyson opened #174 "Influxdb clustering"
Unless I'm missing something, currently the heapster manifests for influxdb will only support a single Influxdb instance. Clustering Influxdb will probably be necessary for any reasonable size deployment. I assume this would be achieved by updating the seeds in the config.toml but I'm not sure of the best way to retrieve those seed servers?

[2015-03-20 15:09] vmarmol opened #175 "Add an integration test for GCM sink"
Assigning to me :)

[2015-03-20 16:33] vishh commented on #173
Application metrics is something we have been wanting to collect in
heapster for a while. But most of the existing monitoring solutions use
either collectd or statsd and so we were looking at leveraging them for
application metrics. Native support in heapster sounds even better. My
concern is that of diverging from the open source community around
monitoring.

On Fri, Mar 20, 2015 at 3:21 AM, Jimm

[2015-03-20 16:35] vishh commented on #174
Support for [peer to peer services](https://github.com/GoogleCloudPlatform/kubernetes/issues/1607) is still being designed in kubernetes. Once that is finalized, adding support for clustering should be straight forward.

[2015-03-20 16:56] jimmidyson commented on #173
Agreed that heapster should support statsd & collectd, but running those would require extra setup rather than natively supporting collection in heapster.

Also heapster providing discovery of what to monitor would probably be easier than configuration of collectd & statsd to do the same. My initial thoughts on this were to use selectors to collect configured metrics over http. I'm not sure how yo

[2015-03-20 17:38] vishh opened #177 "Dynamically configure backends"
Heapster should have a REST endpoint that supports dynamically adding or deleting monitoring backends. This will let heapster be deployed before the monitoring backends become available.

[2015-03-20 17:43] rjnagal commented on #177
Does heapster handle auth today? State modifying APIs would require some kind of Auth setup option - maybe just like the basic one we have in cAdvisor.

[2015-03-20 17:45] vishh commented on #177
Good point. No auth exists today. We can leverage cadvisor auth. In
kubernetes, heapster will be accessible via the apiserver and we can rely
on the api-server auth policy for heapster.

On Fri, Mar 20, 2015 at 10:43 AM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-03-20 18:41] vishh commented on #173
Application type discovery is an open issue in kubernetes. Filed an [issue](
https://github.com/GoogleCloudPlatform/kubernetes/issues/5721) to discuss
that.

Filed #177 for dynamic backend configuration.

[2015-03-20 20:03] jimmidyson commented on #173
Thanks for raising those. Wonder if it's worth pushing on with using labels while the discussion around discovering application types via the Kubernetes API kicks off?

[2015-03-20 20:21] vishh commented on #173
I agree. Labels should get us going for now.

[2015-03-21 18:39] vishh opened #178 "Setup scripted dashboards in Grafana for kube pods"
[Scripted dashboards](http://docs.grafana.org/reference/scripting/) might help auto-generate dashboards for pods and services based on user input like pod name, pod id, labels, container name, etc. This feature might help users who are not familiar with grafana or our Influxdb storage schema.

[2015-03-21 18:40] vishh commented on #172
Good idea. This seems better than having heapster expose the data directly.

[2015-03-21 18:42] #148 closed

[2015-03-21 18:43] vishh commented on #144
This is completed on HEAD.

[2015-03-21 18:44] vishh commented on #136
@samek: Were you able to make any progress?

[2015-03-21 18:45] vishh commented on #126
This has been fixed in the recent v0.9 release.

[2015-03-21 18:45] #126 closed

[2015-03-21 18:46] vishh commented on #118
@saad-ali is working on this.

[2015-03-24 17:40] vishh opened #185 "Add a heapster debugging FAQ"
The current workflow is to debug heapster issues involves running heapster with extra logging. It needs to be documented to help users identify problems with their setup.

[2015-03-24 17:44] vishh opened #186 "Document influxdb storage schema"

[2015-03-25 01:08] #186 closed

[2015-03-25 01:28] #185 closed

[2015-03-25 20:28] #107 closed

[2015-03-26 16:48] vishh commented on #90
This is done on HEAD.

[2015-03-26 16:48] #90 closed

[2015-03-26 16:50] vishh opened #194 "Separate Influxdb and grafana into separate pods"
As of now, Grafana and influxdb exist together in the same pod. They need to separated out for scaling Influxdb.

[2015-03-28 03:40] #135 closed

[2015-03-28 03:44] vishh commented on #132
Excepting local disk none of the existing Storage solutions in kubernetes works for all the users. I am thinking the best way to address this issue is to provide a cookbook of storage recipes in the repo and make the users choose one based on their deployment.
We can simplify this by having a deployment binary with simple flags.
Any thoughts @pires ?

[2015-03-28 03:50] vishh opened #196 "Cache metrics and events in memory until being flushed to backends"
Having an in memory cache helps support multiple use cases:
- Collect events/metrics asynchronously
- Run multiple backend sinks with different flush intervals.
- Retry flushing in backends.
- Serve recent metrics/events via a REST endpoint (potentially useful for the kube scheduler and kube cmdline).

[2015-03-28 03:53] vishh opened #197 "Support multiple backends"
This is required to support Google Cloud Monitoring for metrics and Google Cloud Logging for events simultaneously.

[2015-03-28 04:00] vishh commented on #11
Coreos support has been integrated into the main binary.

[2015-03-28 04:00] #11 closed

[2015-03-28 04:00] #6 closed

[2015-03-28 04:03] vishh opened #198 "Scalability testing"
Run heapster against order of ~100 nodes and upto 30 pods/containers per node and ensure that,
1. It is stable
2. It continues to function as expected without high latencies.

#119 will help with introspecting heapster.

[2015-03-28 09:05] jimmidyson commented on #132
I think by default we should be using an empty-dir volume, but as we're seeing with lots of things this is deployment/implementation specific. A deployment binary might be a good idea, but we really need this to be in the influxdb manifest at the very least.

[2015-03-28 09:06] pires commented on #132
I agree with @jimmidyson. I think it's up to the user to adopt whatever storage strategy he/she is more comfortable with. In the end, I'd really like to see something like [`flocker`](https://github.com/ClusterHQ/flocker) coming into Kubernetes, but right now it's too early to decide on an approach other than empty-dir.

[2015-03-28 09:09] jimmidyson commented on #98
As detailed above, separating into separate series is the first step. Series name should include namespace as well so that we can perhaps provide some kind of authorisation based on series names. Separating out also will let us do clean up more easily on historic stats, say as namespaces/projects are deleted.

Continuous queries are also going to be critical, not just for the performance reasons d

[2015-03-28 09:13] jimmidyson opened #199 "Heapster run.sh script logic should be moved into heapster binary"
This will make the logic easier to test & reduce the need for maintaining external script.

[2015-03-28 09:20] jimmidyson opened #200 "Consolidate flags into one place"
Currently flags are spread about all over different source files. Consolidating in one place will make addition of flags more consistent & prevent accidentally reusing flag names, etc.

As an extra, can we consider switching to `pflag` (https://github.com/spf13/pflag/), drop in replacement for `flag`, but POSIX compliant flags & has shorthand flags, etc?

[2015-03-28 09:47] jimmidyson commented on #200
Could even consider viper (https://github.com/spf13/viper) so we can combine flags, env vars & config files into one runtime configuration. As we as more functionality, multiple sinks, events, etc, having a config file might be really useful, in addition to flags, etc.

[2015-03-30 09:41] Andre-Freitas opened #203 "something wrong in grafana service"
Today i have pull the latest changes to this repository, but i think you still have an issue when collecting influxdb data.
If i don't change env variables "INFLUXDB_HOST" and "INFLUXDB_EXTERNAL_URL" (in heapster/deploy/kube-config/influxdb-grafana-controller.yaml), my grafana will try to check influxdb in http://monitoring-influxdb/api/v1beta1/proxy/services/monitoring-influxdb/db which for me it

[2015-03-30 10:04] Andre-Freitas commented on #203
plus the error above i'm detecting this second error /set_basic_auth.sh: line 10: [: ==: unary operator expected in grafana logs
http://ur1.ca/k1eox

[2015-03-30 23:39] vishh opened #204 "Grafana set up guide for production clusters"
Document how to setup Grafana using an external load balancer or a public IP instead of the default api-server proxy solution.

[2015-03-30 23:55] vishh commented on #203
@Andre-Freitas: A new release for heapster and Grafana will be out today or tomorrow. I would suggest trying with that.

[2015-03-31 15:29] vmarmol opened #206 "Heapster deployed in v1beta3 hits cluster with v1beta1"
From IRC:

[code]

[2015-03-31 15:54] vmarmol commented on #206
/cc @ggarson

[2015-04-01 12:32] jimmidyson commented on #197
@vishh - I have a prototype for this outside of heapster in kadvisor (https://github.com/jimmidyson/kadvisor) that I was working on to learn more about go. The principal is to go from multiple sources, through a pipeline & sending to multiple sinks. Currently the pipeline just acts as a intermediary to pass messages from sinks to sinks & decouple sources & sinks, but could in future be used to val

[2015-04-01 12:33] jimmidyson commented on #197
Of course this approach could also be used for monitoring multiple Kubernetes clusters, or even for federation.

[2015-04-01 22:34] vishh commented on #197
That sounds like a good idea.
I have also been doing some work on adding in-memory cache for metrics and
events. I was imagining having sources write data to the cache and sinks
pulling data off of the cache in a sampling rate of their choice. WDYT?

On Wed, Apr 1, 2015 at 5:33 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-04-01 22:37] #206 closed

[2015-04-02 09:00] jimmidyson commented on #197
I think that approach would work well for exposing data to be pulled/scraped by external services, e.g. prometheus. I see this in-memory cache as one example of a sink, just one that doesn't push the data anywhere, just exposes it for external reaping.

Having it used in process for push only sinks seems like an unnecessary overhead. If data is being pushed then why not push it as it's collected?

[2015-04-02 15:54] vishh commented on #197
There is a need to expose some of the metrics via a REST endpoint. So the
cache will be necessary then.

We can also set it up in a such a way that the in-process sinks will
immediately receive data and can themselves decide on when to publish the
data. I guess I am moving towards a hybrid solution that combines an
in-memory cache and a channel model.

Another thing to consider is that if sinks ar

[2015-04-02 16:06] vishh commented on #203
@Andre-Freitas: Can you try out the latest release (v0.10.0) and see if it works for you?

[2015-04-02 16:08] vishh commented on #200
I like this idea. Most of heapster can act as a library with this change. `viper` sounds pretty interesting. It should satisfy most of the deployment scenarios.

[2015-04-02 16:09] vishh commented on #199
Yessss!! Ideally I want to get rid of all the scripts in this repo.

[2015-04-03 21:25] roberthbailey opened #218 "Connect to the kubelet using an HTTPS client"

[2015-04-06 09:15] Andre-Freitas commented on #203
@vishh I have deployed the latest version from github, but now my grafana web page is giving 404 page not found regarding at each graph http://postimg.org/image/7ahbhrzj3/
Regarding the logs of each container: http://ur1.ca/k4916
Regarding heapster webpage: http://ur1.ca/k491g

[2015-04-06 14:59] MikeMichel commented on #136
What does heapster need? A list of node ips where containers are running?

[2015-04-06 15:10] samek commented on #136
Yes and no
 We've change the source of cadvisor so that it sends enviroment vars to influxdb.
Env vars are what you need.

Sent from my iPhone

[2015-04-06 15:27] vishh commented on #203
From the logs you provided everything seems to be fine. Can you get seom
client side logs from the browser while using Grafana? Is the kube
apiserver accessible from outside the cluster? Is it running on non-default
port?

On Mon, Apr 6, 2015 at 2:15 AM, Andre-Freitas <notifications@github.com>
wrote:

[2015-04-06 16:49] vishh commented on #136
Heapster will have to discover the nodes that are part of a mesos cluster.

On Mon, Apr 6, 2015 at 8:10 AM, samek <notifications@github.com> wrote:

[2015-04-06 16:52] MikeMichel commented on #136
ok, then it has to check http://mesosmaster:5050/master/state.json and there the slaves array. It contains the slave ips.

[2015-04-06 16:53] MikeMichel commented on #136
I will start with heapster tomorrow but from what i understand i have to run cadvisor on the nodes and heapster will connect to a list of nodes to gather the metrics?

[2015-04-06 17:17] vishh commented on #136
That's correct @MikeMichel

[2015-04-06 23:04] vishh opened #221 "Push capacity to metric backends"
A part of this issue is to figure out how monitoring backends will handle capacity and then push capacity accordingly. Capacity is mostly static. One option is to treat it just like metrics and push it just once.

[2015-04-06 23:13] vishh commented on #197
@jimmidyson: Any thoughts here? I did some minor updates to the sources code (#220) over the weekend. This should make adding multiple sinks straight forward with the current architecture, until we have a better solution.

[2015-04-07 11:30] jimmidyson commented on #197
@vishh - saw your changes. Happy to go with the in-memory representation for now & see how it works out.

As for configuration of backends, how would you feel about dropping the individual `-kubernetes_master`, `-coreos`, etc flags & move to a more generic `--source=<source_type>:<source_config>` flag definition. We could then use the new factory methods you've added in & side-effect imports to ad

[2015-04-07 14:03] Andre-Freitas commented on #203
Ok i repetead the instalation of heaspter and now i have found the cause of the problem (you still assume that apiserver is in the same ip of the grafana service).
Let me explain:
1º At this moment i have the following services http://ur1.ca/k4hom
2º When i start a browser to open grafana web page http://10.100.163.163/#/dashboard/file/kubernetes.json i get a lot of errors 404 in browser http://ur

[2015-04-07 14:27] jimmidyson commented on #203
The grafana image has been updated in master & these issues should go away once we release that & update manifests. @vishh - any chance of that happening soon?

[2015-04-07 14:59] Andre-Freitas commented on #203
After a IRC chat with @vishh the problem was resolved when i removed the following env variable from influxdb-grafana-controller.yaml

  - name: "INFLUXDB_EXTERNAL_URL"
value: '/api/v1beta1/proxy/services/monitoring-grafana/db/'

[2015-04-07 19:55] vishh commented on #197
I like the basic idea.  Wouldn't combining all the options for a given
source or sink be tedious when run manually though? Another option is to
add structure to flag names. Or we can ditch flags altogether and take in a
config file.

On Tue, Apr 7, 2015 at 4:30 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-04-07 20:11] jimmidyson commented on #197
Heapster isn't a command you're going to be running over & over again on the command line. It's normally going to be configured in a Docker container so config specified in Dockerfile or Kubernetes manifest. Or as a service where it will again only be configured in e.g. a systemd unit file. Once you have it right you're not going to change it very often.

I'm not sure how we could structure flags

[2015-04-07 21:10] vishh commented on #197
Most of the manual runs are for testing. Automated testing can address that issue to some extent. Your argument is sound!

As for flags, the format could be something like `sources.<source_type>.<option>` - e.x.: `--sources.kube.master=http://kubernetes-ro/ --sources.kube.auth-file="/path/to/auth/file" --sources.coreos.fleet-endpoints="127.0.0.1" `

I like config file. Its simple. The same format

[2015-04-08 05:36] saad-ali opened #224 "Handle duplicate events"
If an event watch fails, then heapster automatically restarts the watch. But it firsts re-lists which causes all events that Kubernetes API Server is aware of to be re-fetched. Today theses events are just re-pushed to the sinks, resulting in duplicate events.

If the event watch gets stuck in a crash loop, this could result in tons of duplicate events being created in the sinks.

Suggestions to p

[2015-04-10 11:46] exnerd commented on #136
Hi all,

I was looking to get heapster running on a mesos cluster. I tried to insert some mesos slave running a cadvisor into the external file, but I don't know how the file must look like. By looking into the code I tried following

    { "items": { "name": "mesos-04.development.vaph.be","ip": "193.53.25.110"}}

but that didn't make it.
I got the error :

    failed to get information from sourc

[2015-04-10 17:22] vishh commented on #136
@exnerd: You are missing `[]` for `items`.
 Here is an example:
[code]
[Here](https://github.com/GoogleCloudPlatform/heapster/blob/739e160349b16d57dfdd48fe685f8ae8b1c489d7/sources/nodes/external_test.go#L43) is some test code that generates a list of external hosts on the fly.

Let me know if you have any issues. Ideally, having a native node discovery agent in heapster for mesos might be better f

[2015-04-10 17:37] vishh opened #227 "Add a Elasticsearch Sink"
Elasticsearch is well suited for handling events. It might be useful for metrics as well, but not a priority. Kubernetes runs a ELK setup by default.

[2015-04-11 00:37] jmreicha opened #231 "influxdb Database creation failed"
I am running Kubernetes v0.14.2, CoreOS on AWS platform and following the instructions to turn up Heapster using the `kubectl create -f deploy/kube-config/influxdb/` command.

Pods, RCs and services seem to get created okay but I noticed the following in the log grafana pod logs (via kubectl log monitoring-heapster-controller-26873).

[code]

I am also unsure from the readme what address I should

[2015-04-13 16:45] vishh commented on #231
This happens when the influxdb pod is not online. Heapster and InfluxDB are
created in parallel, and heapster waits for InfluxDB to be online before
proceeding with data collection.
By default, you can access Grafana at 'https://<master_iP>/api/
v1beta1/proxy/services/monitoring-grafana/' . If you add a 'hostport'
option to InfluxDB pod, it will be accessible via the node IPs.

On Fri, Apr 10, 201

[2015-04-13 21:46] #197 closed

[2015-04-13 22:07] vishh opened #233 "Heapster not compatible with kubeclient that uses v1beta3"
I see List failures when heapster uses v1beta3 client library. I haven't looked at the client library differences when it comes to kubernetes API versions. This behavior is odd since the kube client exposes internal API objects.

[code]

[2015-04-14 02:19] jmreicha commented on #231
@vishh is there an example of that somewhere?  I was having issues browsing to the url you pointed out.

[2015-04-14 14:22] vishh commented on #231
What issues are you facing? Did you replace the '<master_ip>' portion in
the url with your kubernetes master IP? Are you running the kubernetes
api-server in a custom port?

On Mon, Apr 13, 2015 at 7:19 PM, Josh Reichardt <notifications@github.com>
wrote:

[2015-04-14 15:02] jmreicha commented on #231
When I run a curl to the above master address I get the following Error: 'dial tcp 10.244.103.11:8080: no route to host'.

I am running the Kubernetes master on port 8080.

[2015-04-14 17:57] vishh commented on #231
Don't you have to provide master auth?

On Tue, Apr 14, 2015 at 8:02 AM, Josh Reichardt <notifications@github.com>
wrote:

[2015-04-14 18:34] jmreicha commented on #231
That's what I'm confused about.  Maybe I am not following a correct Kubernetes setup?

I am using the CoreOS config guide - https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides/coreos/cloud-configs

[2015-04-14 19:54] vishh commented on #231
It looks like the apiserver doesn't have any auth configured. Are you able
to access the api-server? By that I mean access `http://
<master-IP>:<Port>/`.

[2015-04-14 19:54] vishh commented on #231
Are there any firewall rules that you need to configure to access the
master?

On Tue, Apr 14, 2015 at 12:54 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-04-14 20:05] jmreicha commented on #231
No firewall rules, right now internally it is pretty wide open.  I can curl http://<master-ip>:<port> okay.

[2015-04-14 20:07] vishh commented on #231
This sounds like a kubernetes issue. Can you raise an issue against
kubernetes or may be reach out to some of the CoreOS users on IRC
(google-containers on freenode)?

On Tue, Apr 14, 2015 at 1:05 PM, Josh Reichardt <notifications@github.com>
wrote:

[2015-04-14 21:04] jmreicha commented on #231
Maybe I will just hold off until Kubernetes stabilizes a little bit :/

[2015-04-14 21:41] vishh commented on #231
Ah! May be you can connect with @jonlangemak who maintains a kubernetes on
CoreOS setup with really awesome guides!

On Tue, Apr 14, 2015 at 2:05 PM, Josh Reichardt <notifications@github.com>
wrote:

[2015-04-15 03:04] jonlangemak commented on #231
My setup is on bare metal CentOS7 but the pod deployment for the cluster add-on should be the same.  I've been using branch/release 0.13 though since I had issues with Kubernetes in anything after that.  I havent tried .15 yet though.  Let me know if you want the link for my config based on .13

[2015-04-15 03:18] jmreicha commented on #231
Yeah a link to your config would be great.

[2015-04-15 03:34] jonlangemak commented on #231
I did a write up on how I deployed Heapster here -> http://www.dasblinkenlichten.com/installing-cadvisor-and-heapster-on-bare-metal-kubernetes/  It's a little dated (but updated) since the initial install relied on cadvisor running as a manifest on each host before it got baked into the kubelet.

As far as the configs for replications controllers and services go you can checkout my github page her

[2015-04-16 16:34] vishh opened #240 "Push node metrics with node labels"
As of now node metrics that are pushed with container name "/" do not contain node labels.

[2015-04-16 17:24] EranGabber commented on #240
I prefer that node metrics will be easily distinguishable from container metrics.
Do you plan to have the node label as the "hostname" or somewhere else?
I suggest that node metrics will have an empty container name (instead of "/").

[2015-04-16 17:35] EranGabber opened #241 "export list of metric names"
The (cluster-insight data collector)[https://github.com/google/cluster-insight] should annotate elements in the context graph with the query parameters for fetching the corresponding Heapster data from InfluxDB or GCM. The most robust way of producing the query parameters is for Heapster to provide the list of metric names it exports to either backend, and an indication which backend (InfluxDB or

[2015-04-16 23:10] vishh commented on #240
Good idea! Another possible approach will be to add another label called
'type' that will refer to the kind of object a given metrics belongs to.
The 'type' can be 'Container', 'Pod', 'Node', 'Replication Controller',
etc. WDYT?

On Thu, Apr 16, 2015 at 10:24 AM, Eran Gabber <notifications@github.com>
wrote:

[2015-04-17 15:17] vishh opened #245 "GCM driver should export rate metrics in addition to cumulative metrics"
As of now GCM driver is exporting rate metrics in place of cumulative metrics. This is breaking our API and once GCM can handle cumulative metrics, we will again break users. Instead lets export rate metrics separately.

cc @vmarmol

[2015-04-17 15:34] EranGabber commented on #240
The 'type' label is a much better idea. In this way you can have different label names for different resource types, and you could simply omit labels that do not make sense for the particular resource.

[2015-04-17 19:34] vishh commented on #240
Awesome.

On Fri, Apr 17, 2015 at 8:34 AM, Eran Gabber <notifications@github.com>
wrote:

[2015-04-18 04:17] davidwalter0 opened #246 "error message kubernetes/heapster_grafana:v0.4"
**docker logs grafana**

**/set_basic_auth.sh: line 10: [: ==: unary operator expected**
=> Creating basic auth for " admin" user with random password
Adding password for user admin

[2015-04-18 16:55] idosh commented on #127
I keep getting:
[code]

When I wget this link it downloads a binary file.

[2015-04-18 23:07] vishh commented on #127
What version of kubernetes are you running? I am guessing v0.15.0? If so,
can you try using the configs from [here](
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/cluster-monitoring/v1beta3
)?

On Sat, Apr 18, 2015 at 12:55 PM, Ido Shamun <notifications@github.com>
wrote:

[2015-04-18 23:13] idosh commented on #127
Fixed it.
Thanks

[2015-04-19 15:00] Zapadlo opened #248 "CoreOS flags (core and fleet_endpoints)"
Two issues, one is minor, in the example CoreOS README, the flag is `-e COREOS` which doesn't work:
[code]

Should probably be changed to: `-e COREOS=true`:
[code]

Second, default fleet endpoint `http://127.0.0.1:4001` doesn't work, as call is being made inside the container, not running fleet.

[code]
I'm assuming you want to set it to the IP of the HOST on docker interface. But I couldn't find

[2015-04-19 15:50] vishh commented on #248
Thanks for reporting the issue!

The 'COREOS=true' part should be fixed in the upcoming release, where we
provide a different configuration pattern.
Heapster assumes it is run with `net=host` docker option to access fleet
server. You can use the 'FLAGS' environment variable to pass a list of
fleet endpoints -  `FLAGS=--fleet_endpoints=<endpoints>`. Again this
configuration will be simplified in th

[2015-04-19 16:16] Zapadlo commented on #248
Excellent, running docker with `--net=host` fixed the issue, thank you.

[2015-04-19 16:16] #248 closed

[2015-04-20 22:05] etcinit commented on #160
I was experiencing this issue with a Deis cluster too. I just tried using v0.10.0 and the problem seems fixed now.

[2015-04-20 23:21] vishh commented on #160
@etcinit: Thanks for the update!

[2015-04-20 23:33] vishh opened #249 "Add support for Grafana v2.0"

[2015-04-21 22:04] vishh opened #250 "Avoid duplicate kube events in InfluxDB"
We can use the UID of kube events as the sequence number while writing to influxdb. That combined with the timestamp in the event will help avoid duplicates in Influxdb.

[2015-04-21 22:30] vishh opened #251 "Improve unit testing for GCM driver"
cc @vmarmol

[2015-04-22 20:21] MikeMichel commented on #136
how do i use the external hostsfile? using --source=cadvisor:external add the cmd line is not working. it's not showing in the available option up when doing /usr/bin/heapster --help. tried the latest docker version also the canary one.

[2015-04-22 20:39] vishh commented on #136
Here is what I tried.
[code]

Let me know if this works for you.

As I mentioned earlier, it might be much easier to add a node plugin that can programmatically list all mesos nodes.

[2015-04-22 20:56] MikeMichel commented on #136
no, maybe the docker version is outdated. i will try from source tomorrow.

[2015-04-23 00:16] saad-ali commented on #250
This would be super sweet, but it it looks like `sequence_number` can not be an arbitrary string.
[code]

[2015-04-23 00:28] vishh commented on #250
Can we have some generic one to one mapping from a uid to a float?

On Wed, Apr 22, 2015 at 5:16 PM, Saad Ali <notifications@github.com> wrote:

[2015-04-23 14:40] #250 closed

[2015-04-23 16:27] idosh opened #256 "add namespace column"
I didn't manage to create dashboard per namespace because there is no namespace field.

[2015-04-23 16:43] vishh commented on #256
#253 should solve this. The next release should have namespace label.

[2015-04-23 16:43] #256 closed

[2015-04-24 20:58] krancour opened #259 "Improve Heapster/CoreOS documentation"
Any chance of more complete documentation and unit files for the "various components" mentioned here?

https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/coreos.md#unit-files-for-the-various-components

[2015-04-24 21:19] vishh commented on #259
Good suggestion. I will add a more detailed guide once I get some spare
cycles.

On Fri, Apr 24, 2015 at 1:59 PM, krancour <notifications@github.com> wrote:

[2015-04-25 01:28] vishh opened #263 "Add an integration test for Google Cloud Logging driver"

[2015-05-01 18:09] erictune opened #269 "Update heapster to use kubeconfig credentials on kubernetes"
In the file where you currently create a client using kubernetes_auth file, do something like this:

[code]

And in your pod template add:
[code]

and in the heapster container of the pod template add:
[code]

And add this argument to heapster `--kubeconfig=/etc/kubernetes/kubeconfig`

[2015-05-01 18:09] erictune commented on #269
@vishh asked for this issue

[2015-05-03 17:55] biswars commented on #233
I observe the same issue with v1beta3. However, I am trying to get heapster run on kubernetes. Can you let me know which versions of the kube clients can I go for along with heapster ? So that I can set it up without exploring with various versions. Can I go for kube client 0.15 and master branch of heapster ?

[2015-05-04 14:36] rvadim opened #273 "Is coreos integration broken in v0.11.0?"
Currently i can't find any up to date docs about how to running heapster on coreos.
If i try to put --coreos parameter or --fleet_endpoints heapster print help with:
[code]
Is coreos support dropped or I need to use specific environment variables?

[2015-05-04 16:35] vishh commented on #273
I apologize for the confusion. The support is still intact. The
configuration has changed. Take a look here
<https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/source-configuration.md>
.
We had to update the configuration semantics to make it possible to support
more sources in the future.

On Mon, May 4, 2015 at 7:36 AM, Vadim <notifications@github.com> wrote:

[2015-05-04 17:16] vishh commented on #233
Kindly use `vebeta1` as the runtime version for heapster. That is the default as of now.

[2015-05-05 02:48] rvadim commented on #273
Thank you, it's now works.

systemd unit file now looks like this:
[code]

[2015-05-05 02:48] #273 closed

[2015-05-05 11:51] biswars opened #277 "Heapster does not get the data pulled from the kubernetes source"
I am using Heapster on Kubernetes but getting the following errors repeatedly. Can I get some help what might be the cause of it ?

E0505 10:58:17.112286       6 reflector.go:115] Failed to list *api.Node: the server could not find the requested resource

I have done the following analysis but yet to resolve it. Appreciate good help on this.

Analysis:
Kuberenetes version used 0.16 and the cluster

[2015-05-05 16:33] vishh commented on #277
Can you post heapster logs and some information about your kubernetes setup? Are you running on GCE or bare-metal? How have you set up networking?

[2015-05-06 07:28] biswars commented on #277
Here is the Heapster log:
/opt/bin/kubectl log monitoring-heapster-controller-9ihq3
2015-05-06T07:09:23.181452490Z + EXTRA_ARGS=
2015-05-06T07:09:23.181452490Z + '[' '!' -z --kubernetes_version=v1beta3 ']'
2015-05-06T07:09:23.181452490Z + EXTRA_ARGS=--kubernetes_version=v1beta3
2015-05-06T07:09:23.181452490Z + '[' '!' -z 10.100.0.1 ']'
2015-05-06T07:09:23.181452490Z + EXTRA_ARGS='--kubernetes_mast

[2015-05-06 16:48] vishh commented on #277
The issue is this flag `--kubernetes_version=v1beta3`. I removed it on
HEAD. Can you retry with configs from latest HEAD? Sorry for the trouble!

On Wed, May 6, 2015 at 12:28 AM, biswars <notifications@github.com> wrote:

[2015-05-06 18:04] biswars commented on #277
Thanks for all your responses so far; much appreciated. In fact, the flag issue of --kubernetes_version=v1beta3 was observed and that was the reason to settle to a working version for this set up. Also, had done some testing by copying the heapster binary from the docker container and running without the flag that resulted in some other error. But I can confirm this back exactly on the error once

[2015-05-06 20:00] vishh commented on #277
I would recommend picking up a kubernetes release from kubernetes repo and
using the heapster version built into that. Every kubernetes release runs a
version of heapster by default and I would suggest sticking to that.

On Wed, May 6, 2015 at 11:04 AM, biswars <notifications@github.com> wrote:

[2015-05-07 05:16] saad-ali commented on #118
#252

[2015-05-07 05:16] #118 closed

[2015-05-07 06:50] biswars commented on #277
When checked on the heapster repo, I did not observe any update as mentioned by you (on the flag change). This perfectly makes sense as the flag is set inside the docker image "kubernetes/heapster:v0.11.0" in order to run as container. But When I run the pods & services using the config files from HEAD, I still get the flag error. So, there is no change to the image either.

However, as per my ear

[2015-05-07 16:28] vishh commented on #277
If you run with the latest kubernetes version (0.16.0+), secrets should work. I will try running heapster HEAD against 0.16.2 today and update this thread.

Did you setup a cluster with kubernetes version 0.16.0 from scratch or did you upgrade the different components manually?

If you use the heapster configs from Kubernetes release 0.16.0, what errors do you observe? The etcd watch errors are be

[2015-05-08 12:18] biswars commented on #277
Did you setup a cluster with kubernetes version 0.16.0 from scratch or did you upgrade the different components manually?
Ans: I am using kube-apiserver, kubelet, proxy, kube-register, kube-controller-manager, kube-scheduler binaries and setting up the clustur manaually. The cluster runs fine and I can list/run the pods

Few observations here while using the kubernetese repo and the config files p

[2015-05-08 16:52] vishh commented on #277
@biswars: How are you deploying heapster? Can you get rid of your existing heapster setup and run the following commands?
`kubectl.sh create -f <kubernetes_repo>/cluster/addons/dns/`
`kubectl.sh create -f <kubernetes_repo>/cluster/addons/cluster-monitoring/influxdb/`

The first command helps setup cluster local dns for service discovery. The second command sets up heapster, influxdb and grafana.
C

[2015-05-08 18:14] biswars commented on #277
I have not set up the dns in the kubernetes cluster so far but yeah, heapster is deployed as per the command you have mentioned above.
The dns part, I can confirm once I am back to my work network after few hours.

In the mean time, I can confirm you that I have seen the metrics data in the InfluxDB (the value in the "time" column was zero always though not sure why) with all the pods, container_n

[2015-05-08 19:26] vishh commented on #277
For Grafana, take a look [here](https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/influxdb.md#production-setup-for-influxdb-and-grafana). You can add a public IP, which in your case can be your node's IP, to the Grafana service. This change requires re-loading your influxdb-grafana controller.

[2015-05-08 19:51] biswars commented on #277
I am taking this point and will be exercising this as well along with dns set up. But the set up I am running is completely on my local machine with VMs running by virtual box. So, it is not a production set up and might not need to add public IP to the node as I can access it directly.

Any other inputs you would like to provide here for the 404 error in grafana dashboard graphs ?

[2015-05-08 20:23] vishh commented on #277
You can also look at the browser console to find out what queries are
failing and potentially why.

On Fri, May 8, 2015 at 12:51 PM, biswars <notifications@github.com> wrote:

[2015-05-09 21:16] genti-t opened #287 "fleetEndpoint over https"
Im trying to figure out if there is a way to put :
 FLEETCTL_CA_FILE
 FLEETCTL_CERT_FILE
 FLEETCTL_KEY_FILE
with :
--source=cadvisor:coreos?fleetEndpoint=https://$private_ipv4:2379

Or fleetEndpoint over ssl is not supported yet ?

[2015-05-09 22:37] vishh commented on #287
SSL files have to be plumbed [here](https://github.com/GoogleCloudPlatform/heapster/blob/master/sources/nodes/coreos.go#L66). Will you be able to post a PR?
If not, I will get to it soon.

[2015-05-10 16:59] biswars commented on #277
Did some more analysis and able to get the grafana ui. Here are my observations:
As mentioned above, I was trying to access grafana by hitting the url https://172.17.8.102:6443/api/v1beta1/proxy/services/monitoring-grafana/. Observed that the internal urls getting hit in the browser is https://172.17.8.102:6443/api/v1beta1/proxy/namespaces/default/services/monitoring-grafana/. (this always gives H

[2015-05-11 19:37] #269 closed

[2015-05-12 20:02] vishh opened #289 "GCM sink is too slow in flushing data"
GCM sink takes a long time to flush metrics. The delay is more pronounced under scale (100 node cluster or running a lot of containers). Is it possible to alter the flushing model for GCM sink and make it perform lesser number of GCM requests?

[2015-05-12 20:23] vmarmol commented on #289
Will take a look

[2015-05-15 00:05] vishh commented on #277
The apiserver now runs with v1beta3 version by default. I have updated the
setup guide to use v1beta3 instead of v1beta1.

1. Grafana does not auto generate graphs for new pods. You can add scripts
I believe to achieve that. If you are interested in this feature to work,
feel free to post a PR.

2. Tokens are required to access the apiserver. This is to make sure that
the apiserver is secure. Take

[2015-05-18 23:34] jfoy opened #293 "Support Riemann sink"
We'd like to stream our metrics to a [Riemann instance](http://riemann.io/) before sending them to influxdb. I'm working on a sink to support this.

[2015-05-18 23:54] vishh commented on #293
+1. I have been experimenting with Bosun as well.

On Mon, May 18, 2015 at 4:34 PM, Jack Foy <notifications@github.com> wrote:

[2015-05-19 00:58] vmarmol opened #295 "Run a JSON validator on config files"
As part of the CI, will keep us from making dump parsing mistakes since some JSON clients are more strict that others.

[2015-05-19 11:25] biswars opened #296 "Heapster-InfluxDB does not give the containers' percentage of usage"
The requirement is to take action based on the percentage of usage of the containers running on kubernetes cluster. Using heapster and influxDB, I can get the current and max usage of cpu/memory using the series "cpu/usage_ns_cumulative" and "memory/usage_bytes_gauge" but not the percentage of usage based on the limit set at the container.

The first impression was this behavior might be because o

[2015-05-19 14:54] vishh commented on #296
heapster currently does not store limits. +1 for storing limits which
should let you calculate/graph percentage usage.

On Tue, May 19, 2015 at 4:25 AM, biswars <notifications@github.com> wrote:

[2015-05-20 04:12] biswars commented on #296
Just a query here - even cAdvisor does not show the limit set to the container (at least in the web interface). So, are there any means to get the container limits using cAdvisor api directly ?

[2015-05-20 04:43] vishh commented on #296
Yes. Cadvisor provides Spec and Status. Spec has the limits.

On Tue, May 19, 2015 at 9:12 PM, biswars <notifications@github.com> wrote:

[2015-05-20 13:27] biwwy commented on #160
I have the same issue as described above on CoreOS cluster, using heapster:latest.

[2015-05-20 14:56] vishh commented on #160
Can you post heapster logs? You can enable detailed logging by adding the
following flag - `--vmodule=*=4`.

On Wed, May 20, 2015 at 6:27 AM, biwwy <notifications@github.com> wrote:

[2015-05-20 20:28] biwwy commented on #160
I did so, it was saying "I0520 20:19:22.335361       1 heapster.go:46] flushed stats to influxDB
flushing to influxdb" about once an hour or so, instead of 10s. I've updated to v.0.10.0 as mentioned above and it seemed to fix the issue.

[2015-05-21 05:04] biswars commented on #296
Thanks. Yeah, able to get the limits directly now and also able to co-relate with the data as sampled by heapster. For the memory usage, I am using the series "memory/usage_bytes_gauge" and works perfect.
However, having some issue with the cpu usage using the series "cpu/usage_ns_cumulative". Post some analysis, I guessed the "value" field in series "cpu/usage_ns_cumulative" gives the time in nan

[2015-05-21 15:27] vishh commented on #296
There are two parts to your question:
1. How to calculate instantaneous usage:
I would recommend running continuous queries and creating a new
instantaneous series based on cpu/usage_ns_cumulative series. You can
calculate a derivative of this series with an appropriate time interval(1m
for example) and store in a separate series.
2. How to partition a node's CPU?
CPU shares are ratios and it is d

[2015-05-22 05:58] biswars commented on #296
Thanks. Very useful comments. One query before closing this. If I want to relate the above two parts to get the cpu usage per container can I take like this way;

a: Result of the new series from part 1 above gives the nano secs of cpu usage per 1m container-wise. From this get the number of seconds cpu usage per second. Assign this value as "m".

b: Based on the cpu shares per node (taking 1000 a

[2015-05-22 14:59] vishh commented on #296
That sounds about right.

On Thu, May 21, 2015 at 10:58 PM, biswars <notifications@github.com> wrote:

[2015-05-28 14:32] biswars commented on #296
Thanks. Able to get the cpu % usage based on your suggestions and it works to certain extent. The issue I am facing is, I need to wait for more than 3/5 minutes before actually getting the instantaneous cpu usage.

The followings are the steps used:
Step 1: Every 1 minute interval, execute the query "select container_name, derivative(value) from "cpu/usage_ns_cumulative" where time > now() - 3m gr

[2015-05-28 16:35] shilpapadgaonkar opened #299 "Heapster standalone documentation"
When will the standalone heapster documentation be available?

[2015-05-28 16:44] rjnagal commented on #299
Can you clarify what you mean by standalone? Without kubernetes or fleet?

[2015-05-28 16:49] shilpapadgaonkar commented on #299
Yes. There is a link for the same in the docu https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/standalone.md

[2015-05-28 16:52] rjnagal commented on #299
ah, got it. Will try to get to it this week.

On Thu, May 28, 2015 at 9:49 AM, shilpapadgaonkar <notifications@github.com>
wrote:

[2015-05-28 17:21] shilpapadgaonkar commented on #299
Thanks!

[2015-05-29 21:41] rjnagal opened #302 "Support Influxdb v0.9+"
There are bunch of new features _and_ API changes.

[2015-06-02 20:20] swordphilic opened #306 "Broken link in heapster/blob/master/docs/influxdb.md"
Link embedded in "Controller Spec" at the end of the document is broken and returning 404.
The link redirects to <https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/deploy/kube-config/influxdb/influxdb-grafana-controller.yaml> which return 404. The correct link should be
<https://github.com/GoogleCloudPlatform/heapster/blob/master/deploy/kube-config/influxdb/influxdb-grafana-controll

[2015-06-02 20:25] #306 closed

[2015-06-02 20:25] vishh commented on #306
Thanks for reporting the issue @swordphilic!

[2015-06-03 10:07] biswars commented on #296
To answer above query, heapster polling interval can be changed in the pod definition file by cofiguring "--poll_duration" and with this the data points are populated. Does "--stats_resolution" also need to be set. By setting these values as "10s" and "5s" respectively, the data points can be retrieved from influxDB if externally polled at certain interval (using 60 sec). The only observation here

[2015-06-03 17:02] jfoy opened #309 "Handle nodes named by IP address"
We're running a local build of master, deployed into our local Kubernetes cluster using the stock services and controllers in deploy/kube-config/influxdb . We see the following from heapster stdout:
[code]
This repeats every 10 seconds.

Here's our cluster:
[code]

[2015-06-04 20:23] #309 closed

[2015-06-05 08:59] Yashu5 opened #312 "query"
Hi , was curious to know that heapster also provides billing information on the basis of usage/monitoring information, something like Appdirect?? Thanks !!

[2015-06-05 16:49] vishh commented on #312
Support for billing has been in the roadmap for a while. Heapster does not
support billing yet.

[2015-06-08 19:33] krancour opened #318 "Using remote etcd not currently possible"
Various CoreOS cluster architectures are documented here:

https://coreos.com/docs/cluster-management/setup/cluster-architectures/

But this one in particular is most applicable to large and/or production clusters:

https://coreos.com/docs/cluster-management/setup/cluster-architectures/#production-cluster-with-central-services

The hallmark of that architecture is that common services like etcd (f

[2015-06-08 20:16] shilpapadgaonkar opened #320 "Trying to run heapster on openshift3"
Hi,
I am trying to run heapster on openshift3. I followed the documentation link https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/influxdb.md

I also made changes to remove the environment variable INFLUXDB_EXTERNAL_URL from InfluxDB Grafana RC config and added a route so that Grafana service become reachable as an external service.

All services were created. InfluxDB and grafana

[2015-06-08 20:40] vishh commented on #318
Heapster does not use etcd. To monitor a coreos cluster, heapster needs
access to fleet server(s), which can run locally or remotely.

On Mon, Jun 8, 2015 at 12:33 PM, krancour <notifications@github.com> wrote:

[2015-06-08 20:49] krancour commented on #318
But Fleet _uses_ etcd.  From the Fleet documentation:

I see this repeatedly in my logs when I try to start heapster on a machine that isn't also running etcd:

[code]

Port 4001 is an etcd port.

[2015-06-08 21:05] vishh commented on #318
Heapster should be able to use a remote fleet server. Look [here](https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/source-configuration.md#coreos).

[2015-06-08 21:05] saad-ali opened #321 "Add flag to control sending events to InfluxDB"
For GoogleCloudPlatform/kubernetes/pull/9309

By default enabling InfluxDB sink starts sending both metrics and events to InfluxDB. It would be nice to be able to disable events and only send metrics to InfluxDB, if it is enabled.

CC @vishh

[2015-06-08 21:07] vishh commented on #320
Can you post logs from heapster pod? (`kubectl logs <heapster pod name>`)

On Mon, Jun 8, 2015 at 1:16 PM, shilpapadgaonkar <notifications@github.com>
wrote:

[2015-06-09 06:23] shilpapadgaonkar commented on #320
I could not get pod logs as the pod is not running yet. See attached pic
![heapster-pic](https://cloud.githubusercontent.com/assets/3367612/8051752/a92063a8-0e80-11e5-8d31-511fb50ead08.PNG)

The openshift master logs showed some errors though...
![openshift-master-logs](https://cloud.githubusercontent.com/assets/3367612/8051757/b73e810e-0e80-11e5-9147-b0655b6f601e.PNG)

[2015-06-09 06:47] detiber commented on #320
@shilpapadgaonkar I've been working on this myself.  I've gotten a bit further than you have, but am still hitting a roadblock on the correct service URL to use internal to the cluster.  Here is my modified replication controller:
[code]
You will probably not want to edit the --sink flag for the heapster command I'm trying to route the metrics to an external InfluxDB instance instead of one runnin

[2015-06-09 10:43] shilpapadgaonkar commented on #320
Thanks @detiber for your help.
I modified a couple of things in the heapster-controller such as source to kkubernetes as --source=kubernetes:http://kubernetes-ro.default.local.

Now the pod atleast gets into a running state.

But now I face the same issue as you where the logs say that it cant find

[2015-06-09 14:16] vishh commented on #320
cc @jimmydyson

On Tue, Jun 9, 2015 at 3:43 AM, shilpapadgaonkar <notifications@github.com>
wrote:

[2015-06-09 14:23] jimmidyson commented on #320
@vishh Are there any plans for heapster to use service accounts?

@shilpapadgaonkar You need to create a secret containing the contents of a kubeconfig file & mount it at the appropriate place in your pod. Should work, but not tried it recently.

[2015-06-09 15:59] jimmidyson opened #323 "Support for Kubernetes service accounts"
As detailed at https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/service_accounts.md.

Should be a simple case of reusing bearer token at `/var/run/secrets/kubernetes.io/servicaccount/token`.

[2015-06-09 16:46] vishh commented on #320
Heapster uses a monitoring-token that is auto-generated on Kubernetes
clusters as part of the cluster setup process. I assume that is not the
case in Openshift?

On Tue, Jun 9, 2015 at 7:23 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-06-09 17:04] detiber commented on #320
@vishh as far as I can tell that is correct. @smarterclayton am I missing something, or do you have thoughts on how to bridge the gap (if any)

[2015-06-09 17:06] smarterclayton commented on #320
We don't generate that token, but the token should be replaceable with a service account.  One sec, let me poke.

[2015-06-09 17:12] smarterclayton commented on #320
Ok, so the token should be injected by the service account in openshift into the standard service account location /var/run/secrets/kubernetes.io/serviceaccount.  If you `ENVVAR=$(cat $file)` you can then pass it as an argument in the shell.

[2015-06-09 17:12] jimmidyson commented on #320
@vishh That's right - the token isn't generated by default as it is with vanilla kubernetes. Just wondering why kube config is preferred to service account?

[2015-06-09 17:18] jimmidyson commented on #320
@smarterclayton Heapster can't currently use bearer token auth so I'm sending in a PR now to do just that. I have it working locally against OpenShift.

[2015-06-09 17:35] jimmidyson commented on #320
Sent in PR #324 to enable service accounts in heapster.

[2015-06-09 18:30] krancour commented on #318
Thanks.  That helped!

[2015-06-09 18:30] #318 closed

[2015-06-09 19:23] jimmidyson opened #325 "Heapster should use master proxy to nodes rather than going direct to kubelet"
In a secure environment all access to the kubelet will be locked down to only coming from the master, potentially with client cert authentication on the kubelet (as is the case of OpenShift by ootb).

As access to the API server is already secured & used to list nodes, etc the API server proxy can be used instead of going direct to the kubelet using the URL:

`https://MASTER/api/v1beta3/proxy/node

[2015-06-09 19:24] jimmidyson commented on #320
There will be further difficulties in running Heapster on OpenShift such as #325 as access to kubelets is secured. I'll work on another PR for that to use the master proxy.

[2015-06-09 19:33] jimmidyson commented on #325
@vishh I think this should be the default once implemented. What do you think?

[2015-06-09 19:36] vishh commented on #325
AFAIK the current api-server proxy isn't designed to handle metrics kind of
workloads. The plan was to expose a read-only 'http' endpoints on the
kubelet which exports metrics. Is this not an option for OpenShift?

On Tue, Jun 9, 2015 at 12:33 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-06-09 19:39] jimmidyson commented on #325
@vishh It might be :) Let me find out.

[2015-06-09 20:33] jimmidyson commented on #325
Discussing in https://github.com/openshift/origin/issues/3020

[2015-06-09 22:01] #323 closed

[2015-06-09 22:22] vishh commented on #233
This has been fixed in v0.13.0 release

[2015-06-09 22:22] #233 closed

[2015-06-09 22:22] vishh commented on #249
cc @saad-ali

[2015-06-10 12:51] jimmidyson commented on #325
@vishh OK agree that this shouldn't go through the API server, will work on sorting out heapster & openshift separately.

[2015-06-10 12:51] #325 closed

[2015-06-10 12:56] jimmidyson commented on #320
I have this working by adding the read only port to the kubelet config in OpenShift. However this is not recommended as it is obviously a security risk. Working with the OpenShift team to try to resolve, but this is not a priority for them so may take a while to get working.

[2015-06-10 13:38] shilpapadgaonkar commented on #320
Could you recommend some other working solution to gather metrics for openshift?

[2015-06-10 19:23] vmarmol opened #329 "Provide CPU limits for Heapster"
We should provide CPU limits for the Heapster pod in order to guarantee some amount of CPU for the pod. Otherwise, we get best-effort CPU.

This might be very useful to have for v1.0. We'll need some of those performance numbers before this though.

[2015-06-10 19:24] vmarmol opened #330 "Provide memory limits for Heapster container"
Lower priority than the memory reservation (probably fine post v1.0).

[2015-06-11 04:54] Yashu5 opened #333 "heapster not getting any data"
Hi , I am running heapster with Influx DB, I can see the grafana page coming up but all graphs are blank and it shows "Influx DB error: no data" . As I know it fetches data from cAdvisor, my cAdvisor is running as a docker container on port 8080. I am not sure though how to integrate cAdvisor with heapster, what configuration is required. How heapster knows where to take data from?

Would be very

[2015-06-11 06:22] rjnagal commented on #333
@Yashu5 If you are not running heapster with kubernetes, you need to configure heapster to discover the cadvisor port to talk to. See documentation for cadvisor/external in https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/source-configuration.md

The relevant portion to your setup:

External

External cadvisor source "discovers" hosts from the specified file. Use it like this:
--so

[2015-06-11 06:28] Yashu5 commented on #333
Hi @rjnagal , thanks a lot for response , but I am trying this with kubernetes only, I followed this doc  : https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/influxdb.md ,

my cadvisor is running fine on port 8080, i installed cadvisor as a docker container. What I am understanding now is that I do not need to configure cadvisor externally, it gets created automatically. Let me know

[2015-06-11 06:37] rjnagal commented on #333
@Yashu5 yes, you don't need to run another cadvisor. It is built into kubernetes node agent - kubelet.

What platform are you running on? Is your kubernetes cluster up? Can you get

kubectl cluster-info
kubectl get pods

I suspect your node is not configured properly. You can also try to get cAdvisor debug info from:
curl -L localhost:4194/validate

[2015-06-11 06:46] Yashu5 commented on #333
hmm, thanks again! I am running kubernetes in CoreOS , below are the outputs I get, I think some issue with cgroups, any advice would be really helpful:

1) cluster-info output
Kubernetes master is running at https://localhost:8443
monitoring-grafana is running at https://localhost:8443/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana
is running at https://localhost:8443/api/v1beta

[2015-06-11 16:46] vishh commented on #333
In Kubernetes, heapster is expected to just work. You don't have to run
additional cadvisor containers.
Is the heapster pod up and running?
If its running, can you get logs from the pod? 'kubectl logs
<heapster_pod_name>'
I suspect its a deployment issue.

On Wed, Jun 10, 2015 at 11:46 PM, yash <notifications@github.com> wrote:

[2015-06-12 02:12] vishh opened #336 "Expose namespace ID as a label"

[2015-06-12 02:13] vishh opened #337 "Expose Kube External ID of nodes as a label"

[2015-06-12 08:19] shwetalakhimpur opened #338 "Help with accessing the Grafana path - Grafana will be accessible at https://<masterIP>/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana/"
The documentation says - https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/influxdb.md

Grafana will be accessible at https://<masterIP>/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana/

I am unable to access the Grafana UI. I am using a kubernetes cluster and all the services are pods are running. How do I troubleshoot this ? I have read through the issues discussi

[2015-06-12 09:54] shwetalakhimpur commented on #338
I seem to be on the same issues as this thread - stuck at 404 Not found,
https://github.com/GoogleCloudPlatform/heapster/issues/203

[2015-06-12 13:48] shwetalakhimpur commented on #277
@biswars - I am unable to access the Grafana UI
When I access the url https://172.17.8.102:6443/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana/ then the ui comes up.

Please help me understand the IP:port here.
Is this is IP which is running monitoring-influx-grafana-controller-y3qn3 ? This is the IP listed under IP or HOST when we do "kubectl get pods"
172.17.8.102:6443

The por

[2015-06-12 16:37] vishh commented on #338
Can you describe your cluster setup - Kube version, cloud provider, etc?
Can you verify if all the pods are running?
Can you drop 'proxy' keyword from URL and see if the api-server responds
with a grafana service object?

On Fri, Jun 12, 2015 at 2:54 AM, shwetalakhimpur <notifications@github.com>
wrote:

[2015-06-12 17:35] shwetalakhimpur commented on #338
IBM Softlayer, CentOS Linux release 7.1.1503 (Core)
etcd-2.0.9-2.el7.x86_64
kubernetes-0.15.0-0.3.git0ea87e4.el7.x86_64

This is a cluster of 3 nodes, master is not set as a minion

monitoring-heapster-controller-t8p51         172.17.39.12   heapster       kubernetes/heapster:v0.13.0         119.x.x.x/119.x.x.x   name=heapster                                Running   8 hours
monitoring-influx-graf

[2015-06-12 17:47] vishh commented on #277
The IP in that URL is that of the kubernetes api-server.

On Fri, Jun 12, 2015 at 6:48 AM, shwetalakhimpur <notifications@github.com>
wrote:

[2015-06-12 17:49] shwetalakhimpur commented on #277
Thanks Vish, we may continue troubleshooting on the other thread, I have provided more details
https://github.com/GoogleCloudPlatform/heapster/issues/338

[2015-06-12 18:28] shwetalakhimpur commented on #338
[root@minion01 2015Jun11]# kubectl log monitoring-influx-grafana-controller-t3m8h grafana
2015-06-12T18:21:11.817897874Z Creating config file:  /opt/grafana/config.js.tmpl => /opt/grafana/config.js
2015-06-12T18:21:11.818159522Z
2015-06-12T18:21:11.818173274Z Creating service proxy: /db/ => http://monitoring-influxdb:80/db/
2015-06-12T18:21:11.818179873Z
2015-06-12T18:21:11.818185007Z Listening on

[2015-06-12 20:44] vishh commented on #338
The IP is that of your master. It must be the IP that kubectl uses. You can
run 'kubectl config view` and figure out the master IP. Use that IP to
access Grafana.
Another option is to make Grafana kubernetes service externally accessible.
Take a look at this guide:
https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/influxdb.md#production-setup-for-influxdb-and-grafana

On Fri, Jun 12

[2015-06-13 06:37] shwetalakhimpur commented on #338
The kube config does not have much data, is that a problem ? What should it look like ?
I have been following your guide, will try to make it externally accessible.
# kubectl config view
apiVersion: v1
clusters: []
contexts: []
current-context: ""
kind: Config
preferences: {}
users: []

I am trying to understand the issue here. All the required heapster services and pods are running OK.
What are t

[2015-06-13 18:35] shwetalakhimpur commented on #338
I have set the Public IP grafana-service.json

http://<MASTER NODE>:8080/api/v1beta3/namespaces/default/services/monitoring-grafana/
{
  "kind": "Service",
  "apiVersion": "v1beta3",
  "metadata": {
    "name": "monitoring-grafana",
    "namespace": "default",
    "selfLink": "/api/v1beta3/namespaces/default/services/monitoring-grafana",
    "uid": "28227eb9-11f9-11e5-b3a8-06b8863a81b8",
    "reso

[2015-06-14 06:14] shwetalakhimpur commented on #338
Hi Vish,
If you could please help me with the next step.

What works -
http://MASTER-IP:8080/api/v1beta3/namespaces/default/services/monitoring-grafana/
==> Returns the "monitoring-grafana" service

http://INFLUXDB-IP:8083/
==> InfluxDB UI

http://MASTER-IP.166:8080/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana/#/dashboard/file/kubernetes.json
==> Grafana UI

What does NOT work

[2015-06-15 05:27] Yashu5 commented on #333
Hi @vishh sorry for late reply, I am still struggling to get heapster working, In my kubernetes environment cAdvisor is running on port  4194. I can access this and heapster pod also runs fine, But heapster is still not showing any data in graph. As I am running heapster with influx db , how would cAdvisor know to put data in influx db. Is that also the default behavior?? would be waiting for the

[2015-06-16 09:29] Yashu5 commented on #333
in logs it gives " skydns: incomplete CNAME chain: rcode is not equal to success" would be really very helpful if u can give pointers on this.

[2015-06-16 10:29] shwetalakhimpur commented on #338
Per the heapster/docs/storage-schema.md, list series should show the all the metrics being pushed by heapster into influxdb. When I logon to the InfluxDB Admin, click on 'grafana' db, Explore Data,

I do not see the metrics. How do I check if there is trouble in heapster pushing data into the db ?

https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/storage-schema.md

[2015-06-16 15:31] shwetalakhimpur commented on #338
The issue is that the heapster process is not able to connect to apiserver.

E0616 15:27:29.027202       1 reflector.go:123] Failed to list *api.Pod: Get http://kubernetes-ro/api/v1beta3/pods?fieldSelector=spec.host%21%3D: dial tcp: lookup kubernetes-ro: no such host
E0616 15:27:29.821323       1 driver.go:321] Database creation failed: Post http://monitoring-influxdb:80/db?u=root&p=root: dial tcp

[2015-06-16 21:34] vishh commented on #338
Can you try accessing Grafana using the Public IP you assigned to it?
The concept behind Public IPs is that the service is accessible via that IP. So you don't have to go through the API server proxy anymore.

[2015-06-16 21:41] vishh commented on #333
1. You don't have to run cadvisor on every node in kubernetes. Cadvisor is
integrated into the kubelet
2. you can turn on additional logging in heapster by passing a flag -
'--v=4'. You can specify this in heapster-controller file
3. Heapster uses DNS by default to discover InfluxDB service. Is kube-dns
running in your cluster. If not I would recommend setting it up.
4. By default, the API server

[2015-06-16 23:00] vishh commented on #296
poll_duration determines how often heapster queries kubelets.
stats_resolution determines the downsampling that heapster performes. If
they both are equal heapster will not perform any downsampling.

On Wed, Jun 3, 2015 at 3:07 AM, biswars <notifications@github.com> wrote:

[2015-06-16 23:17] a-robinson opened #348 "host_id label only populated some of the time"
In the heapster 0.14.1 HTTP API, only some of the timeseries I'm receiving come with host_id populated, even though hostname is always populated.

In a default kubernetes cluster with no custom pods running, it looks like host_id is populated for the "/system", "/kubelet", "/kube-proxy", and "/docker-daemon", but not for anything else (i.e. "machine" or any actual pods).

[2015-06-16 23:48] vishh opened #351 "Test the REST API thoroughly in integration testing"
As of now the integration tests do not capture the kind of metrics being exposed and the corresponding labels that are expected to be exposed for each metric.
The test coverage needs to be improved in-order to prevent bugs in the future.

[2015-06-16 23:48] vishh commented on #351
#348

[2015-06-16 23:48] vishh commented on #348
:( Its a one line fix. I just sent out the PR. I can make a patch release quickly if that will help. I started working on better test coverage, which should have caught this issue.

[2015-06-16 23:57] #348 closed

[2015-06-17 02:07] njuicsgz opened #353 "kubernetes/heapster:v0.14.2 does not exist in docker official hub"
kubernetes/heapster:v0.14.2 which use in https://github.com/GoogleCloudPlatform/heapster/blob/master/deploy/kube-config/influxdb/heapster-controller.json does not exist.

[code]

[code]

[2015-06-17 03:01] njuicsgz commented on #353
#354

[2015-06-17 04:18] shwetalakhimpur commented on #338
I am using a kubernetes cluster of 3 minions, where 1 is MASTER and 2 are MINIONS.
I have listed the Public IPs to list the 2 minions in "monitoring-influxdb" service.

"heapster-controller.json", has the following command for heapster, where it says - influxdb:http://monitoring-influxdb:80". I was ideally expecting that it will discover the API service as the API-service is configured for the kub

[2015-06-17 05:44] jimmidyson commented on #338
What version of kubernetes are you running? Have you deployed the DNS add-on? That's required if you're trying to use DNS for services as you are in this case.

[2015-06-17 05:51] shwetalakhimpur commented on #338
IBM Softlayer, CentOS Linux release 7.1.1503 (Core)
etcd-2.0.9-2.el7.x86_64
kubernetes-0.15.0-0.3.git0ea87e4.el7.x86_64

OK. I will setup the SkyDNS - https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/dns.md

[2015-06-17 05:54] jimmidyson commented on #338
That's a pretty old version of kubernetes & there have been significant improvements to the DNS stiff since then. Any chance you could upgrade?

[2015-06-17 06:00] shwetalakhimpur commented on #338
I can upgrade. What is the best way to upgrade ?
Prior to that, i would want to get heapster running even if rather raw method.
Is there a way I can hard-code influxb service IP, so that heapster can reach it without setting up DNS?

Add host to this URL or add sink IP ?
influxdb:http://monitoring-influxdb:80"

[2015-06-17 06:23] jimmidyson commented on #338
IIRC you can use env vars in sink URLs something like:

influxdb:http:// ${MONITORING_INFLUXDB_SERVICE_HOST}
:${MONITORING_INFLUXDB_SERVICE_PORT}

On 07:00, Wed, 17 Jun 2015 shwetalakhimpur <notifications@github.com> wrote:

[2015-06-17 10:36] jekyang opened #355 "crash occurred from heapster with message "fatal error: runtime: out of memory""
Hi,
  I'm setting up heapster to monitor the metrics from k8s cluster, but when I connect the heapster
 with the k8s master url and influxdb, it will always crashed some minutes later, throwing message "fatal error: runtime: out of memory". I also tried with -cache_duration, but it still crashed. the brief logs is following:

I0617 09:59:19.378468       1 heapster.go:52] /heapster --source=kuberne

[2015-06-17 14:16] shilpapadgaonkar commented on #320
@jimmidyson

I now try to use the serviceAccount as specified by you in the source config docu and the logs show me the following:

E0617 14:10:25.465443       1 kube_events.go:96] Failed to load events: Get http://kubernetes-ro/api/v1beta3/events: dial tcp: lookup kubernetes-ro: no such host
E0617 14:10:25.702882       1 reflector.go:123] Failed to list *api.Node: Get http://kubernetes-ro/api/v1b

[2015-06-17 14:21] shwetalakhimpur commented on #338
MONITORING_INFLUXDB_SERVICE_HOST has the local IP and not the Public IP.
Because of this the heapster server is not able to connect to the monitoring-influxdb. I could not find any environment variable which holds the public ip information which has been specified in the services.
What else can I try (before getting to the DNS setup), or force the two docker containers to launch on the same host.

[2015-06-17 15:02] jimmidyson commented on #338
If you're running heapster in your cluster then you should be using the service IP (local IP as you call it), not the public IP. Service IPs should be fully routeable inside your cluster, if they're not then you have big problems with your cluster.

[2015-06-17 15:04] jimmidyson commented on #320
There is no kubernetes-ro service, this should be https://kubernetes now, but requires a service account to be properly set up as you say. I'm documenting the deployment on openshift in the openshift docs by the end of this week (hopefully) so might be best to wait for that.

[2015-06-17 15:05] shilpapadgaonkar commented on #320
Ok. sounds good

[2015-06-17 18:10] vishh commented on #355
Can you try again with setting `--cache_duration=1m`? What is the size of your node where heapster is running? memory allocation from within golang libraries are failing.

[2015-06-17 18:19] vishh commented on #353
Fixed on hub. Thanks for reporting the issue @njuicsgz :)

[2015-06-17 18:19] #353 closed

[2015-06-17 18:19] shwetalakhimpur commented on #338
@jimmidyson - I am not sure what you mean. I followed this guide on Kubernetes cluster setup and it does say here that the Service IP is Kubernetes internal IP address defined in /etc/kubernetes/apiserver. I have the flannel setup which is in the 172.17.x.x range, and this is the IP being assigned as the docker containers come up.
This IP is accessible from outside. However, the service IP which i

[2015-06-17 18:53] jimmidyson commented on #338
The service IP will not be routable from outside the cluster but should be routable from all pods in the cluster, regardless of what node they are running on. If not then you have a problem with your flannel set up.

You should not be sending data from heapster running in the cluster to a public IP, but rather to the service IP allocated by kubernetes, available in the MONITORING_INFLUXDB_SERVICE_

[2015-06-17 19:00] a-robinson commented on #348
I don't seem to have reopen privileges, but this appears to still not be working in 0.14.2. Only pods have host_id populated, not the non-pod containers (system, kubelet, etc.)

[2015-06-17 19:05] shwetalakhimpur commented on #338
OK. then I do need to review setup. I did cleanup all the public IPs, and I have only the service IPs for all the services. My flannel network is 172.17.23.0/16, the Service IP is 10.254.x.x

Thanks for your prompt responses. Appreciate it.

Another question  - on heapster command, do I absolutely must have the source=kubernetes ?

                           "/heapster",

[2015-06-17 19:08] jimmidyson commented on #338
If you don't specify the kubernetes source then heapster won't try to get any data from kubernetes - up to you whether you want that ;)

And yes it looks like the same issue - routing to service IPs from pods.

[2015-06-17 19:13] shwetalakhimpur commented on #338
Thanks :). Will continue tomorrow, past midnight for me.

[2015-06-18 13:42] shwetalakhimpur commented on #338
@jimmidyson

My updates, based on yesterday's discussion, I cleaned up my cluster to remove all Public IPs, and changed the
Kubernetes API server inside /etc/kubernetes/apiserver, this is the same as my Flannel network

KUBE_SERVICE_ADDRESSES="--portal_net=172.254.0.0/16"
I am able to ping the Service IPs across the nodes in the cluster

Now the issues -
1) The kubernetes api-server is still picki

[2015-06-18 13:45] jimmidyson commented on #338
Looking better! Yes you will need to set up the DNS add-on so that service names like `kubernetes-ro` are resolvable.

[2015-06-18 16:18] jekyang commented on #355
Hi, vishh
I've tried again with --cache_duration=1m, it would still crash with same message.There are running 15 nodes in our k8s cluster, with more than 500 pods. Today, I've also noticed that the influxdb would crashed with "fatal error: runtime: cannot allocate memory".
here's my setting parameters for heapster and influxdb:
/opt/bin/heapster --source=kubernetes:http://xx.xx.xx.xx:8080 --sink="

[2015-06-18 20:40] vishh commented on #355
We can reduce the amount of data we query from kubelet, which might
alleviate this issue. But from a deployment standpoint, I would recommend
placing limits on all the pods you run. That way, pods don't step on each
other.
I would suggest 500MB of memory for heapster (to be on the safe side, you
can reduce this later) and ~1GB for InfluxDB. Inorder for this to work, you
need to apply limits to all

[2015-06-24 03:25] yoanisgil opened #367 "Is there support for docker-swarm?"
Hi,

I was wondering if heapster could collect metrics from a swarm cluster? If yes, how would that work? Maybe we can put together a quick tutorial explaining how  heapster  up and running with Swarm.

Bests,

Yoanis.

[2015-06-24 09:06] shwetalakhimpur commented on #338
Hi, Please provide your inputs ob the following issue -

I am in this interesting situation, and let me try to explain.

Situation A -
1 - I can get the heapster to start with the influxdb properly, where I am able to see the data in the influxdb.
2 - I am unable to access the Grafana UI -

http://<MASTERNODE-IP>:8080/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana/#/dashboard/fil

[2015-06-24 10:44] akash010 opened #368 "Heapster not getting network rx and tx bytes info"
Hi

I am running heapster on kubernetes. Several pods are running but all of them giving 0 values in rx and tx network stats.
On doing docker stats <container-id>, I found that network stats are also coming 0 for that container but network stats are coming in cadvisor correctly.
Network stats for the pod gcr.io/google_containers/pause:0.8.0 are coming correctly but they are not communicated into t

[2015-06-24 17:34] vishh commented on #368
This is a known issue. Kubelet does not expose network stats. We will fix this as soon as Kubernetes v1.0 is rolled out. Network stats should be available for the node though.

cc @dchen1107

[2015-06-24 17:56] vishh commented on #367
Swarm support doesn't exist as of now. Swarm doesn't seem to provide a
remote API to expose nodes. We can exec 'swarm list' and parse its output
to get a list of nodes. To begin with, we will need cadvisor running on all
nodes though.

Is this something you are interested in working on?

On Tue, Jun 23, 2015 at 8:26 PM, Yoanis Gil <notifications@github.com>
wrote:

[2015-06-24 18:22] yoanisgil commented on #367
Yes I am totally in for it. I will look into swarm API to see if there is something better than doing a swarm list and parsing the ouput ;)

[2015-06-24 18:27] vishh commented on #367
Great. Let me know if you run into any issues.

On Wed, Jun 24, 2015 at 11:22 AM, Yoanis Gil <notifications@github.com>
wrote:

[2015-06-24 22:37] vishh commented on #337
Done

[2015-06-24 22:37] #337 closed

[2015-06-24 22:37] vishh commented on #336
Done

[2015-06-24 22:37] #336 closed

[2015-06-25 03:43] yoanisgil commented on #367
Hi @vishh

I think it might be a good idea to update the sources documentation with an example of what the hosts files should look like for cAdvisor. Initially I though it was a host per file but I was so wrong ;). After reading a bit I cam with this:

{
  "Items": [
    {
      "Name": "N0",
      "IP": "192.168.99.105"
    },
    {
      "Name": "N0",
      "IP": "192.168.99.105"
    }
  ]
}

Le

[2015-06-25 11:17] akash010 commented on #368
Thanks for the reply !

Assuming node means 'worker nodes where kubelet and proxy runs',  I am not getting any node specific network stats. Though I am getting cpu and memory based stats.

[2015-06-25 14:58] vishh commented on #368
Thats not expected. I will investigate! Thanks for reporting the issue.

On Thu, Jun 25, 2015 at 4:17 AM, Akash Agarwal <notifications@github.com>
wrote:

[2015-06-25 15:01] vishh commented on #367
A doc PR will benefit everyone! Please do send it over. A compose file also
sounds very useful :)
A single hosts file is what heapster expects. In Influxdb, the host is just
a column as of now. There is one series per metric.

On Wed, Jun 24, 2015 at 8:43 PM, Yoanis Gil <notifications@github.com>
wrote:

[2015-06-25 15:33] yoanisgil commented on #367
Ok. I will try to send the PR today. In which directory should the docker-composer file should live?

[2015-06-25 17:31] vishh commented on #367
under 'deploy/'

On Thu, Jun 25, 2015 at 8:33 AM, Yoanis Gil <notifications@github.com>
wrote:

[2015-06-25 18:20] vishh opened #370 "Transition events handling into the cache"
The in-memory cache does not support events as of now.
1. A new internal API needs to be defined for kube events
2. Kube events can be stored directly (async) into the cache
3. Events are pulled from the cache for the sinks.
4. Specific events are translated into metrics (sys ooms, container restarts, etc)

cc @afein

[2015-06-25 23:30] vishh commented on #338
I suspect #249 should resolve all the proxy woes that you currently have.

[2015-06-26 02:03] yoanisgil commented on #367
@vishh doc PR is https://github.com/GoogleCloudPlatform/heapster/pull/373. Will create another for docker-compose.

[2015-06-26 03:00] yoanisgil commented on #367
@vishh docker-compose pr is https://github.com/GoogleCloudPlatform/heapster/pull/374.

[2015-06-30 05:59] jekyang commented on #355
Hi, Vishh
  we've already placed limits on all pods in the k8s cluster during running heapster. Today, we put the heapster and influxdb into a standalone machine with 4cpu, 19G mem(including 4G swap mem). In the Machine,there no other program execpt for that both, after some time, we saw that, the total 19G memory has almost run out.

free -h
                    total       used       free     sha

[2015-06-30 12:22] vishh commented on #355
@jekyang: InfluxDB does consume quite a bit of memory. Heapster's memory usage is proportional to the number of containers. Can you post the output of heap profile from a running heapster?
`http://localhost:8082/debug/pprof/heap` If the memory usage is growing over time, I would like to investigate right away. Thanks for reporting this issue.
cc @saad-ali @dchen1107

[2015-06-30 14:35] jekyang commented on #355
after about 20mins, memory of heapster  reached to 51%(total 16G)

root@iZ25jzevbmqZ:~# free -h
             total       used       free     shared    buffers     cached
Mem:           15G        15G       210M        76K       1.5M       183M
-/+ buffers/cache:        15G       395M
Swap:         4.0G        19M       4.0G

from http://localhost:8082/debug/pprof/heap:
hope it can help
----
heap p

[2015-07-01 12:13] piosz opened #381 "Heapster is not working with GCM"
When I start Heapster in version 0.15.0 (or from HEAD) and GCM sink enabled I get an error:
[code]
and Heapster is crashlooping.

There is a problem with SSL, probably after #376 is merged. There are few possible solutions:
* use other image as a base for Heapster one like [justicefries/busybox-ssl](https://registry.hub.docker.com/u/justicefries/busybox-ssl/dockerfile/)
* add the same commands to

[2015-07-01 16:33] vishh commented on #381
Reverting the config changes SGTM.

On Wed, Jul 1, 2015 at 5:13 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-07-01 22:29] vmarmol commented on #355
Those profiles are a bit hard to read :) we usually need a symbolized one. Can you run the following comand:

[code]

and attach `output.svg`?

That command requires having `go` installed and it assumes you're in localhost. Feel free to change that to a remote host and port.

Thanks! :)

[2015-07-02 09:38] jekyang commented on #355
Hi, Vmarmol
I got a png from the machine, host it's the right one.

![output](https://cloud.githubusercontent.com/assets/5283952/8474169/fac7b7ac-20e0-11e5-9f36-7bfb2872bd41.png)

Thanks
-Jack

[2015-07-02 09:44] jekyang commented on #355
Hi, Vmarmol
the png file is attached here.
![heapster](https://cloud.githubusercontent.com/assets/5283952/8474325/e4a19f46-20e1-11e5-9573-6de1ef6b90ec.png)

Thanks
-Jack

[2015-07-03 15:17] mboussaa opened #385 "Heapster integration with Cadvisor and influxDB"
I can't find documentation on Heapster integration with Cadvisor and influxDB.
Is it possible ?

I am not using kubernates

[2015-07-03 17:22] yoanisgil commented on #385
@mboussaa there is some work in process for this:

https://github.com/GoogleCloudPlatform/heapster/pull/374

you will need to install Docker/Docker Compose but I think it's worth the price. This PR is not merged yet but you can use my branch here:

https://github.com/yoanisgil/heapster/tree/docker-compose-example

and here is some documentation:

https://github.com/yoanisgil/heapster/tree/docker-c

[2015-07-04 16:24] yoanisgil commented on #367
@vishh I am having a git of a hard time setting up my dev environment and I cannot seem to find any documentation describing how to do it. I am on OSX Yosemite btw. Any ideas?

[2015-07-06 09:17] mboussaa commented on #385
Hello,
Thank you for you reply. In fact I am getting an error when executing docker compose up:
heapster_1 | E0706 09:30:58.868929       1 driver.go:322] Database creation failed: Server returned (404): 404 page not found
heapster_1 | . Retrying after 30 seconds

then I didn't understand how can I use heapster using your configuration files

[2015-07-06 14:48] nikhiljindal opened #386 "Update "Running Heapster on Kubernetes" guide to kubernetes v1 API"
The guide is still based on v1beta3. It talks about fields "createExternalLoadBalancer" and "PublicIPs", which are not there in latest kubernetes v1 API.

[2015-07-06 14:48] nikhiljindal commented on #386
cc @vmarmol @vishh

[2015-07-06 14:50] nikhiljindal commented on #386
cc @bgrant0607 @dchen1107

[2015-07-06 15:52] vmarmol commented on #385
What are you looking to run @mboussaa? If you're interested in a Heapster that collects from various (non-Kubernetes) cAdvisors it should be possible to set that up with Heapster today.

[2015-07-06 17:34] vmarmol commented on #367
Heapster needs to generate some configs before building try running `make build` from the root (or take a look at the steps the Makefile takes).

[2015-07-07 22:54] DreadPirateShawn opened #392 "heapster looks for token despite attempting to disable authentication"
I've got a kubernetes cluster working fine, and am trying to run heapster as a separate process with `--source` pointing to kubernetes master.

Currently authentication is disabled on our kubernetes cluster, so I'm trying to follow https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/source-configuration.md which says:

[code]

However, every permutation I've tried throws an error from

[2015-07-08 15:57] DreadPirateShawn commented on #392
I've also tried adding the `insecure=true` option found later in the same doc, with the same failure, eg:
[code]

[2015-07-08 16:00] echu opened #393 "Tag v0.16.0 missing from repository"
I have a kubernetes cluster running on GCE and followed the steps outlined in the [tutorial](https://github.com/GoogleCloudPlatform/heapster/blob/master/docs/google.md). However, I'm seeing the following message in my logs.

[code]

I'm not sure if this is supposed to be pulling from Dockerhub, but a cursory glance at the [tags](https://registry.hub.docker.com/u/kubernetes/heapster/tags/manage/) t

[2015-07-08 16:19] DreadPirateShawn commented on #299
Any update on this doc? Still empty. Even just a sample command or flags...

[2015-07-08 16:30] DreadPirateShawn commented on #392
As I read through the source and issues, I'm starting to beg the question -- now that cadvisor has been integrated into kubernetes, is it even possible to run heapster as a separate process and still tie into the kubernetes cluster?

I've got some dev work in progress which implements a new sink for heapster, so it seems like running heapster directly during dev / fix cycles would allow for more s

[2015-07-08 16:34] DreadPirateShawn commented on #393
I'm seeing the same thing, attempting to run `kubectl.sh create -f deploy/kube-config/influxdb` out-of-the-box.

Spot-checked via docker directly:
[code]

[2015-07-08 16:45] vmarmol commented on #393
Apologies, we uploaded to gcr.io, but not Docker Hub. Should be up now!

[2015-07-08 16:45] #393 closed

[2015-07-08 17:24] jimmidyson commented on #392
@DreadPirateShawn As heapster needs to query the API server to retrieve the list of hosts, some kind of authorization has to take place, be it cert/token via service account/basic auth. There's no reason not to be able to use heapster externally from the cluster, but currently you would need to provide the same config as if it was inside a cluster. Looking at the code, it might be a good idea to a

[2015-07-08 17:46] DreadPirateShawn commented on #392
Hmm. In the kubernetes cluster, authentication is currently disabled -- using neither cert nor token -- so it is using the same config... does that mean that even if I switch to loading heapster inside the cluster, it'll still fail in the same manner? That is, does heapster (currently) require that some authentication is in place?

[2015-07-08 17:49] jimmidyson commented on #392
Are you using master? If so can you try with inClusterConfig=false as an extra option to the kube source?

[2015-07-08 18:48] DreadPirateShawn commented on #392
Fantastic -- this gets me further:
[code]

Granted, I'm seeing other errors now:
[code]
... but now I can dig into the code and get more info, and file separate tickets if needed. Closing this ticket.

Many thanks!

[2015-07-08 18:48] #392 closed

[2015-07-08 19:01] jimmidyson commented on #392
@DreadPirateShawn Glad it's working-ish for you now.

[2015-07-10 15:43] vmarmol opened #399 "Export the machine container with the proper CPU limit"
Today we convert shares to CPU limit, but this doesn't work for the root container since it always has 1024 shares even though it corresponds to all cores on the machine. We should take the NumCores from the machine and export that instead.

[2015-07-10 15:44] vmarmol commented on #399
/cc @jszczepkowski @piosz

[2015-07-10 17:01] piosz commented on #399
I can take a look on Monday

[2015-07-10 19:44] dchen1107 commented on #399
cc/ @dchen1107

[2015-07-10 19:52] dchen1107 commented on #399
https://github.com/GoogleCloudPlatform/kubernetes/issues/10760

[2015-07-13 10:56] kgrvamsi opened #404 "Kublet port 10250 Response Error"
Hello,

When i'm trying to fetch the data of a particular minion through the kublet api i dont see any request passing through the api and i receive the following error when i curl

    [fedora@ip-10-20-30-95 ~]$ curl -v http://10.20.30.95:10250/stats/
    *   Trying 10.20.30.95...
    * Connected to 10.20.30.95 (10.20.30.95) port 10250 (#0)

    < HTTP/1.1 500 Internal Server Error
    < Content-

[2015-07-14 01:01] #381 closed

[2015-07-14 01:03] a-robinson opened #408 "Export metrics API returning stats approximately 10 minutes old"
It looks like the onlyKeepLatestStat method is actually keeping only the oldest stat. I'll send out a fix soon.

[2015-07-14 10:06] shwetalakhimpur opened #410 "Heapster v16 - CentOS support for Kubernetes API v1"
How do I upgrade to the required version on Kubernetes which is required to support API v1 on Cent OS ?
The CentOS repository only contains kubernetes-v0.18
http://cbs.centos.org/repos/virt7-testing/x86_64/os/Packages/

[2015-07-14 12:17] piosz commented on #289
I can take a look.

[2015-07-14 15:07] vmarmol commented on #289
FWIW, we've tested it on larger cluster and it has been okay. Since we only scrape data every few mins.

[2015-07-14 15:45] piosz commented on #289
Ok. Thanks for the update. Did you test it with many pods (i.e. 100 nodes, 10 pods/node)?

[2015-07-14 15:53] vmarmol commented on #289
IIRC we tested on a 100node cluster but more likely with 5 pods/node

[2015-07-14 16:04] piosz commented on #289
Sounds reasonable. Should this issue be closed?

[2015-07-14 16:47] a-robinson commented on #408
Fixed by #409

[2015-07-14 16:47] #408 closed

[2015-07-16 15:17] xinsuiyuer opened #419 "heapster don't write data into influxdb"
I meet some problems when run heapster on coreos cluster, the cluster  consist of three nodes(192.168.56.100, 192.168.56.101, 192.168.56.102), each nodes:
CoreOS 681.2.0
fleet  0.10.2
etcd   2.0.10

cAdvisor pulls from google/cadvisor:0.16.0
cAdvisor runs on all nodes, each instance works fine, and can open this url  http://192.168.56.100:8080/containers/ to view current status.
[code]

Influxdb p

[2015-07-17 23:08] acconsta opened #421 "Upgrade to Influxdb 0.9"
Influxdb 0.9 introduced a new API, but also solved some [data corruption issues](https://news.ycombinator.com/item?id=9812572) related to clustering. Is there a time frame for upgrading?

[2015-07-17 23:09] #421 closed

[2015-07-17 23:14] acconsta commented on #421
(duplicate)

[2015-07-17 23:17] acconsta commented on #302
And apparently solves some [data corruption issues](https://news.ycombinator.com/item?id=9812572) related to clustering. Is there a time frame for this issue?

[2015-07-19 01:36] xinsuiyuer commented on #419
Sorry, it's caused by system time being out of sync.

[2015-07-19 01:36] #419 closed

[2015-07-20 10:56] onorua opened #422 "x509: certificate signed by unknown authority for self signed cert"
heapster is not able to connect to kube-apimaster in case of self signed certificate and there is no way to provide ca.crt file as parameter no disable ssl check.
I'm using:
[code]
with kubernetes 1.0.1

[2015-07-20 12:15] onorua commented on #422
I've tried to add my ca.crt to base system:
[code]
and ten recreated pod with no succes.
I still get
[code]

[2015-07-20 15:29] #399 closed

[2015-07-21 06:09] AlexeyKupershtokh commented on #422
How did you install the heapster?
Have you tried to add the certificate inside the heapster container as well?

[2015-07-21 18:33] vishh commented on #419
Can you provide the output of `list series` from InfluxDB?

On Thu, Jul 16, 2015 at 8:17 AM, Chenglin Huang <notifications@github.com>
wrote:

[2015-07-21 22:26] vishh commented on #410
Upgrade heapster or kubernetes? Can you clarify your question?

[2015-07-22 18:03] SergeyCherepanov opened #429 "Heapster not work with Kubernetes service account token"
Hi, i try to run heapster on Google Cloud, with kubernetes secret token:

    \heapster --source=kubernetes:https://kubernetes:443?useServiceAccount=true\&auth= --sink=gcm --sink=gcl --poll_duration=2m --stats_resolution=1m

but it is crashed  with empty host and port:

[code]

[2015-07-22 18:17] vishh commented on #429
cc @mikedanese

[2015-07-22 18:22] mikedanese commented on #429
@SergeyCherepanov what version of kubernetes are your running? are you using GKE or ./cluster/kube-up.sh to setup the cluster?

[2015-07-22 18:22] mikedanese commented on #429
Are you running heapster on kubernetes? If so can you show me the pod or rc yaml

[2015-07-22 18:46] SergeyCherepanov commented on #429
Hi @mikedanese, we create Cluster via Google Cloud Console.
[code]
[code]
Previously we try start pod with config rc config provided from heapster docs.

And it fails with:

[code]

After, I started container via ***docker run*** with ***/bin/sh*** entry point. And I paste token content to /var/run/secrets/kubernetes.io/serviceaccount/token and tried to run heapster directly from cli. But I receiv

[2015-07-22 20:00] vishh opened #430 "Fix integration tests"
Integration tests are currently broken.
1. We should test against 1.0.1 kubernetes version (#426)
2. Heapster runs in kube-system namespace by default. We will have to update the integration tests, if required, to use the new namespace.

cc @mvdan @afein

[2015-07-23 01:22] mikedanese commented on #429
@SergeyCherepanov the host and port are pulled from the KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT env variables. You can't use InClusterConfig unless heapster is running as a pod. We should definitely fail more gracefully than having an empt host and port.

Regarding the heapster-controller.json error, I think this is fixed by #382. @vishh perhaps another release?

@SergeyCherepanov In t

[2015-07-23 09:43] y00181991 opened #432 "heapster crashloop!"
I still got this error when heapster starts:

I0723 09:19:23.571136       1 heapster.go:52] /heapster --source=kubernetes:'' --sink=gcl --sink=influxdb:http://monitoring-influxdb:8086 --poll_duration=2m --stats_resolution=1m
I0723 09:19:23.571242       1 heapster.go:53] Heapster version 0.16.0
E0723 09:19:23.571299       1 heapster.go:59] open /var/run/secrets/kubernetes.io/serviceaccount/token: n

[2015-07-23 10:50] SergeyCherepanov commented on #429
@mikedanese thanks for you response it's partly helped. But we steel have issue with ca.crt error.

[code]
In /var/run/secrets/kubernetes.io/serviceaccount/ we have only token, how we mount ca.crt?

If i execure kubectl get secrets i see

[code]

After describe the heapster pod, i found that default-token-3xgmh mounted to heapster
It's looks like we have default secret without ca.crt

[2015-07-23 10:54] jimmidyson commented on #429
The CA cert is auto mounted in kubernetes >= 0.20. IIRC you can configure heapster with the `insecure=true` option on the kubernetes source.

[2015-07-23 11:19] Andre-Freitas commented on #429
I'm having the same error as @SergeyCherepanov as i can't connect to api using service account token - http://ur1.ca/n7f0g
I have create a new service account token heapster and despite my cluster k8s is 0.21.4 i only have a token file in /tmp/secrets/kubernetes.io/serviceaccount
I'm using this argments in my rc http://ur1.ca/n7f1j . how can i resolve this?

[2015-07-23 13:10] jimmidyson commented on #429
If the CA cert isn't mounted in the pod then that looks like a bug in Kubernetes as this should have been happening since 0.20 I believe.

As I said above, you can try adding `insecure=true` as an option to the kubernetes source config, so in your case it would look like `--source=kubernetes:https://kubernetes:443?useServiceAccount=true&auth=&insecure=true`

[2015-07-23 13:47] SergeyCherepanov commented on #429
I fixed it via defining not default secret (with ca.crt and token) in json template for replication controller.

[2015-07-23 14:07] mikedanese commented on #429
@SergeyCherepanov ok. What version of kubernetes are you running?

[2015-07-23 14:13] mikedanese commented on #432
can you post a link to the heapster-controller.yaml

[2015-07-23 16:29] vishh commented on #429
A new version will be released tomorrow. @mikedanese: Will running heapster on namespaces other than "default" cause cert issues?

[2015-07-23 16:31] mikedanese commented on #429
It should not cause cert issues.

[2015-07-23 16:34] jimmidyson commented on #429
Was this an upgraded environment? I think I've seen service accounts that existed before the upgrade to 0.20+ not have the CA cert secret added to mounts.

[2015-07-24 00:43] mvdan commented on #430
#431 fixed this.

[2015-07-24 00:43] #430 closed

[2015-07-24 03:15] mvdan opened #433 "Re-enable GCM test case in the sinks endpoint integration test"
In 2c46a5534829087b, it got disabled because some certificate errors were being thrown on Jenkins when activating (registering) the GCM sink.

Once those are fixed, that test case should be re-enabled. I'm creating this issue to not forget about that.

[2015-07-24 03:20] y00181991 commented on #432
/kubernetes/cluster/addons/cluster-monitoring/standalone$ kubectl create -f heapster-controller.yaml

heapster-controller.yaml

  1 apiVersion: v1
  2 kind: ReplicationController
  3 metadata:
  4   name: monitoring-heapster-v5
  5   namespace: kube-system
  6   labels:
  7     k8s-app: heapster
  8     version: v5
  9     kubernetes.io/cluster-service: "true"
 10 spec:
 11   replicas: 1
 12   sel

[2015-07-24 03:21] y00181991 commented on #432
apiVersion: v1
kind: ReplicationController
metadata:
  name: monitoring-heapster-v5
  namespace: kube-system
  labels:
    k8s-app: heapster
    version: v5
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v5
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v5
        kubernetes.io/cluster-service: "true"

[2015-07-24 03:22] y00181991 commented on #432
apiVersion: v1
kind: ReplicationController
metadata:
  name: monitoring-heapster-v5
  namespace: kube-system
  labels:
    k8s-app: heapster
    version: v5
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v5
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v5
        kubernetes.io/cluster-service: "true"

[2015-07-24 03:22] #432 closed

[2015-07-24 03:27] y00181991 commented on #432
apiVersion: v1
kind: ReplicationController
metadata:
  name: monitoring-heapster-v5
  namespace: kube-system
  labels:
    k8s-app: heapster
    version: v5
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v5
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v5
        kubernetes.io/cluster-service: "true"

[2015-07-24 11:11] Andre-Freitas commented on #429
@SergeyCherepanov how did you fetch the ca.cert (and token) and added it to volume? atm my heaspter pod only has token file.

[2015-07-24 12:05] Andre-Freitas commented on #429
@vishh its required to have ca.crt in /var/run/secrets/kubernetes.io/serviceaccount/ even when we use service account token heapster to communicate with the API (atm í'm using this --source=kubernetes:https://kubernetes:443?useServiceAccount=true&auth= ? )
As i don't have ca.crt in my kube-apiserver (i only have self-signed certificate and key that were generated for the public address and saved t

[2015-07-24 16:34] y00181991 opened #435 "x509: certificate signed by unknown authority"
I am on ubuntu 14.04,use heapster 0.16.0 and k8s 1.0;
and I modify kube-apiserver and kube-controller-manager start shell to make serviceaccount works

 function create-kube-apiserver-opts(){
   cat <<EOF > ~/kube/default/kube-apiserver
 KUBE_APISERVER_OPTS="--address=0.0.0.0 \
 --port=8080 \
 --etcd_servers=http://127.0.0.1:4001 \
 --admission_control=NamespaceLifecycle,NamespaceExists,ServiceAcc

[2015-07-24 16:52] mvdan commented on #435
Very similar to #422, perhaps a duplicate.

[2015-07-24 16:58] vishh commented on #429
You don't have to mention "useServiceAccount" with latest kubernetes releases. As long as you setup ServiceAccounts in the cluster, kubernetes will auto mount the certs and let heapster communicate with api-server. cc'ing @mikedanese who is the in-house expert on service accounts.

[2015-07-24 17:00] mikedanese commented on #429
@Andre-Freitas are you running on kubernetes? If so, can you link or paste the rc-spec.yaml you are using to run heapster?

[2015-07-25 02:07] y00181991 commented on #435
yes!

and my heapster-controller.yaml like this;

apiVersion: v1
kind: ReplicationController
metadata:
  name: monitoring-heapster-v5
  namespace: default
  labels:
    k8s-app: heapster
    version: v5
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v5
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v5

[2015-07-25 11:05] Andre-Freitas commented on #429
@mikedanese yes i'm running in kubernetes 0.21.4 with a json rc like this http://ur1.ca/n85ks.
@vishh i have tried to put source --source=kubernetes:'' but its the same. Monday i will try to put  --source=kubernetes:https://kubernetes:443 and see what happens. so the fact that i don't have ca.crt defined in my master is not a problem? because i only have token file in /var/run/secrets/kubernetes.i

[2015-07-25 23:49] onorua commented on #422
I've installed it the way it's described in documentation. What is the proper way to add ca.crt to the heapster? I've tried all possible ways I know without any success. The latest hint I've got is https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/service-accounts.md which may be required, but I could not find the way to add ca.crt into it properly.
Any hint will be hig

[2015-07-27 03:07] y00181991 commented on #422
@onorua  I met the same problem, I tried service-accounts,no good luck!
@AlexeyKupershtokh can we add a insecure flag？

[2015-07-27 05:42] AlexeyKupershtokh commented on #422
@y00181991 I've just tried to do this. I've connected directly to the node where the Heapster container is running. Started a shell within it and tried to run /heapster with the insecure flag:
[code]
It still tries to connect to https. I can even write any http://nonce in the source, it still connects to the "https://192.168.0.2:443". It seems that options don't work correctly.
I'm running Kuberne

[2015-07-27 05:53] AlexeyKupershtokh commented on #422
It seems that the heapster prefers env variables:
[code]
Though as you can see it won't help without getting rid of using https.

[2015-07-27 06:08] AlexeyKupershtokh commented on #422
Found another similar issue: #429

[2015-07-27 10:07] onorua commented on #429
I'm running kubernetes v1.0.1  with
[code]
configured on a master, my heapster controller looks like this:
[code]

[code]

it seems volume is created:
[code]

but when I check the secret:
[code]

[2015-07-27 11:16] onorua commented on #429
I've got it working guys!
First  of all you must enable root_ca_file (in case you don't use default installation methods) for kube-controller-manager.
2. You must remove currently used secret (this is necessary for installation which go through update process from early version). So it means if you install from scratch - no problem. If you install from the version with service accounts but without

[2015-07-27 15:03] mikedanese commented on #429
True, this should probably be documented somewhere.

Also true for the release but this was fixed in GoogleCloudPlatform/kubernetes#11303

[2015-07-27 15:04] mikedanese commented on #429
I will try to writeup a doc about requirements and known pitfalls.

[2015-07-27 15:10] mikedanese commented on #435
@y00181991 can you add

[code]

To the end of your yaml?

[2015-07-27 20:02] gtmtech commented on #136
Did anyone get anywhere with this?

[2015-07-28 01:42] y00181991 commented on #435
I have tried this before, but it's not work;

 k8s api service generate the self-sign cert  by under /var/run/kubernetes  , this cert is CA itself,and I add it to my ca localstore (my os is ubuntu 14.04).

when I use curl to access api seriver from k8s api server , I got the error x509: certificate signed by unknown authority.

That means even I trust the CA on ubuntu 14.04, I will still got this

[2015-07-28 02:07] mikedanese commented on #435
It seems like a bug then if insecure=true used to work. Are you using `--root-ca-file` on the kube-controller-manager? It should point to a root CA signed for the apiserver's cert

[2015-07-28 03:44] y00181991 commented on #435
yes.

 --root-ca-file="": If set, this root certificate authority will be included in service account's token secret. This must be a valid PEM-encoded CA bundle.
      --service-account-private-key-file="": Filename containing a PEM-encoded private RSA key used to sign service account tokens.

suggest by:
http://kubernetes.io/v1.0/docs/admin/kube-controller-manager.html

[2015-07-28 09:31] AlexeyKupershtokh commented on #429
Worth taking a look: https://github.com/GoogleCloudPlatform/kubernetes/issues/11000
Though I haven't had enough time to follow the instructions and make heapster work with k8s.

[2015-07-28 11:17] AlexeyKupershtokh commented on #429
@onorua I've followed your instructions and applied . This helped me to deliver ca.crt into pods, but heapster doesn't like the ca.crt:
[code]
Any ideas how to overcome this too?

[2015-07-28 14:51] mikedanese commented on #429
@AlexeyKupershtokh how did you generate the cert? It looks like you need to fix add a SAN that is the kubernetes service's cluster IP.

[2015-07-28 14:54] mikedanese commented on #429
@AlexeyKupershtokh see how we generate the cert to include the service IP?

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L550

[2015-07-28 15:25] AlexeyKupershtokh commented on #429
@mikedanese would I be wrong if I said that in the case of SANS mismatch the error message would look like this https://github.com/GoogleCloudPlatform/kubernetes/issues/10972#issuecomment-119826517 ?

Actually I haven't generated the certificate myself.

In order to provide (almost) full info on how to reproduce my environment...
I'm using the ubuntu provider to install kubernetes from inside a sc

[2015-07-29 01:29] AlexeyKupershtokh commented on #429
I've just followed instructions from https://github.com/GoogleCloudPlatform/kubernetes/issues/11000#issuecomment-120396771 and updated apiserver options this way:
[code]
Now the certificate seems valid to the heapster. Phew.
But I got another problem:
[code]
Is this something related to service accounts?

[2015-07-29 12:49] #203 closed

[2015-07-29 23:58] lucas-coelho opened #439 "Heapster not connecting to master node on GKE"
I created a cluster in GKE with heapster enabled by default. I didn't found any metrics available in Google Cloud Monitoring. When i look the heapster error
When i look the heapster log it seems that it's doesn't connect to the master node.

[code]

[2015-07-30 00:20] vishh commented on #439
There is a different integration path for GKE and Google Cloud Monitoring via Stackdriver. We are in the process of opening this up to users. Meanwhile, if you are interested in previewing it, @a-robinson can provide you access.

[2015-07-30 05:48] a-robinson commented on #439
Are those logs only from around the time that the heapster pod started up? If they're happening frequently, it could be a sign of a bug somewhere.

[2015-07-30 14:17] lucas-coelho commented on #439
@a-robinson Yes, its when i started. Now are logging this:
[code]

[2015-07-30 14:35] vishh commented on #439
Its happening every 3 hours. We should check the API server logs to see why
the watch fails periodically. This should not affect heapster's
functionality though.

On Thu, Jul 30, 2015 at 7:17 AM, Lucas Botelho Coelho <
notifications@github.com> wrote:

[2015-07-30 15:17] a-robinson commented on #439
Right, that shouldn't affect functionality. A few failures to connect at startup aren't concerning as long as they stabilize after a little while, since the master is also starting up around the same time.

[2015-07-30 22:00] vishh commented on #429
Can you try with the latest release v0.17.0?

On Tue, Jul 28, 2015 at 6:29 PM, Alexey Kupershtokh <
notifications@github.com> wrote:

[2015-07-31 08:03] AlexeyKupershtokh commented on #429
The same behavior:
[code]

Though I have managed to use an http connection as a workaround.

[2015-07-31 09:39] fzu-huang opened #443 "create heapster-controller failed"
monitoring-heapster-controller-1g681         0/1       API error (404): Cannot start container 401801b72ef28b28f01bda500784d080b5dacfa6077c660e7b978b8ae7a5279a: [8] System error: exec: "/heapster": stat /heapster: no such file or directory

what's wrong??

[2015-07-31 12:31] rimey opened #444 "x509: failed to load system roots and no roots provided"
I'm following the instructions in heapster/docs/google.md and seeing heapster crash-loop with the following logs:

[code]

Despite #382, there's no ca-certificates.crt in the v0.17.0 image. Could that be the problem?

[code]

[2015-07-31 16:11] vishh commented on #443
What version of heapster are you using and what setup?

On Fri, Jul 31, 2015 at 2:39 AM, fzu-huang <notifications@github.com> wrote:

[2015-07-31 16:15] vishh commented on #444
@mikedanese: Can you take a look at this issue? Will heapster docker images have to be built on a GCE machine in-order to avoid this issue?

[2015-07-31 16:16] vishh commented on #429
cc @mikedanese

[2015-07-31 19:04] a-robinson opened #446 "Pods that no longer exist not being garbage collected from v1 HTTP API"
I'll look into the root cause, but I'm seeing this behavior on 0.15.0. Any idea of whether it's been fixed since would be helpful.

@vishh @vmarmol

[2015-07-31 19:52] vishh commented on #446
This is likely an issue. I don't think heapster purges pods whenever it
notices a delete event from Kube API server currently.

On Fri, Jul 31, 2015 at 12:04 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-08-01 03:35] jekyang commented on #355
hi, any suggestion or update?

[2015-08-03 07:43] roshan-zot commented on #299
Is there a half-written documentation somewhere?

[2015-08-03 08:42] fzu-huang commented on #443
version  0.17
i switch the version to 0.16 ，then when i create a  rc,  it is wrong  and log is :
I0803 08:35:28.200069       1 heapster.go:52] /heapster --source=kubernetes:https://kubernetes --sink=influxdb:http://monitoring-influxdb:80
I0803 08:35:28.200157       1 heapster.go:53] Heapster version 0.16.0
E0803 08:35:28.200587       1 heapster.go:59] open /var/run/secrets/kubernetes.io/serviceacc

[2015-08-04 00:29] vishh commented on #446
This can cause memory leaks since the internal metrics store does not garbage collect once we stop writing metrics. I am working on fixing this now.

[2015-08-04 19:38] foxting1127 opened #452 "fail to create heapster-service"
root@ahri:~/heapster/deploy/kube-config/influxdb# kubectl create -f heapster-service.json
Error from server: error when creating "heapster-service.json": Service "heapster" is forbidden: Namespace kube-system does not exist

I hope to use heapster to collect cadvisor's monitoring data to a db, but failed..anyone could help me with that?

[2015-08-04 19:41] afein commented on #452
Hi, which version of Kubernetes are you using?
you can find out with ```kubectl version```

[2015-08-04 19:51] foxting1127 commented on #452
hi afein,
I used the kubernete version 1.0.1.

[2015-08-04 19:53] vishh commented on #452
Can you post the output of `kubectl get pods,rc,svc --namespace-all`?

[2015-08-04 19:54] foxting1127 commented on #452
NAME                                         READY     STATUS    RESTARTS   AGE
monitoring-influx-grafana-controller-77ohm   2/2       Running   0          4m
CONTROLLER                             CONTAINER(S)   IMAGE(S)                            SELECTOR             REPLICAS
monitoring-influx-grafana-controller   influxdb       kubernetes/heapster_influxdb:v0.3   name=influxGrafana   1

[2015-08-04 19:55] foxting1127 commented on #452
--namespace-all flag seems not accepted in the command.

[2015-08-04 19:55] foxting1127 commented on #452
kubectl get pods,rc,svc --namespace-all
Error: unknown flag: --namespace-all
Run 'kubectl help' for usage.

[2015-08-04 19:57] foxting1127 commented on #452
Error from server: error when creating "../../heapster/deploy/kube-config/influxdb/heapster-controller.json": ReplicationController "heapster" is forbidden: Namespace kube-system does not exist
Error from server: error when creating "../../heapster/deploy/kube-config/influxdb/heapster-service.json": Service "heapster" is forbidden: Namespace kube-system does not exist

[2015-08-04 19:58] vishh commented on #452
Oh my bad. It's `kubectl get pods,svc,rc --all-namespaces`

[2015-08-04 19:59] vishh commented on #452
This is an issue with your kubernetes cluster. Latest clusters are expected to have a kube-system namespace created by default. I would suggest going through kubernetes admin guides and figuring out why the `kube-system` namespace is missing. Alternatively, you can also create kube-system namespace, or update heapster config to run it in the `default` namespace.

[2015-08-04 19:59] foxting1127 commented on #452
NAMESPACE   NAME                                         READY     STATUS    RESTARTS   AGE
default     monitoring-influx-grafana-controller-77ohm   2/2       Running   0          9m
NAMESPACE   NAME                     LABELS                                                                     SELECTOR             IP(S)           PORT(S)
default     kubernetes               component=apiserver,pro

[2015-08-04 20:03] foxting1127 commented on #452
Hi vishh,

Thanks for your reply. I am quite new to heapster and kubernetes, could you give me more guidelines? For example, how do I change heapster config to run it in the default namespace?

thanks a lot!

[2015-08-04 20:08] foxting1127 commented on #452
I changed kubernetes to a prior version v.0.18.0, it gives me different error:

root@garen:~# kubectl create -f heapster/deploy/kube-config/influxdb/
Error from server: the server could not find the requested resource
Error from server: the server could not find the requested resource
Error from server: the server could not find the requested resource
Error from server: the server could not find t

[2015-08-04 20:11] vishh commented on #452
Just replace 'kube-system' with 'default' in all the config files.

[2015-08-04 20:12] foxting1127 commented on #452
hi vishh,

I see..thanks, I will try that.

[2015-08-05 01:57] #446 closed

[2015-08-05 10:12] wulonghui opened #455 "Wrong NodeInternalIP"
I run a Kubernetes without any cloud providers, and then start  the heapster container:
[code]

And the heapster get a wrong NodeInternalIP `218.85.65.150`

[code]

the node info:
[code]

[2015-08-05 10:19] wulonghui commented on #455
I run the heapster on host directly, and it get the right NodeInternalIP
[code]
Is this code[1] gets some problem inside the conatiner?
[code]
[1]https://github.com/GoogleCloudPlatform/heapster/blob/v0.17.0/sources/nodes/kube.go#L82

[2015-08-05 17:00] vishh commented on #455
That's correct. I wonder why kubernetes is not populating the node internal
IP for your cluster.

On Wed, Aug 5, 2015 at 3:19 AM, Tim Wu <notifications@github.com> wrote:

[2015-08-06 01:13] wulonghui commented on #455
Because my Kubernetes's cloud providers is nil, the code[1] only set NodeLegacyHostIP.
Is that ok to add NodeInternalIP?

[1]https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1974

[2015-08-06 01:13] Lswith commented on #444
the same thing is occurring in v0.16.0 as well.

[2015-08-06 01:15] mikedanese commented on #444
Should be fixed by https://github.com/GoogleCloudPlatform/heapster/pull/445?

[2015-08-06 05:12] vishh commented on #455
I think yes. Can you post a PR to fix that?

On Wed, Aug 5, 2015 at 6:13 PM, Tim Wu <notifications@github.com> wrote:

[2015-08-06 06:19] wulonghui commented on #455
@vishh OK, I will commit it soon

[2015-08-06 21:15] jimmidyson commented on #200
Think this is closeable note that sources & sinks flags are consolidated.

[2015-08-06 21:15] #200 closed

[2015-08-06 21:15] jimmidyson commented on #174
Not really a heapster problem - closing.

[2015-08-06 21:16] #174 closed

[2015-08-06 21:46] vishh commented on #443
You need to setup service accounts while setting up the cluster. Refer to
kubernetes admin guides.

On Mon, Aug 3, 2015 at 1:42 AM, fzu-huang <notifications@github.com> wrote:

[2015-08-06 21:47] vishh commented on #299
What are the use cases for standalone mode? Is it for dev testing or having
a scaled out setup?

On Mon, Aug 3, 2015 at 12:43 AM, Roshan N <notifications@github.com> wrote:

[2015-08-06 22:05] DreadPirateShawn commented on #299
I can't speak for the others, but I arrived at this doc stub while attempting to run heapster as a separate process with `--source` pointing to kubernetes master.

I ended up filing issue #392 during my trial-and-error phase, and ultimately @jimmidyson suggesting adding `inClusterConfig=false` as an extra option to the kube source.

This was indeed the solution to my troubles, and that's the sort

[2015-08-07 12:24] shilpapadgaonkar commented on #320
@jimmidyson
I can see only the pods running in the default namespace. Do I need a different role than the one mentioned in your documentation?

 oadm policy add-cluster-role-to-user \
    cluster-reader \
    system:serviceaccount:default:heapster

[2015-08-07 12:25] jimmidyson commented on #320
@shilpapadgaonkar As long as the pods are using the default:heapster service account then it should be fine. Are you saying you're only getting metrics for the pods in the default namespace? Where are you looking?

[2015-08-07 12:27] shilpapadgaonkar commented on #320
@jimmidyson
Yes I am getting metrics on only the pods within the default namespace. I also have some pods running in demo namespace and i dont see any metrics from these pods

[2015-08-07 12:29] jimmidyson commented on #320
Where are you looking? In grafana or in influxdb? Wonder if the query in grafana is only targeting the default namespace?

[2015-08-07 12:34] shilpapadgaonkar commented on #320
i am looking in grafana.
query looks fine to me
where pod_namespace =~ /.+/

On Fri, Aug 7, 2015 at 2:29 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-08-10 22:27] mwielgus opened #463 "Panic in /api/v1/model/metrics/"
[code]

[2015-08-10 22:34] mwielgus commented on #463
cc: @piosz

[2015-08-10 22:35] afein commented on #463
Thanks for submitting this mwielgus, the panic will be fixed soon.

The error message that should have been reported is "the model is not activated".

Please set -use_model=true to use the model, as it is not enabled by default as of yet.

If the flag was set to true, then please try accessing the following endpoints and post the responses:
/api/v1/model/stats/
/api/v1/model/nodes/
/api/v1/model/n

[2015-08-10 22:45] mvdan commented on #463
@vishh this is the panic that we were encountering too

[2015-08-10 22:48] mwielgus commented on #463
@afein Thanks, much better with this flag:

[code]

[2015-08-12 03:34] Lswith commented on #296
I think a better alternative could be the use of the difference aggregate. If you do the difference rather than the derivative you get better resolution.

[2015-08-12 13:34] DmitriyLyalyuev opened #466 "Heapster fails with error "the GCM sink is currently only supported on GCE""
Hi.

I try to start Heapster pod on GCE node, but it fails with error "the GCM sink is currently only supported on GCE".

Full docker log:

[code]

My controller config:
[code]

It works before I reinstall node in cluster. I tried to start 0.16.0 and 0.17.0, but no success with same errors. Other pods working fine.

Can you help me with start it?

[2015-08-12 17:24] vishh commented on #466
Heapster is having trouble reaching the GCE metadata server. Can you try
with the config here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/cluster-monitoring/google/heapster-controller.yaml
?

On Wed, Aug 12, 2015 at 6:34 AM, Dmitriy Lyalyuev <notifications@github.com>
wrote:

[2015-08-14 08:41] Icedroid commented on #429
The same behavior on ubuntu 14.04:

E0814 08:40:24.974202       1 reflector.go:136] Failed to list *api.Namespace: Get https://10.0.0.1:443/api/v1/namespaces: x509: failed to load system roots and no roots provided
E0814 08:40:26.831647       1 reflector.go:136] Failed to list *api.Pod: Get https://10.0.0.1:443/api/v1/pods?fieldSelector=spec.nodeName%21%3D: x509: failed to load system roots and no

[2015-08-14 12:20] mrmiroslav opened #472 "Heapster not reporting to Google Cloud Monitoring"
Fresh set-up on Google Cloud Cluster (1.0.1), with heapster being set-up by default.

I can see Heapster pod running heapster:v0.16.0. The logs reporting:

[code]

I am unable to see any Custom Metrics on Google Console logs.

[2015-08-14 15:18] a-robinson commented on #472
If you're using Container Engine, go to [Cloud Monitoring](app.google.stackdriver.com/gke)'s GKE page. My [Stack Overflow answer](http://stackoverflow.com/questions/31905421/heapster-not-pushing-metrics-to-stackdriver-on-google-container-engine) on this question explains the details.

If you're using Kubernetes directly via the scripts in this repository or get.k8s.io, you should also have an infl

[2015-08-14 15:18] #472 closed

[2015-08-14 19:18] alexmavr opened #473 "StatStore percentile optimization"
The StatStore currently calculates percentiles by extracting all represented values before performing sorting. This can be further optimized by sorting the bucket values themselves and then attempting to find the corresponding percentiles .

For example, if only one bucket is stored at a StatStore with 60 resolutions total, then 60 values will be generated before sorting. Instead of that, we could

[2015-08-14 19:21] mvdan commented on #473
Thanks for opening this!

[2015-08-14 19:53] vishh opened #474 "Switch to a docker based build"
The current build system is not cross OS compatible. Switching over to a docker based build system will be helpful in the long run.

[2015-08-14 19:55] afein opened #475 "Model Garbage Collection"
As of now, the model does not perform garbage collection of entities that have dissapeared from the cluster. We should parse deletion events that are flowing into the cache and remove the corresponding references to PodInfo, NodeInfo and ContainerInfo structs.

This should be resolved before the next Heapster release.

[2015-08-14 20:00] alexmavr opened #476 "Model API endpoints v2.0"
The existing API structure reflects the top-down hierarchy of the actual model. However, there might be use cases where extracting bulk metrics and/or stats might be useful.

Examples:
/metrics/namespaces/{namespace-name}/pods/?label=X&value=Y&start=Z&end=K
returns all metrics of all pods in a namespace that satisfy the specified label:value pair within the optional start and end intervals.

/stat

[2015-08-14 20:16] vishh opened #477 "Add a generic Events API"
An events API can be used to surface interesting and critical events targeted towards a cluster admin and also individual users. Here is a sample list of events:
1. Crash looping pods/containers
2. Pods which get CPU throttled
3. Pods/containers that don't make any progress - critical for best effort tasks.
4. Wasted resources for containers - limits too high when compared to historical utilizatio

[2015-08-15 22:30] afein commented on #474
As of Docker 1.8 we can use docker cp to copy files outside of a container.

Because of that, we can build a heapster-build container based on the golang image and copy the heapster binary outside of the container when the build is finished.

Then, we can normally build the alpine-based image using the existing dockerfile, which will copy the new binary into the final container image.

[2015-08-17 00:27] mvdan commented on #433
Forgot to close this - was fixed by #450

[2015-08-17 00:27] #433 closed

[2015-08-17 09:38] rvrignaud commented on #302
Hello,

Is there anyone working on this one ? Influxdb 0.9.3 is coming and 0.8 branch will not live for a long time.

[2015-08-17 10:29] biswars commented on #277
Today I tried the same set up with kubernetes head (1.0.3) and getting error in running heapster. The error log shows the followings:

I0817 10:25:38.552690       1 heapster.go:55] /heapster --source=kubernetes:'' --sink=influxdb:http://172.17.8.102:8086
I0817 10:25:38.552754       1 heapster.go:56] Heapster version 0.17.0
F0817 10:25:38.552885       1 heapster.go:62] open /var/run/secrets/kuberne

[2015-08-17 15:11] smarterclayton commented on #320
@deads2k is there any reason why the service account token for a cluster reader wouldn't be able to access pods?  Can you help debug here

[2015-08-17 15:26] deads2k commented on #320
Seems to be working fine:
[code]

[2015-08-17 15:28] deads2k commented on #320
@shilpapadgaonkar Can you show me the URLs you're requesting and the return codes you're getting back?  I wonder if you're accidentally specifying the namespace on your request.  You should be hitting `https://<yourip>:8443/api/v1/pods`.

[2015-08-17 16:49] vishh commented on #302
@mvdan: Did you make any progress on this?

[2015-08-17 17:02] mvdan commented on #302
I'll try to have a PR by the end of the day.

[2015-08-17 18:13] miheer commented on #320
I followed the instructions as per  https://docs.openshift.org/latest/admin_guide/cluster_metrics.html as a root i.e.system:admin user but, I'm been shown pods related to system:admin user and not the pods related to the user joe in the grafana UI.
I see  a tile in the grafana UI only for  node1 which has pods created by system:admin i.e root but, not node2 where pods of joe reside.

[2015-08-17 18:21] vishh commented on #277
Take a look at kubernetes cluster setup guides. You missed the section on "service accounts" most likely. It is supposed to be setup by default, but it requires enabling a plugin. Sorry for the confusion!

[2015-08-17 19:37] vishh commented on #474
@afein: Wanna give it a shot? ;)

[2015-08-17 19:40] afein commented on #474
sure, expect a PR within the week

[2015-08-18 05:58] mikedanese commented on #429
Please see doc on configuring kubernetes source: https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#kubernetes

[2015-08-18 13:48] biswars commented on #277
Thanks Vishh for pointing this out. I could proceed to the extent of setting up the service accounts with secrets but it seems I am still missing something to make it work. I am providing the the set up details (I know I need to struggle as am setting up locally but hopeful as it was working fine with earlier version of kubernetes).

Set up with observation:

$ kubectl get svc
NAME

[2015-08-18 16:57] vishh commented on #277
Have you looked at the [source config docs](https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#current-sources) in this repo?

[2015-08-18 23:15] #463 closed

[2015-08-18 23:15] vishh commented on #455
@wulonghui: Closing this issue, since its fixed in Kubernetes

[2015-08-18 23:15] #455 closed

[2015-08-18 23:17] vishh commented on #404
Kubelet exposes a read only port that exposes the '/stats' endpoint. Can you try accessing via that port?

[2015-08-18 23:39] vishh opened #481 "Support access to historical data via the model APIs"
Currently, heapster stores a day's worth of data in memory, as part of the model. The data stored in memory can be lossy (less precision to save memory). Heapster needs to provide access to historical data as well.
Some initial use cases for this data are:
1. Initial Resource Recommendations for Containers and Pods - this can be based on several parameters like docker image name, labels, etc.
2. V

[2015-08-19 07:26] a-robinson commented on #481
I hope you don't mind me playing devil's advocate -- why is storing historical data heapster's job? Isn't that the point of the sinks?

I do see a lot of value in being able to read historical data in a backend-agnostic way, but I have two thoughts on that:

1. We should be careful to avoid trying to do too much. Scope how many different kinds of data munging and aggregation we're willing to do. L

[2015-08-19 15:50] vishh commented on #481
The intention is to abstract storage backends. The backends can be InfluxDB, or hawkular or GCM.
The maintenance overhead is a valid concern. As of now the intention is to only support a few required backends (as mentioned above). The scope is limited to kubernetes metrics data required for various components like horizontal auto scaler, initial limits controller, scheduler, etc.
Having small micr

[2015-08-19 16:43] vishh opened #482 "Extend model support for non kubernetes clusters"
Heapster's model can be extended to support docker only clusters and fleet based clusters. This will provide ability to view resource consumption histograms of containers, groups of containers based on labels, suggest resource limits, monitor cluster usage and visualize usage via kubedash.

[2015-08-19 16:46] vishh opened #483 "Add support for labels in model"
Model needs to support label queries. To begin with, we can return usage of pods that match a label query. In the future, we can extend this to other controllers like daemon, replication, etc.
We can also attempt to sum the individual pod histograms to provide a usage histogram for a label query.
cc @afein

[2015-08-19 20:55] vishh commented on #481
One more points: The initial use cases demand access to usage histograms only. We can expand the scope to raw historical metrics if required in the future.

[2015-08-20 06:31] szubster commented on #302
Any news?

[2015-08-20 11:59] david-martin commented on #320
@miheer I'm seeing similar behaviour after following through that guide.
I set it up in the `default` project, and exposed a route for the grafana service.
In the grafana UI it shows only containers that are on 1 of the 5 nodes in this OSE install.

The filters for showing all container cpu usage look ok to me e.g. `pod_namespace =~ /.+/`

[2015-08-20 16:24] vishh commented on #481
cc @piosz @mwielgus

[2015-08-20 16:31] #204 closed

[2015-08-20 16:31] #198 closed

[2015-08-20 19:31] vishh commented on #175
cc @piosz.

[2015-08-20 19:32] #30 closed

[2015-08-20 19:38] vishh commented on #476
@piosz: This is a proposal for a more long term API. Kindly take a look.

[2015-08-20 19:41] vishh commented on #370
`1` through `3` is completed. `4` is still pending.

[2015-08-20 19:41] vishh commented on #367
@yoanisgil: Any progress on this issue?

[2015-08-20 19:42] #351 closed

[2015-08-20 19:44] vishh opened #484 "Integrate DayStore and StatsStore"
The model uses in-memory timestore for storing metrics as of now. This results in increased memory usage.
The newly added Day Store and Stats Store provide a memory efficient way for storing metrics.
The model should start using these new storage objects.

[2015-08-20 19:45] vishh opened #485 "Enable Derived metrics APIs in the model"
The model can provide mean, average and 95%ile for containers, pods, nodes and cluster. This data needs to be exposed via REST endpoints.

[2015-08-20 19:49] vishh opened #486 "Set error margin on Day Store"
Day Store internally uses Stats Store which provides a rolling window bucket based storage model. To improve memory utilization, we can set error margins  (eplison) for individual compute resources. Each resource belonging to a container is mapped to a Stat Store.
Here are some sample epsilon values:
1. Cpu - 50 milli cores
2. Memory - 4 MBytes
3. Disk - 10MBytes
4. Network - 10KBytes
5. Disk I/O

[2015-08-20 19:50] vishh commented on #486
#478

[2015-08-20 19:50] vishh commented on #485
#478

[2015-08-20 19:50] vishh commented on #484
#478

[2015-08-20 19:51] vishh opened #487 "Add integration tests for the model APIs"
The model API semantics are not tested anywhere as of now. The existing heapster API e2e tests can be extended to test model APIs as well.

[2015-08-21 06:30] dotNetDR opened #488 "in influxdb sink, why storage [metric cumulative value] at series?"
Can I choose to storage each metric an average value, from start to end of time?

cumulative value for grafana display is not friendly, Because it is always growing.

[2015-08-21 07:32] piosz commented on #175
I can take this (with medium priority).

[2015-08-21 07:32] piosz commented on #476
cc @fgrzadkowski

[2015-08-21 11:00] biswars commented on #277
Thanks @vishh . With the serviceAccounts set properly, could get the heapster up and running properly with master and single node. However, when I add one more node to the cluster (running only kubelet and proxy services) and heapster happens to run on that node, then I get the following error. (Note: I don't get any error and heapster runs fine with single node running on the master itself.).

co

[2015-08-21 11:35] mwielgus opened #489 "Panic when running with Kuberentes @ Vagrant"
[code]

[2015-08-21 17:10] vishh commented on #489
Thanks for reporting the issue @mwielgus. What version of heapster is this?

[2015-08-21 17:15] vishh commented on #277
Heapster is having trouble accessing the API server. Can you check
kube-proxy logs on the heapster node to ensure there are no proxy issues?

cc @mikedanese

On Fri, Aug 21, 2015 at 4:00 AM, biswars <notifications@github.com> wrote:

[2015-08-21 17:35] vishh commented on #488
Thanks for raising this issue! The answer is yes. Heapster already calculates instantaneous values. It should be straight forward to push instantaneous metrics. I would suggest sticking to the best available resolution.
The reason for storing cumulative is to give users the ability to shape the graph however they want.
Will you be able to post a PR @dotNetDR ?

[2015-08-21 17:50] mwielgus commented on #489
Custom build from head ~1 weak old.

[2015-08-21 18:19] wonderfly commented on #333
@vishh I encountered the same issue today. I am new to Kubernetes and followed the [getting started](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/gce.md) doc to start my first cluster on GCE. It started up correctly. However the pod(s) for heapster failed to get to the READY state in 50 minutes. I didn't have any customization to the configs.

What could go wron

[2015-08-21 18:30] vishh commented on #333
Can you post the output of following commands?
`kubectl describe rc --namespace=kube-system monitoring-heapster`
`kubectl describe pod --namespace=kube-system monitoring-heapster-v6-hld43`

On Fri, Aug 21, 2015 at 11:19 AM, Daniel Wang <notifications@github.com>
wrote:

[2015-08-21 18:39] wonderfly commented on #333
[code]

[code]

[2015-08-21 18:53] mwielgus opened #490 "Extract core api types so they can be used by Kubernetes."
K8s needs model_types.go (and maybe types.go) from api/v1.

[2015-08-21 18:55] mwielgus opened #491 "Remove dependencies on the non-existing Kubernetes packages"
[code]

[2015-08-21 21:05] afein commented on #485
Working on this as part of #478.
ETA: Tuesday

[2015-08-21 21:08] afein commented on #486
As of now, limits are being treated as metrics and they are, therefore, stored in a DayStore
I propose that, initially, we should utilize the same epsilon for usages and limits.
Then, after the current set of P0 issues is completed, we can edit the model to handle limits as constants, rather than timeseries.

[2015-08-21 22:09] wonderfly commented on #333
@vishh Do you have a guess what might be wrong? I modified `config-default.sh` to create 2 nodes and heapster was able to start.

[2015-08-21 22:14] vishh commented on #333
The pod seems to be restarting often. Can you post the output of `kubectl logs -p --namespace=kube-system monitoring-heapster-v6-hld43`?
I suspect either InfluxDB not up or memory issues. What version of heapster is this?

[2015-08-21 22:30] vishh commented on #486
Can you open a separate issue for handling limits?

On Fri, Aug 21, 2015 at 2:08 PM, Alexandros Mavrogiannis <
notifications@github.com> wrote:

[2015-08-22 03:29] alexmavr opened #493 "Handle metric limits in the model as constants"
Limits are currently handled in the model as timeseries, requiring storage through a DayStore.

However, we should expect limits to be constant at the level of Container and Node metrics.
We can only store the latest value of each limit, which can be then used during the aggregation step to calculate the limits of more abstract entities such as Pods, Namespaces and eventually LabelQueries/RCs.

Re

[2015-08-22 03:39] afein commented on #486
Opened limits handling as #493

[2015-08-22 20:38] afein commented on #489
could you please provide the commit hash for your HEAD?

[2015-08-24 03:20] dotNetDR commented on #488
Thank you for your reply.

I don't know how to find instantaneous values in that file.

is [/sinks/gcm/core.go](https://github.com/kubernetes/heapster/blob/release-0.16.0/sinks/gcm/core.go#L286) ?

[2015-08-24 09:15] shilpapadgaonkar commented on #320
@deads2k
I deleted all running pods, and redeployed the complete service and now I can see metrics of pods from all namespaces

[2015-08-24 18:15] vishh commented on #488
Yes. The implementation is currently local to GCM sink. We can move the
instantaneous metrics to be top level metrics instead.

On Sun, Aug 23, 2015 at 8:20 PM, dotNetDR_ <notifications@github.com> wrote:

[2015-08-24 21:50] #491 closed

[2015-08-24 22:01] mikedanese commented on #491
#492 is required but we should also use heapster's vanity domain when we go get:
[code]

[2015-08-24 22:04] mvdan commented on #491
@mikedanese `git grep 'github\.com/kubernetes'` shows no result. Where is that go get?

[2015-08-24 22:08] mvdan opened #495 "Add support for Go 1.5"
Once https://github.com/kubernetes/kubernetes/pull/13058 is merged, we can update the kubernetes dependency.

[2015-08-24 22:24] mikedanese commented on #491
@mwielgus 's command in this issue does a `go get github.com/GoogleCloudPlatform/heapster`

[2015-08-24 22:26] mvdan commented on #491
Oh right, your "we" confused me for a second :)

[2015-08-26 01:59] #488 closed

[2015-08-26 07:36] shilpapadgaonkar opened #500 "Network metrics always shows 0 bytes"
Hello,
The network/tx and network/rx always shows 0 bytes in the graph.

Thanks,
Shilpa

[2015-08-26 07:44] jimmidyson commented on #500
@shilpapadgaonkar This is a bug in cadvisor which kubernetes embeds - fixed in latest cadvisor yesterday, will try to get kubernetes godeps bumped today. See https://github.com/google/cadvisor/issues/822 & https://github.com/google/cadvisor/pull/865. This is due to a previous incompatibility with cadvisor & docker >= 1.7 when libnetwork was introduced.

[2015-08-26 20:01] #500 closed

[2015-08-26 21:27] sanjana-bhat opened #501 "/api/v1/model/metrics/ response is empty"
I am running heapster and I can see the metrics flowing to influxdb. But when I try to access the metrics using the following endpoint http://{master-ip}/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/model/metrics/ I get empty response. Same goes with /api/v1/model/namespaces/ and /api/v1/model/nodes/{node-name}/metrics

I use the following parameters  "--use_model=true","--model_re

[2015-08-26 21:29] vishh commented on #501
cc @afein

[2015-08-27 03:48] afein commented on #501
Do you get any response when accessing `http://{master-ip}/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/model/`?
Also, could you tell us the heapster version you're using through `kubectl logs <heapster-pod>`?

[2015-08-27 03:59] sanjana-bhat commented on #501
Yes, I do get response for `http://{master-ip}/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/model/`
`[
  "metrics/",
  "namespaces/",
  "nodes/"
]`

Heapster version `0.17.0`

I do see these errors in the log
`W0827 03:52:04.018268       1 impl.go:515] Internal Error: reached unreachable CPU Usage parsing flow
W0827 03:52:04.018483       1 impl.go:515] Internal Error: reached unrea

[2015-08-27 15:19] mwielgus commented on #490
Fixed with #494

[2015-08-27 15:19] #490 closed

[2015-08-27 16:25] shilpapadgaonkar opened #502 "Autoscale sink for openshift"
Hello @jimmidyson @smarterclayton

Is an autoscale sink similar to this

https://github.com/kubernetes/heapster/blob/master/sinks/gcmautoscaling/driver.go

on roadmap for openshift ?

Regards,
Shilpa

[2015-08-27 18:57] smarterclayton commented on #502
Yes - it would be through the hawkular sync.

[2015-08-27 18:57] smarterclayton commented on #502
@mwringe

[2015-08-27 19:57] mwringe commented on #502
As far as I can tell, the gcmautoscaling sink is just a scaled down version of the gcm sink. Its only meant to gather the specific metrics autoscaling needs (cpu and memory) instead of all the metrics.

The Hawkular sink is already storing all the metrics coming in from Heapster, so it has access to the same cpu and memory metrics.

Is there a link to a card for autoscaling in OpenShift you can po

[2015-08-27 20:05] vishh commented on #502
#481 talks about providing access to data stored in different storage backends via a common API. I would like to integrate hawkular support for auto-scaling through this mechanism.

[2015-08-27 21:42] mwringe commented on #502
Awesome :)

[2015-08-28 03:47] mvdan commented on #501
Edited the last comment to fix formatting.

@sanjana-bhat for multiline quotes, to keep newlines, use triple backquotes.

[2015-08-28 07:25] shilpapadgaonkar commented on #502
@smarterclayton : Is there some documentation explaining how openshift will use hawkular to implement auto-scaling. Is this the right place --https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/autoscaling.md

[2015-08-28 14:22] smarterclayton commented on #502
Yes, the OpenShift team members are trying to work with the autoscaling
team.  It's still in progress so unfortunately we don't have a single
document yet.

On Fri, Aug 28, 2015 at 4:26 AM, shilpapadgaonkar <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-30 08:50] plamer opened #507 "InfluxDB: Field label doesn't exist"
Hello,

I've managed to run Heapster with InfluxDB and Grafana on my testing kubernetes cluster but I'm still missing something - I get the cluster statistics, but not the pod's. Here is a screenshot from my dashboard: http://drive.cmailpro.net/~p.kalchev@icn.bg/protected/pwd/1fd655ce302b2e1b5427dd8faff985/Screen%20Shot%202015-08-30%20at%2011.37.56%20AM.png

Any idea what am I missing? Before swit

[2015-08-31 03:36] vishh commented on #507
The label format for `heapster` and `influxDB` has changed. Kindly take a
look at the respective pod labels and edit the Grafana graph config
appropriately. Sorry for the confusion. This was fixed upstream, but the
changes haven't been pushed to k8s v1.0.

On Sun, Aug 30, 2015 at 1:50 AM, Plamen Kalchev <notifications@github.com>
wrote:

[2015-09-01 00:45] sanjana-bhat commented on #501
Thanks @mvdan
@afein, is there something that I'm missing for the APIs to work?

[2015-09-01 01:05] afein commented on #501
Hey @sanjana-bhat, sorry for the delay. The internal error is actually not supposed to occur outside of unit tests, which is quite confusing. It represents a case where your CPU usage metrics are actually flowing into the heapster model backwards in time.

We are currently in the process of refactoring the underlying codebase of the APIs (#478) so this issue might only affect v0.17.0.

Can you try

[2015-09-01 01:11] sanjana-bhat commented on #501
Heapster RC:
[code]
I will try with the docker image located at `afein/heapster-model:latest`

[2015-09-01 01:50] sanjana-bhat commented on #501
@afein, I still see the same errors
[code]

[2015-09-01 01:52] sanjana-bhat commented on #501
Heapster service file:
[code]

[2015-09-01 02:03] afein commented on #501
There seems to be some sort of issue with the data that is being scraped from the nodes.
Could you let us know what version of kubernetes you are running through `kubectl version`?

[2015-09-01 02:24] sanjana-bhat commented on #501
kubectl version
[code]

[2015-09-01 20:44] jimmidyson commented on #320
@miheer @david-martin Would you be able to post the output of:

`oc describe clusterPolicy default`
`oadm policy who-can get nodes`
`oadm policy who-can get pods`

`oc get rc heapster -n default | grep serviceAccount`

[2015-09-01 20:45] jimmidyson commented on #320
Also:

`oc describe clusterPolicyBindings :default`

[2015-09-02 00:43] sanjana-bhat commented on #501
@afein
I cleaned up etcd to remove all the dead nodes and I don't see the cpu related errors. Also I explicitly create kube-system namespace as that was missing in etcd. After this, only `/api/v1/model/nodes/%node%/stats/` returns me non-empty response. All the other endpoints including `/api/v1/model/metrics` return empty response.

[code]

[2015-09-02 09:42] plamer commented on #507
Hey @vishh ,

Something like: "labels =~/k8s-app:heapster/"? In the web  Because that doesn't seem to work either.

[2015-09-02 14:12] piosz opened #509 "Possible race between Manager.Housekeep() and enternalSinkManager.sync()"
After PR #315 introducing cache for external sinks is introduced there is a possible race between goroutine that scrapes data from sources and the one that populates data to sinks. If the first one is slower than the second one no data won't be actually exported and all the time I can see in logs:
[code]

A possible solution to this problem is to replace the current implementation of cache with a

[2015-09-02 14:19] vishh commented on #507
Does this issue happen for cpu or memory?

[2015-09-02 14:25] plamer commented on #507
For both, the error is the same: label doesn't exist. This is the pod:

    [root@k8s-master ~]# kubectl --namespace=kube-system describe pod monitoring-heapster-v8-c4ms9
    Name:				monitoring-heapster-v8-c4ms9
    Namespace:			kube-system
    Image(s):			gcr.io/google_containers/heapster:v0.17.0
    Node:				.../...
    Labels:				k8s-app=heapster,kubernetes.io/cluster-service=true,version=v8

[2015-09-02 15:46] jimmidyson commented on #320
I've just put in a PR for some minor updates to the documentation - mainly updating to latest heapster release (0.17.0) & a necessary firewall rule on each node.

Deployed on 3 node cluster & all worked straight OOTB with no customisations.

[2015-09-02 21:02] mvdan commented on #509
I ran into the very same issue when adding `-race` to `go test` here: https://github.com/kubernetes/heapster/pull/504

[2015-09-02 21:03] mvdan commented on #489
Ping @mwielgus

[2015-09-02 23:10] vishh commented on #507
Do you have access to the Influxdb UI? The UI is available on port 8083 on
the influxdb service. You might have to make that service public to use the
UI.
Once you get to the UI, can you list all the distinct labels?

On Wed, Sep 2, 2015 at 7:25 AM, Plamen Kalchev <notifications@github.com>
wrote:

[2015-09-03 03:07] mvdan commented on #509
Confirmed it is fixed since the tests now pass with `-race` consistently.

[2015-09-03 07:29] sanjana-bhat commented on #501
@afein and @vishh
I increased the log level and noticed the model data structure is not being updated because of the following warnings "Internal Error: reached unreachable CPU Usage parsing flow" and hence no metrics seem to be added. After debugging I found out that prevRoundedStamp and roundedStamp values are the same and the following condition https://github.com/kubernetes/heapster/blob/maste

[2015-09-03 08:23] piosz commented on #509
I still can see a problem here. Let's call scraping goroutine S and populating goroutine P. Let's assume that poll_duration=1m and sink_frequency=2m.

S scrapped already data for time inteval [10:00, 10:01] and started scraping for [10:01, 10:02]. Right after P started populating data for [10:00,10:02]. It found only the first part of the data, populated them and marked [10:00, 10:02] interval as

[2015-09-03 13:16] mwielgus commented on #484
#508

[2015-09-03 13:19] mwielgus opened #513 "Add delete functions to Model/Cluster"
Subtask of: #475
Depends on: #508

Right now there is no convenient way of deleting old data.

[2015-09-03 13:24] mwielgus opened #514 "Add delete handler for Informer in newPodsApi (sources/pods.go)"
Subtask of: #475
Depends on: #508, #513

So that pod deletions handled by podApi are propagated to Model implementation.

[2015-09-03 13:28] mwielgus opened #515 "Periodically delete nodes, pods, namespaces for which there have been no metrics in the last N hours."
Subtask of: #475
Depends on: #508

[2015-09-03 13:59] huangyuqi opened #516 "Heapster cannot get metrics from other nodes"
I have a k8s cluster with one master and two nodes. I found that the **heapster can only get metrics from the node where its pod resides on, but cannot get metrics from other nodes**.
The err log says:
[code]
Does anyone else encounter the same problem? Any help or suggestions will be appreciated, thanks.

[2015-09-03 14:12] mwielgus opened #517 "In NodeInfo (Model storage) pods should be keyed with both name and namespace."
The issue is present in the old code as well as in #508

[2015-09-03 17:11] vishh commented on #516
Are the pods running on the other node? Is the other node in a `Ready`
state?

On Thu, Sep 3, 2015 at 6:59 AM, yuqi huang <notifications@github.com> wrote:

[2015-09-03 17:20] vishh commented on #509
Good catch @piosz! The race you mention does exist today.

On Thu, Sep 3, 2015 at 1:23 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-09-03 18:34] afein commented on #517
Node pods are currently keyed by concatenating the namespace and the pod name such as `default/frontend-xkyz`.

This assures no pod name collisions can occur, but it is not the cleanest way of exposing that information. A PodPath struct can be created to hold the pod's namespace and its name.

[2015-09-03 18:37] afein commented on #501
From my understanding, it appears that heapster is constantly reading 0 for cpu usage while parsing model data.

Can you try accessing
`http://{master-ip}/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/metric-export` and searching for cpu/usage values that are zero?

[2015-09-03 18:51] sanjana-bhat commented on #501
@afein, it does seem that way. But cpu/usage values are zero only for specific containers under /system.slice cgroup. But this shouldn't cause the API to return empty response at the cluster, node or namespace level right? Not all values are zero.

May be add a condition here https://github.com/kubernetes/heapster/blob/master/model/impl.go#L530 if(ok) so that nil pointer dereference doesn't occur?

[2015-09-03 18:54] mwielgus commented on #517
In updatePod (#508):
[code]
Does pod.Name contain in fact namespce + name?

[2015-09-03 19:00] afein commented on #501
@sanjana-bhat I added such a condition on #508, which is planned to be merged shortly.

[2015-09-03 19:06] afein commented on #517
actually you are right, pod.Name is the pod's name, as provided by the PodElement struct that is consumed from the cache.

The GetNodePods method manually constructs the `<namespace>/<podname>` path by calling the findPodNamespace method. Instead of that, we could directly key the NodeInfo.Pods map by `<namespace>/<podname>`

[2015-09-03 19:11] mwielgus commented on #517
I will have the fix in PR for #513 (which is based on #508).

[2015-09-03 20:11] sanjana-bhat commented on #501
@afein, I pulled in this condition in my heapster docker image and I see non-empty response for /metrics. Has /stats being removed recently? I built the docker image from the master branch.

[2015-09-03 20:28] afein commented on #501
@sanjana-bhat yes, the /stats endpoint has been removed temporarily to facilitate code review. It will be reintroduced in a future PR and it is definitely going to be included in the next heapster release.

Is everything else fully operational?

[2015-09-03 21:15] sanjana-bhat commented on #501
Great! Yes, everything looks okay now. Thanks!

[2015-09-04 12:48] huangyuqi commented on #516
Yes,all nodes works normally, some pods works on these nodes. I have entered the container, heapster can visit the kubelet's rest api of all nodes and get the metrics information.

[2015-09-04 15:03] plamer commented on #507
Hm.. am I looking at the right place? I'm searching in k8s database, with the following query:
http://drive.cmailpro.net/~p.kalchev@icn.bg/protected/pwd/27a14288a5d571af65969c580ea39e/Screen%20Shot%202015-09-04%20at%206.01.58%20PM.png

Can't see "label" field?

[2015-09-04 15:15] Naresht-vedams opened #519 "Unable to get grafana UI and Influx on 8086 port page not found"
I have a kubernetes single node cluster in ubuntu

_Node details_
**kubectl get nodes**
```NAME           LABELS                               STATUS```
```172.16.2.179   kubernetes.io/hostname=172.16.2.179   Ready```

I run this `kubectl create -f deploy/kube-config/influxdb/`

**kubectl -o wide get pods**
``NAME                     READY     STATUS    RESTARTS   AGE       NODE``
``heapster-j81xk

[2015-09-04 17:41] vishh commented on #519
Can you post heapster logs? Grafana should be accessible via the service IP
(`192.168.3.90` in your case).

On Fri, Sep 4, 2015 at 8:15 AM, Naresht-vedams <notifications@github.com>
wrote:

[2015-09-04 17:54] vishh commented on #516
If the pod and containers exist and heapster is able to reach the kubelets,
I don't expect any issues. As of now, heapster does not take into account
pod state from the Kubernetes API server. This might result in failures
until the pod is running or while it is restarting.

On Fri, Sep 4, 2015 at 5:48 AM, yuqi huang <notifications@github.com> wrote:

[2015-09-04 20:08] mwielgus opened #520 "Pods should be stored in one place, along with their metrics and other data."
Right now there is cache, model storage and store inside podApi's reflector.

[2015-09-04 20:54] vishh commented on #520
+1. In general we need a way for handling the lifecycle of entities like
pods, nodes and containers and efficiently communicating that across all
the internal modules.
The cache is meant to just be a temporary storage of data. It is not
expected to be the source for lifecycle events.

On Fri, Sep 4, 2015 at 1:08 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-09-04 21:24] mwielgus commented on #520
Unfortunately, the cache is used to populate the model storage so right now it is in fact a source/transmitter of pod lifecycle events.

[2015-09-04 21:35] vishh commented on #520
Yeah. What do you think about separating out lifecycle events from the
cache? The cache can be a consumer of the lifecycle events.

On Fri, Sep 4, 2015 at 2:24 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-09-05 05:11] Naresht-vedams commented on #519
@vishh

# iptables -n -t nat -L
```DNAT       tcp  --  0.0.0.0/0            192.168.3.203        /* default/monitoring-grafana: */ tcp dpt:80 to:10.20.0.72:56627```

* Grafana is accessible from 172.16.2.179:56627 but for 3000 port not accessible.
* Here I can't access private network like 192.168.3.90.

# kubectl logs heapster-66mz1
```I0905 05:02:37.712569       1 heapster.go:55] /heapster --sou

[2015-09-05 05:31] Naresht-vedams commented on #519
@vishh

You said in this video https://www.youtube.com/watch?v=SZgqjMrxo3g&feature=youtu.be

* For my case it is not displaying monitoring-grafana.

  **kubectl cluster-config**
``Kubernetes master is running at http://172.16.2.179:8080``
***cat ~/.kube/./config***
``apiVersion: v1``
``clusters:``
``- cluster:``
``    insecure-skip-tls-verify: true``
  ``  server: http://172.16.2.179:8080``
 `` na

[2015-09-05 10:24] NOX73 commented on #516
I have the same issue. I have three nodes, but it shows metrics only from two of those.

[2015-09-06 01:21] vishh commented on #516
Can you post heapster logs?

On Sat, Sep 5, 2015 at 3:24 AM, Alexander <notifications@github.com> wrote:

[2015-09-06 05:55] mvdan commented on #519
@Naresht-vedams edited your comments to fix formatting. For readability, use three backquotes around a multiline paste, not around every line.

[2015-09-06 09:40] NOX73 commented on #516
@vishh sure. I run heapster with influxsb & grafana:

[code]

[code]

[code]

It's a bit strange, but sometimes lookup to influxdb is failed.

[2015-09-07 06:01] Naresht-vedams commented on #519
@vishh

`curl http://172.16.2.179:8080/api/v1/namespaces`

for above URL  I am getting the response like this

[code]
But in heapster logs , it is trying to connect like `https://kubernetes/api/v1/namespaces` this so it is giving error. what I have to do to fix this.

[2015-09-07 08:01] renhuiyang opened #521 "Compile fail."
When i try to compile heapster on my local PC, it is failed. the log is

rm -f heapster
rm -f ./deploy/docker/heapster
go get github.com/tools/godep
GOOS=linux GOARCH=amd64 CGO_ENABLED=0 godep go build ./...
usage: godef [flags] [expr]
  -A=false: print all type and members information
  -a=false: print public type and member information
  -acme=false: use current acme window
  -debug=false: debug

[2015-09-07 14:03] mwielgus opened #523 "sinks/external_test.go is flaky"
[code]

[2015-09-07 14:18] mwielgus opened #524 "'Build finished. No test results found.' status set on test failure"
[code]

[2015-09-07 19:39] #484 closed

[2015-09-08 02:36] #521 closed

[2015-09-08 08:46] Naresht-vedams opened #526 "Grafana UI credentials failing"
http://172.16.2.92:8080/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana

When we browse through the above URL it is asking login credentials as I provided username and password from ~/.kube/config,no response when we try to login

**cat ~/.kube/config**

[code]
Does anyone else encounter the same problem? Any help or suggestions will be appreciated, thanks.

[2015-09-08 16:55] vishh commented on #526
Are you running using the config from heapster repo? If so, can you try
using `admin:admin` as described [here](
http://docs.grafana.org/installation/configuration/)?

On Tue, Sep 8, 2015 at 1:46 AM, Naresht-vedams <notifications@github.com>
wrote:

[2015-09-08 19:50] alexmavr opened #528 "Separation of model cache consumption and metric aggregation"
As of now, the model processes new metrics and performs the aggregation step during the Update operation.

This is problematic, as the same timestamp is used to track progress in both cases. This forces aggregated metrics to be calculated using only partial values of the last one resolution.

A much better approach would be to perform aggregation outside of the Update operation, using a different

[2015-09-08 20:23] vishh commented on #519
Have you set up kube-dns?

On Sun, Sep 6, 2015 at 11:01 PM, Naresht-vedams <notifications@github.com>
wrote:

[2015-09-08 20:30] #485 closed

[2015-09-09 02:37] sanjana-bhat commented on #501
@afein, when is the next heapster release? Can I expect these changes to be a part of that?

[2015-09-09 03:01] afein commented on #501
The /stats endpoints were merged today in master, so you should be able to access the full feature set by building the current HEAD.

I am not aware about the exact date of the next release (\cc @vishh), but any further changes until that release would most probably involve internal quality

[2015-09-09 03:57] huangyuqi commented on #516
@NOX73 Would you check the date of all the nodes? If the node's date is not synchronous with the node where the  heapster resided, the heapster cannot collect the metrics normally.

[2015-09-09 05:09] vishh commented on #516
You can run `kubectl describe` on the influxdb pod to figure out if it is
restarting. I notice a few issues.

1. Service accounts have not been setup. You can take a look at the source
configuration docs in heapster repo to get more info about this.

2. Watch for pods fails continuously. If heapster is not able to retrieve
pods, it will not collect any container stats belonging to pods.

Ensuring

[2015-09-09 05:10] vishh commented on #501
We are waiting on the issues that are part of [this](
https://github.com/kubernetes/heapster/milestones/Enable%20Model%20API)
milestone to be resolved before making a new release.

On Tue, Sep 8, 2015 at 8:01 PM, Alexandros Mavrogiannis <
notifications@github.com> wrote:

[2015-09-09 05:11] vishh commented on #475
@mwielgus: Has this issue been resolved by your recent PRs?

[2015-09-09 05:11] vishh commented on #486
@afein: Has this issue been resolved?

[2015-09-09 05:11] vishh commented on #487
@afein @piosz @mwielgus Is anyone planning on working on this?

[2015-09-09 05:15] piosz commented on #487
@jszczepkowski?

[2015-09-09 05:17] afein commented on #486
Yes, static epsilon configuration was resolved as part of #508.
More dynamic options could be explored for future milestones, if that is deemed useful.

[2015-09-09 05:17] #486 closed

[2015-09-09 05:21] afein commented on #487
I am currently busy for the remainder of this week. If noone else picks this up I could work on it over the weekend

[2015-09-09 05:23] vishh commented on #486
Thanks @afein. Feel free to file an issue if you have some thoughts on
dynamic epsilon config.

On Tue, Sep 8, 2015 at 10:17 PM, Alexandros Mavrogiannis <
notifications@github.com> wrote:

[2015-09-09 06:37] sanjana-bhat commented on #501
@afein, /stats gives average, max and 95th percentile over the past minute. Suppose time now is 23:30, /stats returns average for 23:29?

[2015-09-09 06:46] afein commented on #501
As of now, the model is updated roughly every 2.5 * model_resolution (which defaults to 2.5 minutes).

This means that the latest data available through both /stats and /metrics is the average for the last minute that is stored, which could be either 23:28, 23:29 or 23:30. If you are interested in the exact time, you can invoke the /metrics endpoint as well

[2015-09-09 06:48] sanjana-bhat commented on #501
I have specified model_resolution to 1 min. Is that considered or it always takes default?

[2015-09-09 06:52] afein commented on #501
The model_resolution flag is always considered, however 1 min is also the default value for model_resolution (https://github.com/kubernetes/heapster/blob/master/heapster.go#L43).

[2015-09-09 11:40] #509 closed

[2015-09-09 12:03] mwielgus commented on #513
Fixed with #522

[2015-09-09 12:03] #513 closed

[2015-09-09 12:04] mwielgus commented on #515
For now it is synced with cache:
#527 #518 #522

[2015-09-09 12:04] #515 closed

[2015-09-09 12:33] mwielgus opened #530 "LastSync value is sometimes broken"
External_test.go became flaky another time. From time to time last sync is set to incorrect value.

[code]

[2015-09-09 13:17] #530 closed

[2015-09-09 14:08] Naresht-vedams commented on #519
@vishh
Now I got it.
Thanks @vishh

[2015-09-09 14:10] Naresht-vedams commented on #526
Yes I am running the config from heapster repo....I tried admin:admin, but no luck......

[2015-09-09 15:13] NOX73 commented on #516
@huangyuqi you are right, after time synchronization and restarting heapster all goes wll, thanks.

[2015-09-09 16:29] vishh commented on #526
Are you able to view the Grafana UI? The login credentials I mentioned is
for Grafana itself. If you are having trouble accessing the API server
proxy, you can try making the Grafana kubernetes [service public](
http://kubernetes.io/v1.0/docs/user-guide/services.html#external-services).

On Wed, Sep 9, 2015 at 7:10 AM, Naresht-vedams <notifications@github.com>
wrote:

[2015-09-09 16:30] vishh commented on #519
Closing this issue.

[2015-09-09 16:30] #519 closed

[2015-09-10 15:59] mwielgus commented on #523
Fixed in #532

[2015-09-10 15:59] #523 closed

[2015-09-10 16:01] mwielgus commented on #475
Completed (for now) with #518 #522 #527

[2015-09-10 16:01] #475 closed

[2015-09-10 16:02] mwielgus commented on #517
Fixed in #522

[2015-09-10 16:02] #517 closed

[2015-09-10 16:04] mwielgus commented on #514
This can be postponed.

[2015-09-10 22:39] mwielgus commented on #487
I can take a look.

[2015-09-10 23:21] huangyuqi opened #535 "Running Heapster standalone on a machine"
Recently,I tested to run heapster standalone on a machine. It can work normally. Shall I take a PR to consummate the doc about this? https://github.com/kubernetes/heapster/blob/master/docs/standalone.md
Thanks.

[2015-09-10 23:28] vishh commented on #535
Yes please!

On Thu, Sep 10, 2015 at 4:21 PM, yuqi huang <notifications@github.com>
wrote:

[2015-09-10 23:40] huangyuqi commented on #535
Thanks. I will commit this PR today.

[2015-09-11 11:20] mwielgus opened #537 "Kube_events_test is flaky"
[code]

[2015-09-11 13:11] shilpapadgaonkar commented on #320
@detiber
You had mentioned here some time back about using an external influxDb.

"--sink=influxdb:http://ip-172-19-51-208.ec2.internal:8086"

Did you have to make sure of any pre-requisites (creating users, db, resetting any config files for auth) on the influxDb?

I am trying to now use an exterenal influxdb Vm and any hints would be very useful.

Thanks,
Shilpa

[2015-09-11 17:17] yuvipanda opened #538 "Add a graphite sink"
At wikimedia we still use graphite for metrics collection and I think that's not too uncommon elsewhere. Add a sink that sends metrics to graphite.

[2015-09-11 17:18] yuvipanda commented on #538
(I might get to this in a few weeks if nobody else does)

[2015-09-11 17:18] yuvipanda commented on #538
Also unsure if it should be a graphite sink or a statsd sink. Will investigate heapster more and update issue.

[2015-09-11 17:37] vishh commented on #538
Graphite support SGTM. I can help you with the integration!

On Fri, Sep 11, 2015 at 10:18 AM, Yuvi Panda <notifications@github.com>
wrote:

[2015-09-13 16:01] naxhh commented on #136
i've been playing with this a bit.

I'm just starting to play with mesos and marathon. And I don't find a way to retrieve public and private ip's from mesos.

Mesos REST API returns this information about slaves

[code]

Is not a lot, and is not enough to fill `nodes.Info`.
I've been checking the go library: https://godoc.org/github.com/mesos/mesos-go
But seems to be in really early stages, I don'

[2015-09-14 10:10] piosz opened #542 "Define an internal Spec and Stats API in source package"
To guard against changes in cadvisor API. Follow up https://github.com/kubernetes/heapster/pull/539#issuecomment-140020545

[2015-09-14 10:10] piosz commented on #542
I should do it during Kubernetes "code freeze" for 1.1.
cc @mwielgus @vishh

[2015-09-14 11:29] mwielgus opened #543 "Integration tests are hard too debug"
It is not clear what is going on here:

[code]
[code]

[2015-09-14 11:30] mwielgus opened #544 "Failed to store events in cache"
UID is somehow empty.

[code]

[2015-09-14 11:35] mwielgus opened #545 "Integration tests leave Heapster instances running and operate on default namespace"
All remainings of the test should be deleted after the run and they should have a separate namespace.

[2015-09-14 11:54] mwielgus opened #546 "Cache impl_test.go still flaky"
Despite #533
[code]

[2015-09-14 12:40] mwielgus opened #547 "Make integartion tests run in any zone"
Currently it is hardcoded to `"us-central1-b"` in `integration/heapster_api_test.go`

[2015-09-14 16:37] vishh commented on #136
@naxhh: If DNS were to be enabled, we can try to resolve the hostname to an IP. If the convention with mesos is to use the node IP as the hostname, then we can re-use the hostname as IP. But I am not sure if it will work everywhere.

+1 for integrating with zookeeper if that is the most convenient way to move forward.

[2015-09-14 17:54] vishh commented on #542
This is a very useful refactoring. In addition to k8s, it will help
integrating with docker and possibly other data sources.

On Mon, Sep 14, 2015 at 3:11 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-09-14 17:55] vishh commented on #543
Any suggestions for improving error propagation? We can encode the line
number or possibly log all errors as soon as they are noticed.

On Mon, Sep 14, 2015 at 4:29 AM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-09-15 10:06] mwielgus opened #551 "Model GetPodMetrics returns 1 TimePoint per minute even if the resolution is set to couple seconds"

[2015-09-15 10:09] piosz opened #552 "GCL sink doesn't work once the GCE token expires"
The token is not refreshed periodically and after some time it causes the following error:
[code]

[2015-09-15 12:17] mwielgus commented on #487
First test: #553

[2015-09-15 13:38] naxhh commented on #136
I've checked the setup at work. And hostname is not always an ip. Resolving the hostname to ip's is an option. I just wanted to make it as simple as possible.

Checking information from Zk.
[code]

This is the information from `/mesos/info_0000000001`, `/mesos/info_0000000002` This id's are auto-incremented so if you delete 01 and add a new slave01 you'll have 02.

The information I've found there