[2016-11-25 11:05] #709 closed

[2016-11-25 11:07] piosz commented on #710
Closing as obsolete

[2016-11-25 11:07] #710 closed

[2016-11-25 11:08] piosz commented on #775
Closing as obsolete

[2016-11-25 11:08] #775 closed

[2016-11-25 11:09] piosz commented on #787
fixed in #862

[2016-11-25 11:09] #787 closed

[2016-11-25 11:13] antoineco commented on #811
@piosz closing this as well, see #775

[2016-11-25 11:13] #811 closed

[2016-11-25 12:30] Crassirostris commented on #1373
@luxas Are you sure we're on the same page? Your PR is about the architecture, and the original question is about grafana version (3.1.1), which you didn't change

Please correct me if I'm wrong

[2016-11-25 13:03] piosz commented on #1128
fixed in #1332

[2016-11-25 13:03] #1128 closed

[2016-11-26 02:08] mingfang opened #1395 "Please publish heapster binary"
Currently most of the Kubernetes binaries are published for download here https://storage.googleapis.com/kubernetes-release/.

Please also add the heapster binary.

[2016-11-26 15:37] andyxning commented on #1343
Just to mention that i have write [eventarbiter](https://github.com/andyxning/eventarbiter) which utilizes `eventer` to filter event alarm. Have fun with it. :-)

[2016-11-27 16:55] mashayev commented on #1392
Hi,

I tried to upgrade the Heapster to v1.2, but I get this error
[code]

I used the latest yaml files from master [branch](https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb)

**My K8S version is 1.4.1**

[code]

My only change was in `heapster-deployment.yaml`:
[code]
I also tried to give direct link and not the `kubernetes.default`

Please assist.

[2016-11-27 19:00] Thermi commented on #1363
kubernetes 1.3, heapster 1.2 beta. cadvisor, as far as I am aware.

[2016-11-27 20:25] piosz commented on #1363
@Thermi we haven't tested Heapster 1.2 with Kubernetes 1.3. Do you have the same issue with Heapster 1.1 nad Kubernetes 1.3? Also could you please verify cadvisor output?

[2016-11-27 20:31] piosz commented on #1392
@mashayev I'll try to reproduce soon. Is there any reason why your are using cadvisor endpoint instead of summary api? The endpoint you are using is deprecated and supported only due to backward compatibility. It has negative performance impact both and kubelet nad Heapster.

[2016-11-28 06:00] mashayev commented on #1392
Historical reason(this is how it worked for us in Heapster 1.1), thought when i'm checking the files in [heapster-deployment.yaml](https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/heapster-deployment.yaml#L21), it configured without the `summary api`.

When changing the source to summary api as you suggested:
[code]

I'm getting this error:
[code]

[2016-11-28 21:50] timstclair commented on #1317
That check is accurate, the summary was introduced in `v1.2.0-alpha.8` (v1.2.0 was the first stable release that included it). I believe semver just does a lexicographical comparison for everything after the `-`. It looks like you're trying to build a custom version of the Kubelet? If so, a simple fix would be to just add a custom tag (e.g. `v1.2.0-patch-foo`), so long as it's ordered after alpha

[2016-11-28 23:26] DirectXMan12 commented on #1392
That looks like either you're not running in a Kubernetes pod, or something is wrong with your Kubernetes setup (since Heapster can't find the auto-injected service account secret).  Are you running with service account secret creation disabled?

[2016-11-28 23:37] DirectXMan12 commented on #1199
@piosz: this is #1199 ;-)

[2016-11-29 10:59] andyxning commented on #714
@jimmidyson  This should be addressed by #1364

[2016-11-29 11:31] piosz commented on #1317
Thanks @timstclair!
@tacy could you please try what @timstclair proposed? I'm closing this, please reopen in case it won't help.

[2016-11-29 11:31] #1317 closed

[2016-11-29 11:35] piosz commented on #1199
Ups! Sorry, I meant #1274

[2016-11-29 11:37] #714 closed

[2016-11-29 12:28] Thermi commented on #1363
We can't test heapster 1.2, because we need to use @AlmogBaku's new mapping.
heapster is running with "--source=kubernetes:https://kubernetes.default".

[2016-11-29 15:16] piosz commented on #1383
@AlmogBaku @andyxning is #1380 fixing this?

[2016-11-29 16:01] andyxning commented on #1383
I think so. I will try to make it tomorrow. The require is the same

[2016-11-29 16:38] #1390 closed

[2016-11-30 06:10] andyxning commented on #1383
@matthughes Do you mean that you want this behavior for both events(eventer) and metric(heapster)?

[2016-11-30 09:04] piosz commented on #1308
Sorry, this is out of the scope of Heapster. There is an effort in Kubernetes to support not only Docker as container runtime (see https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/container-runtime-interface-v1.md). I think we should rather add a functionality to CRI to proxy container runtime events to Kubernetes. You can reuse some Heapster code to create your own solution if

[2016-11-30 09:04] #1308 closed

[2016-11-30 09:10] piosz commented on #1274
@aleksandra-malinowska this is a good initial task in Heapster.

[2016-11-30 15:29] benpollard opened #1396 "Grafana Templating issue"
Hi All,

I've just installed the cluster-monitoring addon and noticed that the pods dashboard has an error. When you select an option in the namespaces dropdown it doesn't build the pod list based on this choice. Therefore I can try and view metrics for a pod in namespace b whilst I have namespace a selected in the dropdown. The query will then fail as is uses the selected namespace in the templat

[2016-12-01 19:27] Rizbe opened #1398 "Skipping rates for namespace"
CoreOS: 1235.0.0
Kubernetes: 1.4.4
Heapster:canary:latest

I have a 3 cluster setup and when I deploy heapster, I am getting the following error:

[code]

Due to the error above, it's not actually sending any metrics to InfluxDB

[2016-12-02 00:32] ezeev commented on #1361
Hi @mrcrgl ,

We maintain an image of Heapster that's packaged with a Wavefront sink. We also have a template dashboard you can use:
https://community.wavefront.com/docs/DOC-1204

I would love to sync up with you to help get this running. I'll also submit a PR with the Wavefront sink.

Thanks,
Evan

[2016-12-02 00:40] andyxning commented on #1356
It seems that memory usage metric for container also contains cache. This should also be fixed as now cadvisor has already contains this info about usage, rss, cache. Aso, with aufs, the page cache may be large. Maybe rss is the really useful metric to determine whether we should make more instances or enlarge memory request

[2016-12-02 13:49] matthughes commented on #1383
Both I would think.  It would be a configuration flag of the ES sink.

[2016-12-02 14:06] andyxning commented on #1383
This has been implemented in #1380. Please take a look and review it. :)

=======
Ning Xie

2016-12-02 21:49 GMT+08:00 Matt Hughes <notifications@github.com>:

[2016-12-02 18:19] piosz commented on #1398
As discussed on sig-instrumentation Slack channel this is probably a bug in CoreOS cgroups.

[2016-12-02 18:19] #1398 closed

[2016-12-06 08:31] rxwen commented on #657
I'm using kubernetes 1.4.4 with weave overlay network. And I encountered this problem too, how can I make it work?
I tried setting GF_SERVER_ROOT_URL to "/", but the grafana pages showed no metrics at all.

[2016-12-06 08:53] rxwen commented on #657
Never mind, my mistake. I can see metrics.
But I guess modify GF_SERVER_ROOT_URL isn't the desired way to fix the problem. Any better way when using weave network?

[2016-12-06 11:39] patagona-afriemann commented on #1329
We are pretty much having the same Issue. We had deployments configured with resource limits+requests and did not get any metrics with the heapster logs in the OP.

Removing the limits actually got us metrics, though heapster is still logging `No metrics for pod` every few minutes. The HPA is working now, however removing the limits seems wrong to me.

[2016-12-07 17:29] Crassirostris commented on #1179
@discostur To give you an update. I was trying to set it up several times, but turns out grafana is very badly suited for this. You can only easily use tags from `SHOW TAG VALUES` query, which doesn't support filtering by time explicitly.

I tried to use SELECT to extract tag values, but it's certainly not designed to work out of the box. It may be possible after all, but it's not an easy task to

[2016-12-08 04:21] zuomang opened #1403 "can't collect real metric of memory"
Env:
system: coreos
application: kubernetes v1.3.4

when i use heapster collect some metric from my kuberneters cluster, i found some container memory value is 0. So I send request to kubelet api, then response like it, as follows
![image](https://cloud.githubusercontent.com/assets/3816955/20997567/c59e0a28-bd41-11e6-95df-0e3ad039c14d.png)
the "/init.scope/system.slice/docker-...." and "/system.sl

[2016-12-08 08:03] andyxning commented on #1395
@piosz This is convenient for end users. I have no idea about whether there is a tool can help us  adding mac OSX and Linux binary release easily when releasing.

[2016-12-08 18:46] mashayev commented on #1392
Hi,
I've updated my K8S to 1.4.6 but it didn't fixed my problem, still seeing these errors:

[code]

Please assist.

[2016-12-08 19:50] DirectXMan12 commented on #1392
looks like your container networking might not be working properly (since your Heapster can't connect to your API server through the service proxy).

[2016-12-08 19:54] DirectXMan12 commented on #1395
@piosz what needs to be done to get these posted?  Who has access?

[2016-12-08 19:57] DirectXMan12 commented on #1403
this is a known issue with CoreOS when using the systemd-cgroups driver with docker.  It is recommended to use the cgroupfs driver instead.

[2016-12-08 19:57] #1403 closed

[2016-12-08 20:22] DirectXMan12 opened #1407 "Document Sink Owners"
We have quite a few sinks, and there are several more being proposed in PRs.  The main Heapster maintainers aren't necessarily familiar with all the sinks, so we should have one or two known "maintainers" for each sink.  If we can't find a sink owner, we should probably deprecate the sink unless someone steps up.

[2016-12-08 20:23] DirectXMan12 commented on #1407
These are the current likely candidates based on a quick check of git history.  The ones with `?` next to them I was unsure about, general due to lack of recent activity on the sink.  If you're on this list, please chime in and let us know if you're ok being pinged for reviews on the listed sink.

- ElasticSearch: @AlmogBaku / @andyxning
- GCM: @kubernetes/heapster-maintainers
- Hawkular: @burmanm

[2016-12-08 20:34] jsoriano commented on #1407
I wouldn't say that I'm actively maintaining the Riemann sink :) But sure, you can ping me if reviews are needed.
And in principle I could also help with Graphite sink if #1341 is merged. Maybe you can also ask to @theairkit after his great work reviewing and testing my PR.

[2016-12-08 20:35] DirectXMan12 commented on #1407
@jsoriano are you still using the Riemann sink?  If nobody is actively using it, we might want to put out the call for interest, and if nobody is interested, simply deprecate it.

[2016-12-08 20:45] jsoriano commented on #1407
We are using it to forward metrics to Graphite, but in parallel we are also testing the Graphite sink of the PR and we could really promote it in any moment and stop using the Riemann one, so no problem for me to deprecate it.
There is an open PR (#1339) by @shmish111 for the events sink, I don't know if he is using heapster with Riemann.

[2016-12-09 02:19] huangyuqi commented on #1407
Hi, @DirectXMan12 I can maintain ES and Kafka Sink;

[2016-12-09 02:54] ezeev commented on #1407
I'll maintain the Wavefront sink (once it is merged)

[2016-12-09 05:17] andyxning commented on #1407
@DirectXMan12 I may maintain InfluxDB, too. We currently use InfluxDB to store metrics internally.

[2016-12-09 06:12] petergardfjall commented on #1407
@DirectXMan12: I only submitted a small patch for a piece of code that wasn't working properly. I'm not sure who wrote the majority of the OpenTSDB sink, but I would assume that that person is a more suitable candidate.

[2016-12-09 07:22] mashayev commented on #1392
Hi,

I don't use `service proxy` in my ENV.
Just to be clear the heapster is from [release-1.2](https://github.com/kubernetes/heapster/tree/release-1.2/deploy/kube-config/influxdb)
My other pods are working great, dashboard, kube-dns and etc...

[2016-12-09 08:08] burmanm commented on #1407
@DirectXMan12 Yes, I can take care of the Hawkular sink (and I assume @mwringe will also)

[2016-12-09 08:10] theairkit commented on #1407
@DirectXMan12 I can take care of Graphite Sink, jointly with @jsoriano of course)
Also, I can do some tests and reviews for others sinks, if needed.

[2016-12-09 13:04] cheld commented on #1407
I think the Monasca sink could be removed, because support for Kuberentes has been added directly to Monasca.

WDYT?

[2016-12-09 13:12] mashayev commented on #1392
Issue was fixed by changing the `kubernetes.default` to the full dns name we use in our ENV.
Thanks for the help.

[2016-12-09 13:25] #1274 closed

[2016-12-09 15:35] AlmogBaku commented on #1407
Thanks for the honor 🗡

I'll be glad to do that :)

[2016-12-09 16:03] DirectXMan12 commented on #1407
I've updated the list above.  It seems Monasca and Riemann could soon become candidates for deprecation, although I'd like to hear from @shmish111 about the latter.  The original author for the OpenTSDB sink seems to have been @bluebreezecf, so if they're no longer interested, we may wish to consider our options for that one as well.

Ping @piosz @mwielgus any other comments?

[2016-12-10 01:17] timstclair opened #1409 "Cleanup Heapster Docker file"
- Heapster is already statically linked, so there there shouldn't be any need for glibc
- Use the scratch base image
- Is the hosts volume still needed? (`VOLUME /var/run/heapster/hosts`)

[2016-12-11 17:36] bluebreezecf commented on #1407
@DirectXMan12 I can take care of OpenTSDB sink. Sorry to reply so late.

[2016-12-12 05:55] maxott opened #1410 "Any plans to support Elasticsearch 5"
It appears that 1.2 can't connect to ES5

```E1212 05:24:11.987800     120 factory.go:75] Failed to create sink: Failed to create ElasticSearch client: no Elasticsearch node available```

It works perfectly fine for ES2. Unfortunately, some of my other components require ES5.

Any current plans to upgrade the ES backend?

[2016-12-12 15:54] DirectXMan12 commented on #1407
Thanks, I've updated the list.

[2016-12-13 06:44] dove-young opened #1412 "panic: runtime error: invalid memory address or nil pointer dereference -- kubelet"
Here is the command while running kubelet

[code]

Here is my OS info, and K8S version is <code>1.4.5</code>

[code]

[code]

Here is my kubeconfig.cfg

[code]

[2016-12-13 16:41] envintus opened #1413 "Heapster not logging kubernetes events"
We have a new GKE cluster setup and are using the InfluxDB sink with heapster. We see cpu, filesystem, network, memory, and uptime measurements as well as series in those measurements. However we do not have an events measurement. Heapster does not appear to be collecting k8s events.

We've tried doing several different things to generate events, which we do see in the k8s dashboard, but we do not

[2016-12-13 16:58] envintus commented on #1413
We realized that eventer needs to run as a separate container and have done so. We are now getting event data in InfluxDB. So this can be closed.

However, we only realized this after a lot of googling, because we could not find any mention of needing to do this in the heapster documentation. Relevant link that helped get the right manifest created for heapster: https://github.com/kubernetes/kuber

[2016-12-13 16:58] #1413 closed

[2016-12-14 14:34] AlmogBaku opened #1416 "New release?"
Kubernetes 1.5 is coming.. and we haven't released recently (although there were some big changes since last release)...

[2016-12-14 14:40] AlmogBaku commented on #1410
Upgrading to ES5 will break the current support of ES2...
I think that  for the time being we need to support both of the sinks version..

Also, It looks like we'll have to replace only the ES driver and not the eventer/heapster sinks, since it's modular.

Currently I don't have the time/resources to build the ansible script to install ES5, so I'll have to wait for ES team to update the script in

[2016-12-14 19:17] chulkilee commented on #1416
Please release new docker image as well - I do not want to use canary on non-dev clusters :)

[2016-12-15 03:29] zhaoguoxin opened #1417 "I use api to get data .but very confused ."
[code]

[code]

limit is 0 ,usage is not .  why ?

[2016-12-15 09:03] mpvaniersel commented on #566
It looks like I started working on this in parallel with @bavarianbidi. I can rework this in whichever way necessary to get this upstreamed.

[2016-12-15 13:15] mpvaniersel commented on #566
I'm comparing the two pull requests to see what I can learn here - The one of @bavarianbidi makes it possible to override the retentionpolicy selected when sending a batch of points (i.e. makes it possible to put measurements under a non-default policy), but still requires you to somehow create and set that non-default retention policy elsewhere. On the other hand my pull request is designed to ov

[2016-12-15 21:45] DirectXMan12 opened #1419 "Riemman client repository AWOL"
I just tried to do a `godep restore`, and was mildly disturbed to find that the repository for the client used for our Riemman sink has disappered: https://github.com/bigdatadev/goryman returns a 404.

I'm not entirely sure if there are any forks hanging around, but if not, we may wish to deprecate and remove the sink, since we can't get updates for the client.

CC @piosz @jsoriano @shmish111

[2016-12-16 18:12] AlmogBaku commented on #1416
@piosz ?

[2016-12-16 20:23] DirectXMan12 commented on #1412
This should be opened against https://github.com/kubernetes/kubernetes

[2016-12-16 20:23] #1412 closed

[2016-12-18 10:56] mashayev opened #1420 "Make "Refresh on load" for namespace and podname configurable in influxGrafana yaml"
Hi All,

Is it possible to make these `variables` to be `environment variables` so I can control them in `influxdb-grafana-controller.yaml` file?
From the code review I see these variable are hardcoded to `true` or `false`.

[2016-12-19 08:55] wojtek-t opened #1422 "Heapster should be using protobufs for communication with main apiserver"
Heapster is reading/watching a lot of data from main apiserver (especially in large clusters). To reduce the load both in heapster and in apiserver, we should use protobufs for this communication.

 If I correctly understand the code here in heapster, we are currently using these two binaries:
https://github.com/kubernetes/heapster/blob/e19c9fb0d78695ce02e34afc821be5525f70f1d7/metrics/heapster.go#

[2016-12-19 08:56] wojtek-t commented on #1422
@fgrzadkowski

[2016-12-19 16:00] jsoriano commented on #1419
Hi @DirectXMan12,

I had a local clone with all changesets, I have pushed it to https://github.com/jsoriano/goryman, we could use it while we deprecate the sink.

In any case, @cjgdev, as the last committer to goryman, do you know why the repository is not available anymore?

[2016-12-19 17:34] fwynyk opened #1424 "HPA and other metrics on InfluxDB + Grafana"
Hi,

Using InfluxDB + Grafana we only get resource metrics like CPU/Memory/Network/Filesystem. It would be very nice to have metrics like HPA statistics, number of healthy nodes/masters, rollout status, etc. I didn't find any informations in how to get these metrics from heapster to put into InfluxDB/Grafana.

[2016-12-20 02:02] sujithnss opened #1425 "heapster-riemann sink"
Hi

Im pretty novice to this platform. Here I'm facing an issue with the heapster-riemann sink as its throwing an error like image not found. But the similar sink with Influx/Grafana works well. Could you guys please advise.

I was running $ kubectl create -f deploy/kube-config/riemann/

Best Regards
Sujith P V

[2016-12-20 07:55] duttadeep55 commented on #293
Riemann

This sink supports metrics only. To use the reimann sink add the following flag:

--sink="riemann:<RIEMANN_SERVER_URL>[?<OPTIONS>]"
The following options are available:

ttl - TTL for writes to Riemann. Default: 60 seconds
state - FIXME. Default: ""
tags - FIXME. Default. none
storeEvents - Control storage of events. Default: true

[2016-12-20 10:01] ygtzf opened #1426 "The value of container_name in Influxbd is NULL insert by heapster."
Hi, I use heapster v1.2.0,  In influxdb, the table 'network/rx' and other table about network have no container name. the result as below:

[code]

I think this is useful for users.

How about you?

Thanks.

[2016-12-21 13:12] #1422 closed

[2016-12-22 14:30] AlmogBaku commented on #1416
@DirectXMan12 @piosz ??

[2016-12-22 18:40] #1383 closed

[2016-12-22 18:45] DirectXMan12 commented on #1426
IIRC, network is measured at the pod level, since all containers are in the same network namespace.  Ergo, no container name is recorded on network metrics.

[2016-12-22 18:45] #1426 closed

[2016-12-22 18:50] DirectXMan12 commented on #1420
which variable are you talking about?  Also, if they're sink-specific, they'd need to be sink URI parameters

[2016-12-25 08:55] sjpotter opened #1433 "labelSelector not working with heapster and hpa"
Following the example here I create a k8s deployment and an hpa

http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/walkthrough/

but it never gets metrics i.e. in events I see

Warning   FailedGetMetrics   {horizontal-pod-autoscaler }   unable to get metrics for resource cpu: no metrics returned from heapster

with some instrumenting I see the podautoscaler is calling

http://127.0.0

[2016-12-25 12:55] mashayev commented on #1420
I want to be able to change this parameter(Red circle). Not in the UI but when creating the POD.

![image](https://cloud.githubusercontent.com/assets/4586153/21471169/01305aba-cab1-11e6-8dc0-872dfa41c37e.png)

In the code I can see: https://github.com/kubernetes/heapster/blob/96d9dbf9ee20c200bb7703a8dff0b5ea7c1d1ba1/grafana/dashboards/pods.json#L977
For example for my case, I need this var to be a

[2016-12-25 18:39] sjpotter commented on #1433
In digging even deeper into heapster, I see that labels are handled by an embedded kubeclient wrapped in a caching layer of sorts, but dont have a good way of debugging it.  Really no clue what could be going wrong here besides the kubeclient not being setup correctly.

[2016-12-26 07:53] typhoonzero opened #1435 "Add nginx ingress controller monitoring sources"
We are using nginx ingress controller on our production environment. It's sometimes very important to have nginx status handy to find out what's happening on the nginx server, like the nginx connections count or requests per second. Before we moved to kubernetes, we have that metrics collected by `tcollector` and `ganglia`.

I've looked into the source code and docs, and did not find any instructi

[2016-12-26 09:43] jianzi123 opened #1436 "build heapster images from alpine 3.2 in v0.18.0，glibc show IO ERROR"
when I build heapster images from alpine 3.2 with heapster v0.18.0, show some errors below
-------------------------------------------------------------------------------------------------------------
[root@centos-minion2 heapster]# docker build -t gcr.io/google_containers/heapster:v0.18.0 ./deploy/docker/
Sending build context to Docker daemon  21.9 MB
Step 1 : FROM alpine:3.2
 ---> 7bed0150ea37

[2016-12-26 17:31] rikatz commented on #1410
@AlmogBaku Why it will break support to ES2? I think it's only something like pointing the lib contained here: https://github.com/kubernetes/heapster/blob/master/common/elasticsearch/elasticsearch.go#L25

To the v5 library, right?

I'll try to change the source code pointing to this new version, and see what happens. We did this earlier with telegraf and worked fine, the only real problem was with

[2016-12-26 19:03] rikatz commented on #1410
Guys, it's pretty simple to support Elastic v5. I did some simple tests here and it worked. I'm going to open a PR late tomorrow, to change the lib version (and some minor changes needed to make this work) and post here.

[2016-12-28 03:45] sjpotter commented on #1433
So as a followup, found this code

https://github.com/kubernetes/heapster/blob/master/metrics/apis/metrics/handlers.go#L245-L277

and the answer appears to be: this is due to heapster having a disconnect between its model and metrics api.

the model api will show pod level stats for any "containers" that kubelet's stats/summary api says belong to the pod.  However, the metrics api iterates over th

[2016-12-29 08:58] trentzhou opened #1438 "Json data corrupted while getting kubelet container stats"
Today I installed a kubernetes cluster with one master and two slaves following instructions at http://kubernetes.io/docs/getting-started-guides/kubeadm/ , then I deployed heapster following instructions at http://kubernetes.io/docs/user-guide/monitoring/ . I observed something weird.

[code]

When I opened my browser to access the grafana dashboard, I saw empty diagrams.
![empty_grafana](https://

[2017-01-01 16:25] AlmogBaku commented on #1416
what's going on?

[2017-01-01 16:25] AlmogBaku commented on #1416
Any update?

[2017-01-03 20:00] DirectXMan12 commented on #1416
We should have one soon.  Sorry for the delay.  Going forward, we'll have a better procedure for releases :-)

[2017-01-03 20:09] DirectXMan12 commented on #1438
That's... weird.  Presumably there's not a null byte in the JSON that json_reformat and/or is ignoring?

[2017-01-03 20:18] DirectXMan12 commented on #1435
We're not adding new sources at the moment.  In the future, such a usecase will be covered as part of the new monitoring vision by the third-party monitoring pipeline components (see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/monitoring_architecture.md)

[2017-01-03 20:18] #1435 closed

[2017-01-03 20:24] DirectXMan12 commented on #1420
Ah, it's a change to Graphana.  Those are mainly just examples, not really part of Heapster.  You can build your own Graphana image pretty easily to make that change.

[2017-01-03 20:26] DirectXMan12 commented on #1420
We'd take a pull request to make it an environment variable, though.

[2017-01-03 20:30] DirectXMan12 commented on #1407
@piosz  @fgrzadkowski ok to officially commit this list in the repo?  Thoughts on the deprecation?

[2017-01-03 20:32] DirectXMan12 commented on #1419
@jsoriano thanks for the repo save!  @piosz sound fine to substitute @jsoriano's repo in the mean time?

[2017-01-03 22:39] luxas commented on #1409
I have cleaned all images up PR https://github.com/kubernetes/heapster/pull/1387 for the other architectures, and it works fine when using those images.

 I think we should be able to just use my updated/alternative images all the time; for amd64 as well.

[2017-01-03 22:52] timstclair commented on #1409
Yes, those images are much better. Do we need the busybox base though? Can we get away with just using scratch?

[2017-01-03 22:59] luxas commented on #1409
I've heard @thockin pray earlier that there should always be a base image :)
We need busybox for grafana, but not really for the others.

What are your main arguments for ripping the base image away? Space? Security?
The downside is that it gets harder to debug at least

[2017-01-03 23:18] timstclair commented on #1409
Security. Debug-ability is definitely a legitimate concern, so we may want to wait for https://github.com/kubernetes/kubernetes/issues/27140 to land before moving to it. Either way, the images in your PR are a big improvement, so moving to scratch is lower priority.

The one other feature I would like to see is running as a non-root user, so we may want to add a user in the docker image to run as.

[2017-01-03 23:43] thockin commented on #1409
https://github.com/kubernetes/kubernetes/issues/10834

[2017-01-04 02:16] qianzhangxa opened #1440 "Why there is only one index in Elasticsearch when Heapster is integrated with Elasticsearch?"
Hi,

I am using Heapster 1.2.0 which is integrated with Elasticsearch 2.4.1 with "--sink" option, and I found there will be only one index in Elasticsearch for Heapster, like this:
[code]
However the index for Logstash is like this:
[code]
So there will be one index for Logstash every day. Can I configure Heapster to have the similar behavior with Logstash, i.e., have one index for each day? In th

[2017-01-04 07:09] zte-wangning opened #1441 "I would"

[2017-01-04 07:15] #1441 closed

[2017-01-04 07:41] zte-wangning opened #1442 "I would like to know if heapster supports average value"

[2017-01-04 08:21] mashayev commented on #1420
@DirectXMan12  Can you share the pull request?

[2017-01-04 10:41] AlmogBaku commented on #1407
@DirectXMan12 is that means we'll get writing privileges ?

[2017-01-04 20:48] DirectXMan12 commented on #1442
No, Heapster does not calculate averages.  You can calculate them yourself.  If your sink supports the Oldtimer interface (currently only InfluxDB), you can also use that to fetch averages.

[2017-01-04 20:48] #1442 closed

[2017-01-04 20:50] DirectXMan12 commented on #1440
@AlmogBaku / @huangyuqi / @andyxning

[2017-01-04 20:51] DirectXMan12 commented on #1407
It would be nice to get that, or something like the main Kubernetes repo OWNERS functionality.  I'll keep you posted :-)

[2017-01-04 21:06] DirectXMan12 commented on #1420
I think you may be misunderstanding me -- I was suggesting that if you, or someone else, submitted a pull request to make the change, we'd be happy to accept it :-)

[2017-01-05 10:54] piosz commented on #1416
I've published https://github.com/kubernetes/heapster/releases/tag/v1.3.0-beta.0

[2017-01-05 11:39] AlmogBaku commented on #1440
you should use the beta release

[2017-01-05 12:28] rikatz commented on #1440
@qianzhangxa I think that also that #1439 also 'solves' this, as the docs seems with some kind of problem.

I'm working also to update the library #1443 so ES 5 also works with heapster :)

[2017-01-05 12:37] discostur commented on #1179
@Crassirostris thanks for your update and your effort.

[2017-01-05 12:56] Crassirostris commented on #1179
@discostur There's a selector which results in needed information, but I still don't know how to make it work with Grafana template:

[code]

[2017-01-05 13:02] qianzhangxa commented on #1440
Thanks @rikatz !

So does that mean the next release (v1.3.0) will support ES 5 and it will create time-based indices in ES?

[2017-01-05 13:03] AlmogBaku commented on #1440
ES5 is still WIP, but I hope it will support it

[2017-01-05 13:05] rikatz commented on #1440
@AlmogBaku Thanks! Can you take a look on the PR #1445 as this is stopping the possibility to use ES5 library because of an issue with Godeps? Thanks!!!

[2017-01-05 13:07] AlmogBaku commented on #1410
https://github.com/olivere/elastic/issues/431

[2017-01-05 17:39] AlmogBaku commented on #1410
@rikatz the discussion on the issue above means that we need to create a different sink for es5; however all the drivers can be the same

[2017-01-05 20:06] piosz commented on #1407
As discussed offline SGTM

[2017-01-08 08:37] andyxning commented on #690
@vishh @mwielgus

I am now working on adding disk io stats metrics to Heapster. Did you have any thought about this? For example, which metrics should be collected and the metric names.

I  prefer to add both `read` and `write` bytes per second metric separately. With this original data, we can also get the aggregated bytes per second including both `read` and `write`.

[2017-01-09 12:15] Crassirostris commented on #1373
@piosz Since the comment

Can it be closed?

[2017-01-09 12:28] pineking opened #1449 "GPU metrics on kubernetes"
The GPU task will be supported on kubernetes soon.
I wonder how to add GPU metrics on heapster, so the users can view the usage of GPU information via Grafana+InfluxDB.

[2017-01-09 13:46] #1407 closed

[2017-01-10 04:25] andyxning commented on #1449
I am curious about this, too. IMO, this is mainly related to cAdvisor or libcontainer. Heapster is just collecting time series data from cAdvisor. :)

[2017-01-10 04:27] andyxning commented on #1449
It seems that @jianzhangbjz has already post an issue about this in [cAdvisor#1436](https://github.com/google/cadvisor/issues/1436).

[2017-01-10 05:45] pineking commented on #1449
@andyxning thanks for the correction. I will follow the cAdvisor issue.

[2017-01-10 08:41] #1280 closed

[2017-01-10 16:46] mccormd commented on #1311
Any chance of this going in?

[2017-01-10 17:49] kcrawley commented on #1311
The PR is waiting on me to look at a test failure. I'll look at this today.

[2017-01-10 18:32] kcrawley commented on #1311
Fixed the test failure, should be good to go now. Thank you for the reminder @mccormd

[2017-01-10 20:35] mihivagyok commented on #1440
Hello, do you know when v1.3.0 stable will be released?
Thanks!

[2017-01-11 07:35] VAdamec opened #1453 "Images tags not found"
Trying to start heapster with influxdb, but tags contain in master does not exists:

[code]

which tags can be used ? Or is Heapster just for Google cloud ?

[2017-01-11 08:05] tobad357 commented on #1453
We are also seeing the same issue, seems like they haven't been built and pushed yet

[2017-01-11 12:24] alirezaDavid commented on #1453
i have similar issue.

[2017-01-11 12:39] piosz commented on #1407
FYI @fgrzadkowski added all sink maintainers to @kubernetes/heapster-reviewers team.

[2017-01-11 16:10] VAdamec commented on #1453
With heapster-1.3.0-beta it works (https://github.com/kubernetes/heapster/archive/v1.3.0-beta.0.zip), I'm not getting graphs in kubernetes-dashboard, but I can see them via Grafana now. With yaml in master I can see metrics i dashboard, but cannot start grafana. I'll put it together and we will see ;-)

[2017-01-11 16:18] DirectXMan12 commented on #1449
we can reopen once cAdvisor gets support

[2017-01-11 16:18] #1449 closed

[2017-01-11 16:21] DirectXMan12 commented on #1373
Closing this due to the "All good" comment.

[2017-01-11 16:21] #1373 closed

[2017-01-11 20:41] piosz commented on #1395
How about doing it in https://github.com/kubernetes/heapster/releases? Is this sufficient solution?

[2017-01-11 20:41] #1392 closed

[2017-01-11 20:41] mingfang commented on #1395
Yes! Please.

[2017-01-11 20:42] #1365 closed

[2017-01-11 20:42] #1344 closed

[2017-01-11 20:51] piosz commented on #1417
Sorry, I really can't understand what you mean. Please reopen with better description of your issue

[2017-01-11 20:51] #1417 closed

[2017-01-11 20:55] piosz commented on #1424
Sorry, this is out of the scope of Heapster. There is a plan to build in 2017 infrastore - a repository of data about Kubernetes infrastructure which should have such metrics.

[2017-01-11 20:55] #1424 closed

[2017-01-11 20:58] piosz commented on #1425
We do not plan to maintain Riemann image. Also according to https://github.com/kubernetes/heapster/blob/master/docs/sink-owners.md we are planning to remove support for Riemann unless we will find owners for it.

cc @DirectXMan12 @jsoriano

[2017-01-11 20:58] #1425 closed

[2017-01-11 20:59] piosz commented on #293
According to https://github.com/kubernetes/heapster/blob/master/docs/sink-owners.md we are going to remove support for Riemann unless we will find owners for it.

cc @DirectXMan12 @jsoriano

[2017-01-11 21:04] piosz commented on #1436
Heapster  v0.18.0 is no longer supported. Please use a new stable release.

[2017-01-11 21:04] #1436 closed

[2017-01-11 21:05] piosz commented on #1433
@DirectXMan12 can you please take a look?

cc @jszczepkowski

[2017-01-11 21:07] #538 closed

[2017-01-11 21:09] piosz commented on #1438
@timstclair @dashpole do you know what can cause this issue?

[2017-01-11 21:11] piosz commented on #1419
@luxas did you have such problem?

[2017-01-11 21:14] luxas commented on #1419
No actually not, strange that Godeps worked for me. Or it failed on lots of other things that I'm fixing in PR #1454, but not this

[2017-01-11 21:28] piosz commented on #1395
@luxas

[2017-01-11 21:29] luxas commented on #1395
Yes, and for all architectures :)

That's just a matter of uploading binaries to Github, so that's easy

[2017-01-11 21:29] timstclair commented on #1438
Here's the relevant bit of the response:
[code]

I have no idea what would cause the invalid characters to show up in the name, but here are a couple notes:

- What is the dummy pod? Why is it running in the kube-system namsepace?
- We don't support docker 12, so that might be causing a problem.
- I suspect the problem will go away if you switch to the summary API (heapster source = `kubernetes.su

[2017-01-11 21:30] piosz commented on #1419
fixed in #1448

[2017-01-11 21:30] #1419 closed

[2017-01-11 21:32] #1311 closed

[2017-01-11 21:35] piosz commented on #1453
@Crassirostris could you please check this and build appropriate images if needed?

[2017-01-11 21:37] luxas commented on #1409
This is fixed now in #1387

cc @piosz please close

[2017-01-11 21:39] #1409 closed

[2017-01-11 21:39] luxas commented on #1453
@piosz @Crassirostris Please wait one second with this until we've got #1454 merged

@VAdamec @alirezaDavid @tobad357 These images were committed to the repo some days ago in #1387, and we will push the images soon. This all will be fixed with and will be a part of v1.3.

[2017-01-11 21:42] luxas commented on #1358
Is this fixed?

[2017-01-11 21:42] piosz commented on #1453
@luxas this is about old images. Once #1454 is merged we can release a new images.

[2017-01-11 21:44] luxas commented on #1336
This is fixed with #1387

[2017-01-11 21:53] luxas commented on #1453
v0.13.0 is new, but will directly be updated to v1.1.1
also v2.6.0-2 is old, we should just push what we have tested with heapster v1.3, and I'm sure these guys are happy with the latest and greatest stuff that works with heapster v1.3 :)

The plan is: heapster v1.3, influxdb: v1.1.1 and grafana v4.0.2, and that will happen soon

[2017-01-12 06:59] mrcrgl commented on #1361
Hi @ezeev,

Sorry for my late response. Please let me know how can I help you.

- Marc

[2017-01-12 08:20] piosz commented on #1197
It was done by @jszczepkowski here https://github.com/kubernetes/kubernetes/pull/28109 and then reverted here https://github.com/kubernetes/kubernetes/pull/30080 due to an issue with PetSet implementation.

[2017-01-12 08:46] #1336 closed

[2017-01-12 08:51] piosz commented on #1314
Closing as explained in #1335

[2017-01-12 08:51] #1314 closed

[2017-01-12 09:30] zte-wangning opened #1457 "I would like to know whether the values collected by Heaspter are averages over the sampling interval"
I would like to know whether the values collected by Heaspter are averages over the sampling interval and  can represent the average of the sampling intervals, or just a single point in the sampling interval. For example, set the heapster sampling interval to 1 minute, can the reported points represent the average of one minute? If the point can't represent the average,how can I get the average va

[2017-01-12 11:21] Crassirostris commented on #1358
@luxas No, I was swamped with other tasks and wasn't sure it's what the OP wanted

[2017-01-12 12:50] qianzhangxa opened #1459 "Failed to push data to sink: ElasticSearch Sink"
Hi,

I have configured Heapster (v1.3.0-beta.0) to integrate with Elasticsearch (2.4.1):
[code]

In Elasticsearch, I see there are some metrics sent from Heapster, but in Heapster's log, I can see some warnings like below:
[code]
It seems it will fail every 3 mins. Is there anything wrong in the options that I used to start Heapster?

[2017-01-12 13:23] piosz commented on #1459
@AlmogBaku / @andyxning / @huangyuqi

[2017-01-12 13:44] Crassirostris commented on #1453
The problem is that `grafana` image (not even `heapster-grafana`) of version `v2.6.0-2` was pushed to the kubernetes repo on docker hub, not to gcr

I pushed the following images to the gcr

[code]

Feel free to check and close this issue if no problems occur

[2017-01-12 14:08] piosz commented on #1453
Thanks @Crassirostris

[2017-01-12 14:08] #1453 closed

[2017-01-12 19:55] Crassirostris commented on #1358
@luxas Do you want it?

[2017-01-12 20:29] luxas commented on #1358
Not specifically, just checked the status.
Maybe the help-wanted label would make sense then?

[2017-01-12 20:40] Crassirostris commented on #1358
@luxas It's fine, thanks. I think I will be able to address this soon, in a week or so.

[2017-01-12 23:40] tonyjchong opened #1461 "Really confused about versions for monitoring"
Hi,

I have been reading docs and trying to get heapster, grafana and influxdb running on K8S 1.4.7 for the past few days and I'm guessing the versions of the publically published heapter-* containers on GCR might be outdated. Or, maybe just this one doesn't exist:

gcr.io/google_containers/heapster-grafana:v4.0.2

I'm pretty sure the version of heapster-grafana:v2.6.0-2 that is pubically accessib

[2017-01-13 00:26] andyxning commented on #1459
@qianzhangxa

Does the time of metrics successfully stored in ES sit between the ones for warning log or ahead of them.

ES sink will only try to store metrics to ES every 30s(according to your settings with `metric_resolution`) and the log should be recorded every 30s. According to your pasted log, it seems that you sample the warning logs, can you please paste the full log here.

* Can you pleas

[2017-01-13 03:22] qianzhangxa commented on #1459
Thanks @andyxning

Yes, I am sure that my ES is always in green state. And I have made `--v=4` and here is the full log:
[code]

[2017-01-13 05:20] qianzhangxa commented on #1459
It seems pushing data to ES took more than 20s, then a timeout (20s) was triggered which caused the following warning message to show:
[code]

[2017-01-13 06:29] VAdamec commented on #1461
This should be already fixed see #1453 also you can test v1.3.0-beta.0 this works for me, but I'm on version 1.5.1 so need to be verified for older versions. See my small [example](https://github.com/VAdamec/ansible-kubeadm-cluster) how to create small demo cluster to test functionalities.

[2017-01-13 07:11] andyxning commented on #1459
@qianzhangxa If that is true, maybe it is related with network between heapster and ES.

[2017-01-13 07:25] qianzhangxa commented on #1459
@andyxning I think the network between Heapster and ES is good. In my K8s cluster, Heapster is running in a pod on a worker node, ES is running in another pod on master node, they are in the same physical subnet. Here is the result that I ping ES from Heapster pod:
[code]

[2017-01-13 07:32] luxas commented on #1461
@tonyjchong Thanks for the issue and sorry for the confusion.
We're planning to make this clear with the v1.3 release, see: https://github.com/kubernetes/heapster/issues/1453#issuecomment-272007293

[2017-01-13 08:09] #1396 closed

[2017-01-13 08:52] luxas commented on #1416
@piosz Can you make a v1.3 milestone so we see what's left to merge into v1.3?
Can you release a beta.1 today as well? And while pushing the beta.1 images, please also push influxdb v1.1.1 and grafana v4.0.2 so we can test the influxdb deployment officially, it should "just work" :)

Lastly we also need to aggregate a changelog between v1.2 and v1.3.

cc @Crassirostris

[2017-01-13 09:03] #1461 closed

[2017-01-13 09:10] piosz commented on #1416
Added milestone. Will draft the new release early next week.

[2017-01-13 09:11] luxas commented on #1416
Cool, please add issues/PRs that you think should be in the next release to that milestone

[2017-01-13 11:55] andyxning commented on #1457
@zte-wangning

Heapster's metric values are collected from cAdvisor actually. cAdvisor reads and parses values from `cgroups` files at specified interval. So, the answer is values collected by Heapster are not averages over the sampling, they are just single points in the sampling interval.

If you want to monitor more precisely, you can adjust following command line arguments. For example, we col

[2017-01-13 11:58] piosz commented on #1457
@andyxning thanks for the answer
@zte-wangning pelase reopen in case of more questions

[2017-01-13 11:58] #1457 closed

[2017-01-14 12:14] DominicDV opened #1463 "images in grafana-deployment and influxdb-deployment dont exist"
Getting an imagepull error when using them in kubernetes.
https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb

When looking which images exist in the repository, then only an outdated one
https://console.cloud.google.com/kubernetes/images/tags/heapster-grafana?location=GLOBAL&project=google-containers

[2017-01-15 16:35] AlmogBaku commented on #1459
can you see the data in your kibana?

[2017-01-15 23:22] qianzhangxa commented on #1459
I do not have Kibana installed, but I can see the metrics when I call ES API. And when I switched back to Heapster v1.2.0, I do not see such warning message.

[2017-01-16 07:36] alirezaDavid commented on #1463
#1453 related.

[2017-01-16 07:53] alirezaDavid opened #1467 "error when open localhost:9090/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana"
Hi
i created heapster stack with `kubectl create -f heapster/deploy/kube-config/influxdb` on kubernets deployed on coreos.

LOGS:
`kubectl version`: `GitVersion:v1.5.1`
`kubectl cluster-info`:
[code]

`kubectl get pods --all-namespaces`:
[code]
`gcr.io/google_containers/heapster-grafana:v2.6.0-2`
`gcr.io/google_containers/heapster:v1.3.0-beta.0`
`gcr.io/google_containers/heapster-influxdb:v0.13.0`

[2017-01-17 03:23] pluttrell opened #1469 "Missing Heapster/InfluxDB/Grafana images"
The `README.md` in `/master` suggests that we should use the following guide to install with InfluxDB: [https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md).

That guide instructs us to execute `kubectl create -f deploy/kube-config/influxdb/` from the root of the repo. When doing so, the deployments created by the

[2017-01-17 10:44] jcooke89 commented on #1469
I'm experiencing the exact same issue

[2017-01-17 14:53] andyxning commented on #1293
@AlmogBaku @DirectXMan12

I think we should add an http server. As currently we add prometheus metrics to eventer, however we have not enabled an http server to serve `/metric` endpoint which makes adding prometheus metrics useless.

[2017-01-19 13:57] r0bj opened #1470 "handlers.go No metrics for pod"
heapster: 1.3.0-beta.0
kubernetes: 1.5.2
docker: 1.12.6
OS: ubuntu 14.04

I'm trying to use horizontal autoscaling feature for my logstash processing containers.
Deployment definition:
https://gist.github.com/r0bj/c787265c932ba8a1de1467cebd2a906d

So I run:
kubectl autoscale deployment logstash --cpu-percent=50 --min=10 --max=30

kube-controller-manager logs:
[code]

heapster logs:
[code]

[2017-01-19 15:03] jamtur01 commented on #1407
I'd be happy to take care of the Riemann sink.

[2017-01-19 23:06] mcorbin commented on #1407
I can take care of the Riemann sink too (i just need some time to dig into the code).

[2017-01-20 08:16] luxas commented on #1469
@Crassirostris Please push these images (grafana:v4.0.2 and influxdb:v1.1.1)

[2017-01-20 09:18] piosz commented on #1463
Closing as duplicate

[2017-01-20 09:18] #1463 closed

[2017-01-20 09:22] piosz commented on #1407
@jamtur01 @mcorbin please send a PR with appriopriate docs update

[2017-01-20 09:22] piosz commented on #1407
To be clear, one of you can do it. I doesn't have to be two separate PRs.

[2017-01-20 09:35] jsoriano commented on #1407
@jamtur01 @mcorbin great! If you have any doubt with the code of this sink I can try to help :)
There is currently an open pull-request for the events sink (#1339)

[2017-01-20 10:30] Crassirostris commented on #1469
@luxas @piosz will handle it

[2017-01-20 11:58] mcorbin commented on #1407
@jamtur01 @piosz I did a PR.

[2017-01-20 16:45] AlmogBaku commented on #1459
TBH, I don't really understand why this is happening.. especially since the pushing to the ES is async...

[2017-01-20 16:45] AlmogBaku commented on #1459
Also, I can't reproduce it

[2017-01-20 22:12] stresler opened #1474 "Heapster cannot write to influxDB"
I have deployed the indicated versions in the master influxdb manifests from here https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb

heapster:v1.3.0-beta.0 (from gcr.io)

heapster-grafana:v4.0.2 (from makefile)

heapster-influxdb:v1.1.1 (from makefile) (see issue #1453)

Heapster creates the k8s DB in influxdb
`I0120 20:34:05.196919       1 influxdb.go:209] Created dat

[2017-01-20 22:54] jackzampolin commented on #1474
It looks like Heapster is writing to the database with `rp=default` This might be the cause of the 500s.  Can you please check and see if you can connect to the database with the `influx` cli and run the following two queries?

[code]

[2017-01-20 23:17] stresler commented on #1474
Is this what you mean:

[code]

[2017-01-20 23:34] jackzampolin commented on #1474
It looks like the database got created with the `autogen` retention policy instead of the `default` retention policy. You can fix the immediate issue by creating the retention policy. `CREATE RETENTION POLICY default ON k8s DURATION 0d REPLICATION 1 DEFAULT`

[2017-01-20 23:44] jackzampolin commented on #1474
This issue should be resolved by [#1415](https://github.com/kubernetes/heapster/pull/1415) I just pulled down the latest `master` and all the `CREATE DATABASE` calls for Influx ([here](https://github.com/kubernetes/heapster/blob/master/events/sinks/influxdb/influxdb.go#L191) and [here](https://github.com/kubernetes/heapster/blob/master/metrics/sinks/influxdb/influxdb.go#L202)) explicitly create th

[2017-01-21 00:26] judexzhu commented on #1469
Excuse me , first all , thanks for all the contribute and your hard work , really great job,  and I'm stilling facing this issue, should I use the older version image and should I wait for awhile and it will be fixed really soon ? thanks

[2017-01-21 00:37] stresler commented on #1474
I have done this (default needs to be quoted for anyone else finding this), and grafana has started displaying data.

Still getting that 204 in logs, but I think I can maybe safely ignore that for now.

[2017-01-21 00:37] #1474 closed

[2017-01-21 00:52] stresler commented on #1474
Thanks!

[2017-01-21 01:01] idcrook commented on #1469
I was about to file an issue, but I discovered this one.  Noticed that the latest images are there on `gcr.io`, but have just moved into per-ARCH id's now. Hope that helps.  I'll submit a PR if that helps things along.

[code]

[2017-01-21 12:00] Crassirostris commented on #1469
@idcrook There's magic inside grafana and heapster makefiles, that will make them work without your change.

IIUC the problem is that this magic is incompatible with gcr, we're working on resolving this issue

@luxas Please correct me, if I'm wrong

[2017-01-22 01:59] AI-PaaS opened #1475 "heapster-grafana:v4.0.2 can not be found in the gcr.io/google_containers"
i can not docker pull this image

[2017-01-22 19:56] stege opened #1477 "getsockopt: connection timed out"
Hi,

I used kubeadm to install kubernetes on three nodes. I also installed weave as addon. So far everything works fine including the dashboard. But as soon as I follow the instructions to install heapster with influxdb (I had to use the fix from #1469 to even install it with the curren master version) the dashboard becomes unusable. It seems that almost every requests starts to timeout.

Accessin

[2017-01-23 04:18] judexzhu commented on #1477
I have the same issue with you , add the amd64 as #1469 said, either heapter timeout or Grafana time out with the Influxdb , looks like only one can connect to influxdb 8086 in the same time

2017-01-23T03:58:22.399761000Z I0123 03:58:22.397433       1 influxdb.go:231] created influxdb sink with options: host:monitoring-influxdb:8086 user:root db:k8s
2017-01-23T03:58:22.400195000Z I0123 03:58:22.3

[2017-01-23 08:29] piosz opened #1478 "Problem with pushing multi-arch images to gcr.io"
When I'm trying to push Heapster images after support for multiple architectures was introduced in #1387 I can see the following issue:
[code]

It seems that images for specific architectures was pushed but there is no generic image.

[2017-01-23 08:32] piosz commented on #1469
Apologies guys for the confusion. There an issue with gcr.io (#1478).  The images were pushed for specific architecture but there is not generic one. Please use the approach from @idcrook's https://github.com/kubernetes/heapster/issues/1469#issuecomment-274218852.

[2017-01-23 08:33] piosz commented on #1475
closing in favor of #1469

[2017-01-23 08:33] #1475 closed

[2017-01-23 09:03] luxas commented on #1478
I've contacted some gcr.io folks, I'm waiting for an answer from them.
It works fine on docker hub and _should work_ on gcr as well, but doesn't

Meanwhile, heapster-grafana-amd64:v4.0.2 is available

[2017-01-23 10:08] piosz commented on #1469
Closing in favor of #1478

[2017-01-23 10:08] #1469 closed

[2017-01-23 18:18] DirectXMan12 commented on #1293
That seems reasonable -- those two together seem sufficient justification.

[2017-01-23 18:20] DirectXMan12 commented on #1416
I'm working on a rebase right now as well.

[2017-01-24 02:55] andyxning commented on #1293
@AlmogBaku @DirectXMan12 I will make a PR later.

[2017-01-24 09:53] mlabouardy opened #1479 "Failed to pull the Grafana image"
I cant pull the image from the Google Container Registry,

`Failed to pull image "gcr.io/google_containers/heapster-grafana:v4.0.2": image pull failed for gcr.io/google_containers/heapster-grafana:v4.0.2, this may be because there are no credentials on this request`

[2017-01-24 10:12] piosz commented on #1479
see #1478
sorry for the troubles

[2017-01-24 10:12] #1479 closed

[2017-01-24 18:54] karunakar1122v opened #1481 "Heapster showing error 404 not found"
I had created master and 1 node...Kubernetes-dashboard,grafana ,heapster and influxdb running on node.but when I accessing heapster showing error 404 not found.
When I check influxdb URL also not hitting.
Please let me know what was the issue.

[2017-01-24 19:05] karunakar1122v commented on #1481
https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb
I installed using above comfigurations

[2017-01-24 19:38] jmn opened #1482 "Heapster InfluxDB sink fails silently with heapster-influxdb:v0.13.0"
commit 5bf0e3e9144c2b0d75e56a522da046e449060543 seems to break the heapster/influxdb/grafana example.

Specifically changing image:
        image: kubernetes/heapster_influxdb:v0.6
+        image: gcr.io/google_containers/heapster-influxdb:v0.13.0

Running influxdb v0.13.0 will cause the Heapster InfluxDB sink to fail (silently because there does not appear to be any error logging facilities.)

[2017-01-25 06:32] whereisaaron commented on #1482
@jmn the influxdb version has since been updated to v1.1.1. But the example is still failing for me too. heapster 1.3.0-beta.0 appears to be failing to write to influxdb v1.1.1

Failed the same way with heapster 1.2.0.

The influxdb log shows the create database went okay, but then 500 errors for POSTs from heapster:
[code]

The heapster log seems happy at start-up:
[code]

[2017-01-25 18:18] whereisaaron commented on #1482
This bug appears to have been discussed and resolved in #1474 (closed already so didn't spot it).

[2017-01-25 18:37] jmn commented on #1482
I think I provided the wrong version number of the InfluxDB in the issue report here. I think this report is actually regarding gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1 But at this point I am not actually sure. I deployed image: kubernetes/heapster_influxdb:v0.6 and it works on my cluster for now.

@whereisaaron Can you confirm a successful deployment of the examples as they are cur

[2017-01-25 18:38] whereisaaron commented on #1482
The [example](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md) failed for me to with the same 500 errors. This fix worked for me too.

I wasn't sure where to get the influx CLI client from, found it here: https://www.influxdata.com/downloads/

I made the following changes and it started working.
[code]

[2017-01-26 01:02] judexzhu opened #1485 "only one of them can connect to influxdb Grafana or heapster , the other will show time out"
Hi I use the most recent deployment for the heapster , but I faced a weird issue

only one of the heapster or grafana can connect to the influxdb , the other one will show time out

Log from the heapster

[code]

log from the influxdb

[code]

logs from the  grafana

[code]

looks like heapster is writing data in the influxdb , but grafana can not read it , also shows empty from the grafana dashbo

[2017-01-26 01:44] judexzhu commented on #1485
I also check the #1482 and #1475

here is my k8s retention polices

`> show databases
name: databases
name
----
_internal
k8s

Using database k8s

name    duration shardGroupDuration replicaN default
----    -------- ------------------ -------- -------
default 0s       168h0m0s           1        true`

[2017-01-26 03:57] jamtur01 commented on #293
@piosz @mcorbin and I are going to own the Riemann sink.

[2017-01-26 13:52] Demonsthere commented on #1481
Hi there,
I have the same problem, but from I can see here:
https://console.cloud.google.com/kubernetes/images/tags/heapster-grafana-amd64?location=GLOBAL&project=google-containers
The name of the container changed to heapster-grafana-amd64, but in the yml file there is still gcr.io/google_containers/heapster-grafana:v4.0.2

[2017-01-26 16:00] piosz opened #1487 "Remove GCE autoscaling metrics from GCM sink"
GCE Autoscaler is not support in Kubernetes for a while. Let's remove metrics exported to Stackdriver for its purposes.

[2017-01-26 16:31] alirezaDavid opened #1488 "grafanda dashboard error parsing query: found SELECT, expected ; at line 2, char 1"
I set kuberentes cluster and  `kubectl create -f deploy/kube-config/influxdb/`
`kubernets version: 1.5.2`

but when open dashboard i got this error:

[code]

my images:

`gcr.io/google_containers/heapster-influxdb:v0.13.0`
`gcr.io/google_containers/heapster-grafana:v2.6.0-2`
`gcr.io/google_containers/heapster:v1.3.0-beta.0`

![screen shot 2017-01-26 at 8 00 42 pm](https://cloud.githubusercontent.c

[2017-01-26 22:30] ottoyiu commented on #1467
same issue here with those version of images as well.

[2017-01-27 22:14] whereisaaron commented on #1488
Hi @alirezaDavid I don't know if either of these are your problem, but two things to check:

1) The image versions you quote is way older that current, maybe you cloned an old version/branch?
[Current versions](kubernetes/heapster/tree/master/deploy/kube-config/influxdb) are:
`gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1`
`gcr.io/google_containers/heapster-grafana-amd64:v4.0.2`
`gcr.io/

[2017-01-27 22:19] whereisaaron commented on #1481
Hi @karunakar1122v, the problem with the current image builds have caught me and a lot of people

1) The [current versions](kubernetes/heapster/tree/master/deploy/kube-config/influxdb) are:
`gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1`
`gcr.io/google_containers/heapster-grafana-amd64:v4.0.2`
`gcr.io/google_containers/heapster:v1.3.0-beta.0`
As you found, due so some image build bug, yo

[2017-01-27 22:29] whereisaaron commented on #1478
Another limitation of gcr.io is it doesn't have any human way to find tags. You can use `docker search` to find images, but then you need to using the API to find tags, e.g. `curl https://gcr.io/v2/google-containers/heapster-influxdb-amd64/tags/list`, these appear to be the current tags.

[code]

[2017-01-28 00:35] Crassirostris commented on #1358
Unfortunately, different efforts kept me busy and now I'm going out of office for a couple of weeks. Applying help-wanted label

[2017-01-28 01:45] whereisaaron opened #1491 "Love/hate relationship with setup_grafana.go in the sample image"
The sample [heapster-influxdb-grafana](https://github.com/kubernetes/heapster/commits/master/deploy/kube-config/influxdb
) deployment, images and [description](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md) are great. Many thanks to the authors.

I hit a couple of snags with the [`setup_grafana.go`](https://github.com/kubernetes/heapster/blob/master/grafana/setup_grafana.go)

[2017-01-28 19:36] alirezaDavid commented on #1488
@whereisaaron Thanks man, now it's work like a charm.

[2017-01-28 19:36] #1488 closed

[2017-01-29 11:56] kvz commented on #768
I'm new to his but I believe multiple instances of influxes would corrupt data if they both would write to the same thing. I think what you could do is create an awsElasticBlockStorw volume and point a single influxdb container to its volume-id. This should give persistence. And kubernetes should recreate a pod and remount that volume if it blows up. Just a few minutes downtime. Acceptable maybe

[2017-01-29 17:55] jbehrends opened #1492 "Graphite sink is not substituting "." in pod names with "_" resulting in extra groupings"
Image: heapster-amd64:v1.3.0-beta.1

Just setup the graphite sink and it works great with one minor exception.  When pod names are submitted as a metric name, if there is a "." in the name it's not being substituted with a "_" causing the pod name to be split up.

Example:
kubernetes.nodes.master01_domain_com.pods.kube-system.kube-scheduler-master01.domain.com.uptime

In the above example "kube-sc

[2017-01-30 08:18] karunakar1122v commented on #1481
Thanks for your reply...Will get back to you on this...Once I will try

[2017-01-30 12:12] karunakar1122v commented on #1481
Still I am facing issue Heapster failed to pushdata to sink:InfluxDb sink.
PFA logs screenshots of Heapster and InfluxDB.

![Uploading heapster.PNG…]()
![Uploading InfluxDb.PNG…]()

[2017-01-30 14:17] karunakar1122v commented on #1481
Hi Team,

Now I am able to see Graphs in Garfana.
Only issue is when I was working on autoscaling when I execute **kubectl get hpa** command always it showing below error.In below current always showing waiting.
name                        CURRENT     MINPODS   MAXPODS   AGE
student      50%        <waiting>   1         10        46m

[2017-01-30 14:17] karunakar1122v commented on #1481
Please anyone respond ASAP

[2017-01-30 15:15] lilnate22 commented on #1482
i am getting same issue (ish)

[code]

from my heapster... later on down the line:

[code]

[2017-01-30 16:42] DirectXMan12 commented on #1481
That usually means the kubernetes is not able to talk to your copy of Heapster.  Can you please show the events from your HPA object?  Is Heapster deployed in the right namespace?

[2017-01-30 16:44] DirectXMan12 commented on #1467
I don't think the Graphana dashboard is not designed to be accessed through the Kubernetes API server HTTP proxy, and will attempt to load it's resources from the root of wherever the paged is accessed through.  You should access it through its service IP instead (or through an Ingress object).

[2017-01-30 16:44] #1467 closed

[2017-01-30 17:01] DirectXMan12 commented on #1433
Yeah, do to current requirements from the consumers of the resource metrics API (the HPA), we need to have per-container usage stats (this is not strictly necessary, but it's how the HPA currently works).

What's the situation in your cluster in which cAdvisor is returning only per-pod usage stats?

[2017-01-30 20:01] sjpotter commented on #1433
I worked around it, but in a CRI environment, one doesn't necessarily have cadvisor running in a traditional way.  Ex would be in running the pod in its own VM where the hypervisor is running in the pod cgroup so can see its usage at the pod level, but the pod itself is opaque to the host.

[2017-01-30 22:47] naphthalene commented on #1142
Bump!

If needed, I can take a look at writing the sink.

[2017-01-31 00:26] alph486 commented on #1142
Definitely if you have time.

I recently haven't had time to think about it :-(

Thanks,
Kevin Kuhl
DevOps - WayBlazer Engineering
kevin@wayblazer.com

On Jan 30, 2017, 4:48 PM -0600, Pavel Sadikov <notifications@github.com>, wrote:

[2017-01-31 03:45] whereisaaron opened #1494 "The 'phantomjs' binary in the grafana 4.0.2 image won't run"
Using the `gcr.io/google_containers/heapster-grafana-amd64:v4.0.2` image there appears to be a problem with the `phantomjs` binary. The binary ships with grafana and is in the image but doesn't run with a 'not found' error. Perhaps a linking issue and a dependency is missing?

I get errors like these in the grafana log.
[code]

Checking the container the binary is actually there, but won't execute

[2017-01-31 19:17] DirectXMan12 commented on #1433
Hmm... ok.  Not sure how much we support such a setup where the stats provider doesn't get visibility into the pod.  cc @kubernetes/sig-node-feature-requests what's the current story around setups like that and/or around CRI and stats integration?

[2017-02-01 04:13] 0111sandesh commented on #1179
Any update on this issue? I have been facing same issue with Grafana and InfluxDB for EC2 instances where certain instances go down and new instances take their place with different ip.

[2017-02-01 06:55] Crassirostris commented on #1179
@0111sandesh No, no progress was made so far, my last update still holds

[2017-02-02 10:04] mortensteenrasmussen opened #1495 "InfluxDB yaml files doesn't work out of the box"
When trying to set up heapster using the influxdb docs, the default setup doesn't work. The images specified doesn't exist on gcr.io (they only exist on specific architectures, eg. `amd64`, `arm`, `arm64` etc.

I'm proposing to add a default value using the `-amd64` image in the YAML files since that exists, and I assume most people is running amd64.
Also if you _don't_ run amd64, you're generally

[2017-02-02 19:09] normanrz opened #1498 "Support for Kubelet authentication/authorization"
Currently, heapster only works with `kubelet`'s read-only port (default: 10255).
It would be great if it could use `kubelet`'s standard https port and authenticate with a client certificate.
To communicate with kubelets, the api server has `--kubelet-client-certificate` and `--kubelet-client-key` arguments.
See [kubelet documentation](https://kubernetes.io/docs/admin/kubelet-authentication-authori

[2017-02-03 06:18] TamalSaha commented on #1322
Closing this as we are pursuing Prometheus.

[2017-02-03 06:18] #1322 closed

[2017-02-03 08:20] piosz opened #1501 "Specify GCP project explicitly while using gcloud"
Follow up from https://github.com/kubernetes/test-infra/pull/1773

[2017-02-03 08:49] piosz commented on #1478
ping @luxas

[2017-02-05 15:54] pakuni commented on #519
Hey Naresht / Vishh, I am having the same issue what's the fix?

[2017-02-06 11:02] Naveen1186 commented on #519
Hi Naresht / Vishh, we are also getting same problem ,heapster is getting failed .

Below are our logs , could you please let us know the fix

53:36 PME0206 10:53:36.798791       1 reflector.go:203] k8s.io/heapster/metrics/processors/node_autoscaling_enricher.go:100: Failed to list *api.Node: Get https://Kubernetes.kubernetes:6443/api/v1/nodes?resourceVersion=0: dial tcp: i/o timeout2/6/2017 6:53:

[2017-02-06 11:04] Naveen1186 commented on #519
Also
 cat ~/.kube/config    result

apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    server: "http://kubernetes.kubernetes.rancher.internal"
  name: "Default"
contexts:
- context:
    cluster: "Default"
  name: "Default"
current-context: "Default"

[2017-02-06 11:04] luxas commented on #1478
Sent a PR: #1502

[2017-02-06 15:20] jlalouette opened #1503 "gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1 is not compatible with grafana-amd64:4.0.2"
gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1 is not compatible with grafana-amd64:4.0.2. You must use the following 0.7 version to get it work :
gcr.io/google_containers/heapster_influxdb:v0.7

[2017-02-06 15:21] Dmitry1987 commented on #1470
Hi @r0bj ,
did you find a solution?  I'm stuck with same.. heapster same version, but on k8s 1.5.1

[2017-02-06 15:26] r0bj commented on #1470
@Dmitry1987 unfortunately no, I didn't find any solution for that.

[2017-02-06 15:47] frankgreco opened #1504 "Docker Tags Don't Exist"
The following Docker images/tags don't exist anymore

`gcr.io/google_containers/heapster-influxdb:v1.1.1`

`gcr.io/google_containers/heapster-grafana:v4.0.2`

[2017-02-06 16:59] DirectXMan12 commented on #1470
What log level was Heapster running at?  Can you run at a higher one?  Did you see any messages about skipping rate calculations in your logs?  How about other errors?

[2017-02-06 16:59] DirectXMan12 commented on #1470
Do you have thin_ls enabled?

[2017-02-06 17:02] DirectXMan12 commented on #519
Please paste configuration and logs in a fenced code block so that they are actually readable.

[2017-02-06 17:11] DirectXMan12 commented on #1498
We should already do this if you enable the `kubeletHttps` option in the source config.  We appear to try to connect with the same client certificates that we use to connect to Kubernetes.

[2017-02-06 17:25] #566 closed

[2017-02-06 17:45] Dmitry1987 commented on #1470
I think it's because Rancher didn't installed cAdvisor on nodes... some post says they use "docker stats" directly for the dashboard, and 'removed cAdvisor' from installation since Rancher version 1.1 or something like that ...  will try tomorrow to setup cAdvisor sidecar on all nodes and see if it helps.

[2017-02-06 18:57] DirectXMan12 commented on #1470
yeah, I'm not sure how rancher works, but basically, Heapster gets its metrics via the Kubelet stats summary API.  Kubelet derives these stats via a built-in copy of cAdvisor, so I'm not sure how much good a sidecar cAdvisor will do.  Does Rancher just not support the HPA at all?

[2017-02-07 02:49] pramodshaw commented on #519
` Failed to list *api.Node: Get https://Kubernetes.kubernetes:6443/api/v1/nodes?resourceVersion=0: dial tcp: i/o timeout2/6/2017 6:53:36 PME0206 10:53:36.800519 1 reflector.go:203] k8s.io/heapster/metrics/processors/namespace_based_enricher.go:84:
 Failed to list *api.Namespace: Get https://Kubernetes.kubernetes:6443/api/v1/namespaces?resourceVersion=0: dial tcp: i/o timeout2/6/2017 6:53:36 PME020

[2017-02-07 02:49] pramodshaw commented on #519
`cat ~/.kube/config result

apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    server: "http://kubernetes.kubernetes.rancher.internal"
  name: "Default"
contexts:
- context:
    cluster: "Default"
  name: "Default"
current-context: "Default"`

[2017-02-07 02:50] pramodshaw commented on #519
Formatted the logs

[2017-02-07 09:13] Dmitry1987 commented on #1470
@DirectXMan12  seems like they don't, because my current setup is the "out of the box" latest Rancher 1.3 with latest Kubernetes from it's catalog (Rancher creates K8s infra containers from a template), and Heapster+grafana+influxDB  stack from catalog doesn't show/collect any pod stats. Grafana shows "node" stats though. so i'm trying to understand now how to make heapster receive it's needed dat

[2017-02-07 11:27] piosz commented on #1504
Closing in favor of #1420. In the meantime please use:
[code]
(or your architecture if you have something else than `amd64`).

Sorry for the confusion

[2017-02-07 11:27] #1504 closed

[2017-02-07 14:38] frankgreco commented on #1504
@piosz I will use the above tags.

However, this is still an issue because the Kubernetes manifests are wrong. The manifests are not usable out of the box.

[2017-02-08 11:10] #1495 closed

[2017-02-08 11:24] piosz commented on #1504
@frankgreco this should be fixed now by #1496.

[2017-02-08 11:26] #1492 closed

[2017-02-08 12:12] piosz opened #1507 "Make Heapster/InfluxDB/Grafana integration great"
The is a number of problems with InfluxDB and Grafana. We should make sure that the integration works well out of the box. Any help would be appreciated here.

This is an umbrella issue. Related issues:
#1375
#1376
#1420
#1481
#1482
#1485
#1491
#1494
#1503
#1507

[2017-02-08 12:18] piosz commented on #1507
@kgrygiel @mwielgus @DirectXMan12
@Demonsthere @jlalouette @jmn @jonaz @judexzhu @karunakar1122v @lilnate22 @mashayev @whereisaaron

[2017-02-08 12:33] jlalouette commented on #1507
Hi,

It seems that grafana does not support the latest versions of InfluxDB (Earlier than 0.9).
After a lot of test the only way I found to make heapster/grafana/Influxdb works with Kubernetes 1.4 is to use these versions :
(Be careful with the undescore)

INFLUXDB : `gcr.io/google_containers/heapster_influxdb:v0.7`
GRAFANA : `gcr.io/google_containers/heapster-grafana-amd64:v4.0.2`
HEAPSTER : gcr.

[2017-02-08 12:44] piosz commented on #1507
@jlalouette thanks for the update. Do you mean `heapster-grafana-amd64:v4.0.2` does not work with `heapster_influxdb:v1.1.1` or Grafana in general does not support InfluxDB in version 1.1? If the former this issue is about it, to make sure that our images play well together.

[2017-02-08 12:58] jlalouette commented on #1507
I don't know if grafana 4.0.2 support InfluxDB 1.1 out of the box. The grafana datasource doc ([http://docs.grafana.org/features/datasources/influxdb/]) if refering to InfluxDB 0.8.x and 0.9.x but nothing else.

What I do know is that `heapster-grafana-amd64:v4.0.2` does not work well with `heapster_influxdb:v1.1.1 `

[2017-02-08 13:06] jonaz commented on #1507
We are running influxdb v1.1.1 and grafana 4.0.2 in production with heapster 1.1 and its working fine.
Not using the heapster-grafana-amd64:v4.0.2 but a standalone grafana installation from rpm packages.

[2017-02-08 13:06] piosz commented on #1507
@bergquist does Grafana support InfluxDB in version 1.0+?

[2017-02-08 13:06] #1376 closed

[2017-02-08 13:13] jonaz commented on #1375
Those referenced commits can be ignored. I initially put the wrong issue number in the commit message.

[2017-02-08 13:32] piosz commented on #1507
Great! Then we need to make sure that our images play well together.

[2017-02-08 14:54] lilnate22 commented on #1507
@piosz  I was able to get it working via modifying deployments:

[code]

the charts seem to be loading now:
![image](https://cloud.githubusercontent.com/assets/882236/22742374/862ba8d6-ede4-11e6-97ce-04993cca3807.png)

i think we just need to PR to change the yaml files

[2017-02-08 14:55] bergquist commented on #1507
@piosz Should work fine :) Just poke me if you have any questions regarding grafana

[2017-02-08 15:34] jlalouette commented on #1507
@piosz Cool, what did you change in addition to the heapster update (1.3.0.beta.0 --> 1.3.0.beta.1) ?

[2017-02-09 12:59] r0bj commented on #1470
@DirectXMan12 yes I can see some skipping rate calculations in logs with `--vmodule=*=4`:
[code]

More logs with `--vmodule=*=4`:
https://gist.github.com/r0bj/5b89014cd7dd3f37cb70fa89f1ab6e8a

[2017-02-09 13:04] r0bj commented on #1470
I'm not using Rancher, just bare metal kubernetes installation.

[2017-02-10 05:23] jbehrends opened #1516 "Graphite sink - cluster.cpu.usage_rate is 2x the sum what of each node reports."
heapster-amd64:v1.3.0-beta.1

Graphite sink:

**kubernetes.cluster.cpu.usage_rate** is reporting a value double of **sumSeries(kubernetes.nodes.*.cpu.usage_rate)**

When comparing **.limit** and **.request** values the same way, they match.

[2017-02-10 09:52] tianshapjq opened #1517 "How to use influxdb data when accessing heapster rest api?"
I found something odd to me, maybe I set wrong configures when starting Heapster?
I configured the Heapster to use Influxdb using --sink="influxdb:http://localhost:8086" and it stored data to db successfully. But when accessing the Heapster rest apis, such as "/api/v1/model/namespaces/default/metrics/", it didn't show data from Influxdb. I looked into the source code, found that it queried data fr

[2017-02-10 11:12] rutsky opened #1518 "gcr.io/google_containers/heapster-amd64:v1.3.0-beta.0 image is missing"
Currently specified in [heapster-deployment.yaml](https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/heapster-deployment.yaml#L16) image `gcr.io/google_containers/heapster-amd64:v1.3.0-beta.0` is not available.
I changed `beta.0` to `beta.1`, and it worked for me: `gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1`

/cc @luxas

[2017-02-10 14:20] tianshapjq commented on #1517
The situation is, I want to query more than 15 collections of data which can up to about 24 hours. Is it possible to obtain such a long time data with just configuring the Heapster start parameters? Maybe querying data from influxdb would work this out?

[2017-02-10 17:05] jbehrends commented on #1517
Someone can chime in if I'm wrong..  I think heapster was designed to aggregate metrics from all nodes in a kubernetes cluster and expose them via an API, and was not designed to store any data.  The only thing I'm aware of that leverages the API is the kubernetes dashboard.

Your use case is where a "sink" comes into play.  If you have a sink configured such as influxdb, heapster will poll metric

[2017-02-10 19:57] xrl commented on #1518
Dropping the `-amd64` worked for me.

[2017-02-10 20:05] luxas commented on #1518
@rutsky That's right. Do you want to send a PR that updates it to v1.3.0-alpha.1?

[2017-02-11 01:27] tianshapjq commented on #1517
@jbehrends is there anything I can do to make Heapster querying data from influxdb but not memory cache? So that I can access the rest APIs of Heapster instead of influxdb.

[2017-02-11 02:53] jbehrends commented on #1517
No.  Heapster only pushes data to external destinations like influx, it can't query data back out.  In my environment I have heapster sending data to graphite, then I have dashboards setup to display the data.  The data is pretty much real-time and I have data as far back as I want.

[2017-02-11 21:14] rutsky commented on #1518
@luxas `alpha.1`? Why not `beta.1`? It easy to me to send PR, but I'm confused which version is correct?

[2017-02-11 22:25] luxas commented on #1518
@rutsky Sorry, that was a typo. `v1.3.0-beta.1`, yes please

[2017-02-13 06:57] tianshapjq commented on #1517
@jbehrends thanks, that really helps a lot :)

[2017-02-13 10:43] CBR09 commented on #1156
Hi, any workaround for that?. It will useful to me.

[2017-02-13 10:45] CBR09 commented on #1058
Hi, any workaround for that?. It will useful to me.

[2017-02-13 15:33] alexandrst88 opened #1521 "Support of Environment label"
We have few kubernetes clusters(dev, prod), and one tsdb cluster. Heapster runs on each cluster and send metrics to TSDB. Also, we deploy pod `example-app` on each cluster
Does Heapster support some tag, label or something which we will understand from which cluster metrics are coming(like env=dev, env=prod)?

[2017-02-13 20:04] DirectXMan12 commented on #1521
some of the sinks do, not sure about OpenTSDB.  Assigning to the sink maintainers: @bluebreezecf

[2017-02-13 20:05] DirectXMan12 commented on #1058
This sounds like a cAdvisor question, not a Heapster question -- does the node summary API report stats for your physical machines?  If not, you should file this against Kubernetes and/or cAdvisor.

[2017-02-13 20:06] #1517 closed

[2017-02-13 20:34] DirectXMan12 commented on #1470
Yeah, that message is actually logged from the API handlers when they can't find the info in the in-memory cache.

Heapster log shows this non stop:

If the Kubelet doesn't serve the summary API, there's not much we can do.  If the Kubelet does serve the summary API, then we have something to work with.  Is the Rancher Kubelet serving the summary API?

[2017-02-13 20:36] DirectXMan12 commented on #1470
@r0bj

`W0209 12:54:37.625232 1 listers.go:68] can not retrieve list of objects using index : object has no meta: object does not implement the Object interfaces`

If I had to guess, there's a version mismatch in your cluster, or something else is up -- the "skipping rate calculation" message you posted is generally caused by stub pod entries.

[2017-02-14 02:52] CBR09 commented on #1058
Yes, the cAdvisor has reported stats for my physical machines.
I got issue when my physical machine has multiple network interfaces, cAdvisor has reported network metrics of all network interfaces, but Heapster didn't, I don't know how to specify Heapster select right network interface.

[2017-02-14 08:21] Dmitry1987 commented on #1470
For me this was solved with Rancher 1.4.0  which brings new "stack" of K8s with it... after I updated the K8s components, suddenly Kubelets started collecting data and heapster filled influxDB with all metrics, now I have everything in Grafana :+1:  as expected.  Seems like Rancher devs put back the cAdvisor (in previous release it was without it, I've read on their forum).

but still sometimes I

[2017-02-14 10:04] theairkit commented on #1516
@jbehrends Hi, I'll see it!

[2017-02-14 13:29] jsoriano commented on #1516
In case it gives any clue... where I'm using the riemann sink to forward to graphite I also see this behaviour, `kubernetes.X.cluster.cpu.usage_rate` doubles any of the sums of nodes, pods or namespaces:
* `sum(kubernetes.X.nodes.*.cpu.usage_rate)`
* `sum(kubernetes.X.nodes.*.pods.*.*.cpu.usage_rate)`
* `sum(kubernetes.X.namespaces.*.cpu.usage_rate)`

@DirectXMan12 could you find someone to try it

[2017-02-14 15:50] DirectXMan12 commented on #1470
Stub pods are fake pod entries created when Heapster has some data from one source, but not from another.  They cause all sorts of issues, but you usually don't see them with the summary API

That *maybe* could cause issues... not sure.  Is the built-in Kube cleanup not working sufficiently?  Kube should do that stuff automatically as necessary.

[2017-02-14 15:55] DirectXMan12 commented on #1058
But, does the node summary API report the right thing (curl $NODE:10250/stats/summary or $NODE:10255/stats/summary)?  We just pull from the summary API more-or-less directly.

[2017-02-14 16:10] alexandrst88 opened #1522 "Heapster's memory/usage metrics count VIRT + RES"
Hi, memory/usage metrics counts  **VIRT + RES** memory by docker container(pod).

```11259 root      20   0 18.639g 1.541g   9836 S   2.0  2.5   2:36.79 java```

Which will be good to know only real memory usage of process(`1.541g`).

Does heapster support any metrics **RES** memory usage of process?

Thanks.

[2017-02-14 20:55] Dmitry1987 commented on #1470
oh, i totally forgot I've read somewhere about kubelet cleaning the host (but only when gets full, to thresholds, right?).... i need to remove my manual cleaner cron job for sure. thanks :)

[2017-02-14 21:00] r0bj commented on #1470
@DirectXMan12 In my case I don't do any manual cleanup. All k8s components are in version 1.5.2, docker is 1.12.6.

[2017-02-15 03:59] CBR09 commented on #1058
[code]
I can see cAdvisor has reported multiple interfaces in `network.interfaces`, but at the end of `network` I see one interface that I think heapster picked it.

[2017-02-15 06:03] pramodshaw commented on #519
`2017/2/14 上午6:33:49dnsmasq[1]: started, version 2.76 cachesize 10002017/2/14 上午6:33:49dnsmasq[1]: compile time options: IPv6 GNU-getopt no-DBus no-i18n no-IDN DHCP DHCPv6 no-Lua TFTP no-conntrack ipset auth no-DNSSEC loop-detect inotify2017/2/14 上午6:33:49dnsmasq[1]: using nameserver 127.0.0.1#100532017/2/14 上午6:33:49dnsmasq[1]: read /etc/hosts - 7 addresses2017/2/14 上午6:33:50dnsmasq[1]: nameserve

[2017-02-15 08:08] pluttrell opened #1526 "deploy/kube-config/influxdb/heapster-deployment.yaml references the incorrect beta version"
This file: `deploy/kube-config/influxdb/heapster-deployment.yaml` on line 16 refers to `image: gcr.io/google_containers/heapster-amd64:v1.3.0-beta.0` which is no longer available.

Switching to `image: gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1` resolves the problem.

[2017-02-15 08:57] theairkit commented on #1516
@jbehrends @jsoriano
Yes, looks like that is not any sink (graphite, riemann etc.) bug,
sink does not do any opertion with data, its only 'proxy' them...

You may create issue on heapster more generally, not 'sink-related'.

(Anyway, for now I'll investigating this behavior)

[2017-02-15 12:41] chenjian158978 opened #1527 "lvl=eror msg="Failed to send alert notification email" logger=alerting.notifier.email error="x509: failed to load system roots and no roots provided""
Following by [Run Heapster in a Kubernetes cluster with an InfluxDB backend and a Grafana UI](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md)

Using the newest image:

1. gcr.io/google_containers/heapster-grafana-amd64:v4.0.2
2. gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1
3. gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1

Rebuild the grafana image for adding

[2017-02-15 12:46] XiLongZheng opened #1528 "Missing google_containers/heapster-grafana-s390x image"
I could find below images for s390x, but could not find google_containers/heapster-grafana-s390x

root@ubuntu1:~# docker search gcr.io/google_containers/ | grep heapster.*s390x
google_containers/heapster-influxdb-s390x                                 0
google_containers/heapster-s390x                                          0

[2017-02-15 14:08] theairkit commented on #1516
@jbehrends @jsoriano
Seems like problem in cluster aggregator, watch PR: https://github.com/kubernetes/heapster/pull/1529

I think, this issue may be closed

[2017-02-15 18:48] DirectXMan12 commented on #1527
cc #1507

[2017-02-15 18:48] DirectXMan12 commented on #1507
(added another to the list)

[2017-02-15 19:01] DirectXMan12 commented on #1058
ok, so I also just noticed this:

That's a *really* old version of Heapster.  While I doubt this is a Heapster problem specifically, you should update so that we're working against an up-to-date Heapster.  If you're not already using the summary API source, you should be using that, and then get the results from `/stats/summary`.

[2017-02-15 19:32] lilnate22 commented on #1507
@jlalouette  nothing. just those and it seemed to work.

[2017-02-15 20:15] DirectXMan12 commented on #1522
Heapster reports the working set, and the total usage.  The summary API also sends us RSS, but we don't expose that currently (it would be a pretty simple patch to do so, though).

[2017-02-15 22:43] astropuffin opened #1530 "Secrets not redacted on startup"
Most people will run heapster as a pod within kubernetes itself. Most people will also have some sort of log aggregation service for all pods. This can be a problem because secrets are exposed on startup if you enable logging, and then stored for long periods of time.

[code]

Here are the relevant lines:
https://github.com/kubernetes/heapster/blob/master/events/eventer.go#L62
https://github.com/k

[2017-02-15 22:46] DirectXMan12 commented on #1530
We should probably get secret information as a Kubernetes secret object (pass in a secret name).

[2017-02-15 22:47] astropuffin commented on #1530
oooh yeah that could work. That way you know which are secrets, regardless of sink.

[2017-02-16 00:27] whereisaaron commented on #1179
How about creating a [continuous query](https://docs.influxdata.com/influxdb/v1.2/query_language/continuous_queries/) in InfluxDB (using the 'select from uptime' query approach above) to keep track of the live pods, and then querying that derived measurement in Grafana?

[2017-02-16 04:42] CBR09 commented on #1058
I've used heapster v1.2.0, but I got issue as I mentioned above, my heapster configuration is:
`heapster --source=kubernetes:http://kube-api.kube-system:8080?inClusterConfig=false&useServiceAccount=false --sink=influxdb:http://influxdb.kube-system:8086?db=${INFLUX_DB}&user=${INFLUX_USER}&pw=${INFLUX_PASS}`
I don't understand what you said about using the summary API source.

[2017-02-16 10:36] Crassirostris commented on #1179
@whereisaaron Sounds promising, could you please make a PoC in the grafana interface? The main problem I had is selecting data from query to the template.

If it works, I will be happy to help you contribute that change or to do it for you!

[2017-02-16 15:03] mwringe opened #1531 "[Hawkular Sink] The namespace metrics should go under the project tenant"
Currently the namespace metrics are ending up in the _system tenant. These should be stored in each individual project's tenant instead.

[2017-02-16 15:03] mwringe commented on #1531
@burmanm can you take a look if you have the chance?

[2017-02-16 15:44] burmanm commented on #1531
So, the reason is that we still use in the origin-metrics the pod_namespace label, which isn't stored when Heapster stores the namespace-level metrics:

https://github.com/kubernetes/heapster/blob/96d9dbf9ee20c200bb7703a8dff0b5ea7c1d1ba1/metrics/processors/namespace_aggregator.go#L60

And for that reason, the matching fails.

[2017-02-16 20:06] DirectXMan12 commented on #1530
It shouldn't be too hard to change over the various sinks (even without knowledge of how the particular sinks work).

We could either have heapster actually fetch the secret, or just rely on secret mounting, and have Heapster look in a specific (configurable) spot.

@piosz WDYT?

[2017-02-17 02:21] chenjian158978 commented on #1527
Change **smtp.skip_verify** from **false(defaults)** to **true** can fix my problem.

Read some details about adding alert notification:

1. [Alert Notifications](http://docs.grafana.org/alerting/notifications/#alert-notifications)

2. [SMTP settings](http://docs.grafana.org/installation/configuration/#smtp)

Here is the new file of run.sh

	#!/bin/sh

	: "${GF_PATHS_DATA:=/var/lib/grafana}"
	: "$

[2017-02-17 02:23] tianshapjq opened #1533 "How to use historical apis?"
I found that there are some apis about historical data in the source code, but no docs describing this. Is this a new feature that we decided not to expose yet? Or somewhere else I can read the docs?
I have to query the historical data, and it would be better to query directly form Heapster than db.

[2017-02-17 02:23] chenjian158978 commented on #1527
@DirectXMan12 Can you close this issue please? thx a lot.

[2017-02-19 05:36] tianshapjq commented on #1533
I found there are historical rest apis which can query data from the backend storages, like influxdb. The apis can just learn from the source code, seems no docs describing about this yes. I think this may be helpful for you @jbehrends

[2017-02-19 10:54] KarolKraskiewicz commented on #1481
Configuration files from:
https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb
have been updated and I verified they are working now.

Not sure how the **hpa** issue is related to heapster.  If hpa is still causing problems, it could be a better idea to open a separate ticket for that.

@karunakar1122v - is there anything else missing here or the ticket can be closed?

[2017-02-19 11:25] KarolKraskiewicz commented on #1482
Hi Everyone,

It seems the bug described here has been fixed and changes have been released within the new container: gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1

I verified, that last version of heapster/influxdb/grafana configuration:
https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb
which is using the new container, is working properly.

@jmn - is there an

[2017-02-19 11:58] KarolKraskiewicz commented on #1503
Hi @jlalouette

I understand you tried those images:
`gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1`
`gcr.io/google_containers/heapster-grafana-amd64:v4.0.2`
What is the compatibility issue you encountered?

I tried the same images together with:
`gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1`
And monitoring was working as expected.

[2017-02-19 14:00] jlalouette commented on #1503
hello,
grafana was not able to access influxdb database.
but i was using gcr.io/google_containers/heapster-amd64:v1.3.0-beta.0 instead of 1

-------- Message original --------
Objet : Re: [kubernetes/heapster] gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1 is not compatible with grafana-amd64:4.0.2 (#1503)
De : Karol <notifications@github.com>
À : kubernetes/heapster <heapster@noreply.git

[2017-02-19 19:18] KarolKraskiewicz commented on #1503
@jlalouette
Can you verify if the error persist with `gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1` and attach error log?

[2017-02-19 21:14] lilnate22 commented on #1482
@KarolKraskiewicz  after update to beta.1 no issues

[2017-02-20 08:57] jlalouette commented on #1503
Hi Karol,

I confirm that it works fine with gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1

Regards,

Johan

De : Karol [mailto:notifications@github.com]
Envoyé : dimanche 19 février 2017 20:18
À : kubernetes/heapster <heapster@noreply.github.com>
Cc : LALOUETTE Johan <Johan.LALOUETTE@canal-plus.com>; Mention <mention@noreply.github.com>
Objet : Re: [kubernetes/heapster] gcr.io/google_cont

[2017-02-20 11:16] aeoluswing commented on #1470
indeed,@Dmitry1987,i have been stuck this issue before and discover the 'broken metrics' matter about rancher-k8s(version1.1 or higher).The reason is just for the state collection method which via docker stat and container stat,but for heapster the more appropriate choice is cAdvisor(summary api for more efficient approach).after upgrade the rancher version deployed recently(v1.4 or v1.4.1),you ca

[2017-02-20 11:39] Dmitry1987 commented on #1470
Thanks @aeoluswing ,
as I mentioned, in rancher 1.4 the data is being collected properly, and Heapster+Grafan+InfluxDB stack from catalog works well. Regarding those logs:
[code]
I always see them.  Do you mean a redeploy/cleanup of etcd helps get rid of those?  cleanup sounds a bit frightening, as all K8s data stored in there :D  , what did you do when cleaning up etcd?

[2017-02-20 12:48] aeoluswing commented on #1470
@Dmitry1987,etcd records the registry kv info for k8s,my step just trigger this procedure,i suggest a data validation for cadvisor collecting metrics configurations,as we all known,cadvisor can collect any structured information(including name of metrics and regexps).Make sure cAdvisor application-metric labels(prefix is io.cadvisor.metric) contain the pod and container fields(i think these might

[2017-02-20 13:42] Dmitry1987 commented on #1470
Interesting... though I have no idea where cAdvisor hiding in those modified Rancher K8s images (they recompile some of the components, and put them all into custom special docker images), but it's worth to research. Thanks for the info @aeoluswing  :+1:

[2017-02-20 13:53] aeoluswing commented on #1470
My pleasure.Capturing different structured metrics is a very helpful for cluster research,especially on cluster performance and schedule.It's a  a piece of cake for discussion on any topic about k8s,docker and rancher.haha^_^

[2017-02-22 03:22] andyxning commented on #1293
@DirectXMan12 @AlmogBaku PR has been fired. PTAL~

[2017-02-22 09:24] tianshapjq opened #1543 "Heapster may lose other nodes' stats"
I found something that may cause losing data for the cluster:
If nodes in the cluster do not have the same system date, Heapster will lose some nodes' stats. Such as the system date which Heapster located at is larger than other nodes for 2 minutes, Heapster will lose all other nodes' stats.
Do we need to note this in the docs? Or we have any features to avoid this? I think this may be important f

[2017-02-23 01:33] mlmhl commented on #1470
Thanks @DirectXMan12

As you mentioned, the "skipping rate" message is caused by a version mismatch in the cluster, do you know witch version is mismated, the heapster vs. k8s or k8s vs. etcd?

And in this message the old create time is "0001-01-01 00:00:00 +0000 UTC", looks like not set.
According to my understanding, the metric data is retrieved from cadvisor, witch is embed in kubelet, are ther

[2017-02-23 06:40] #1518 closed

[2017-02-23 15:27] ajaybhande commented on #1154
I see same issue with Kubernetes 1.4.6 and Heapster 1.2.0. The /api/v1/model/debug/allkeys shows only node and cluster.
[
  "node:10.22.152.159",
  "cluster"
 ]

Heapster logs show something like below for Pod and proper number for Node:
reflector.go:403] k8s.io/heapster/metrics/heapster.go:319: Watch close - *api.Pod total 0 items received

What could be problem?
Thank you!

[2017-02-23 19:12] sputnick opened #1545 "Heapster will stop collecting cpu/usage memory/usage metrics but other are fine"
Heapster 1.2 and 1.3.1 beta seem to have this issue intermittently on k8s 1.5.x or in case of OSx kube-solo every time my laptop is put to sleep and woken up so k8s has to recover. It seems that other metrics keep working fine?

I'm using heapster with influxdb but restarting all the pods doesn't fix the problem. Is cAdvisor to blame or what could be happening?

[2017-02-23 19:16] sputnick commented on #1545
The heapster cluster service /metrics gives me this

`# HELP etcd_helper_cache_entry_count Counter of etcd helper cache entries. This can be different from etcd_helper_cache_miss_count because two concurrent threads can miss the cache and generate the same entry twice.
# TYPE etcd_helper_cache_entry_count counter
etcd_helper_cache_entry_count 0
# HELP etcd_helper_cache_hit_count Counter of etcd he

[2017-02-23 20:35] DirectXMan12 commented on #1482
closing (as it seems to be fixed)

[2017-02-23 20:35] #1482 closed

[2017-02-23 20:37] DirectXMan12 commented on #1533
That work went in place, but never really left alpha.  It's being deprecated in favor of the monitoring vision work.  While we don't have a direct replacement for it yet, we keep an eye in sig-autoscaling and sig-instrumentation in the 1.7 or 1.8 timeframe.

[2017-02-23 20:37] #1533 closed

[2017-02-23 20:38] #1527 closed

[2017-02-23 20:40] DirectXMan12 commented on #1058
so, to use the summary API, you need `--source=kubernetes.summary_api` instead.  It's newer and better maintained, and avoids a whole class of problems.

[2017-02-23 20:45] DirectXMan12 commented on #1470
I was referring to heapster vs k8s.

According to my understanding, the metric data is retrieved from cadvisor, witch is embed in kubelet, are there any wrong with kubelet?

That happens usually when heapster has to create a placeholder entry because it doesn't have some data when it needs it.

[2017-02-23 20:56] DirectXMan12 commented on #1545
what do the heapster logs say?

[2017-02-24 01:09] Resisty opened #1547 "Heapster/grafana missing nodes/pods"
Hello,

I'm trying to get heapster working:
Heapster v1.3.0-beta.0
Kubernetes 1.5.2
Docker 1.12.3
CoreOS 1221.0.0 (MoreOS)

I deployed heapster by cloning down this repository, checking out `release-1.2`, and running `kubectl create -f deploy/kube-config/influxdb/`

Once the pods/services start up, I *do* see data, but only partial compared to the full cluster. For example, `kubectl top nodes` sho

[2017-02-24 02:31] libn-net opened #1549 "When I use idea-go to start heapster.go, like this:"
C:\dev\idea-go\bin\runnerw.exe C:/dev/FrameWork/go/go1.7.5\bin\go.exe build -o "C:\Users\libn\AppData\Local\Temp\Build heapster.go and rungo" C:/dev/idea_workspace/gopath/src/k8s.io/heapster/metrics/heapster.go
# command-line-arguments
metrics\heapster.go:187: undefined: setupHandlers
metrics\heapster.go:195: undefined: newAuthHandler
metrics\heapster.go:201: undefined: newAuthHandler

go version

[2017-02-24 03:10] #1438 closed

[2017-02-24 16:15] manuelschellenberg commented on #1179
@whereisaaron any progress on that?

[2017-02-24 16:53] Resisty commented on #1547
So I noticed when reviewing everything that the node creation times differed according to which nodes were showing up and which weren't; the two youngest nodes, which had been recreated several times since experimenting with heapster, were showing up in grafana but the older ones, which were created well before heapster was deployed, were not.

Terminating the nodes and letting them spin back up s

[2017-02-24 18:49] whereisaaron commented on #1179
Hi @manuelschellenberg yes I looked at it and the [influxdb query syntax](https://docs.influxdata.com/influxdb/v1.2/query_language/) and I fear it may be dead end. The problem is that the output of the [continuous query](https://docs.influxdata.com/influxdb/v1.2/query_language/continuous_queries/) must be another measurement. And that measurement has the same problem that queries must return at le

[2017-02-24 18:52] sputnick commented on #1545
I tore down the cluster :/ - will test some more and update the ticket when I can replicate again.

[2017-02-24 20:25] DirectXMan12 commented on #1543
clusters tend to not react well in general to differing times.  I was under the general impression that you need to have system time synced across your cluster for Kubernetes in general to work properly.

[2017-02-24 20:27] DirectXMan12 commented on #1545
closing based on Slack conversation -- this might be due to having a collection interval below 30s, which can interact poorly with cAdvisor, which may jitter it's collection interval up to 30s.

[2017-02-24 20:27] #1545 closed

[2017-02-24 20:39] DirectXMan12 commented on #1549
something is not set up properly with your IDE -- it looks like it's not pulling in the rest of the packages in the project, if I had to guess.  Take a look at the Makefile do see how we normally build Heapster.

[2017-02-24 20:39] #1549 closed

[2017-02-25 06:48] andyxning commented on #1543
Agree with @directxman12. Time synchronization for all node in a distributed system is necessary and a preliminary.

[2017-02-26 10:53] tianshapjq commented on #1543
@DirectXMan12 @andyxning thx, I just thought if it's neccessary to note in the docs?

[2017-02-26 14:11] andyxning commented on #1543
@tianshapjq I am afraid that we may not add this to docs. @DirectXMan12 any thoughts?

[2017-02-27 04:31] TracyBin commented on #1218
hi, i face the same issue. would you please solve the problem?

[2017-02-27 16:04] DirectXMan12 commented on #1218
While it's technically possible to run Heapster outside of a Kubernetes cluster, it's more complicated and error prone.  You should run it inside the cluster in a pod (probably created through a replicationcontroller or deployment) instead.

[2017-02-27 16:04] #1218 closed

[2017-02-28 08:54] xiangpengzhao commented on #1058
This issue may be due to cAdvisor. See my [comment](https://github.com/google/cadvisor/issues/1593#issuecomment-282978990) of the issue posted by @CBR09 in cAdvisor repo.

@ckleban @DirectXMan12

[2017-02-28 16:12] fragtom commented on #1459
Update with elasticsearch 5.2

[code]

exactly every minute the push fails.. But on kibana data are visible, exactly grouped on timestamp

[code]

[2017-02-28 16:14] fragtom commented on #1459
![bildschirmfoto 2017-02-28 um 17 14 31](https://cloud.githubusercontent.com/assets/586528/23413589/6adfddc2-fdd9-11e6-9d4d-2a9130fa920d.png)

[2017-03-01 16:03] fragtom commented on #1080
Having same issue - just default and kube-system displayed. @mwielgus - where to find "templates" - could find out location of namespace templates.

By adding query-parameter var-namespace e.g.

`?var-namespace=dev`

we are able to drill in the namespace.

[2017-03-01 19:52] sjezewski opened #1553 "Grafana -- Problem! the server could not find the requested resource"
Using the manifests at https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb

I've spun up the monitoring components. These all seem to be running ok ... (logs below). However navigating to the grafana dashboard I only see an alert that says 'Problem! the server could not find the requested resource'

In particular it looks like an XHR request is failing.

The request / re

[2017-03-02 06:46] CBR09 commented on #1058
@DirectXMan12 I've tried summary API, but I still got issue.
@xiangpengzhao : thank you, I see it

[2017-03-02 22:09] sjezewski commented on #1553
So after some fiddling I was able to connect to the influxDB pod and run the sanity check suggested in the other thread, but not sure what to make of this. I'm connecting via kubectl port-forward and when I issue the queries that process outputs a new log line ... so as far as I can tell it really is connecting. However the db/policies don't seem to be setup at all?

[code]

It's possible I'm not

[2017-03-02 23:00] sjezewski commented on #1553
Ok, the DB is there and the policy is set to the default policy. Just took me a moment to parse those results.

In this case ... I'm not sure where the issue lies.

The only thing I can think of that might be a 'non standard' k8s deployment is that in lieu of setting up DNS, when deploying I set the private DNS flag w kops and am using an /etc/hosts hack to allow kubectl to connect. All my other s

[2017-03-02 23:27] sjezewski commented on #1553
Ah!

Instead of the one requested by XHR:

`http://localhost:8001/api/dashboards/home`

If I hit this URL:

`http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/api/dashboards/home`

I see a valid response:

[code]

So it seems like this is an issue w rewriting the paths properly. I think I saw a different issue about this somewhere.

But ... always happy for a po

[2017-03-03 00:53] sjezewski commented on #1553
Ok, got something working.

As in #657

I was getting the links improperly rewritten. My GF_SERVER_ROOT_URL is set to "/"

... which is presumably why it didn't work when accessing it via the kubectl proxy.

It works just fine if I use kubectl portforwarding and access that way. E.g.

[code]

And then hitting localhost:3000

Honestly I'm not sure which access pattern is the 'recommended way', but

[2017-03-03 00:53] #1553 closed

[2017-03-03 01:38] TinySong commented on #1474
i get the same issue,  when execute "CREATE RETENTION POLICY default ON k8s DURATION 0d REPLICATION 1 DEFAULT", got another error: ERR: error parsing query: found DEFAULT, expected identifier at line 1, char 25, anyone help me

[2017-03-03 01:43] jackzampolin commented on #1474
@TinySong You need to submit the query like so:

[code]

[2017-03-03 02:53] tianshapjq commented on #1547
maybe you have to check the synchronization of the cluster time, can take a look at my issue #1543.
Wish it would help.

[2017-03-03 12:35] JamiKarvanen opened #1554 "Problem with empty io.kubernetes.container.terminationMessagePath tag when using OpenTSDB sink"
Heapster outputs metrics with an empty io.kubernetes.container.terminationMessagePath tag, which makes OpenTSDB unable to accept those. Heapster should report the default path (/dev/termination-log) or there should be a way to omit empty tags completely. Or am I missing something?

[2017-03-03 18:38] DirectXMan12 commented on #1554
we should probably skip empty metric labels in the OpenTSDB sink, then.  Assigning to the OpenTSDB maintainer.

[2017-03-03 18:38] DirectXMan12 commented on #1554
cc @bluebreezecf

[2017-03-04 00:40] krzyzacy opened #1556 "ci-heapster-canarypush seems broken for a long while"
[code]

any ideas?

[2017-03-05 05:22] wuzesheng opened #1557 "Heapster cannot access apiserver"
Hi there,

Recently, I initalled the latest heapster on my kubernetes cluster, but the heaper prints the following error logs repeated:

[code]

Anyone can help?  Thanks in advance

[2017-03-06 20:17] yukiman76 commented on #1553
sjezewski That worked for me as well

[2017-03-08 16:52] dynek opened #1565 "Other types of sources?"
Hello,

Not an issue per-se but rather a question to which I can't seem to find any answer.
Is heapster able to read metrics from anything else than cadvisor?
api-server, etcd and kube-dns (maybe others) expose prometheus like /metrics and I wanted to know if these are fetchable using Heapster?

Thanks for the great work guys!

[2017-03-09 07:01] chengzhang1016 opened #1566 "None `secure-port` was opened in heapster container"
Problem Describtion:
None `secure-port` was opened in heapster container

How to reproduce:
1. Start kubernetes with DNS.
2. Build binaries and images, deploy heapster, influxdb and grafana in kubernetes
3. Check status of pods (heapster, influxdb and grafana), svc and endpoints.
[code]
4. Check ports status:

Actual result:  Heapster start with `--secure-port=8443`, but no 8443 port was opened.
[

[2017-03-09 07:30] mdshuai commented on #1566
@DirectXMan12

[2017-03-09 09:24] pramodshaw commented on #1433
similar issue, I am facing. How to fix this?
![1](https://cloud.githubusercontent.com/assets/17613381/23743860/39c67c68-04d8-11e7-8772-4c57b678ace7.jpg)

[2017-03-09 15:17] AlmogBaku commented on #1459
es 5 is not officially supported yet

[2017-03-09 19:58] DirectXMan12 commented on #1566
`--secure-port` only affects the apiserver mode -- you'll need to run with `--api-server`

[2017-03-09 20:03] DirectXMan12 commented on #1565
Heapster only reads from Kubelet, actually.  Kubelet re-serves the cAdvisor information in a different format.

If you want to fetch the `/metrics` endpoint metrics, you'll have to have something else fetch them (e.g. Prometheus itself, or another tool that speaks prometheus format).

[2017-03-09 20:03] #1565 closed

[2017-03-09 21:00] DirectXMan12 commented on #1557
is other pod networking working fine?  Can you reach the master from other pods?

[2017-03-09 23:54] nikolay commented on #1142
It seems neither Amazon, nor Google has any interest in first-class AWS support of Kubernetes...

[2017-03-10 06:05] mdshuai commented on #1566
@DirectXMan12 --api-server : Enable API server for the Metrics API. If set, the Metrics API will be
served on --insecure-port (internally) and --secure-port (externally).

There is no  ```--insecure-port``` in [help info](http://pastebin.test.redhat.com/463317), it's same with ``` --heapster-port```? Need we update help info or rename heapster-port?

[2017-03-10 06:39] tianshapjq commented on #1557
Did you take the right apiserver security port? IIRC, the security port will be 6443 usually.

[2017-03-10 07:51] chengzhang1016 commented on #1566
@DirectXMan12
Hi, Solly,
Today, I tried starting heapster with `--api-server` or `--api-server=1`, both didn't open `secure-port` in heapster container.
[code]

[2017-03-12 00:48] #1293 closed

[2017-03-14 16:32] burmanm commented on #1531
Fixed here instead: https://github.com/openshift/origin-metrics/pull/319

[2017-03-14 21:53] jakon89 commented on #1554
As per https://github.com/OpenTSDB/opentsdb/issues/412 and current OpenTSDB [logic](https://github.com/OpenTSDB/opentsdb/blob/master/src/core/IncomingDataPoints.java#L117) it looks that empty tags are not allowed. I would mark tag where value is empty with defaultTagValue or delete this tag at all. What do you think? I will be glad to send quick PR if needed.

[2017-03-15 13:16] bluebreezecf commented on #1554
@jakon89
In my preview tries, the OpenTSDB does not allow empty tags. So i prefer to send defaultTagValue if the value if empty.

[2017-03-15 14:56] jakon89 commented on #1521
Good point, I am on it. I will send PR today.

[2017-03-15 18:02] jonathan-kosgei commented on #1553
Ran into this too on GKE, your work-around works for me too +1

[2017-03-16 20:20] BrianGallew commented on #1557
I have this same problem with my cluster.   Launching the deployment will produce a heapster pod with logs indicating an inability to connect to kubernetes.default OR that it was able to connect but that it was requested to authenticate.  Killing the pod repeatedly will eventually get me a functioning heapster ... for a day or two.  Then it goes back to no connect/no auth.

FWIW, the dashboard has

[2017-03-16 20:35] piosz commented on #1566
Moving out of 1.3. Support for api-server mode is rather a proof of concept, than a proper implementation.

[2017-03-16 20:36] #1503 closed

[2017-03-16 20:46] piosz commented on #1526
Obsolete: currently there is beta.1

[2017-03-16 20:46] #1526 closed

[2017-03-16 20:47] piosz commented on #1507
@KarolKraskiewicz any update?

[2017-03-16 20:48] #1481 closed

[2017-03-16 20:57] piosz commented on #1556
@timstclair @vishh any ideas?

[2017-03-16 21:02] krzyzacy commented on #1556
I think the issue is https://github.com/kubernetes/heapster/pull/1387 removed deploy/docker/canary/Dockerfile, while the canarypush job is still referencing it. Is the job still needed? @luxas

[2017-03-17 00:19] zsustar commented on #657
faced same issue.

As I am running K8s on AWS. I created a ELB as the load balance to bypass this issue.

` kubectl expose --namespace=kube-system  deployment monitoring-grafana --port=80 --target-port=3000 --name=monitoring-grafana-newservice --type=LoadBalancer

The command list above will create a ELB base on the deployment monitoring-grafana, and ELB listening on port 80.
To access, hit your E

[2017-03-17 06:13] luxas commented on #1556
I don't think that explicit canary Dockerfile is needed, instead we can use the normal Dockerfile for building a canary image just by a retagging

[2017-03-17 08:02] #1211 closed

[2017-03-17 22:25] jakon89 commented on #1372
It was implemented in: https://github.com/kubernetes/heapster/pull/1462
Looks like issue can be closed.

[2017-03-19 11:40] mashayev opened #1578 "Add a collectd sink"
Hi,

[Collectd](https://collectd.org/) is a daemon which collects system and application performance metrics periodically, it's being used widely as integration tool for many monitoring tools.

It would be great to add a sink that supports sending metrics to collectd.

[2017-03-20 04:09] yannrouillard opened #1579 "New retention option doesn't work"
I recently tried to enable the new retention option available since heapster v1.3.0.
Unfortunately, it doesn't work.

I enable with the following heapster command:
[code]

But the k8s database still has the default infinite policy:
[code]

I see nowhere in the logs the message: `Created retention policy 'default'`:
[code]

[2017-03-20 04:23] yannrouillard commented on #1579
After having a look at the source code, I think the error lies here:
[code]

If I understand well, the createRetentionPolicy function will only be launched if there is an error in the Database creation query, so it will not happen at least the first time, and probably not the subsequent time as `CREATE DATABASE` doesn't return an error if it doesn't exist from what I saw.

I fixed that but it stil

[2017-03-20 06:38] yannrouillard commented on #1579
Other issue: the retention configuration patch has only been applied on the metrics sink but not on the events sink.
As by default they are on the same database, it means that if the eventer create the database first the retention duration will be wrong.

[2017-03-20 14:10] yannrouillard commented on #1579
Proposed pull request: #1581

[2017-03-20 15:06] myaskevich commented on #1557
Same issue

[2017-03-20 23:01] DirectXMan12 commented on #1557
do you have multiple different API servers backing your API endpoint?  Maybe one of them is using different certs?

[2017-03-20 23:04] DirectXMan12 commented on #1578
we'd welcome a patch which added support, but the Heapster maintainers are unlikely to do it ourselves.

[2017-03-20 23:04] #1578 closed

[2017-03-20 23:05] #1372 closed

[2017-03-20 23:13] DirectXMan12 commented on #1566
Post-rebase, it's not proof-of-concept any more.  I'm not sure what you're getting at here...

[2017-03-21 08:08] KarolKraskiewicz commented on #1494
It seems the error occurs when trying to export a graph in graphana as an image. I also agree it appears that missing `fontconfig` is the root cause.

I tried to add `fontconfig` to busybox, but since busybox does not have any package manager, and `fontconfig` have some dependencies, it is not very practical.

An alternative would be to change the container form busybox to something with a package

[2017-03-21 08:19] KarolKraskiewicz commented on #1420
It could be done by post-processing text in [pods.json](https://github.com/kubernetes/heapster/blob/96d9dbf9ee20c200bb7703a8dff0b5ea7c1d1ba1/grafana/dashboards/pods.json#L977) during grafana startup. For example, it could be done, using `sed` from 'run.sh' which is starting up grafana in a container.

Such processing would add some extra complexity in the system, and may break `pods.json` if sed i

[2017-03-21 08:32] KarolKraskiewicz commented on #1375
It seems it is an old version of heapster, with not compatible influxdb version.
For sure the solution would be to upgrade influxdb to v1.1.1 and heapster to v1.3.0-beta.1

It should be also possible to find influxdb version suitable for heapster 1.2, but I cannot find which one is it.

@piosz Do you know which was the influxdb version for heapster 1.2?

[2017-03-21 08:48] myaskevich commented on #1557
@DirectXMan12

No, there's only one endpoint.

[code]

[2017-03-21 09:04] jonaz commented on #1375
@KarolKraskiewicz the datamodel of influxdb states that once a field is created it cannot ever change type. Thats the problem here. Between heapster 1.1 and 1.2 the datatype has changed. Thats a breaking change and should not be allowed. The preferred way to store influxdb is always float64.

I have not tried v1.3.0-beta.1. Have heapster changed back to float64 there?

[2017-03-21 17:19] jbehrends commented on #1516
UPDATE

I just pulled down the latest build of this container and tested sine the referenced PR was merged:
gcr.io/google-containers/heapster:v1.3.0

The cluster cpu_usage rate is no longer 2x the sum of the nodes cpu_usage rate, but it's now lower!  Not by a large margin but enough to not look correct.  See screenshot below:

![image](https://cloud.githubusercontent.com/assets/1915783/24160562/71

[2017-03-21 17:29] BrianGallew commented on #1557
I *do* have 3 endpoints.  Each has its own cert with both it's own IP as well as the service IP in the SAN list.  All three are signed by the same CA (verified).

[2017-03-21 21:08] lis0x90 opened #1583 "Heapster 1.3.0 failed to gather metrics on openshift v1.3.3"
Heapster 1.3.0 failed to gather metrics on openshift v1.3.3.
It misses cpu/limit and cpu/request, memory/limit and memory/request

Environment:
Deployed heapster version: 1.3.0
OpenShift Master: v1.3.3
Kubernetes Master: v1.3.0+52492b4

Heapster output:
[code]

[2017-03-22 08:17] piosz commented on #1583
@DirectXMan12 can you please investigate?

[2017-03-22 11:34] theairkit commented on #1516
@jbehrends hmm, I'll investigate it!

[2017-03-23 02:48] kelify opened #1585 "heapster failed to write metrics to opentsdb"
hi , i have some problems in heapster writing metrics to opentsdb, when heapster write it ,the heapster expose this error : "E0323 02:43:05.287352       1 driver.go:74] failed to write metrics to opentsdb - Failed to parse response for POST http://x.x.x.x:4242/api/put?summary: invalid character '<' looking for beginning of value"

so how can i solve this error , thinks

[2017-03-23 02:52] whereisaaron commented on #1494
Thanks @KarolKraskiewicz, I dealt with this problem (and other problems) by switching to the [official Grafana Docker image](https://hub.docker.com/r/grafana/grafana/) which is [based on `debian:jessie`](https://github.com/grafana/grafana-docker/blob/master/Dockerfile). I also made a [couple of tweaks](https://hub.docker.com/r/whereisaaron/grafana-kubernetes/) to better suit Kubernetes. This has t

[2017-03-23 07:07] willtrking opened #1586 "Heapster not collecting stats from one node in cluster"
Working through getting Kubernetes into production, and trying to figure out why Heapster isn't collecting stats from one node in our test cluster. There are 4 nodes total, and Heapster can't get stats from the node that it's running on.

Heapster logs as follows:
[code]

Just those 3 lines repeated for the majority of the logs, the startup section of the logs for heapster look like the following:

[2017-03-24 05:14] mingfang commented on #1395
Any chance this can be done for the new release, v1.3.0?

[2017-03-25 13:52] XiLongZheng commented on #1528
Is it planned to ship with 3/27 kubenretes 1.6 release?

[2017-03-26 14:57] jonathan-kosgei commented on #657
I get this error with `kubectl proxy` but using `kubectl port-forward --namespace=kube-system <grafana-pod> 3000:3000 &` works

[2017-03-27 15:34] piosz commented on #1494
We can use a different image. @timstclair what is the recommended base image with package manager?

[2017-03-27 17:38] #1521 closed

[2017-03-27 18:00] DirectXMan12 commented on #1586
what's your Heapster configuration look like?  Are you using the old source `--sink=kubernetes:` or the summary source `--sink=kubernetes.summary_api`?

[2017-03-27 18:23] manolama commented on #1585
@kelify Any way you can post the JSON being sent to TSDB and returned from it? Maybe TCPDump it?

[2017-03-27 18:28] jakon89 commented on #1585
Hi kelify!

Do you use any http proxy in front of OpenTSDB?
I did take a look at the OpenTSDB client source code and it doesn't check response code at all. Maybe it should check http status codes? As per [docs](http://opentsdb.net/docs/build/html/api_http/put.html) - OpenTSDB return 204 HTTP in case of successful request. @bluebreezecf

[2017-03-27 19:19] KarolKraskiewicz commented on #1420
@piosz advised dashboard configuration could be injected into container using [ConfigMap](https://kubernetes.io/docs/user-guide/configmap/). It would externalize dashboard configuration and make it possible to configure "refresh on load" and any other variables from kubernetes level.

[2017-03-27 19:48] KarolKraskiewicz commented on #1375
@jonaz I reviewed previous versions of heapser, and also double checked it with @piosz. It seems that for example `cpu/request` have always been of int64 type:
v1.1.0: [cpu/request definition](https://github.com/kubernetes/heapster/blob/v1.1.0/metrics/core/metrics.go#L279), [influxdb data sink](https://github.com/kubernetes/heapster/blob/v1.1.0/metrics/sinks/influxdb/influxdb.go#L64)
v1.2.0: [cpu/

[2017-03-27 20:00] KarolKraskiewicz commented on #1485
@judexzhu It is an interesting problem, but I was not able to reproduce this problem in my environment.
I can see you are using Heapster version v1.3.0-beta.1. Which versions of influxdb and Grafana are you using? Are they custom builds, or they are pre-builded containers like those below?
 [grafana](https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/grafana-deployment.

[2017-03-27 20:46] jonaz commented on #1375
I wonder if any early influxdb client defaulted to float64 for integers...  i will try to dig through some code!

[2017-03-27 22:04] willtrking commented on #1586
I'm using influxdb, and was just testing it out with the default config from the influxdb deployment yaml files:

https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/heapster-deployment.yaml

In case it changes:
[code]

[2017-03-28 15:21] DirectXMan12 commented on #1583
First of all, I'd reccomend that you match Heapster versions with Kubernetes/OpenShift versions -- Heapster 1.3 is much newer than Kubernetes/OpenShift 1.3.

Please also ensure proper network connectivity from the pod to the master.

[2017-03-28 17:40] DirectXMan12 commented on #1586
so, first things first, I'd reccomend switching to `--source=kubernetes.summary_api`.  If I had to guess, based on the error message, what's going on is this: the non-summary API source can require multiple HTTP requests for each node.  Due to *something* (network congestion, the number of requests, load, etc), Heapster isn't able to complete all of the HTTP requests in a reasonable mount of time.

[2017-03-29 10:12] axot opened #1588 "Add CloudWatch as DataSource with AWS IAM ROLE will got an error in grafana"
$ kubectl logs -f monitoring-grafana-2293934309-n5qzp --namespace=kube-system
t=2017-03-29T10:08:07+0000 lvl=eror msg="Unable to call AWS API" logger=context userId=1 orgId=1 uname=admin error="RequestError: send request failed\ncaused by: Post https://monitoring.ap-northeast-1.amazonaws.com/: x509: failed to load system roots and no roots provided"

[2017-03-29 16:35] tarunsaxena79 commented on #1207
Thanks a lot !! Bud. It really helped.

[2017-03-30 13:33] mamoit commented on #1197
This would be quite useful.

[2017-03-30 21:01] jonaz commented on #1375
Im closing this based on my last comment. Pretty confident that was what happened!

[2017-03-30 21:01] #1375 closed

[2017-04-01 00:01] edevil opened #1589 "heapster-nanny complains when run with system:heapster RBAC permissions"
I've tried running the heapster pod with a serviceAccount with the system:heapster role but "nanny" complains about not having permissions to perform certain operations. Is the role badly defined?

nanny log
[code]

apiserver log
[code]

I ran the following commands to create the serviceAccount:
[code]

[2017-04-03 15:47] DirectXMan12 commented on #1589
this should probably be filed against the main kube repo (since the problem is policy and non Heapster), although I'd argue that the RBAC is correct in denying the Heapster pod the ability to modify its own configuration.  That feels poor from a security perspective.

[2017-04-03 15:47] #1589 closed

[2017-04-03 15:48] DirectXMan12 commented on #1589
cc @piosz

[2017-04-07 01:55] jimmycuadra commented on #645
What's the current state of this? I've read the [vision document](https://github.com/kubernetes/heapster/blob/master/docs/proposals/vision.md), but it's still not clear if there is or will be support for Prometheus as a sink for heapster. It's confusing that Prometheus has emerged as the go-to monitoring system for Kubernetes, especially given that it's also a member of the CNCF, and yet when you

[2017-04-07 06:03] niyanchun opened #1592 "questions about freecontainers API"
when I use `/api/v1/model/nodes/{node-name}/freecontainers/` API, I didn't get the free containers in the node:

[code]

I think this API returns the free containers in the node which are not started by Kubernetes, Is it somewhere I am wrong?

[2017-04-07 07:53] webeindustry commented on #1579
This is very necessary. I need a retention policy set.

[2017-04-10 19:55] xuwang commented on #1557
Same problem here:

Kubernetes v1.6.1
Container image "gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1"

On an nginx pod, I can reach api server by dong a curl call inside of nginx container, no timeout:
[code]

Inside of heapster container:
[code]
It does looks like an issue with heapster container network. We aren't get into authentication step yet.

[2017-04-11 06:54] xuwang commented on #1557
It turned out I have a staled endpoint.  It caused timeout. See issue https://github.com/kubernetes/kubernetes/issues/22609.
I modified the --apiserver-count flag  to match the real number of apiservers and restarted  kube-apiserver. The  staled endpoint was cleaned up and timeout issue was resolved.

[2017-04-12 13:38] derbeneviv opened #1593 "memory/usage of cluster differs from sum of all nodes"
Hello!
we are using kubernetes v1.3.0+52492b4 (openshift) and heapster: v1.3.0-beta.0

that's what we noticed:
memory/usage for a cluster greatly differs from the one for a sum of nodes
like (query from influx):
[code]
returns 	_75078987776_
and
[code]
returns _39981445120_

so, the question is  - is that a bug, or heapster\kubernetes caculates memoty usage of the whole cluster as something differ

[2017-04-12 15:00] DirectXMan12 commented on #1593
IIRC, there was, at one point, some issues double-counting things at the node and cluster levels.  That should be fixed in master, I believe.

A heads up though -- you might have some issues running Heapster 1.3.0 against Kubernetes 1.3.0 -- the Heapster versioning doesn't match up with Kubernetes versioning, so Heapster 1.3.0 is quite newer than Kubernetes 1.3.0.  Heapster 1.3.0 is designed to wo

[2017-04-12 15:02] #1557 closed

[2017-04-12 15:07] DirectXMan12 commented on #1592
IIRC, "free containers" returns things that look vaguely like containers to cAdvisor (in this case, a bunch of cgroups).  At any rate, I would not rely on this functionality to monitor containers started outside of Kubernetes, as that use case is not well supported.

[2017-04-12 15:07] #1592 closed

[2017-04-12 15:09] DirectXMan12 commented on #645
We're currently transitioning away from Heapster as the defacto solution, as per the new monitoring vision in the community repo.  One of the results of that will be an end-to-end setup with Prometheus that does not involve Heapster.

[2017-04-12 15:09] DirectXMan12 commented on #645
(in light of that, I'm closing this issue)

[2017-04-12 15:09] #645 closed

[2017-04-12 15:11] DirectXMan12 commented on #1593
(I'm closing this now, but feel free to re-open if you have further questions or if the latest Heapster does not solve your issue)

[2017-04-12 15:39] davidkarlsen commented on #645
@DirectXMan12 "We're currently transitioning away from Heapster as the defacto solution, as per the new monitoring vision in the community repo." - do you have any references /docs for that (I guess it's not the vision doc mentioned above since that one refers to heapster)

[2017-04-12 15:49] DirectXMan12 commented on #645
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/monitoring_architecture.md should be what you're looking for.

[2017-04-13 00:46] niyanchun commented on #1592
Got it, thanks.

[2017-04-13 09:08] orientzc commented on #1527
@chenjian158978
sorry. i use
docker run -p 3000:3000 -e "GF_SMTP_ENABLED=true" -e "GF_SMTP_HOST=smtp.aaa.com:25" -e "GF_SMTP_FROM_ADDRESS=xxx" -e "GF_SMTP_USER=xxx" -e "GF_SMTP_PASSWORD="yyy" -e "GF_SMTP_SKIP_VERITY=true". and i also met the same problem. i use your solution of edit the run.sh to solve it. Success. but i want to know that what's wrong with the way of ENV. what i missed. could anyo

[2017-04-13 09:49] chenjian158978 commented on #1527
@orientzc
Could you show me the full command of your `docker run -p 3000:3000 -e "GF_SMTP_ENABLED=true" -e "GF_SMTP_HOST=smtp.aaa.com:25" -e "GF_SMTP_FROM_ADDRESS=xxx" -e "GF_SMTP_USER=xxx" -e "GF_SMTP_PASSWORD="yyy" -e "GF_SMTP_SKIP_VERITY=true"`?
Thx a lot.

[2017-04-13 17:18] michaelajr opened #1595 "system:heapster ClusterRole lacking privileges"
Kubernetes 1.6.1
-----------------

The `system:heapster` ClusterRole appears to be missing the ability to HTTP GET and HTTP PUT to `deployments.extensions`.  Here is my local update - not sure if this the *right* way to do it - seems there should be a way to provide HTTP PUT to only `deployment.extensions` and not all the other resources (least privilege). But it is a hacked workaround.

[code]

[2017-04-14 01:30] orientzc commented on #1527
@chenjian158978
Thanks. like this?
first, i edit /etc/hosts in machine. my smtp IP is 132.35.108.22. and i add
132.35.108.22 hq.smtp.gra.cn
second, i use --net=host instead of -p 3000:3000 to use the hosts in machine.
docker run --net=host -e "GF_SMTP_ENABLED=true" -e "GF_SMTP_HOST=hq.smtp.gra.cn:25" -e "GF_SMTP_FROM_ADDRESS=orientzc@gra.cn" -e "GF_SMTP_USER=orientzc@gra.cn" -e "GF_SMTP_PASSWORD="

[2017-04-14 01:41] chenjian158978 commented on #1527
@orientzc
I think you just add the ENV into your container. **But this container do not start with those ENVs.**

Can you get my points?

You should use those ENV when your container start to RUN like below:

     exec /usr/sbin/grafana-server \
      --homepath=/usr/share/grafana \
      --config=/etc/grafana/grafana.ini \
      cfg:default.paths.data="$GF_PATHS_DATA"  \
      cfg:default.paths.l

[2017-04-14 06:42] orientzc commented on #1527
@chenjian158978
thanks very much. but i use
docker run -p 3000:3000 -e "GF_SECURITY_ADMIN_PASSWORD=secret" grafana/grafana:latest
everything is ok. the run.sh is same. so i think Envs works.
the description of configuration container is https://hub.docker.com/r/grafana/grafana/

[2017-04-14 06:48] ntquyen commented on #1586
@DirectXMan12 I got the same problem, heapster not collect haft of my nodes. Switching to `--source=kubernetes.summary_api` not help. And heapster keep printing:
[code]

[2017-04-14 12:47] kaijparo commented on #1586
I got this too -- important to note that this is only happening in a cluster deployed with canal networking and in a private topology via kops in aws.

Same setup in my public cluster does not have this problem

[2017-04-14 14:17] derbeneviv commented on #1593
@DirectXMan12 should i re-create an issue or you can re-open it?

what i tried:
1) built and pushed current master branch - i got the same problem as here https://github.com/kubernetes/heapster/issues/1583
2) pushed v1.2.0-2 from here: https://hub.docker.com/r/openshift/origin-metrics-heapster-base/tags/ ( that should be the correct version, i imagine)

result (for 1.2.0, it doesn't differ from 1.

[2017-04-14 14:19] derbeneviv commented on #1593
@DirectXMan12 you also mentioned some issues double-counting things at the node and cluster levels.
Can you point it please, i couldn't find it.
Maybe i can build an image from exact commit

[2017-04-15 04:15] Kliton opened #1596 "Cannot use grafana-cli"
I cannot install plugins with grafana image: gcr.io/google_containers/heapster-grafana-amd64:v4.0.2
I'm on GCE.

When i attach to pod with "exec -ti podName -- /bin/sh" i can start bin in /usr/sbin like grafana-server but not "grafana-cli" it always says: not found..

[2017-04-16 14:56] kartoch opened #1598 "Redondant deploy configuration with kubernetes repository"
It seems the deployement configuration proposed here:
https://github.com/kubernetes/heapster/tree/08c8af3/deploy/kube-config
Are also available here (with more recent updates):
https://github.com/kubernetes/kubernetes/tree/69fd7aa/cluster/addons/cluster-monitoring/influxdb
Maybe a good idea to close the heapster directory ?

[2017-04-17 02:09] chenjian158978 commented on #1527
@orientzc
I run it by myself, and read `/etc/grafana/grafana.ini` and `run.sh`.

And now I get your point.

In fact, I **DO NOT** know how to run the env of `GF_SECURITY_ADMIN_PASSWORD=secret` without adding it into the script of `run.sh` and then the envs are be overriden like the `Configuring your Grafana container` part of [https://hub.docker.com/r/grafana/grafana/](https://hub.docker.com/r/gra

[2017-04-18 07:46] orientzc commented on #1527
Thanks very much. @chenjian158978

[2017-04-18 15:00] DirectXMan12 commented on #1596
@piosz do we have the grafana-cli in our images?  Should we?

[2017-04-18 15:04] DirectXMan12 commented on #1586
@kaijparo can pods access the node IPs with canal networking?

@ntquyen what version of Kubernetes are you using?  CoreOS stable version doesn't really tell me anything.  It looks like the watch cache of nodes isn't populating correctly.

[2017-04-18 15:08] DirectXMan12 commented on #1595
Why should the `system:heapster` role be able to GET and PUT extensions.deployments?  The Heapster code should only be able to GET/LIST and even then only what it needs to know about to function: Events, Namespaces, Nodes, and Pods.

[2017-04-18 15:51] DirectXMan12 commented on #1593
So, it looks like for the node, we get the memory/usage value directly from Kubelet/cAdvisor -- that's not one of the ones that we aggregate up from pods.  So whatever you're seeing, that's what Kubelet is telling us.

When configured to use the summary endpoint (the recommended way -- `--source=kubernetes.summary_api`), Heapster will hit the summary endpoint of each node using a GET.  That's serv

[2017-04-18 17:50] DirectXMan12 commented on #1598
@piosz is there any reason for us to keep around two separate copies of the deployment information?  I'd tend to agree with @kartoch here...

[2017-04-19 07:56] TracyBin opened #1599 "About network rx and tx"
hi, I want to collect network traffic data. When I use the following command, the result confused me.
[code]
There is three dev in my node, eth0,cni and flannel0. And also other docker net dev.
Which dev data is collected by this command?

[2017-04-19 08:31] jackielii opened #1600 "hpa failed to get current CPU utilisation"
Newly setup cluster on ubuntu 16.04.2 with kubeadm. Then deployed heapster from instructions for influxdb. The cpu and mem utilisation all shows in the dashboard, but the hpa fails to see it:
[code]
[code]
[code]

[2017-04-19 08:33] jackielii commented on #1600
Running with -v=4
[code]

[2017-04-19 09:32] jackielii commented on #1600
needed to add resource limits to all containers in the pod deployment per documentation:
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

I do want to point our the the https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/ is not very straight forward on the request limit. I would add in bold font: "request limit needs to be set" before tr

[2017-04-19 09:32] #1600 closed

[2017-04-19 14:01] ironhouzi opened #1601 "Can heapster be used to only collect metrics once when container exits for a k8s job?"
Docker seems to provide support: https://docs.docker.com/engine/admin/runmetrics/#collecting-metrics-when-a-container-exits

[2017-04-19 20:59] paalkr opened #1602 "No statistics received from the node that heapster pod is running"
Hi

I'm running a cluster on AWS, built with kube-aws 0.9.6-rc.2 I have 3 etcd nodes, 2 control plane nodes and 3 pools (one in each AZ) with one node each

[code]

heapster is currently deployed at node ip-10-1-44-24.eu-west-1.compute.internal
[code]

And from the logs and top nodes command, it seems like heapster will not fetch statistics from the node where heaspter it self is currently deploye

[2017-04-19 21:11] paalkr commented on #1602
I now see that my report is a duplicate of https://github.com/kubernetes/heapster/issues/1586
BTW, I'm using Calico networking. Maybe I need to setup some special calico privileges?

[2017-04-19 22:36] kaijparo commented on #1586
I'm having trouble getting an interactive terminal for the heapster pod, but I can get a busybox going and wget the url for the missing node without issue:

[2017-04-20 07:06] lcnsir opened #1603 "Is there a config to enable ssl connection between heapster and Elasticsearch to sink metrics to Elasticsearch"
Is there a config to enable ssl connection between heapster and Elasticsearch to sink metrics to Elasticsearch

[2017-04-20 07:06] lcnsir commented on #1603
?

[2017-04-20 07:40] andyxning commented on #1603
@lcnsir heapster and eventer uses [olivere/elastic](https://github.com/olivere/elastic) as the ES client. I have find nothing info about ssl for it.

However, after diving into the code, it seems that `olivere/elastic` uses golang default http client to process http requests. So, the question can be addressed by confirm that whether http default client supports ssl.

It seems that golang http defa

[2017-04-20 17:44] DreadPirateShawn opened #1604 "v1.3.0 doesn't include release notes"
I'm looking at upgrading our heapster, assessing justification for which version we upgrade to -- but, what's roughly included in v1.3.0?

It still says "Significant changes: TBD" on https://github.com/kubernetes/heapster/releases

[2017-04-21 03:22] bluebreezecf commented on #1585
@jakon89 Thanks for your meaningful advice. I wil dig into the doc and refresh the OpenTSDB client if it needs

[2017-04-21 09:24] devent commented on #1586
Hello, I have the same problem with my cluster. Everything else works fine.

In my tests I can connect to the master node running nc from heapster pod, but I can't connect to the worker node running the same nc from the heapster pod.

[code]

[code]

The exact error is
[code]

Versions.
heapster 1.3.0

[code]

[2017-04-22 10:50] dolftax opened #1605 "Grafana returns `the server could not find the requested resource`"
Ref: https://github.com/kubernetes/heapster/tree/v1.3.0/deploy/kube-config/influxdb

[2017-04-22 11:04] dolftax commented on #1605
Updating this value

[code]

.. fixed it.

[2017-04-22 11:04] #1605 closed

[2017-04-22 12:58] dolftax opened #1606 "Error validating heapster controller template"
error: error validating "templates/infrastructure/heapster-controller.yaml": error validating data: found invalid field tolerations for v1.PodSpec; if you choose to ignore these errors, turn validation off with --validate=false

[code]

[2017-04-24 15:27] alexandrst88 opened #1609 "Disable logging or switching log level doesn't work"
Hi! I'm trying to disable logging of heapster of change log level, with `--v=1` or `--v=2`. But it always logs INFO and WARNING level.
I'm running following version with args:
[code]

[2017-04-24 15:39] andyxning commented on #1609
@alexandrst88 `glog` can not disable log.
* without any `--v` option, output generic log like `glog.Info` or `glog.Warning`
* with setting `--v=1` option, output verbose log `glog.V(1).Info`
* with setting `--v=2` option, output verbose log `glog.V(2).Info`

you can take a look at [glog usage info](https://github.com/golang/glog/blob/master/glog.go#L21-L70).

[2017-04-24 15:56] alexandrst88 commented on #1609
@andyxning does it possible to log only critical or error level?

[2017-04-25 00:13] andyxning commented on #1609
You can only  adjust `stderrthreshold=WARNING` command line argument to control the log level when only logging to stderr by setting `logtostderr=true`.

As for logging to files, i am afraid that there is no common way to accomplish this.

BTW, i am curious that why you want to disable info logs.

[2017-04-25 05:57] Shimi opened #1611 ""x509: failed to load system roots and no roots provided" when using grafana slack alerts"
maybe root CA certificates are missing from the docker image?

[2017-04-26 09:04] pastushenko commented on #1586
Hello! We have the same problem.
`
Failed to get kubelet:10.0.5.186:10255 response in time
W0426 08:41:25.000504       1 manager.go:147] Failed to get all responses in time (got 4/5)
`
Kubernetes version: v1.6.1+coreos.0
Heapster version: v1.3.0-beta.1

We have 5 nodes in cluster.
We use private network.
As network provider we use flannel.
I found out that the heapster can't collect monitoring dat

[2017-04-26 13:25] hakamairi commented on #1553
@sjezewski
You could have just changed in your graphana.yaml the following
[code]
This will allow you to access via master_ip:api_port/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/

[2017-04-26 16:04] munnerz commented on #1611
They most likely are missing from the Docker image, which I (personally) see as best practice, as root CAs might be revoked or updated, meaning your image will eventually become incompatible with newer certs (or, conversely, a certificate that should no longer be trusted may be trusted)

I think best practice here is to pass through `/etc/ssl/certs` from your host machine. Alternatively, an init c

[2017-04-26 18:52] takama commented on #1586
@willtrking  By default Calico blocks traffic from workload endpoints to the host itself with an iptables `DROP` action. If you want to allow traffic from endpoint to host, set this parameter to `ACCEPT`:
[code]

[2017-04-26 18:59] takama commented on #1602
@paalkr Please see my post at #1586

[2017-04-26 19:02] paalkr commented on #1602
Thanks!

Sendt fra E-post for Windows 10

Fra: Igor Dolzhikov
Sendt: onsdag 26. april 2017 kl. 20.59
Til: kubernetes/heapster
Kopi: paalkr; Mention
Emne: Re: [kubernetes/heapster] No statistics received from the node thatheapster pod is running (#1602)

@paalkr Please see my post at #1586
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute

[2017-04-26 19:26] dbarelop opened #1614 "Error connecting to Grafana server"
Hello, I am trying to setup **Heapster v1.3.0** in a Vagrant-based Kubernetes cluster with Weave-net. There is a master node (bare-metal) running **Ubuntu 16.04** with **Kubernetes v1.6.1** and **weave 1.9.4**. This node runs several Ubuntu 16.04 **Vagrant virtual machines** using libvirt.

I have been able to deploy successfully the services, but whenever I try to access the UI I get `Error: 'dia

[2017-04-26 23:17] olalonde opened #1615 "Grafana setup should use password from `GF_SECURITY_ADMIN_PASSWORD`"
The environment variable to change the default admin password in Grafana is `GF_SECURITY_ADMIN_PASSWORD` and not `GRAFANA_PASSWD`. Therefore it would make sense to use that env variable in https://github.com/kubernetes/heapster/blob/master/grafana/setup_grafana.go

[2017-04-27 04:57] takama commented on #1586
@pastushenko You can allow traffic from containers to the host itself using firewall rules especially to the port 10255. (Interfaces: flannel.1, docker0)

[2017-04-27 08:51] piosz opened #1616 "Add unit tests to Stackdriver sink"
Method `translateMetric` has non-trivial logic underneath.

[2017-04-27 11:07] pastushenko commented on #1586
@takama - thanks. The problem was fixed by changing firewall rules.

[2017-04-28 06:27] kotarusv opened #1617 "Dashboards are not compatible with latest grafana/Influxdb"
These dashboards are not working when trying to import to Grafana/InfluxDB/heapster Setup. Are they compatible with newer version of grafana?

Srinivas Kotaru

[2017-05-01 12:28] michaelajr commented on #1595
Good question. But it does. Did not work without it. Something to do with the Dashboard maybe?

[2017-05-01 15:07] DirectXMan12 commented on #1617
Can you please indicate which version of Heapster and which version of Graphana and InfluxDB you are using?

[2017-05-01 15:12] DirectXMan12 commented on #1602
closing since this seems to be a duplicate.

[2017-05-01 15:12] #1602 closed

[2017-05-02 08:46] qianzhangxa commented on #1498
@DirectXMan12 Do you mean Heapster (assume it is running as a pod in Kubernetes cluster) will use the token in the default service account to connect to kubelet? If so, I think kubelet should be started with the flag `--client-ca-file`, and its value should be same with the flag `--client-ca-file` of kube-apiserver, right? And if kubelet is started in this way, will the communication from kube-api

[2017-05-02 17:05] DreadPirateShawn commented on #1604
Any update on this?

[2017-05-02 19:53] DarkBlaez opened #1619 "[Dashboard] No Graphs, followed guidance"
Looking for the exact install instructions to get Heapster, InfluxDB, Grafana working and Dashboard to include graphs. I am using kubeadm to install a basic 3 node cluster. Typically I use the ansible scripts to do the full install of kubernetes on Centos 7.3. However, decided to try kubeadm. To get Heapster/InfluxDB/Grafana in stalled I followed the guidance of : kubectl create -f deploy/kube-con

[2017-05-02 20:32] remonlam opened #1620 "Heapster not working"
Hi all,

I have trouble to get Heapster working on my local k8s cluster.

I’ve used the yaml from this repo to deploy Heapster.
All the components (Service Account/Secrets, Deployment and Service) are all created successfully, however Heapster is not working correctly. When I'm using the Kubernetes-Dashboard it keep loading and loading and after a minute or so it displays the normal dashboard, how

[2017-05-03 16:34] kewubenduben opened #1621 "InfluxDB HTTP/admin is disabled by default"
Shouldn't this be enabled?

[2017-05-03 17:31] DirectXMan12 commented on #1620
Which version of Kubernetes are you using?  Can you run Heapster at a higher log level (add the `--v=8` argument).

[2017-05-03 17:33] DirectXMan12 commented on #1619
Are there any issues in the Heapster logs?  Have you tried asking the dashboard repo?

[2017-05-03 17:55] DarkBlaez commented on #1619
I will ask the dashboard repo since this issue seems to get punted along and no one can even spell out the exact instructions as referenced above

[2017-05-03 17:58] DarkBlaez commented on #1620
This is the same issue I reported on in a prior open issue #1619. I'm having the same issue

[2017-05-03 20:22] DarkBlaez commented on #1619
So here is how I have installed this:

1. Git clone heapster project
2. Just use the kube.sh in deploy folder to initiate. Suppose I could use kubectl directly as well but result is the same when I have done so

3. I modify grafana.yaml in (/deploy/kube-config/influxdb) to use the api server proxy
    value: /api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/

no other changes. Grafa

[2017-05-03 20:54] remonlam commented on #1620
@DirectXMan12 I'm running Kubernetes 1.5.2

Here is a section of the log (begin/end)

`2017-05-03T20:37:11.405901897Z I0503 20:37:11.405667       1 heapster.go:72] /heapster --source=kubernetes:https://kubernetes.default --v=8
2017-05-03T20:37:11.405949524Z I0503 20:37:11.405703       1 heapster.go:73] Heapster version v1.3.0
2017-05-03T20:37:11.406131491Z I0503 20:37:11.405920       1 configs.go:

[2017-05-04 09:42] soufiane8096 opened #1622 "Alternatives to Heapster"
Hi,

I would like to know if there is alternatives to Heapster. Do you know why Kubernetes choose Heaspter ?

Thank you

[2017-05-04 12:16] adambkaplan opened #1623 "Use Grafana Env Variables for Dashboard Setup"
Grafana setup/bootstrapper doesn't use the same environment variables used for Grafana configuration.

Scenario:
In `grafana.yaml`, edit to use the following environment variables (assuming appropriate `grafana-secrets` object exists in cluster).
[code]

Expected behavior:

1. Setup program uses Grafana admin username/password from environment variable
2. Kubernetes cluster dashboards load up in G

[2017-05-04 18:53] watercraft opened #1625 "InfluxDB can't sink pod without labels"
I'm testing with InfluxDB V0.9 and an older version of Heapster so the problem may be solved in a different way.
However, I have a fix that works for us to consider.
The problem is that we are not collecting container stats for a pod that doesn't have labels.
This version of Heapster is pushing down a tag called "labels" for the container that is an empty string.
When I remove this tag with the em

[2017-05-04 20:18] DirectXMan12 commented on #1625
I do seem to recall seeing this issue before, possibly on another sink.  Can you reproduce with the latest Heapster?

[2017-05-04 20:48] watercraft commented on #1625
I have tried with the latest Heapster.  We will be upgrading to whatever is recommended for k8s 1.6 in the next month or so.  If it is not fixed by that version, I'll be caring my patch forward.

[2017-05-05 15:36] DirectXMan12 commented on #1622
This is not really an appropriate question for the Heapster issue tracker.  StackOverflow, the mailing list, or Slack are more appropriate venues for this discussion.  FWIW, we are moving in a direction of encouraging alternatives, as opposed to having all data flow through Heapster.  Check out the [monitoring vision](https://github.com/kubernetes/community/blob/master/contributors/design-proposal

[2017-05-05 15:36] #1622 closed

[2017-05-08 03:35] kongbo1987 opened #1631 "Does heapster support k8s pod label"
I  want  to query a list pod metric in heapster by app name
is it possible to add k8s pod label like app to pod metric?

[2017-05-08 14:24] Shimi commented on #1611
Thanks @munnerz, I used volumeMount

[2017-05-08 14:51] DirectXMan12 commented on #1631
This is only supported for the resource metrics API (`/apis/metrics/v1alpha1/...`).  In that case, you can pass label selectors.  However, that API only provides CPU and memory.  The custom metrics API (not served through Heapster) also supports label selectors, but there are no providers for that yet (hopefully, we'll have one soon).

[2017-05-08 14:51] #1631 closed

[2017-05-08 14:51] #1611 closed

[2017-05-08 17:28] kotarusv opened #1632 "InfluxDB Sink : Tags support"
We have 3+ Kubernetes clusters. I spinoff a heapster pod on each cluster and sending metrics data to single centralized InfluxDB. All looking good and able to see the data. Since I am sending all metrics data from 3 clusters to single InfluxDB database, i am unable to differentiate the data. Is it possible to add tags like cluster=east cluster=east etc at heapster Sink definition?

i want to query

[2017-05-08 17:42] kotarusv commented on #1617
I'm using all latest versions

InfluxDB shell version: 1.2.2
Grafana : 4.2.0
Heapster : v1.3.0

[2017-05-09 01:48] andyxning commented on #1632
Currently we do not support `cluster` tag. [Heapster supports `cluster_name` argument for ElasticSearch sink to differentiate different Kubernetes clusters](https://github.com/kubernetes/heapster/blob/master/docs/sink-configuration.md#elasticsearch).

[2017-05-09 02:32] kotarusv commented on #1632
Can we support cluster name tag for InfluxDB sink as well? I think that is very important  in multi cluster environment rather depending on regular expressions.

[2017-05-09 02:57] andyxning commented on #1632
I also think so. Will do it recently.

[2017-05-09 04:57] drinktee commented on #1477
similar problem. The network is ok. I started a busybox container and can curl the url and ping other containers, but dashboard print this.
[code]
And the heapster seems ok.
[code]

[2017-05-09 06:42] wangbaifeng opened #1634 "heapster-1.3.0 can’t fetch events data（kafka）"
# **deploy heapster-1.3.0:**
[code]

# **pod log:**
[code]

# **Kafka topic heapster-events-test is not existed**

[2017-05-09 06:48] wangbaifeng commented on #1634
Help me please！
@miaoyq @huangyuqi

[2017-05-09 17:07] #1625 closed

[2017-05-10 06:22] krzyzacy commented on #1556
shall I delete the ci job?

[2017-05-10 09:17] luxas commented on #1556
No objections from me

[2017-05-10 09:23] devent commented on #1586
@takama Thank you, my issue was resolved by applying `FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT`. I think you can close the issue now, because it looks like it's not an issue with Heapster.

[2017-05-10 11:38] derbeneviv opened #1636 "kubernetes pods' restart count"
Hello, guys!

is it possible to get pods' restart count metrics via heapster?
i can't really find anything related neither in docs nor in code

[2017-05-10 15:59] NullVoxPopuli commented on #1611
I tried this, and it didn't work (error persists)

[code]

[2017-05-10 16:10] NullVoxPopuli commented on #1611
I had to change my volumes def from emptyDir to

[code]

[2017-05-10 17:28] willtrking commented on #1586
@takama Thank you!! Fixed it for me as well

[2017-05-10 17:28] #1586 closed

[2017-05-10 21:31] carlosedp commented on #768
I'm trying to persist Grafana and Influx data on a StorageClass backed by NFS but the Grafana PCV fails.

It mount's, binds the PV to the PVC but Grafana gives an error on start. Influx works perfectly:

[code]

Grafana Logs:

[code]
I mounted the drive and an empty file is created:

`-rw-r--r--+ 1 96 96 0 May 11  2017 grafana.db`

If I start the pod with "emptyDir: {}", it starts but I can't pers

[2017-05-11 05:35] kotarusv opened #1638 "PV Info"
a pod can have a 1 or more PV's mounted inside the container. is it possible to check what is the size of the pV and utilization %?

Use Case:

We have hundreds of PV in our kubernetes cluster. Unfortunately there is no way to find out how much storage being using by PODs to plan capacity well in advance as well as bill the client based on the usage pattern

There is no direct way at this point. W

[2017-05-11 08:49] piosz opened #1639 "Containers "runtime" are renamed to "docker-daemon""
The reason is that due to legacy issue in Heapster we needed to translate "runtime" to "docker-daemon" for system containers and it seems that by accident we do it for all containers. See more details https://github.com/kubernetes/heapster/blob/master/metrics/sources/summary/summary.go#L351.

[2017-05-11 08:50] piosz commented on #1639
cc @timstclair @dashpole

[2017-05-11 11:36] ashic opened #1640 "Is there a way to publish application events"
I'm using k8s + heapster + influxdb + grafana. It picks up all the kubernetes metrics, etc. Is there a way to publish business events from applications so that they get into influx, and then show up in grafana?

[2017-05-11 18:44] timstclair commented on #1639
Oh yeah, that should only be done on system containers. Definitely a bug.

[2017-05-11 18:49] DirectXMan12 commented on #1636
No, that's not a metric that Heapster exports.  Please see https://github.com/kubernetes/kube-state-metrics for metrics like that.

[2017-05-11 18:49] #1636 closed

[2017-05-11 18:51] DirectXMan12 commented on #1634
Did you mean to run eventer instead?

[2017-05-11 18:55] DirectXMan12 commented on #1620
The first thing I'd do is try using the summary source (`--kubernetes.summary_api`) instead.  That often solves many issues.

Then, please attempt to query the Heapster API directly `$HEAPSTER_SERVICE_IP/apis/metrics/v1alpha1/nodes` to determine if you're having Heapster issues or connectivity issues.

[2017-05-11 18:58] DirectXMan12 commented on #1619
Heapster makes use of the cAdvisor built in to the Kubelet.

If you run Heapster at high verbosity (`--v=10`), what do the Heapster logs say?

[2017-05-11 18:59] #1632 closed

[2017-05-11 19:01] DirectXMan12 commented on #1477
So, you can curl the URL that the dashboard fails on from other pods, but not from the dashboard pod?

[2017-05-11 19:03] DirectXMan12 commented on #1640
No.  That would be part of the "third-party" pipelines described in the monitoring design document: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/monitoring_architecture.md

[2017-05-11 19:03] #1640 closed

[2017-05-11 19:04] DirectXMan12 commented on #1638
This would be a better request for cAdvisor or the Kubelet.  Heapster just collects the metrics.

[2017-05-11 19:04] #1638 closed

[2017-05-12 11:35] jorgelon commented on #1477
In my cases I found the solution some weeks ago, sorry. I simply needed flannel working in my master node to give connectivity to heapster pod

[2017-05-12 12:25] wangbaifeng commented on #1634
Can't get the events data

[2017-05-12 22:30] djsly opened #1644 "socker_writer sink with json output format support"
I am creating this issue as to see if it would be accepted to enhanced Heapster with a new TCP sink and a new json serializer.

We are currently using `telegraf` to query `prometheus` metrics and sending those to `logstash` using the https://github.com/influxdata/telegraf/tree/master/plugins/outputs/socket_writer output. We are serializing the data in https://github.com/influxdata/telegraf/blob/ma

[2017-05-14 09:34] Chentongxuedefanhua opened #1645 "why the same config ,heapster1.2 can work,but not 1.3"
![cache_1490c46f0ea3c1d3](https://cloud.githubusercontent.com/assets/18111540/26032690/c7784b8c-38cb-11e7-8a02-aea98474cb82.jpg)

[2017-05-15 05:10] remonlam commented on #1620
Thanks, will do another test with this value, will let you know!

[2017-05-15 15:59] #1556 closed

[2017-05-15 16:08] DirectXMan12 commented on #1645
looks like your kubeconfig file is not set up properly.  I'd check that (the error is from client-go, validating the kubeconfig).  Alternatively, if you're running on cluster, you shouldn't have to manually specify a kubeconfig -- you can just rely on in-cluster config.

[2017-05-15 16:12] DirectXMan12 commented on #1644
Is there a reason that the elasticsearch sink for Heapster wouldn't work for you?

[2017-05-15 16:13] DirectXMan12 commented on #1634
I'm unclear as to what you mean by "Can't get the events data".  Can you elaborate a bit?

[2017-05-15 16:15] Chentongxuedefanhua commented on #1645
Thanks for your reply，The problem has been settled，thanks，@DirectXMan12

[2017-05-15 16:23] #1645 closed

[2017-05-15 16:40] djsly commented on #1644
Unfortunately, the ElasticSearch cluster is provided by a different team. We are not giving the credentials for it. Their entry point to the cluster is LogStash at the moment.

[2017-05-16 01:17] XiLongZheng commented on #1528
Whether heapster-grafana-s390x will be released for 1.7?

[2017-05-16 07:57] mintzhao opened #1646 "Unknown issue about heapster get nodes"
## kubernetes version
[code]
## heapster image
[code]
## Issue describe
I have a kubernetes cluster with 2 apiserver and 4 node
[code]
and I set up heapster in the cluster
[code]
It seems like all as well, but only 3 nodes info was detected, node 10.1.8.18 was missing:
when you connected to heapster via rest api:
[code]
but you can get node info via cavisor api at node 10.1.8.18. All the nodes usi

[2017-05-17 03:40] wangbaifeng commented on #1634
![image](https://cloud.githubusercontent.com/assets/8108742/26137558/807b113e-3af5-11e7-8946-e83e18a3f321.png)

[2017-05-19 02:25] jeffery9 opened #1648 "Heapster cannot dial API server"
install k8s use kudeadm with default settings, and installed calico pod networks.

follow the instruction of `influxdb` section of  Readme

found that heapter pod cannot dial api server, report  `  2017-05-19T02:19:48.713825123Z E0519 02:19:48.713791       1 reflector.go:190] k8s.io/heapster/metrics/processors/namespace_based_enricher.go:84: Failed to list *v1.Namespace: Get https://kubernetes.def

[2017-05-19 08:38] karunakar1122v opened #1650 "No Meterics geneerated pods.I configured HeapSter.But i am able to autoscaling Based on cpu utilization automatically increase the load and create the replica pods.But not able to generate metrics"
Kubernetes-Dashboard logs:
 Getting pod metrics
 [2017-05-17T09:53:50Z] Outcoming response to 172.17.0.1:58156 with 201 status code
 Getting application global configuration
 Application configuration {"serverTime":1495014832149}
 [2017-05-17T09:53:53Z] Incoming HTTP/1.1 GET /api/v1/pod/kube-system?itemsPerPage=10&page=1 request from 172.17.0.1:58156
 Getting list of all pods in the cluster
 Getti

[2017-05-19 14:38] DirectXMan12 commented on #1650
Uh... can you rephrase your question?

Also, what version of Kubernetes are you running?  What version of Heapster?

[2017-05-19 14:43] DirectXMan12 commented on #1634
The table was not correctly updated -- we do have a Kafka sink.  @huangyuqi please submit a PR updating the table.

[2017-05-19 14:45] DirectXMan12 commented on #1528
ping @piosz

[2017-05-19 14:48] DirectXMan12 commented on #1646
Try running at `--v=8` or `--v=10`.  That should give you more details.

[2017-05-19 18:04] huangjiasingle opened #1652 "Failed to list *v1.Namespace: User "system:serviceaccount:kube-system:heapster" cannot list namespaces at the cluster scope"
git clone https://github.com/kubernetes/heapster.git
cd heapster/deploy/kube-config/influxdb && create -f ./
the all pod is running, but the dashboard and grafana doesn't get the metri of node and pod's
so l use kubectl logs heapster 's name  ,the log show this :

Failed to list *v1.Node: User "system:serviceaccount:kube-system:heapster" cannot list nodes at the cluster scope. (get nodes)

Failed

[2017-05-19 18:08] huangjiasingle commented on #1648
@jeffery9 please check your cluster‘s dns is ok？

[2017-05-19 18:24] huangjiasingle commented on #1646
@mintzhao i can't see any err from your heapster's log...

[2017-05-19 18:55] LLParse commented on #1579
Any status on this? Would really like to see this feature soon. Thanks!

[2017-05-20 01:20] jeffery9 commented on #1648
DNS works OK,

[code]

On 20 May 2017 at 02:08, jiahuang <notifications@github.com> wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2017-05-20 11:26] wedgeV opened #1653 "Missing CA Root Certificates in Grafana Image"
Slack notifications use HTTPS and are broken due to the missing CA roots in the grafana image.

[2017-05-20 11:29] wedgeV commented on #1617
I just updated to Grafana 4.2.0, but that image had different VOLUMEs compared to the heapster grafana image, that made it loose all the dashboards and settings. I solved this by taking the Grafana 4.2.0 image, and removing the `VOLUME` directive in the Dockerfile and then build/deploy that image.

@kotarusv Not sure if that's the issue you're running into, but this worked for me.

[2017-05-21 03:24] andyxning opened #1654 "Decrease Influxdb tags"
Currently, we have a lot of influxdb tags. IMO, some of them are duplicated. This may cause a problem when the cluster size growing and the number of data stored in Influxdb is growing.

According to [Influxdb Doc in v1.2](https://docs.influxdata.com/influxdb/v1.2/concepts/schema_and_data_layout/#don-t-have-too-many-series), the more cardinality the series are, the more memory will be used, thus I

[2017-05-21 07:30] bluishpe opened #1655 "Failed to create infuxdb"
I always get this error after I configured grafana/influxdb/heapster

1 influxdb.go:150] Failed to create infuxdb: failed to ping InfluxDB server at "monitoring-influxdb:8086" - Get http://monitoring-influxdb:8086/ping: dial tcp 10.104.9.9:8086: getsockopt: connection timed out

it does not matter what combination of versions I try, it always fails. any idea why?

what should I be checking?

[2017-05-21 07:38] andyxning commented on #1655
@bluishpe Have you tried to access ` http://monitoring-influxdb:8086/ping` in the chrome address bar or `wget  http://monitoring-influxdb:8086/ping`

[2017-05-21 07:46] bluishpe commented on #1655
when I try:

wget http://monitoring-influxdb:8086/ping
--2017-05-21 03:44:59--  http://monitoring-influxdb:8086/ping
Resolving web-proxy.in.hpecorp.net (web-proxy.in.hpecorp.net)... 16.1X7.XX.X10
Connecting to web-proxy.in.hpecorp.net (web-proxy.in.hpecorp.net)|16.1X7.XX.X10|:8080... connected.
Proxy request sent, awaiting response... 404 Not Found
2017-05-21 03:45:00 ERROR 404: Not Found.

[2017-05-21 07:47] bluishpe commented on #1655
when I try:

wget http://monitoring-influxdb:8086/ping
--2017-05-21 03:44:59--  http://monitoring-influxdb:8086/ping
Resolving web-proxy.XXX.net (web-proxy.XXX.net )... 16.XXX.XX.210
Connecting to web-proxy.XXX.net (web-proxy.XXX.net)|16.XXX.XX.210|:8080... connected.
Proxy request sent, awaiting response... 404 Not Found
2017-05-21 03:45:00 ERROR 404: Not Found.

[2017-05-21 07:51] andyxning commented on #1655
According to the response, it seems that it is the wrong configuration in the reverse proxy about `monitoring-influxdb` instead of heapster.

You should check and confirm that you setting up an influxdb instance correctly.

[2017-05-21 07:52] bluishpe commented on #1655
You should check and confirm that you setting up an influxdb instance correctly.
          Do you know what I should be checking exactly?

Thanks!

[2017-05-21 07:56] andyxning commented on #1655
* check if the instance ping endpoint is accessible by `ip:port/ping`.
* If it is accessible through `ip:port/ping`, then you should check your reverse proxy settings. If this is the truth, could you please paste the configuration.
* If it can not be accessed by `ip:port/ping`, then you should firstly check whether the influxdb instance is running.

[2017-05-21 09:33] bluishpe commented on #1655
do you have the steps for me to verify the setup correctly?

My heapster has the following config:

apiVersion: v1
kind: ServiceAccount
metadata:
  name: heapster
  namespace: kube-system
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: heapster
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        task: monitoring
        k8s-app: heapst

[2017-05-21 10:15] andyxning commented on #1655
Sorry for not making it clear that what i have proposed for checking is targeted for influxdb. Comments has been updated, please take a look at [this](https://github.com/kubernetes/heapster/issues/1655#issuecomment-302921431).

[2017-05-21 10:16] andyxning commented on #1655
Seems that you may try this `wget http://monitoring-influxdb/ping`. Remove the `8086` port.

[2017-05-21 11:41] bluishpe commented on #1655
Can you tell me the exact working version of below so that I can reconfigure the setup:
Kubernetes version
heapster
grafana
influxdb
flannel
kube-dns

[2017-05-21 12:01] andyxning commented on #1655
I am not faimilar with kube-dns. Have you tried minotoring-influxdb without the port 8086?

YOU deploy influxdb in kubernetes cluster?

[2017-05-21 12:04] bluishpe commented on #1655
Yes, have deployed in a kuberneter cluster, version 1.5.4
what should I use instead of kube-dns? do we have another option?

[2017-05-21 12:09] bluishpe commented on #1655
even without port its the same error:

 wget http://monitoring-influxdb/ping
--2017-05-21 08:07:46--  http://monitoring-influxdb/ping
Resolving web-proxy.XXX.net (web-proxy.XXX.net)... 16.XXXX.28.210
Connecting to web-proxy.XXX.net (web-proxy.XXX.net)|16.XXX.210|:8080... connected.
Proxy request sent, awaiting response... 404 Not Found
2017-05-21 08:07:47 ERROR 404: Not Found.

[2017-05-21 12:09] andyxning commented on #1655
Could you please paste the k8s rc/pod configuration about influxdb

[2017-05-21 12:10] andyxning commented on #1655
you should try to wget inside heapster pod

[2017-05-21 12:10] bluishpe commented on #1655
Can I edit /etc/hosts of the heapster to include ip and name of influxdb so that ping is successful between them?

[2017-05-21 12:12] bluishpe commented on #1655
influxDB yaml

kind: Deployment
metadata:
  name: monitoring-influxdb
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        task: monitoring
        k8s-app: influxdb
    spec:
      containers:
      - name: influxdb
        image: gcr.io/google_containers/heapster_influxdb:v0.7
        volumeMounts:
        - mountPath: /data
          name: influxdb-storag

[2017-05-21 12:14] andyxning commented on #1655
wget http://monitoring-influxdb:30322/ping

[2017-05-21 12:27] bluishpe commented on #1655
Same error
port 30322 is for external connectivity. However here it seems like with pods there is no communication. Heapster should communicate to influxdb via 8086...please correct me if I am wrong.

 wget http://monitoring-influxdb:30322/ping
--2017-05-21 08:25:31--  http://monitoring-influxdb:30322/ping
Resolving web-proxy.XXXX.net (web-proxy.XXXX.net)... 16.XX.XX.210
Connecting to web-proxy.XX

[2017-05-21 12:31] andyxning commented on #1655
Have you tried the wget within the heapster pod?

Why your wget resulting 16.*, i.e. public ip address

[2017-05-21 12:37] bluishpe commented on #1655
Is this the right way to execute within heapster pod?

 kubectl --namespace=kube-system exec heapster-1865471235-7sbfx -- wget http://monitoring-influxdb:8086/ping
wget: bad address 'monitoring-influxdb:8086'

 kubectl --namespace=kube-system exec heapster-1865471235-7sbfx -- wget http://monitoring-influxdb:30322/ping
wget: bad address 'monitoring-influxdb:30322'

[2017-05-21 12:39] bluishpe commented on #1655
16.xx is the proxy within our company to access outside internet from that node.

[2017-05-21 12:51] andyxning commented on #1655
I guess maybe this is related to your `/etc/resolv.conf` settings. Can you please run the following command and paste the response.
`kubectl --namespace=kube-system exec heapster-1865471235-7sbfx -- cat /etc/resolv.conf`

[2017-05-21 12:56] bluishpe commented on #1655
Here is the output:

kubectl --namespace=kube-system exec heapster-1865471235-7sbfx -- cat /etc/resolv.conf
search kube-system.svc.cluster.local svc.cluster.local cluster.local hpeswlab.net
nameserver 10.96.0.10
options ndots:5

[2017-05-21 13:08] andyxning commented on #1655
Your influxdb pod should be accessible by `monitoring-influxdb.kube-system.svc.cluster.local/ping` according to [doc](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/).

[2017-05-21 13:34] bluishpe commented on #1655
I get this output:

 kubectl --namespace=kube-system exec -ti heapster-1865471235-7sbfx -- nslookup kubernetes.default
Server:    (null)
Address 1: ::1 localhost
Address 2: 127.0.0.1 localhost

nslookup: can't resolve 'kubernetes.default': Name does not resolve

kubectl get pods --namespace=kube-system -l k8s-app=kube-dns
NAME                        READY     STATUS    RESTARTS   AGE
kube-dns-2924

[2017-05-21 13:57] andyxning commented on #1655
It seems that the kube-dns is not working properly. You should check if it is set up properly.

[2017-05-21 13:59] bluishpe commented on #1655
Any suggestion to check kube-dns.
Is there an alternative to kube-dns that I can use in my setup?

[2017-05-21 14:56] andyxning commented on #1655
Sorry. I am not familiar with kube-dns. You should also check for the logs of kube-dns and whether the service for kube-dns is available.

[2017-05-21 15:08] bluishpe commented on #1655
Yes it running:

kubectl get services --all-namespaces
NAMESPACE     NAME                  CLUSTER-IP       EXTERNAL-IP   PORT(S)                         AGE
default       kubernetes            10.96.0.1        <none>        443/TCP                         19h
kube-system   heapster              10.96.203.201    <nodes>       80:30310/TCP                    3h
kube-system   kube-dns              1

[2017-05-22 18:04] DirectXMan12 commented on #1655
you also need to make sure you've set up the right flags on your Kubernetes cluster to auto-inject the DNS info.  IIRC, it's a flag on the Kubelet.

[2017-05-22 18:05] DirectXMan12 commented on #1654
this seems reasonable to me.  I'd welcome a patch.

[2017-05-22 18:06] DirectXMan12 commented on #1653
can you just inject the CA roots via a volume (hostpath or otherwise)?

[2017-05-22 18:07] DirectXMan12 commented on #1648
So, there error that you got doesn't look like an RBAC error, it looks like a networking error.

[2017-05-22 18:09] DirectXMan12 commented on #1648
In your networking setup, are pods able to access the API server?

[2017-05-22 18:11] DirectXMan12 commented on #1652
there should be a Heapster role automatically created as part of the bootstrap policy.  Make sure that role is present (if not, sync your bootstrap policy), and make sure there's a clusterrolebinding binding the `kube-system:heapster` serviceaccount to that clusterrole.

[2017-05-22 18:12] DirectXMan12 commented on #1652
(feel free to re-open the issue if that doesn't work).

[2017-05-22 18:12] #1652 closed

[2017-05-22 18:17] DirectXMan12 commented on #1644
I'm a little hesitant to support this, since it seems not quite as generally useful (since most people can probably just use the elasticsearch sink), and every new sink in Heapster adds maintenance burden to us.

WDYT @piosz

[2017-05-22 21:05] iamrandys commented on #1586
Does anyone have any idea on how to configure FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT if Calico was used to create the Kubernetes cluster using Kops?

`kops create cluster --networking calico`

[2017-05-22 23:37] andyxning commented on #1654
@DirectXMan12 I will work on a patch recently. I think we should just do this just for Influxdb sink for now. Once all other sinks make an agreement on this, we should refactor this from the original source.

[2017-05-23 00:33] jurgenweber commented on #1586
for those that `kops create cluster --networking canal`

`kubectl edit ds canal -n kube-system`

add the environment variable as per the above with the other environment variables for the container named:

[code]

To make it live you have two optinos, either delete the pods so they recreate or add this to your updatestratergy, replace 'DeleteOnly' with:

[code]

and it will go and updated it all a

[2017-05-23 03:26] #1634 closed

[2017-05-23 07:17] huangjiasingle commented on #1652
my k8s cluster env is v1.6.3,  role and rolebinding named kube-system:heapster doesn't exsit,so l have to create it by manual.

[2017-05-23 11:41] piosz commented on #1654
My opinion is that we can remove `pod_namespace` and one of `nodename` and `hostname`.

We should keep both `pod_id` and `pod_name` because the former is guaranteed to be unique and is the computer friendly while the latter is human friendly. Same with namespace.

[2017-05-23 11:50] andyxning commented on #1654
Does it really useful by adding `pod_id` or `namespace_id`? What is the usage?

[2017-05-23 13:11] mintzhao commented on #1646
@huangjiasingle yes, so it's confused.

[2017-05-23 13:13] mintzhao commented on #1646
@DirectXMan12 tks, I will try tomorrow. I just tried ```--v=5```

[2017-05-23 13:30] andrey01 opened #1658 "heapster-amd64 v1.3.0+ container image ignores the nameserver from /etc/resolv.conf"
Hello,

in our environment we are setting ``sysctl net.ipv6.conf.all.disable_ipv6=1``.

Having this, we observed that ``gcr.io/google_containers/heapster-amd64:v1.3.0`` is constantly trying to use IPv6 for communication with the Cluster DNS ``10.96.0.10`` 53/udp:

[code]

Though, with the ``gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1`` (2 month older image than the ``v1.3.0``) we do not

[2017-05-23 13:34] andyxning commented on #1654
AFAIK, kubernetes has no api having a uuid as a query parameter(please let me know if i am wrong). If we need uuid info, by composing time, namespace, and pod name we can query kubernetes for corresponding uuid.

[2017-05-23 14:06] andyxning commented on #1644
I agree with @DirectXMan12 since it seems ES has already meet the demands.

[2017-05-23 14:08] arykalin commented on #1614
Have same problem, any advises?

[2017-05-24 06:55] dangzhiqiang commented on #1140
How to fix it?

[2017-05-24 07:23] mintzhao opened #1660 "[heapster.go:122] Could not create the API server: error creating self-signed certificates: mkdir /var/run/kubernetes: permission denied"
I want to start api-server of heapster, but got:
[code]

[2017-05-24 07:42] #1654 closed

[2017-05-25 08:18] Kokan commented on #1227
I had such an issue with logging details (heapster 1.2.0 version), as it turned out the kafka producer used for heapster has an option to provide logger, but non given. All of the kafka producer logs are thrown away. You can modify the code to provide brokerConf.Logger (in case of 1.2.0 metrics/sinks/kafka/driver.go)

[2017-05-25 09:03] piosz commented on #1616
this is fixed

[2017-05-25 09:03] #1616 closed

[2017-05-25 09:05] piosz commented on #1487
cc @bskiba

[2017-05-25 09:57] huyhoang-goappable opened #1663 "heapster can not access api"
I just set up kubernetes server following this tutorial (aws):
http://docs.heptio.com/content/tutorials/aws-cloudformation-k8s.html

And then I tried to install heapster and here is the result:
`
I0525 09:36:11.150314       1 heapster.go:72] /heapster --source=kubernetes:https://kubernetes.default --sink=influxdb:http://monitoring-influxdb.kube-system.svc:8086
I0525 09:36:11.150346       1 heapste

[2017-05-25 11:31] hayatAmine commented on #1585
hi,
@jakon89 i have the same error , have you fin a solution ?
Thanks  in Advance

[2017-05-25 12:59] #1639 closed

[2017-05-25 14:47] adambkaplan commented on #1615
Similar issue reported in #1623

[2017-05-26 06:35] jeremywu0127 commented on #1470
I have met this issue with k8s version `1.6.3`, the `kubectl get hpa` shows like
[code]
the logs of heapster shows like
[code]
the php-apache  is
[code]
the hpa logs like
[code]
then I add resource quta in php-apache by referring [#6293](https://github.com/openshift/origin/issues/6293), it works fine.
new php-apache looks like:
[code]
I guess since k8s version `1.6`,  `hpa` support custom metrics

[2017-05-27 16:38] Dmitry1987 commented on #1470
@jeremywu0127 ,  you should verify your Heapster instance can reach all nodes on needed ports and that other components can reach it back (500 and 9000 something, please check in heapster docs...)  verify the kubelet ports are open to access for Heapster. I had a very similar scenario, reason was Heapster not reaching all servers (as a test - open all traffic between server where Heapster hosted a

[2017-05-28 03:06] #1663 closed

[2017-05-31 08:48] hzfeng87 opened #1667 "failed to start heapster container for the reason that can't join network of a non running container"
I set up kubernetes with kubeadm and created heapster v1.3.0. But I found the pods can't start. It showed that 'rpc error: code = 2 desc = failed to start container "98fe84318e33ce449a19522443117474542bdf1849d00378eaf2cb6edf1b744d": Error response from daemon: cannot join network of a non running container: 2d2e8e9be946ef6eda66589dcdebfc35b0dc44bd79ca995dc1e87044d445b96f'

Then I described the hea

[2017-05-31 08:50] hzfeng87 commented on #1667
my cni0 has the IP 10.244.3.1 and it was assigned after I created flannel. I am confused that why 10.244.2.1/24 is required force.

[2017-05-31 13:46] espala commented on #1653
Hello, I have same problem.. How can I do this?

[2017-05-31 18:05] DirectXMan12 commented on #1653
https://kubernetes.io/docs/concepts/storage/volumes/#hostpath provides instructions for how to use volumes (specifically, hostpath volumes).  You could also place them in a secret, and mount them in that way.

[2017-05-31 18:05] #1653 closed

[2017-05-31 18:06] DirectXMan12 commented on #1667
this is not a Heapster issue.

[2017-05-31 18:06] #1667 closed

[2017-05-31 18:13] deevya2000 opened #1668 "Would Heapster 1.0 work with Kubernetes 1.4 ?"
I really liked the /stats in the url in Heapster 1.0 that would give me a aggregation of all the metrics per hour,per day and per minute. I dont see that in Heapster 1.3. Is there some other way to get the data that is being returned by the /stats url in heapster 1.3 ? If not, then I would like to use Heapster1.0 (that had the /stats) along with my Kubernetes 1.4. Please let me know if this is pos

[2017-05-31 18:42] #1623 closed

[2017-05-31 19:16] DirectXMan12 commented on #1615
Fixed by  	05f739e

[2017-05-31 19:16] #1615 closed

[2017-05-31 19:19] DirectXMan12 commented on #1660
by default, Heapster with the API server will attempt to create self-signed certificates if none are present in `/var/run/kubernetes` or specified with flags.  Either make `/var/run/kubernetes` writable, or, better yet, inject certificates via a secrets mount.

[2017-05-31 19:19] #1660 closed

[2017-05-31 19:24] DirectXMan12 commented on #1658
This is *probably* not a Heapster issue.  Are other pods working properly on your cluster?  Heapster is using the standard DNS code from the Kubernetes libraries here.  Are you actually injecting cluster DNS?

[2017-05-31 19:28] DirectXMan12 commented on #1652
make sure you sync your bootstrap policy -- the policy is definitely in the set of bootstrap policy for 1.6.3 (I just checked): https://github.com/kubernetes/kubernetes/blob/v1.6.3/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L199

[2017-05-31 19:31] DirectXMan12 commented on #1668
I'd expect that Heapster 1.0 should work with Kubernetes 1.4, but I'm not sure.  I'd have test it out to see.  At any rate, I'd avoid become dependent on any of those APIs -- they're not official APIs, and are likely to disappear.  If you want aggregation, please use one of the sinks.

[2017-05-31 19:31] #1668 closed

[2017-05-31 19:47] deevya2000 commented on #1668
I did try Kubernetes 1.4 with Heapster 1.0, it did work but I was not able to get the /stats API. Has it been discontinued ?

[2017-05-31 19:51] deevya2000 commented on #1668
and is there any place I can find more info about aggregation in sinks ?

[2017-05-31 22:10] DirectXMan12 commented on #1668
it's sink-dependent -- each sink has it's own query language that you could use to do that.

[2017-06-01 01:32] c-knowles commented on #1595
I was wondering if this is the same issue as https://github.com/kubernetes/heapster/issues/1589? I've been trying to tackle this for kube-aws in https://github.com/kubernetes-incubator/kube-aws/issues/685, I agree with the comments from @DirectXMan12 about not giving heapster the ability to modify its own configuration. Are there any working examples of heapster with nanny in the wild?

[2017-06-01 06:48] datamaker opened #1669 "heapster-grafana-amd64:v4.2.0 is not found"
hello,

I want to grafana install in my kubernetes
There is v4.0.2 but not v4.2.0.

**heapster/deploy/kube-config/influxdb/grafana.yaml**
[code]

[code]

and,
my terminal says - **grafana-cli command not found.**
How do I run grafana-cli  plugins install in kubernetes?

[code]

[2017-06-01 14:48] deevya2000 commented on #1668
Thanks, also I had one more question, I dont see the file system metrics (filesystem/usage,filesystem/limit,
filesystem/available)  in Heapster 1.3 data that I receive from the REST API call, all I see  for my kubernetes dashboard pod is

0	"memory/major_page_faults_rate"
1	"network/tx_errors_rate"
2	"network/rx_errors"
3	"network/tx_errors"
4	"memory/usage"
5	"memory/working_set"
6	"network/rx_er

[2017-06-01 19:16] DirectXMan12 commented on #1668
it should still be there, according to the code.  I'd warn that Heapster 1.3 is relatively new, so is mostly tested against Kubernetes 1.5/1.6, not 1.4

[2017-06-01 19:19] DirectXMan12 commented on #1595
@piosz might know

[2017-06-01 19:52] deevya2000 commented on #1668
Which version of Heapster would you suggest running against Kubernetes 1.4 ?

[2017-06-02 01:54] grailsweb commented on #1669
image version is 4.0.2. update the yaml file and create the pod.

https://github.com/kubernetes/heapster/issues/1469#issuecomment-274218852

[2017-06-02 06:30] espala commented on #1653
Hello,

I try, but it does not succeed. Can you help me ?

my grafana.yaml

[code]
logs;

[code]

pod details;

[code]

[2017-06-02 08:48] alvaroaleman commented on #1669
Well, in that case the yamls in the repo should use 4.0.2 instead of referencing a non-existing tag.

[2017-06-02 12:04] Kokan opened #1672 "kafka sink is not able to rejoin via url specified in config"
Heapster version: 1.2.0 (I tried 1.3.0 but we are using 1.2.0 in our system).
Only the kafka sink is configured with an url. That url is not directly one of the address of the kafka instance, but rather gives back all of the running avaiable kafka ips:

DNS is used to reach each instance (in kafka the below addresses configured as advertised address also).
kafka1.kafka
kafka2.kafka
kafka3.kafka

B

[2017-06-02 15:10] wjdfx opened #1673 "A misstake on the web .md file"
The  .md file 16 sloc display: image: gcr.io/google_containers/heapster-grafana-amd64:v4.2.0
It's wrong,the right info is : v4.0.2 , not v4.2.0
https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/grafana.yaml

[#1669](url)

[2017-06-02 17:37] DirectXMan12 commented on #1653
Here's the list of where go looks for root certs: https://github.com/golang/go/blob/master/src/crypto/x509/root_linux.go#L9

Looks like your setup doesn't quite match what it's expecting -- you've mixed an matched paths and file names from a couple different distros, AFAICT.

[2017-06-02 17:39] DirectXMan12 commented on #1668
v1.2.0 is probably fine.

[2017-06-02 17:41] jeremywu0127 commented on #1470
@Dmitry1987 sorry for late response. `heapster` and other `components` (kubelet and kube-proxy) run on same node, I manually run `curl`, it looks like
[code]
seems heapster can reach each other component, any ideas about the problem?

[2017-06-02 17:44] DirectXMan12 commented on #1673
looks like a duplicate of the referenced issue.  Closing

[2017-06-02 17:44] #1673 closed

[2017-06-02 18:25] Dmitry1987 commented on #1470
mm.. no idea what else might cause this, especially on same host o_O really strange.. please share if you solve it :)

[2017-06-02 18:28] Dmitry1987 commented on #1470
@jeremywu0127  can you try switching to different versions of heapster? maybe something with the schema changes... btw regarding RBAC, what if the policies are not configured properly and block 'something somewhere'?  (I'm getting lost in the rising complexity of k8s with each new version, still can't get my head around all aspects related to RBAC.. but worth to check this direction in troubleshoo

[2017-06-02 22:53] Ascendance commented on #1596
YES

[2017-06-04 08:19] espala commented on #1653
Yes, finally i'm succeeded. I missed the detail, thank you for your support.

my temporary grafana.yaml;

[code]

[2017-06-05 17:10] DirectXMan12 commented on #1596
If grafana-cli is just for managing plugins, I'm tempted to say that things like installing plugins should be done at image build time, not at runtime, and that if you want to install plugins, you can pull in grafana-cli separately.

I'm open to other opinions though

[2017-06-05 17:17] espala opened #1674 "how to keep the changes on the grafana ?"
i have one more question. How can i make my slack notification settings or general grafana settings permanent?

I did not see the config file. If I need to write to the default.ini file, I also can not find the appropriate parameters.

#1653

[2017-06-05 17:44] DirectXMan12 commented on #1674
You'd probably need to build a new image off of the base image with the changes baked in, or somehow inject the changes via a mounted-in configmap.

[2017-06-05 17:44] #1674 closed

[2017-06-05 20:20] saschagrunert commented on #1669
No, I guess the only thing is missing here is the image on google contianers.

[2017-06-06 13:53] andyp1per commented on #1620
I have been trying to track down heapster autoscale on minikube issues all day. Heapster as an add-on is not working because of https://github.com/kubernetes/minikube/pull/1513 . However the default configuration also does not work in minikube. It partially works in that I get graphs, but autoscaling is not working. The secret to getting it working for me was to replace
`--source=kubernetes:https:

[2017-06-06 15:28] DirectXMan12 commented on #1620
So, the way kubernetes DNS is structured is that services are exposed as `<service>.<namespace>.svc.<suffix>`.  Generally, the shortened forms `<service>` (which expands to `<service>.<current-namespace>.svc.<suffix>`) and `<service>.<namespace>` are acceptable.  I'm not sure why `<service>` works fine but `<service>.<namespace>` does not.  Does `<service>.<namespace>.svc` work for you?

[2017-06-06 15:38] andyp1per commented on #1620
It's possible this is a red herring and I'm just not waiting long enough (it seems to take at least 3mins for the hpa to recoginze the current CPU usage). I also have the issue that the hpa is never able to recover current cpu usage for a statefulset.

[2017-06-06 15:43] DirectXMan12 commented on #1620
That's somewhat expected, depending on your configuration of Heapster, the HPA, etc.  Heapster needs two collection intervals to determine CPU usage (since it's a rate, we need two data points to calculate it).  Depending on your HPA resync interval, 3 minutes is high, but not terribly so.

Do statefulsets even implement the scale subresource?  AFAICT, they do not.  The HPA will only work on scala

[2017-06-06 15:59] andyp1per commented on #1620
https://github.com/kubernetes/kubernetes/issues/46005 :(

[2017-06-06 16:18] raghu999 commented on #1669
Seeing same issue here
[code]
None of the grafana images are working

[2017-06-07 13:44] piosz commented on #1589
cc @mwielgus @x13n

[2017-06-07 13:45] piosz commented on #1595
cc @mwielgus @x13n

[2017-06-07 13:52] piosz commented on #1595
I was not aware of any problems with pod_nanny permissions. If there are any we need to update rbac policies so that the pod nanny has appropriate permissions to do its job.

I agree that it's a weird situation when Heapster pod wants to modify itself and long term we may want to introduce maybe a separate controller for this purpose. See https://github.com/kubernetes/kubernetes/issues/46763

[2017-06-07 16:12] piosz commented on #1595
@x13n could you please verify this?

[2017-06-07 17:30] ompraash opened #1675 "Deleted pods show up in grafana"
Version:
grafana: 4.0.2
heapster: 1.3.0-beta.1
influxdb: 1.1.1
kube version: 1.5.1

I am not sure if it is a feature, but let me start with my scenario.

1. kube cluster has multiple pods across different namespaces.
2. Heapster, grafana and influxdb is working, can watch all stats.
3. After deleting few pods, grafana -> podname dropdown does not remove them.
    a. If the PODS are deleted, grafan

[2017-06-07 17:32] DirectXMan12 commented on #1675
I'm not super familiar with how Grafana works, but I'd guess that it's because the series still exists in the TSDB -- the old metrics are still there, so you can still access the information for that pod.  Perhaps someone else can clarify, though.

[2017-06-07 18:03] ompraash commented on #1675
@DirectXMan12 shouldn't the system add a tag to the podname to indicate it is deleted. This would be a feature.

[2017-06-07 18:05] DirectXMan12 commented on #1675
you should probably just scope your queries to a particular span of time... that should prevent deleted pods from showing up, I believe.

[2017-06-08 00:06] andyxning commented on #1675
It seems that the time range you specify contains both deleted pods and currently running pods. Once you specify show series from the time pods deleted, they should not show up.

[2017-06-08 02:56] jwfang opened #1676 "no heapster-grafana-amd64:v4.2.0 image"
only found the following on https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/heapster-grafana-amd64
[code]

should i be a paid user for v4.2.0 ?

[2017-06-08 05:09] ompraash commented on #1675
@andyxning @DirectXMan12 that is not true. Have the pods deleted 24 hrs ago, and yet i see them in the drop-down. thou do not show any stats, but yes the drop down list yet appears.

[2017-06-08 05:18] andyxning commented on #1675
@ompraash

This may be related with Grafana top-down query. I guess the template variable does not apply the time range. It just do `show tag values`.

[2017-06-08 08:34] andyxning commented on #1675
@ompraash

Please take a look at this [Grafana PR #3472](https://github.com/grafana/grafana/issues/3427) and [Grafana PR #4281](https://github.com/grafana/grafana/pull/4281). I suggest you give `On Time
 Range Change` a try.

![10](https://user-images.githubusercontent.com/2404712/26919456-56bbd8c2-4c68-11e7-9164-d23448beb876.png)

[2017-06-08 12:47] beinnova commented on #1470
Hi, I have the same problem on GKE cluster. After updating to 1.6.2 version I can't see metrics.

[2017-06-09 04:17] jonathan-kosgei commented on #1185
I get the same error
**Template variables could not be initialized: InfluxDB Error: undefined**
To get it to work I had to comment out
`# kubernetes.io/cluster-service: 'true'`
in
[code]

Is this repo supposed to be deployed exclusively as a cluster add-on?

[2017-06-09 04:18] jonathan-kosgei opened #1679 "Template variables could not be initialized: InfluxDB Error: undefined"
I get the error
**Template variables could not be initialized: InfluxDB Error: undefined**
After deploying the setup with `kubectl apply -f heapster/deploy/kube-config/influxdb/`
To get it to work I had to comment out
`# kubernetes.io/cluster-service: 'true'`
in
[code]

Is this repo supposed to be deployed exclusively as a cluster add-on?

[2017-06-09 06:54] jeremywu0127 commented on #1470
@Dmitry1987 I add resources request it works. manifests like the following
before:
[code]
now:
[code]
seems that it must specify the request resources of a container, then `hpa` and `heapster`  work

[2017-06-09 15:08] DirectXMan12 commented on #1470
HPA specifically needs requests.  This is documented in the HPA documentation.  Simply accessing the metrics from Heapster should not require requests to be set.

[2017-06-09 15:09] DirectXMan12 commented on #1679
no, it's not supposed to be exclusively as a cluster addon.

[2017-06-09 15:36] kachkaev commented on #1676
Also facing this. Temporary had to

[code]

`http` command is from [httpie](https://httpie.org/) package.

[2017-06-09 16:33] Dmitry1987 commented on #1470
Hey guys, thanks for reporting back, it's a useful info :+1:

[2017-06-09 18:49] x13n commented on #1595
pod_nanny for heapster at the moment existsing in the same pod as heapster itself, so if it is forbidden from modifying this pod requirements/limits, it won't work. However, ClusterRole is set only in yaml example from heapster repo:

https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/heapster.yaml

but is not set in main kubernetes repo, which is used when setting up a

[2017-06-12 03:04] ompraash commented on #1675
@andyxning i tried as suggested but did not work. let me delete and recreate my env again.

[2017-06-12 10:19] andyxning commented on #1675
This is confusing. Hope you make some feedback after recreate you env and test again.

[2017-06-12 13:41] murhum1 opened #1681 "Add RBAC heads-up for heapster-grafana-influxdb docs"
The [docs for the heapster-grafana-influxdb monitoring combo](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md) currently don't tell about the rbac requirements when bringing up a cluster with, for example, kubeadm.

A heads-up about also applying the [rbac yaml](https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/rbac) should be added after this line.

[2017-06-12 14:00] cdxOo opened #1682 "Eventer GCL sink throws Error 400 when exporting events"
When enabling the GCL sink i get the error posted below. I glanced quickly over the code in [events/gcl/gcl.go](https://github.com/kubernetes/heapster/blob/master/events/sinks/gcl/gcl.go) and recognized the import of logging api v2beta1 while v2 is live. Im not sure if that is related or if there is something wrong with my  configuration.

**Setup**
- GKE
- kubernetes v1.6.4
- eventer v1.3.0
- Sta

[2017-06-13 03:08] chengzhang1016 commented on #1566
This issue had been fixed. Thanks.

[2017-06-13 03:08] #1566 closed

[2017-06-13 15:34] SankarMittapally opened #1685 "pods and cluster dashboard is not coming"
Hello,

 I am trying to configuring the heapster with kubernetes cluster with help of kubeadm. my cluster is up and running fine but heapster is unable to detect the information from the cluster, grafana is not connecting to influxdb also. Please let me know how to fix this issue.
![kubernetes](https://user-images.githubusercontent.com/13848964/27090763-bf0b1ab6-507b-11e7-88c2-3b182fbaf388.PNG)

[

[2017-06-14 17:33] DirectXMan12 commented on #1685
Let's do this one at a time.  What are the symptoms of Heapster not being able to gather metrics?  You'll need to provide more information.  Please also provide versions of Kubernetes and Heapster.

[2017-06-14 17:38] DirectXMan12 commented on #1681
We'd welcome a PR for this :-).

[2017-06-15 08:52] SankarMittapally commented on #1685
Please find the details below. Actually I am able to access grafana dashboard but there is no pods and cluster dashboards and tried to establish connection between grafana and influxdb datasource got the above error. Please guide me how to fix this issue.

`root@kubernetes:/home/smittapally# kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f43322

[2017-06-15 10:45] sotona- commented on #1614
Same problem too.
In my case grafana_setup binary resolves localhost as 10.x.x.x(real ip from my network) and try to connect to it.
It is because my dns have A-record localhost.mycompany.local and resolv.conf in grafana's container have option "search mycompany.local".
I solve this by placing nsswitch.conf file to grafana's container with string "hosts:      files dns myhostname".

[2017-06-15 11:26] arykalin commented on #1614
I've made a workaround of this by changing line 82 from setup_grafana.go to my grafana service address
`
-       grafanaURL := fmt.Sprintf("%s://%s:%s@localhost:%s", envParams["gf_server_protocol"], envParams["grafana_user"], envParams["grafana_passwd"], envParams["grafana_port"])
+       grafanaURL := fmt.Sprintf("%s://%s:%s@192.168.1.1:%s", envParams["gf_server_protocol"], envParams["grafana_use

[2017-06-15 20:51] DirectXMan12 commented on #1685
So, is Heapster itself working?  Is it just not grafana that's working?

[2017-06-15 21:12] stresler commented on #1676
Why close the duplicate issue that has a PR on it to fix this? Would it make more sense to close this one and re-open the one with the change on it?

[2017-06-16 05:23] SankarMittapally commented on #1685
yes, all three services are up and running but not connected to Kubernetes cluster to get the data.