[2017-06-16 17:38] DirectXMan12 commented on #1685
Wait, how have you confirmed that Heapster isn't connected to Kubernetes, then?  Are you able to access the Heapster API?

[2017-06-17 06:03] SankarMittapally commented on #1685
I am unable to access any API, it is saying system:anonymous. I used to NodePort for Grafana and came to know that graphs are not there.

[2017-06-19 17:17] DirectXMan12 commented on #1685
ok, so first let's figure out if Heapster is working.  You might just have a Grafana issue.  You should try running `kubectl proxy` in one terminal window, and then `curl localhost:8001/api/v1/namespaces/kube-system/services/proxy/api/v1/model/namespaces` and see if that returns anything.

[2017-06-20 14:58] BenjaminITS opened #1690 "Unable to launch heapster with apiserver"
Hey,

I want to launch heapster with apiserver on kubernetes 1.6.1 but I always get the same error :

I0620 14:15:14.915802       1 heapster.go:73] Heapster version v1.3.0
I0620 14:15:14.916299       1 configs.go:61] Using Kubernetes client with master "https://10.3.0.1:443" and version v1
I0620 14:15:14.916376       1 configs.go:62] Using kubelet port 10255
I0620 14:15:15.004367       1 heapster.

[2017-06-21 14:53] piosz commented on #1598
I had similar thoughts many times in the past and eventually came to the conclusion that there is a lot of template boilerplate + addon resizer out of the box in Kubernetes deployment version, so it's not possible to just create Heapster deployment without using `kube-up.sh` scripts. At the same time there was a number of issues filed in Heapster repo about not working deployment files so it seems

[2017-06-21 14:54] piosz commented on #1599
@bowei @dashpole @timstclair @vishh do you know?

[2017-06-21 15:12] piosz commented on #1528
@XiLongZheng today;)

[2017-06-21 15:16] #1644 closed

[2017-06-21 15:57] piosz commented on #1682
@crassirostris could you please take a look?

[2017-06-21 15:58] piosz commented on #1682
@cdxOo also we introduced recently [event-exporter](https://github.com/kubernetes/contrib/tree/master/fluentd/event-exporter) which has similar functionality.

[2017-06-21 15:58] piosz commented on #1682
@cdxOo also we introduced recently [event-exporter](https://github.com/kubernetes/contrib/tree/master/fluentd/event-exporter) which has similar functionality.

[2017-06-21 16:09] crassirostris commented on #1682
@cdxOo Could you please take a look at the event-exporter Piotr mentioned? I can see more than one problem happening with eventer in the newer version of Kubernetes

Meanwhile I'll try to take a look this week

[2017-06-21 17:22] DirectXMan12 commented on #1599
hmm... probably the underlying metrics are labeled metrics in Heapster, but the model API doesn't expose those so well...

[2017-06-21 17:23] DirectXMan12 commented on #1599
In the internal representation, they're probably labeled per network adapter.

[2017-06-21 18:31] timstclair commented on #1599
It's based on eth0. It's currently hard coded, but there's a couple open bugs to fix that (https://github.com/kubernetes/kubernetes/issues/28407)

[2017-06-22 08:57] beinnova opened #1696 "Grafana doesn't show metrics on GKE"
Hi, since 1.6.2 Grafana stops to show metrics. My cluster is hosted on GKE an I deployed grafana + influx db using  [these templates](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring/influxdb).
Version:

[code]
The heapster logs show me that seems impossible to heapster reach data

[code]
Last, when I run `kubectl cluster-info dump` i receive this output

[cod

[2017-06-22 19:35] fgrzadkowski opened #1697 "Heapster should handle duplicated stats from kubelet gracefully"
Ref https://github.com/kubernetes/kubernetes/issues/47853

[2017-06-23 09:48] #1196 closed

[2017-06-23 11:39] piosz commented on #1676
I've built `gcr.io/google-containers/heapster-grafana-amd64:v4.2.0`. Please check the new one.

[2017-06-23 11:39] #1676 closed

[2017-06-23 11:39] piosz commented on #1669
I've built `gcr.io/google-containers/heapster-grafana-amd64:v4.2.0`. Please check the new one.

[2017-06-23 11:39] #1669 closed

[2017-06-23 11:42] piosz opened #1698 "Unable to build grafana for other platforms"
After #1624 is merged I'm not able to build grafana for other platforms than `amd64`.

See https://github.com/kubernetes/heapster/pull/1624/files#r123724923

[2017-06-23 11:43] piosz commented on #1698
cc @adambkaplan @luxas

[2017-06-23 13:08] andyxning commented on #1698
Seems like unexpected change.

[2017-06-23 14:47] crassirostris commented on #1682
Yup, with the newer version of SD Logging (v2), everything works

I'll send a PR during next week. But I strongly encourage you try out [event-exporter](https://github.com/kubernetes/contrib/tree/master/fluentd/event-exporter) for exporting to Stackdriver

[2017-06-23 16:54] luxas commented on #1698
Should be fixed with changing back to `arm`...

[2017-06-23 21:36] cdxOo commented on #1682
Thank you for pointing me to event-exporter, I wil definetly try it out.

[2017-06-24 12:41] jpds commented on #1614
I'm having this same issue on a kubeadm deployed cluster.

[2017-06-26 04:27] andyxning commented on #1698
@luxas Could you please make a PR to change this. :)

[2017-06-26 07:51] luxas commented on #1698
PR made, PTAL

[2017-06-26 08:15] fgrzadkowski commented on #1696
@piosz

[2017-06-26 15:08] rikatz opened #1701 "ElasticSearch sink - Improve mappings, timestamps, index separations, etc"
As mentioned [here](https://github.com/kubernetes/heapster/pull/1607#issuecomment-304285008), maybe using / creating a Generic 'MetricsTimestamp' field usable by all the metrics regardless of which type it uses is better than creating a per-type Timestamp.

Using a per-type Timestamp forces us to create a Datasource per metric in Grafana (like one per CPU, one per memory and so) or even a new inde

[2017-06-26 15:09] rikatz commented on #1701
@AlmogBaku need your opinion in this :)

[2017-06-26 15:24] AlmogBaku commented on #1701
The reason we have different timestamp is to allow Kibana create different
types...

On Mon, Jun 26, 2017 at 6:09 PM Ricardo Katz <notifications@github.com>
wrote:

--

<http://www.rimoto.net/>

www.rimoto.com <http://www.rimoto.net/>

*Almog Baku*

*CTO & Cofounder *
Mobile: +972.50.2288.744
Social:  * <http://www.facebook.com/AlmogBaku>
<http://www.linkedin.com/in/almogbaku>*

[2017-06-26 15:51] piosz commented on #1697
@loburm could you please take a look? Thanks!

[2017-06-26 17:37] rikatz commented on #1701
OK, maybe I'm missing something or I don't understand well how Kibana works, but when you add a new 'index' pattern, you have to specify if the index contains 'time based events', and what's the Time-field base.

If we do add a common 'index' (like testevent-*) pointing only to 'CpuMetricsTimestamp', the different events (memory, network) are 'discarded' from Kibana search.

If you add a non times

[2017-06-26 17:44] gpjt opened #1702 "kubeadm cluster can't run grafana from default influxdb deploy"
It looks like the grafana.ini file isn't being put into the pod.

Some diagnostics, let me know if anything else would be useful:

[code]

[2017-06-26 18:31] DirectXMan12 commented on #1697
we need to make sure we log this if it happens, among other things.  In the past, we've had too many spots in the collection code which silently ignores errors or missing data.

[2017-06-26 18:31] DirectXMan12 commented on #1697
@piosz: it looks @loburm isn't yet on the list of people that I can assign to, it looks like

[2017-06-26 19:07] piosz commented on #1697
@DirectXMan12 I asked Filip to add him to heapster-reviewers team.

[2017-06-27 00:59] AlmogBaku commented on #1701
I don't have an example.. but I guess adding an extra field couldn't hurt..

However, it's interesting to try and see if having a unified timestamp outside of the `types` will also work for Kibana.. (maybe I was wrong.. I don't really recall how it works right now)

[2017-06-27 01:57] wangwu50 commented on #1702
I have the same question

[2017-06-27 04:42] evhfla commented on #1702
Same problem here

[2017-06-27 07:30] fgrzadkowski commented on #1697
@DirectXMan12 @piosz Fixed.

[2017-06-27 14:46] narunask commented on #1702
I second that, same problem.

[2017-06-27 15:12] r0bj commented on #1470
heapster: 1.4.0-beta.0
kubernetes: 1.6.4
docker: 1.12.6
OS: ubuntu 14.04

[code]

More logs:
https://gist.github.com/r0bj/29cb420a761f0dd71d29887e4994d200

Horizontal pod autoscaling fails with this issue.

Is there anything I can do to debug it deeper?

[2017-06-27 15:21] DirectXMan12 commented on #1470
@r0bj which source are you using? `--sink=kubernetes` or `--sink=kubernetes.summary_api`?

[2017-06-27 15:26] DirectXMan12 commented on #1470
Ok, so first try with `--source=kubernetes.summary_api:https://kubernetes.default.svc`.  If that doesn't work, check if you can you manually curl the summary API endpoint from the Heapster pod.  The summary API endpoint is at `https://$NODE:10255/stats/summary`.

[2017-06-27 15:27] DirectXMan12 commented on #1702
@piosz did something go wrong with the latest release of the Grafana pod?

[2017-06-27 16:06] yukiman76 commented on #1702
Same problem here

[2017-06-27 16:19] yukiman76 commented on #1702
![screen shot 2017-06-27 at 12 18 39 pm](https://user-images.githubusercontent.com/8270088/27598206-d03536fc-5b32-11e7-9e2f-52e62bd11d2c.png)
looks like the  grafana.ini  is not in the image

[2017-06-27 17:10] yukiman76 commented on #1702
basic error
/ # /usr/bin/setup_grafana
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 127.0.0.1:3000: getsockopt: connection refused. Retrying after 5 seconds...

[2017-06-27 19:15] crassirostris commented on #1682
@piosz The problem will be solved if we upgrade to the latest version of https://github.com/google/google-api-go-client. But the latest version of api breaks something in monitoring. Can someone supporting sd sink do this?

[2017-06-28 01:22] allen12921 commented on #1669
Hi Piosz,

this gcr.io/google-containers/heapster-grafana-amd64:v4.2.0 can't start up
it's giving below error
kubectl logs -p  monitoring-grafana-2108077385-z2178  --namespace=kube-system
Starting a utility program that will configure Grafana
Starting Grafana in foreground mode
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp [::1]:3000: getsockopt

[2017-06-28 05:17] mjsilva commented on #1702
Any solution while this is not fixed, use a previous version?

[2017-06-28 05:24] mjsilva commented on #1702
Confirm that if you use `gcr.io/google_containers/heapster-grafana-amd64:v4.0.2` it works

[2017-06-28 08:55] piosz commented on #1697
@fgrzadkowski thx

[2017-06-28 09:42] narunask commented on #1702
Unfortunately for me the older version doesn't work either...

[code]

[code]

[2017-06-28 16:29] arausuy commented on #1579
Are there any updates on the status of this?

[2017-06-28 16:45] saschagrunert commented on #1669
Same here.

[2017-06-29 09:25] r0bj commented on #1470
@DirectXMan12 thanks for the hint, so now messages are little different:
[code]

Full log:
https://gist.github.com/r0bj/07e4854728862e5cf1ef1c13b9102aa7

So instead of: `different create time new:[...]  old:0001-01-01 00:00:00 +0000 UTC` there is now: `new batch ([...]) was not scraped strictly after old batch ([...])`

kubelet summary API endpoint seems working fine:
[code]

Full stats summary:
h

[2017-06-29 09:43] yuananf commented on #1702
Same problem here

[2017-06-29 13:28] AlterEgo7 commented on #1702
Latest release has 4.2.0 grafana image version. Changing it to 4.0.2 fixes the issue. Not sure if this is a typo in the container image version or not.

[2017-06-29 14:31] taylorshaulis commented on #1669
Same here.  4.2.0 generates /etc/grafana/grafana.ini error but 4.0.2 starts without issue

[2017-06-29 14:41] narunask commented on #1702
That's not a typo, new version has been added with the #05f739ef6e7fddb265b9b73b2c65b58ef5e1b500

[2017-06-29 15:16] DirectXMan12 commented on #1470
so, I'm guessing you're hitting a bug where your Heapster collection interval is not always larger than the cAdvisor collection interval.  What's your Heapster collection interval?  Default?  We had a bug a while back where thin_ls stats were causing issues, but that should have gotten merged a while ago...

[2017-06-29 15:19] DirectXMan12 commented on #1470
hmm... you're using 1.5.2... that doesn't have the patch for disabling thin_ls stats...
try bind-mounting /dev/null over the thin_ls binary and see if that fixes your issue.

[2017-06-29 15:48] r0bj commented on #1470
I've used hepaster with `--metric-resolution=10s`. Now I've switched to `--metric-resolution=20s` and it seems that there is no issue.

I've done some digging and it seems that heapster polling interval should be > 2*
polling duration of cadvisor:
https://github.com/kubernetes/kubernetes/issues/18044#issuecomment-161435365

And cadvisor polling interval is currently hardcoded to 10s:
https://githu

[2017-06-29 17:18] DirectXMan12 commented on #1470
I *really* need to put this in a document somewhere:
With a set collection interval of 10s in cAdvisor, the *actual* cAdvisor collection interval can be up to 30s, due to jitter and backoff mechanisms.  Your Heapster collection interval should be no lower than 30s.

[2017-06-29 18:37] salilgupta1 opened #1705 "Update Sinks Configuration Documentation"
Currently, [sink-configuration.md](https://github.com/kubernetes/heapster/blob/master/docs/sink-configuration.md) and [sink-owners.md](https://github.com/kubernetes/heapster/blob/master/docs/sink-owners.md) state that the Kafka sink doesn't not support K8s API events. However, there seems to be code that does allow Kafka to accept events.  @huangyuqi can you confirm this?

[2017-06-29 19:14] rikatz commented on #1701
@AlmogBaku No problems at all. I'll make some tests here, including Kibana Dashboards and check if everything works fine.

[2017-06-30 00:41] blakebarnett opened #1706 "Have ElasticSearch sink only emit events"
We already use prometheus for metrics, and would like to send only events to ElasticSearch it would be great if this were configurable.

[2017-06-30 00:50] dvdklnr opened #1707 "V1.4.0: Unable to change index name in elasticsearch sink"
With

sink config:

`        - "--sink=elasticsearch:http://elasticsearch.monitoring.svc:9200?index=k8sevents?cluster_name={{ .Values.clusterName }}?sniff=0"`

error:

`W0630 00:47:10.151271       1 driver.go:75] Failed to export data to ElasticSearch sink: elastic: Error 400 (Bad Request): Invalid index name [k8sevents?cluster_name=prod.us-west-6.aws.k8s?sniff=0-2017.06.30], must not contain the

[2017-06-30 08:30] christiaan-janssen commented on #1702
I'm trying with `gcr.io/google_containers/heapster-grafana-amd64:v4.0.2` but then I get:

[code]

[2017-06-30 13:40] bishenghua commented on #1702
it doesn't work:
Starting a utility program that will configure Grafana
Starting Grafana in foreground mode
t=2017-06-30T13:39:23+0000 lvl=crit msg="Failed to parse /etc/grafana/grafana.ini, open /etc/grafana/grafana.ini: no such file or directory%!(EXTRA []interface {}=[])"
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 127.0.0.1:3000: getsockop

[2017-06-30 14:57] bishenghua commented on #1702
i have soved it! Becaues it has not this file:/etc/grafana/grafana.ini in gcr.io/google_containers/heapster-grafana-amd64:v4.2.0

1. docker pull gcr.io/google_containers/heapster-grafana-amd64:v4.0.2
2. docker run -d --name test -v /tmp/ttt:/tmp/ttt gcr.io/google_containers/heapster-grafana-amd64:v4.0.2
3. docker exec -it test -- cp -rp /etc/grafana /tmp/ttt && docker rm -f test
4. vim Dockerfile:

[2017-06-30 15:24] Robbilie commented on #1614
im running into this too and i have no idea how to fix it -.-

[2017-06-30 15:41] Robbilie opened #1709 "V1.4.0 Failed to parse /etc/grafana/grafana.ini, open /etc/grafana/grafana.ini: no such file or directory"
Failed to parse /etc/grafana/grafana.ini, open /etc/grafana/grafana.ini: no such file or directory

there is no such file in there since the config dir is in /usr/share/grafana
theres at least a defaults file…

[2017-06-30 20:02] faraazkhan opened #1710 "Heapster needs access to deployments.extensions"
## Issue Description

The default `system:heapster` role doesn't allow access to `deployment.extensions`. Because of this heapster cannot collect deployment metrics.  DENY messages can be seen in kube-api server. A PR to resolve this issue was also opened here: https://github.com/kubernetes/kubernetes/pull/48357

## Test Environment
[code]
Heapster Version: `heapster-v1.4.0`
RBAC : https://github.

[2017-07-01 14:06] dasher commented on #1596
How about using an env var to pass a list of plugins to be installed at run time (as per the offical grafana way https://github.com/grafana/grafana-docker#installing-plugins-for-grafana-3 )?

[2017-07-01 14:12] andyxning commented on #1709
@Robbilie there is a [PR](https://github.com/kubernetes/heapster/pull/1700) will add a default and empty `grafana.ini` if not exist already. See this [diff](https://github.com/kubernetes/heapster/pull/1700/files#diff-4e2886e52abad1c51e63e647f21e1c9a) for more info.

BTW, you can mount a configuration file into `/etc/grafana/grafana.ini`.

[2017-07-01 15:15] 4admin2root commented on #1702
It works with grafana 4.0.2 , but there are no datapoints.

[2017-07-01 15:30] #1710 closed

[2017-07-01 15:32] andyxning commented on #1596
I agree with @dasher to provide a configuration method to provide a way to install plugins at runtime cause we can not confirm what plugins to install at compile time.

[2017-07-01 16:00] Robbilie commented on #1709
i know that i can mount a config file into it but i would rather not.
i have no idea why the config file is missing and this was really annoying when i tried to upgrade to 1.4.

any eta when a release with the fix is expected?

[2017-07-01 20:24] tanmaykm commented on #1702
Ran into this. As a temporary workaround, I am using image `luxas/heapster-grafana-amd64:v4.3.2` instead of `gcr.io/google_containers/heapster-grafana-amd64:v4.2.0`.
Ref: https://github.com/luxas/kubeadm-workshop/blob/master/demos/monitoring/influx-grafana.yaml.

Haven't had time to try out, but maybe copying `sample.ini` (as `grafana.ini`) and `ldap.toml` from `/usr/share/grafana/conf` to `/etc/g

[2017-07-02 01:12] andyxning commented on #1709
@Robbilie The fix can only add an empty `grafana.ini` which may not be what you want. The desired way is to mount a customized `grafana.ini`. :)

[2017-07-02 01:13] Robbilie commented on #1709
thats not the desired way. the official grafana and previous versions of heapsters grafana had a grafana.ini and i dont see why the 1.4.0 release shouldnt have one

[2017-07-02 03:43] judexzhu commented on #1485
after using the new version , this issue can not be reproduced ,so I close the issue, thanks for the great job

[2017-07-02 03:43] #1485 closed

[2017-07-02 11:32] andyxning commented on #1709
@robbilie Having not know that we have a grafana.ini in previous release. Will check this later.

[2017-07-02 14:43] Robbilie commented on #1709
lol theres literally no reason to not have one, 1.3 aswell as official grafana releases had one

[2017-07-04 06:49] piosz commented on #1669
@allen12921 @saschagrunert @taylorshaulis thanks for reporting! Let's track this in #1709

[2017-07-04 06:51] piosz commented on #1470
@r0bj out of curiosity why do you need lower `metric-resolution`?

[2017-07-04 06:55] piosz commented on #1706
ElasticSeach is supported in eventer, so you can setup it. Instead of `heapster` you need to run `eventer`, see for example `eventer` container which exports events to InfluxDB [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/heapster-controller.yaml#L61). Feel free to ping me on slack. Also I'm happy to accept your contribution to the document

[2017-07-04 06:55] #1706 closed

[2017-07-04 08:15] piosz commented on #1707
@AlmogBaku @andyxning @huangyuqi

[2017-07-04 08:54] r0bj commented on #1470
@piosz I can live with 30s interval of heapster polling, I just use 10s resolution in my metrics infrastructure so it was natural idea.
Anyway, thanks for help!

[2017-07-04 13:56] andyxning commented on #1709
@Robbilie You mean `gcr.io/google_containers//heapster-grafana-amd64:v4.0.2`

[2017-07-04 15:03] Robbilie commented on #1709
@andyxning with one less slash yeah, thats the previous one which had the ini, https://hub.docker.com/r/grafana/grafana/ has the ini aswell

[2017-07-04 17:49] Kokan commented on #1672
@huangyuqi ping

[2017-07-05 04:44] outcoldman commented on #1707
@dvdklnr you should separate parameters with `&`, not with multiple `?`, so it should be `--sink=elasticsearch:http://elasticsearch.monitoring.svc:9200?index=k8sevents&cluster_name={{ .Values.clusterName }}&sniff=0`

[2017-07-05 04:55] outcoldman commented on #1701
@AlmogBaku I am confused, how is having multiple timestamp fields helps kibana?

I actually see several issues with current sink implementation of ElasticSearch:

1. I would suggest to change the mapping to keep events with different set of fields in separate indexes. See for details https://www.elastic.co/blog/index-vs-type. Having multiple types in the same index, which do not have any common fi

[2017-07-05 12:07] rikatz commented on #1701
@outcoldman about the issues:

1 and 3) Separating the indexes per metrics could be applicable, but I think would make harder to create Kibana and/or Grafana Dashboards.

Let's take a look at how Elastic does this, as they have a Metricbeat [Plugin](https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-module-kubernetes.html) for kubernetes/kubelet:

Regardless of using kube-state-met

[2017-07-05 13:41] outcoldman commented on #1701
@rikatz yes, you can send all the metrics to just one index, but as [Do your documents have similar mappings? If no, use different indices.](https://www.elastic.co/blog/index-vs-type)

With metricsbeat you can:

a) you can specify [dedicated index](https://www.elastic.co/guide/en/beats/metricbeat/master/elasticsearch-output.html#_indices) for every type with elasticsearch output.
b) use logstash o

[2017-07-05 14:23] outcoldman commented on #1701
btw, regarding this one. If you will have indexes with names like `heapster-metrics-cpu-YYYY.MM.dd`, `heapster-metrics-network-YYYY.MM.dd`, ... and `heapster-events-YYYY.MM.dd` you can easily build dashboards in Kibana and Grafana by just using names like `heapster-metrics-*`

[2017-07-05 14:57] rikatz commented on #1701
Agreed, you can use wildcards in that. Maybe a new argument would help anyway.

@AlmogBaku what do you think about this rebasing:

* Using only one timestamp instead of per-metric timestamp. This could be made in a new PR without any impacts (I think), as I don't know, with ES5 if there was someone using previously the Elasticsearch sink. Maybe need to release a 'breaking change' with this.
* Crea

[2017-07-05 15:04] outcoldman commented on #1701
@rikatz also I would suggest to update the mappings:

- remove all `{"type": "text", "fields": {"raw": {"type": "keyword"} } }` types and replace them with just `{"type": "keyword"}`, nobody will use full text search over metrics fields, it just does not make any sense. That will save the storage.
- split labels with `,` and send it as an array of ["app=foo","label2=my_label"] and keep them as `{"

[2017-07-05 15:09] rikatz commented on #1701
@outcoldman let's take this by parts :D first of all, changing the timestamp schema to something more generic would help? For me would a lot.

Need more opinions before 'breaking' stuffs!

Then let's see how to refactor the fields / mapping structures (in another PR) and break other stuffs :)

Let's make a 'list' of things that we think need to be changed (fields to be removed, arguments to be ins

[2017-07-05 15:09] trunet commented on #1709
any workaround? trying to deploy a brand new heapster and having problems

[2017-07-05 15:14] rikatz commented on #1701
@outcoldman Have changed the Issue description, take a look if I've missed something.

Anyway, need some other people from community (instead or just 3 of us), as I think some changes would break existing production environments :)

[2017-07-05 15:35] outcoldman commented on #1701
@rikatz sure, just one common timestamp field will help a lot, that will be good start.

As for breaking changes - I would suggest to break just once. If with every release this sink will have breaking changes - folks will be very unhappy. I would suggest to actually make all of them at once and standartize the schema with best practices from elasticsearch.

Btw as for mappings - you can take a lo

[2017-07-05 17:04] juixtu opened #1712 "my monitoring-grafana status CrashLoopBackOff"
I follow the steps to install heapster
Finally appeared：
[code]
View the pod log：

[code]
View the pod describe:

[code]

I want to know how to solve
thanks！

[2017-07-05 17:14] Robbilie commented on #1709
mount the file into the pod…
although this should imo be fixed ASAP in a 4.2.1 release bc this is just annoying and breaking…

[2017-07-05 17:21] DirectXMan12 commented on #1709
I believe @piosz is working on it, and it's marked as high priority.  We should have a fix soon.

[2017-07-05 17:28] DirectXMan12 commented on #1470
closing since the issue seems to be resolved.

[2017-07-05 17:28] #1470 closed

[2017-07-05 17:37] DirectXMan12 commented on #1596
Sure, but presumably the admin/user deploying grafana does, right?  So they should have an image
[code]

and use that for running Grafana on their cluster.

[2017-07-05 17:41] DirectXMan12 commented on #1712
This is a known issue with the current Grafana image, it looks like: duplicate of https://github.com/kubernetes/heapster/issues/1709

[2017-07-05 17:41] #1712 closed

[2017-07-05 17:46] DirectXMan12 commented on #1702
looks like a duplicate of https://github.com/kubernetes/heapster/issues/1709

[2017-07-05 17:48] DirectXMan12 commented on #1690
Sorry, that message is a bit misleading.  It looks like you're missing the *requestheader* client CA file.  The API server code in Heapster isn't new enough to automatically fetch it from Kubernetes, so you'll need to pass `--requestheader-client-ca-file` as well (see https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/auth.md for more info on the different CA files

[2017-07-06 09:53] loburm commented on #1709
/assign @loburm

[2017-07-06 13:18] doubaokun commented on #1709
Change the image to be gcr.io/google_containers/heapster-grafana-amd64:v4.0.2 will fix this issue.

[2017-07-06 16:23] juixtu commented on #1712
@DirectXMan12 thanks!

[2017-07-06 21:24] Robbilie commented on #1709
thats not a fix, i used to use a newer grafana image while waiting for heapster 1.4 because i need certain grafana notification channels

[2017-07-06 22:41] dvdklnr commented on #1707
Thank you for pointing it out, it's not clear from the examples.

[2017-07-07 10:47] exekias commented on #1701
Hi there!

I would say `keyword` is right in most cases, normally you do metric lookups by their full value. If you expect to have a random text probably `text` is still preferable.

As for the labels, we use nesting to store them, so they would be something like `"labels.app": "foo"`.

@outcoldman pointed out to our exported fields list, it's a good reference if you want to match our names.

[2017-07-07 14:03] AlmogBaku commented on #1707
can we close it?

[2017-07-07 15:18] outcoldman commented on #1701
About the types and indices, https://www.elastic.co/blog/index-type-parent-child-join-now-future-in-elasticsearch - in ES 6 - there will be no types, only one type per index

[2017-07-07 15:46] crassirostris opened #1715 "Remvoe stale documentation about monitoring on GCP"
For example https://github.com/kubernetes/heapster/blob/master/docs/google.md

/cc @piosz

[2017-07-07 17:45] AlmogBaku commented on #1701
1. using `keyword` make sense
1. what are the benefits of having an index per metric type?
1. I'm still not sure how and if you can configure multiple *types* with only one timestamp on kibana (and also for older kibanas then version 5)
1. I agree that we need to minimize the breaking changes and to try to create one stable mapping. We might send multiple PRs, but all of them should be released at

[2017-07-07 19:38] rikatz commented on #1701
@AlmogBaku I think that, by the end of 'types' in ES6, it's a good idea to have a per-metric Index, probably the impact migrating from 5 to 6 would be less than expected.

About the type, I think you can use it (the field _type) to filter which metrics you want. If this is not the case to Kibana < 5, than probably this needs to be a breaking change. Maybe, after all we need to decide wheter to sup

[2017-07-08 00:49] outcoldman commented on #1701
@AlmogBaku
2. that is the main confusion about the elasticsearch indexes and types. There are not similar to databases and tables. Both articles has really good explanation why having one type per index makes sense  https://www.elastic.co/blog/index-type-parent-child-join-now-future-in-elasticsearch and https://www.elastic.co/blog/index-vs-type
3. Not sure what you are referencing to. If you will

[2017-07-10 08:07] gytisgreitai commented on #1682
Is `event-exporter` the preffered way to use for now? (I was not able to get GCL working at all):

[code]

[2017-07-10 08:50] piosz commented on #1709
Apologies for the problems. @loburm is investigating this.

[2017-07-10 09:01] crassirostris commented on #1682
@gytisgreitai Yes, it's preferred.

As for heapster version, you should run `/eventer` binary, not `/heapster`. And it's broken anyway, I'll fix it as soon as I find some time to take a look at it

[2017-07-10 10:40] gytisgreitai commented on #1682
ok, i got confused by this yaml https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/google/heapster.yaml

[2017-07-10 13:12] vdmkenny opened #1716 "Grafana cannot connect to datasource over servicename, only IP."
[code]

I am having an issue where my grafana pod can only connect to the influxdb pod when it is using the service IP.
It would be assumed that kube-dns is not working, but when opening a shell on the grafana pod (with docker exec) it is able to resolve the hostname:
[code]
So IP resolving works (for some reason I need the entire FQDN but that's another issue...)
But when entering this hostname i

[2017-07-10 22:49] jiripospisil commented on #1652
Just bumped into it as well and solved it by doing [1]. Maybe the step is just missing in the [guide](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md)?

[code]

[2017-07-11 01:26] dvdklnr commented on #1707
yes, please

[2017-07-11 01:26] #1707 closed

[2017-07-11 09:13] liyulai2017 opened #1718 "heapster can not access kubelet 10255"
1.heapster+influxDB+grafana  deployed  in k8s cluster ,and on the k8s  master host.
2.the node ip =10.2.22.0  ==flannel0
3. access 'curl http://10.2.22.0:10255/stats/container/' on the host is ok.
---------------------------------------------
E0711 09:01:05.007837       1 kubelet.go:233] error while getting containers from Kubelet: failed to get all container stats from Kubelet URL "http://10.2.22

[2017-07-11 13:09] dnavre opened #1719 "Monitor PVC disk io/space usage"
I wasn't able to find anything for this. FS stats that heapster provides are, as I understand it, node related and in no consistent way track the disk parameters of a PVC.

This, in my opinion, is a crucial component of any production kubernetes setup.

I investigated monitoring tools other than heapster but wasn't able to find anything with this functionality. The only normal solution that I see

[2017-07-12 09:32] trunet commented on #1709
any news?

[2017-07-12 13:42] loburm commented on #1709
Sorry for the delay, I'm looking at this problem now. I will post update as soon as will find a root cause of issue.

[2017-07-12 16:48] emichaf commented on #1614
This worked...deploying Grafana from the release-1.3 branch
https://forums.manning.com/posts/list/41092.page

[2017-07-13 02:15] buddyledungarees commented on #1585
I ran into this during setup and the most likely problem is that your tsdb instance doesn't have chunking enabled and/or max_chunk_size isn't set large enough.

Another issue you might run into is opentsdb's default tag limit is 8, which is way too low for the prometheus style usage of tags/labels. I had to increase my limit to 12 to start accepting the default metrics from heapster.

[2017-07-13 09:22] kawych opened #1721 "Heapster doesn't export cluster_name to Stackdriver"
There are two steps to fix this:
1) Add to Heapster cluster_name argument and export it to Stackdriver if set (https://github.com/kubernetes/heapster/pull/1703)
2) Pass cluster name to Heapster in Kubernetes (https://github.com/kubernetes/kubernetes/pull/48425)

[2017-07-13 11:12] #1721 closed

[2017-07-13 14:57] DirectXMan12 commented on #1719
Yeah, open in the main Kubernetes repo.  Heapster merely scrapes the metrics provided by Kubelet

[2017-07-13 14:57] #1719 closed

[2017-07-14 11:33] ffahri opened #1722 "Failed to parse grafana.ini error and solution"
Hey today i i followed the influxdb guide and grafana container wont started. and thats the error im getting
Thats may be kind a bug?

Changing image source to the docker/grafana worked well.

CURRENT -    _image: gcr.io/google_containers/heapster-grafana-amd64:v4.2.0_

NEW -  **image: grafana/grafana:4.2.0**

[2017-07-14 11:45] #1722 closed

[2017-07-14 12:29] ffahri commented on #1652
@jiripospisil thats solves myself too thanks

[2017-07-14 13:55] loburm commented on #1709
This commit on the side of grafana is the root cause of the issue:
https://github.com/grafana/grafana/commit/b191638f416b33451113bc4e8b95085cdf09cf64

Shortly: previously they have been always creating grafana.ini file but in January this part was moved to the postinst script which is executed only when we actually install package on the system (in our case we just extracting files, so script is n

[2017-07-14 19:50] dnavre commented on #1719
I just checked the Kublet API and it is returning that data. Here's an example:
[code]

I can help you out with the implementation if needed. If you tell me approximately what should be done I'll try to do it :)

[2017-07-14 21:55] dnavre commented on #1719
I did have a look at the code and indeed it looks that heapster is actually collecting the volume metrics and they should be present in my influxdb with `resoruce_id = Volume:data` label. but I don't have a metric like that. Instead, I have some with resource_id:/dev/xvda1 or something similar which isn't informative at all as the device name in /dev/* is more or less random.

I guess a little bit

[2017-07-17 03:18] xigang commented on #1181
I also encountered the same problem。

[code]

[2017-07-17 09:14] dnavre commented on #1719
I did some more investigation and turns out that to enable the summary API one needs to change the protocol in the source from `kubernetes:` to `kubernetes.summary_api:`. This is not documented anywhere and nowhere is it written what's the difference is. Should I document it as comments in the example configuration files?

[2017-07-17 12:50] loburm commented on #1709
Unfortunately, solution with docker image officially provided by the grafana is not going to work. This image is built only for amd64 (we support different arch) and image size almost 2 times bigger.

So I have prepared PR that just manually copies configuration files to /etc/grafana/: https://github.com/kubernetes/heapster/pull/1728

[2017-07-17 14:03] ffahri commented on #1709
check this https://github.com/kubernetes/heapster/issues/1722
v4.0.2
change to --> image: gcr.io/google_containers/heapster-grafana-amd64:v4.0.2

[2017-07-17 14:12] loburm commented on #1709
@ffahri this is not a fix of problem. Some users need features that have been released in 4.2.0 or later we just can't stuck with version 4.0.2 forever.

[2017-07-17 14:55] eschwartz commented on #1356
Any update on this?
I'd really like to be able to collect k8s cache metrics via heapster,
but as it stands, the existing metrics are not useful.

Has anyone else come up with a stop-gap alternative? I'm trying to post metrics to elasticsearch

[2017-07-17 15:49] loburm commented on #1709
PR was merged. Tomorrow I'll push a new image to the gcr.

[2017-07-18 07:21] loburm commented on #1709
Image is pushed. In #1731 updates deploy file.

[2017-07-18 08:09] discostur commented on #1709
@loburm just tested the new image and it works without any problems ;)

[2017-07-18 08:41] loburm commented on #1702
It's a duplicate of #1709

Should be already resolved by new release.

[2017-07-18 08:41] #1702 closed

[2017-07-18 08:42] loburm commented on #1709
@discostur thanks for checking it.

Considering that last PR was merged, I'm closing this issue.

[2017-07-18 08:42] #1709 closed

[2017-07-18 09:31] emansom commented on #1709
It works again. Thanks guys. 👍
![screen shot 2017-07-18 at 11 26 58](https://user-images.githubusercontent.com/981494/28310257-297eb72c-6bac-11e7-8185-002245ebd113.png)

[2017-07-20 07:29] #1682 closed

[2017-07-20 08:33] loburm commented on #1697
With #1708 merged, I'm closing this issue.

[2017-07-20 08:42] c-knowles commented on #1595
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/heapster-rbac.yaml seems to have the config needed sort out the pod nanny issue. I'm not always sure of the definitive setup as it seems to be distributed across repos and there's a lot of duplication, if anyone could help clarify for me it would be helpful to pulling in upstream changes into kube-aws.

[2017-07-20 10:27] andyxning opened #1733 "Support ES ttl"
What about we support ES TTL to auto delete events after specified time?

Storing events 3 months ago seems useless.

/cc @AlmogBaku @DirectXMan12

[2017-07-20 10:33] AlmogBaku commented on #1733
can you please send a ref to the ES documentation about that?

[2017-07-20 12:13] andyxning commented on #1733
Sorry for the inconvience. According to tthe release doc about ES 5.0, https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_50_mapping_changes.html#_literal__timestamp_literal_and_literal__ttl_literal.

_ttl has been removed in favor of time-based index or cron query-by-delete. So close this as we have upgraded to ES 5.

[2017-07-20 12:13] #1733 closed

[2017-07-21 00:15] johnko commented on #1557
Thanks to @xuwang tip, one of our current workarounds is to run a cron job on all masters to check if a master is `NotReady` and remove it's apiserver endpoint from the svc/kubernetes.

[2017-07-21 02:53] justlooks opened #1734 "grafana can not connect influxdb"

[2017-07-21 03:03] justlooks commented on #1734
i use flannel network solution

[2017-07-21 14:31] DirectXMan12 commented on #1356
I think you'd need to weigh in on the cAdvisor bug

[2017-07-21 14:32] DirectXMan12 commented on #1719
We should really have documentation for that somewhere (if we don't, I'd gladly accept a PR).  The summary source uses the summary API, while the non summary source uses a series of calls to the old stats API.  The summary source is the newer and more supported of the two.

[2017-07-21 14:38] DirectXMan12 commented on #1718
please ensure that your container networking is set up properly, and that in your networking setup, pods have permission to access the nodes.  Further ensure that you haven't disabled access to Kubelet on that port.

[2017-07-21 14:38] #1718 closed

[2017-07-24 06:30] justlooks opened #1738 "error: error converting YAML to JSON: yaml: line 1095: mapping values are not allowed in this context"
when i try install release-1.3 ,it say
[root@k8s-master monitor]# kubectl create -f https://github.com/kubernetes/heapster/tree/release-1.3/deploy/kube-config/influxdb
error: error converting YAML to JSON: yaml: line 1095: mapping values are not allowed in this context

[2017-07-24 08:28] jenningsloy318 opened #1739 "don't find filesystem/usage for pod in influxdb"
Hi all,

I deployed heapster with influxdb in a RBAC-enable k8s cluster (v.1.7.1), but seems there was no data in grafana Pods dashboard, after I checked  the data in influxdb, I couldn't find any data in filesystem/usage.

filesystem/usage only have node data.

I created heapster rbac via  https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/rbac/heapster-rbac.yaml  and influxdb/

[2017-07-24 09:43] #1734 closed

[2017-07-24 19:30] DirectXMan12 commented on #1738
can you figure out which file in that directory the issue is coming from?  The error alone doens't help much.

[2017-07-24 19:30] DirectXMan12 commented on #1738
also, please state the version of Kubernetes that you are using

[2017-07-24 21:24] DirectXMan12 commented on #1739
just for filesystem/usage?  What version of Heapster?  What do the Heapster logs say?

[2017-07-25 01:44] jenningsloy318 commented on #1739
just filesystem/usage for pod are missing.

Heapster: gcr.io/google_containers/heapster-amd64:v1.4.0

no errors found in heapster

[code]

[2017-07-25 07:23] s-miyoshi-fj commented on #1716
I have same problem.

ENV:
  heapster-grafana version: 4.4.1
  kubeadm: 1.7.0
  OS: CentOS 7.2.1511

[2017-07-25 14:22] DirectXMan12 commented on #1716
@piosz have you seen anything like this before?

[2017-07-25 14:23] DirectXMan12 commented on #1739
first off, try with `--source=kubernetes.summary_api=https://kubernetes.default`.  Using `kubernetes.summary_api` as the source often solves a lot of issues.

[2017-07-25 19:51] mashayev opened #1741 "Unable to Send Alerts in Grafana"
Hey,

I was trying to send alert from Grafana v4.4.* and it's not working, I've the same issue described in [this question](https://community.grafana.com/t/unable-to-send-alerts-in-grafana-4-1-1/1939)

As part of my troubleshooting I was referred to http://docs.grafana.org/alerting/rules/#troubleshooting, I need to update the `Grafana’s ini config file` How do I do that in heapster?

Does anyone f

[2017-07-26 06:33] jenningsloy318 commented on #1739
@DirectXMan12
I got some update, now we can see the explicit error message.

it can't access /var/lib/kubelet,
[code]

[2017-07-26 08:09] jenningsloy318 commented on #1739
Found this is related with kubelet issue when the storage is btrfs

[2017-07-26 09:38] #1361 closed

[2017-07-26 15:36] matt-deboer opened #1742 "'/api/v1/model/nodes/' returns IP addresses instead of node names"
Using the api to list nodes returns IP addresses; however, attempting to use those IP addresses to request metrics results in empty arrays.

Attempting to query node-level metrics using one of the returned values results in an empty result: `/api/v1/model/nodes/{one of the IPs returned}/metrics` => `[]`

However, using the _actual_ node names does return node-level metrics:
`/api/v1/model/nodes/{a

[2017-07-26 18:16] matt-deboer commented on #1742
Just found that as a workaround, one can extract the correct node list by hitting `/api/v1/model/debug/allkeys` and doing some string manipulation/deduping...

[2017-07-28 01:19] justlooks commented on #1738
i use k8s v1.7 ,strange thing is i download all yaml ,and use "kubectl apply -f " ,all work fine

[2017-07-28 01:19] #1738 closed

[2017-07-28 06:39] bartebor commented on #807
A year has passed...
I also would really like to have some labels stored as tags in influxdb. We could pick the labels via flag(s) to keep this flexible.
Maintainers, could you state your opinion on this issue? Are you willing to accept PR if it becomes available?

[2017-07-28 12:21] ffahri commented on #1741
you can build your own image with your own config
https://github.com/kubernetes/heapster/tree/master/grafana
be careful for dont send public docker hub

[2017-07-31 12:12] yin32167 opened #1743 "the problem about multiple namespace"
I have some namespaces, when i login in grafana, i just can see "default" and "kube-system" namespaces and cannot find others

[2017-08-01 01:48] zhangqx2010 opened #1744 "Can heapster use customized DNS?"
My local k8s cluster uses customized private network address.

When I deployed heapster in my cluster. I got this error:
[code]
It seems that heapster uses dns ip for k8s default deployment.

[2017-08-01 17:26] DirectXMan12 commented on #1744
For DNS, Heapster will use whatever the pod is autoconfigured to use.  Make sure your cluster DNS is properly configured for whatever setup you have.

The default configurations all point at using the `kubernetes.default` cluster DNS alias, but if this doesn't suit you, you can override it by changing the `--source` option.

[2017-08-01 17:26] #1744 closed

[2017-08-01 17:27] DirectXMan12 commented on #1743
Without knowing details about your cluster, there's nothing we can do.  Please indicate your versions of Heapster and Kubernetes, and check the Heapster logs.

[2017-08-01 17:28] #1741 closed

[2017-08-01 17:30] DirectXMan12 commented on #1741
That is the correct answer.  You should build a custom image with your own `grafana.ini`.  You can even use the existing image as a base image.

[2017-08-01 17:30] DirectXMan12 commented on #807
Yes, I would accept a PR to do this.

[2017-08-01 17:32] DirectXMan12 commented on #1742
The model API is deprecated.  Please use the resource metrics API (`/apis/metrics/v1alpha1/nodes`) instead.

[2017-08-01 17:32] #1742 closed

[2017-08-01 17:37] DirectXMan12 commented on #1739
Ok, I'm going to close this since it isn't Heapster-related.

[2017-08-01 17:37] #1739 closed

[2017-08-01 19:50] djschny commented on #1596
Considering the [official docker image for grafana](https://github.com/grafana/grafana-docker#installing-plugins-for-grafana-3) supports `GF_INSTALL_PLUGINS` I was hoping the following would work:

[code]

[2017-08-02 00:17] diegocn commented on #1596
I can confirm it @djschny. Tried to use env, as suggested by official docker image for grafana, and doesn't work.

[code]

[2017-08-04 02:07] zhangqx2010 commented on #1744
Finally I find  ``cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf``
[code]

The ``KUBELET_DNS_ARGS`` caused this issue.

[2017-08-07 10:05] Gianman opened #1751 "Clarification regarging pod level aggregation for Cpu/usage"
Hello,

It appears that there is an issue when [aggregating ](https://github.com/kubernetes/heapster/blob/master/metrics/processors/pod_aggregator.go#L117) pod level metrics that are not of type `MetricGauge`. They seem to be completely skipped. Is this the expected behavior?

Furthermore, I was wondering how to efficiently and accurately calculate pod level aggregation for **[cpu/usage](https://g

[2017-08-07 13:51] diseku commented on #1494
Any update on it? Using the image version 4.4.1, same issue:

`t=2017-08-07T13:08:30+0000 lvl=eror msg="Failed to upload alert panel image." logger=alerting.notifier error="fork/exec /usr/share/grafana/vendor/phantomjs/phantomjs: no such file or directory"`

[2017-08-07 14:22] gimlet2 commented on #1494
Guys, any plan to fix it somewhere soon?

[2017-08-07 17:13] DirectXMan12 commented on #1751
@piosz do you remember why we don't aggregate cumulative metrics together?

[2017-08-08 13:14] gdulus commented on #1494
+1

[2017-08-09 11:13] CsatariGergely opened #1756 "CONTRIBUTING.md contains wrong CLA"
[CONTRIBUTING.md](https://github.com/kubernetes/heapster/blob/master/CONTRIBUTING.md) contains a reference to the Google CLA, however heapster as a Kubernetes subproject uses the CNCF CLA.

[2017-08-10 11:42] CsatariGergely commented on #1756
https://github.com/kubernetes/heapster/pull/1754 corrects this.

[2017-08-10 11:42] #1756 closed

[2017-08-10 12:34] Vernlium commented on #1279
@nicolasbelanger  it's work

![image](https://user-images.githubusercontent.com/11350907/29170457-4749b8bc-7e0b-11e7-9cc2-6c79cfc4676e.png)

in here put your namespace

[2017-08-10 12:49] ktsakalozos opened #1759 "s390x images?"
Hi,

This is to query for the support for s390x architecture.

s390x is left out from the grafana Makefile (https://github.com/kubernetes/heapster/blob/master/grafana/Makefile#L30). Why is that? Is this related to the already merged https://github.com/kubernetes/autoscaler/pull/182 on Mutiarch addon-resizer image. If so, should we re-enable s390x pushes?

Thanks

[2017-08-10 13:34] nicolasbelanger commented on #1279
@Vernlium It's funny cuz I found out the fix/issue lately.  For some reason, the default datasource, in this case influxdb, is not selected in the variable definition.  As soon as I set it, boom, all the namespaces will be populated in the drop-down.

<img width="358" alt="screen shot 2017-08-10 at 9 31 11 am" src="https://user-images.githubusercontent.com/13750607/29172778-0858e738-7daf-11e7-8d72

[2017-08-10 15:54] anarwal27 opened #1760 "Adding Health Check to Influxdb Kubernetes container"
I am deploying influxdb in kubernetes using the yaml and wanted to add health-check for Influxdb's. Currently to perform health check, I curl an endpoint, `curl -sl -I -k https://hostname:port/ping` I wanted to leverage this and add to livenessProbe in kube yaml, following kuberenetes documentation (https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) I ha

[2017-08-10 17:28] kerneljack opened #1761 "InfluxDB sink not working with Heapster 1.4.0"
Hi there, I've created a brand new Kubernetes 1.7.2 cluster on GKE and it installs Heapster 1.4.0 into the kube-system namespace by default.

I'm trying to make this heapster use InfluxDB as a sink. I have installed InfluxDB using this yaml file:
https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/influxdb.yaml

I'm then trying to edit the default Heapster deployment to

[2017-08-10 18:59] ktsakalozos commented on #1759
As @luxas suggested, @ixdy and @mkumatag might be able to help. Thanks￼￼

[2017-08-11 03:52] dove-young commented on #1614
Move back to `gcr.io/google_containers/heapster-grafana-amd64:v4.0.2` did not work for me.

Same problem occurs
[code]

[2017-08-11 07:05] alok87 opened #1764 "InfluxDB memory leakage"
**What?**
InfluxDB memory in few days increases from 2GB to 13-14GB. There is some leakage.
We had setup grafana-influxdb-heapster following this document - https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb
Our cluster spec:
[code]
We are running influx without any limits presently.
- How can we fix this?
- What is the ideal limit i should set for influx-grafana and he

[2017-08-11 08:25] kerneljack opened #1765 "Heapster 1.4.0 and InfluxDB configuration"
Hi, I have created a brand new Kubernetes 1.7.2 cluster on GKE and it installs Heapster 1.4.0 by default in the kube-system namespace. I've read in various places that Heapster uses InfluxDB by default? How does it do that and where does it look for it?

I've installed InfluxDB in my cluster but Heapster is not using it from what I can see in the logs and in the InfluxDB database itself. Since it'

[2017-08-11 09:38] wjiangjay opened #1766 "The default value of option "--requestheader-group-headers" does not work"
Reproduced version:
both v1.3.0 & 1.4.0

Reproduced steps:
1. Setup heapster without --requestheader-group-headers option
[code]
2. try to access the heapster api with the default requestheader group headers
[code]
3. Check the heapster log to make sure requestheader group header work
[code]

[2017-08-14 17:35] #1759 closed

[2017-08-14 17:44] DirectXMan12 commented on #1766
Does the reproduce on the sample API server?  This might not be a Heapster issue.

[2017-08-14 17:45] DirectXMan12 commented on #1765
Heapster is able to talk to InfluxDB as a sink, if configured.  What does your Heapster config look like?

[2017-08-14 17:50] DirectXMan12 commented on #1764
This is not really a Heapster question.  Please look at the InfluxDB docs and/or file a bug with Influx

[2017-08-14 17:50] #1764 closed

[2017-08-14 18:39] DirectXMan12 commented on #1761
I suspect you'd have to change the cluster addon configuration.

[2017-08-14 18:43] DirectXMan12 commented on #1760
I think that might be an artifact of the `kubectl` describe code.  Does the actual pod configuration look normal?

[2017-08-14 18:48] DirectXMan12 commented on #1760
Also, this is not a Heapster question.  Please ask on the Kubernetes StackOverflow for Kubernetes support.

[2017-08-14 18:48] #1760 closed

[2017-08-14 19:00] fejta opened #1771 "Consider migrating travis test coverage to prow"
ref https://github.com/kubernetes/test-infra/issues/4019

If you are having issues with Travis (most likely: flakes, auto-testing by non-org members), consider running these tests on prow instead. Prow is the official/expected/supported CI framework sig-testing would like people to use.

https://github.com/kubernetes/test-infra/tree/master/prow

[2017-08-14 22:32] fejta opened #1773 "Move heapster jobs into their own project"
This is a notice that the heapster jobs may begin failing at any time as we shut down jenkins - https://github.com/kubernetes/test-infra/issues/190

[2017-08-15 09:21] kerneljack commented on #1761
@DirectXMan12 thanks, but what is the right method to do that? I was thinking of using ConfigMaps but the Heapster docs don't mention if that's possible or supported. I tried editing the deployment where the addon is defined as I mentioned, but that gets reverted by the cluster pretty quickly.

[2017-08-15 14:09] shivangipatwardhan2018 commented on #768
Any updates on this? I have a EBS backed Persistent Volume and each time I try to mount that using:
`      volumes:
      - name: influxdb-persistent-storage
        persistentVolumeClaim:
          claimName: influxdb-persistent-volume-claim
`

I am getting an InfluxDB:error.

[2017-08-16 01:48] rikatz commented on #1410
@maxott Elasticsearch 5 is already supported in Heapster (as merged in #1607).

Can you please close this issue?

Thanks!

[2017-08-16 01:49] rikatz commented on #1440
@DirectXMan12 @qianzhangxa I think this issue can be closed, as Elasticsearch 5 is supported in Heapster and is using the correct index rotation.

Thanks!

[2017-08-16 08:57] MaXinjian commented on #1718
I have meet the exact same problem.@liyulai2017  Have you solve this problem?

[2017-08-16 09:06] wjiangjay commented on #1766
@DirectXMan12 Tried with kube-sample-server and can not reproduce this issue.

[2017-08-17 07:29] bg1szd commented on #1279
@nicolasbelanger  Thanks for your workaround. I met the same issue. And with your work around, the non-default namespace could be listed.

[2017-08-17 08:51] acondrat opened #1778 "Incorrect cpu/usage_rate, memory/usage"
Hello,

We've captured a weird behavior with one of our running containers. Heapster metrics seem invalid and do not match those provided by cAdvisor.

**cpu/usage_rate**
[code]
**memory/usage**
[code]

Running Kubernetes v1.6.6

[2017-08-18 09:41] alok87 commented on #1764
@DirectXMan12 i agree but this is the version mentioned in the example heapster doc.

[2017-08-18 15:18] Nemesisesq opened #1779 "Plugin Problems, Restart, plugins not showing up."
I'm having trouble getting the world ping plugin to show up. I am supposed to restart the server but when I try to shell into the pod and restart the server it says service is not installed. Also even though I did managed to get the plugin installed It is not showing up in the dashboard. Please help.

[2017-08-18 18:53] DirectXMan12 commented on #1779
What are you referring to?  Grafana?  Influx?  Please be specific and provide more information about your setup.

[2017-08-18 18:55] DirectXMan12 commented on #1778
which version of Heapster are you running?  That looks like one of the overflow issues that was fixed a while ago.

[2017-08-18 18:57] DirectXMan12 commented on #1766
hmm... we need to update the API server code anyway, since we're on an older version.  I'll try to get to that soon and see if it fixes the issue.

[2017-08-18 18:59] #1440 closed

[2017-08-18 18:59] #1410 closed

[2017-08-18 19:00] DirectXMan12 commented on #1761
Apologies, I'm not super familiar with the cluster addon manager (it's now how I usually run Heapster).

@piosz can you assist here?

[2017-08-18 19:02] DirectXMan12 commented on #1773
@piosz @loburm @x13n we need to migrate testing it looks like.  Can one of you take a look at this?

[2017-08-18 19:06] DirectXMan12 commented on #1771
@piosz @loburm @x13n I can try and take a look at this next week, unless one of you wants to handle it.

[2017-08-18 22:02] mingfang commented on #1395
This is not strictly necessary anymore since now I can do this in a Dockerfile
```COPY --from=gcr.io/google_containers/heapster:v1.4.1 heapster /heapster/heapster```

Feel free to close this.

[2017-08-19 17:57] luxas commented on #1478
@piosz This was fixed by inactivating the functionality temporarily, we can now close this

[2017-08-19 19:03] camsjams commented on #1715
I was fooled by this doc for about 5 minutes before I realized how outdated it was.

[2017-08-21 13:16] royeectu commented on #1494
+1

[2017-08-21 17:36] aharonh commented on #1494
+1

[2017-08-21 18:55] #1384 closed

[2017-08-21 19:26] DirectXMan12 commented on #1494
*please* stop `+1`-ing.  It doesn't help the situation.  If you *really* feel the need to `+1`, use the reaction button.

@piosz @kawych @loburm @x13n I think we need to switch the base image.  I suspect `alpine` is probably fine, since it doesn't look like there are any other recommendations...

Everyone else: in the mean time, I'd recommend building your own image if you care about this function

[2017-08-21 19:56] #1395 closed

[2017-08-21 19:57] #1478 closed

[2017-08-22 13:37] Nemesisesq commented on #1779
I am trying to restart grafana but service is not installed and I have a hard time finding how to restart the grafana-server on this installation

[2017-08-22 14:21] i7clock commented on #1743
@yin32167 just type in the name of your namespace and it will show your pods.. at least thats what helped me

[2017-08-22 18:54] jpds opened #1783 "Deployment broken with grafana and influxdb ImagePullBackOff"
Hello,

Brand new kubeadm cluster, run:

[code]

Most likely related to a1fee3cbdc810e251ada9db3f464a6a951980a3b

I've seen this happen a few times in the past now so it would be great if image publishing was fixed (#1469, #1669)

[2017-08-22 19:55] analbeard commented on #1783
I also saw the same issues a few hours ago on a newly-provisioned cluster with the latest checkout of head.

[2017-08-23 06:52] miramar-labs commented on #1783
the images are not in the google repo

[2017-08-23 07:26] zjzhangkui commented on #1470
@r0bj Does adding --housekeeping-interval=5s flag in kubelet work? I tried set this flag and metric-resolution set 15s, but still got no metrics returned from heapster error.  If changed metric-resolution to 20s, the issue is gone. Seams the flag housekeeping-interval set in kubelet not work. I restart the kubelet and had seen the flag with systemctl status kubelet.

[2017-08-23 09:12] jpds commented on #1709
As a heads-up, this is still broken in the https://github.com/kubernetes/heapster/tree/release-1.4 branch

[2017-08-23 13:24] andyxning commented on #1709
@DirectXMan12 @piosz @loburm we should cherrypick #1728 to release-1.4.

@jpds As a workaround, give [v1.4.1](https://github.com/kubernetes/heapster/releases/tag/v1.4.1) a try.

[2017-08-23 17:03] DirectXMan12 commented on #1779
Honestly, if you need to customize Grafana, I'd recommend building your own Docker image with the customizations.  Note that since grafana is running in a container, you probably want to build the plugins into the image and restart the image, not try to restart the server within the image.

[2017-08-23 17:03] #1779 closed

[2017-08-24 08:00] igormilovanovic commented on #1783
same here

[2017-08-24 08:34] analbeard commented on #1783
@miramar-labs

I couldn't agree more - such a basic and obvious thing to do.

[2017-08-24 08:37] analbeard commented on #1783
paging @piosz

[2017-08-24 09:15] miramar-labs commented on #1783
same thing with : https://raw.githubusercontent.com/kubernetes/heapster/master/deploy/kube-config/influxdb/grafana.yaml

[2017-08-24 13:09] acondrat commented on #1778
It's v1.3.0
`Image:		eu.gcr.io/google_containers/heapster-amd64:v1.3.0`

[2017-08-24 13:38] abonillasuse commented on #1279
As @nicolasbelanger said. Edit the template, change the datasource to influxdb-datasource AND change the refresh option as well, else they won't show up. Then Save.

[2017-08-24 15:23] markine commented on #1201
This would be super nice. I've been able to get the Stackdriver monitoring agent running in Kubernetes 1.7.2 on AWS with a service account json private key mounted in /etc/google/auth/. It would be great if we could follow a similar pattern with heapster.

[2017-08-24 15:36] markine commented on #1201
FYI looks like https://github.com/kubernetes/heapster/pull/1657 got merged.

[2017-08-24 16:02] markine commented on #1201
I've confirmed that the above patch works by building master privately.

[2017-08-25 02:56] khoing1111 opened #1786 "Heapster running but no data points"
I have installed and run heapster (Version 1.0) but when I open grafana, it show no data point:
![image](https://user-images.githubusercontent.com/8802062/29697686-cfd94c4a-897a-11e7-85e6-5e00ca586e51.png)

<details>
<summary>
**Heapster pod logs: show no error**
</summary>

[code]
</details>

<details>
<summary>
**Influxdb log seem ok as well**
</summary>

[code]
</details>

<details>
<summary>
*

[2017-08-25 05:59] miramar-labs commented on #1783
the two URLs are still broken... any idea when this will be fixed?

[2017-08-25 08:26] patricklucas commented on #1783
To summarize, the [latest available influxdb image](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/heapster-influxdb-amd64) is v1.1.1 ([v1.3.3 referenced in influxdb.yaml](https://github.com/kubernetes/heapster/blob/d2a1cf189921a68edd025d034ebdb348d7587509/deploy/kube-config/influxdb/influxdb.yaml#L16)) and the [latest available grafana image](https://console.cloud.google.com

[2017-08-25 22:30] merqurio commented on #1783
We hit this issue too. Modifying the versions to the ones pointed out by @patricklucas solved the problem.

[2017-08-25 22:33] luxas commented on #1783
We're just waiting for a Googler to push the image
cc @caesarxuchao @vishh @piosz @nicksardo or someone else, could you please push the images?

[2017-08-26 02:05] miramar-labs commented on #1783
those Googler's must be super busy ;)

[2017-08-27 07:52] miry commented on #1786
@khoing1111 I would suggest to use latest version of heapster 1.4.1 instead of ` heapster/v1.3.0`. Also for testing I use minikube. You can try first on it with lastest deployment spec files.

[2017-08-27 07:55] miry commented on #1786
@khoing1111 to check influxdb data metrics you can use next approach:

Connect to inflxudb:
[code]

[code]

or check latest metrics:

[code]

[2017-08-27 08:01] miry commented on #1783
Maybe better to change documentation to use stable versions:

[code]

[2017-08-28 04:39] liangrog commented on #1783
Even release-1.4 can't work.
Issue with grafana:

`kube-system   monitoring-grafana-762361155-s36lx                                          0/1       CrashLoopBackOff   3          1m`

Here is the log:
`Starting a utility program that will configure Grafana
Starting Grafana in foreground mode
t=2017-08-28T04:37:09+0000 lvl=crit msg="Failed to parse /etc/grafana/grafana.ini, open /etc/grafana/graf

[2017-08-28 07:33] analbeard commented on #1783
Yup, 1.4 was broken so using head is necessary, but broken.

[2017-08-28 09:26] miramar-labs commented on #1783
no real sense of urgency ...

[2017-08-28 09:58] kadamvandita commented on #1395
How to copy obtain the binary other then then in dockerfile?

[2017-08-28 10:40] andyxning commented on #1395
@kadamvandita you can simply compile heapster and eventer by `make build` under top level dir.

[2017-08-28 10:44] kadamvandita commented on #1395
yes.. I tried it.But when I write a spec file for it and run it I get warning saying unstripped binary for s390x .Any idea on this?

[2017-08-28 10:49] andyxning commented on #1395
@kadamvandita

what is a spec file? Could you please paste it here?

what is your compile machine's arch and os.

[2017-08-28 10:52] kadamvandita commented on #1395
spec file is a file written to generate rpm .Its for s390x SUSE architecture

#
# spec file for package heapster
#
# Copyright (c) 2017 SUSE LINUX Products GmbH, Nuernberg, Germany.
#
# All modifications and additions to the file contributed by third parties
# remain the property of their copyright owners, unless otherwise agreed
# upon. The license for this file, and modifications and additions t

[2017-08-28 10:56] kadamvandita commented on #1395
I needed the binary so that I can include directly in the spec file

[2017-08-29 14:21] AlexB138 commented on #1783
Just to clarify, while waiting for Googlers to push those images, what is the current working config? 1.4.1 doesn't work, and head doesn't work.

[2017-08-29 14:25] jpds commented on #1783
@AlexB138 1.4 works fine with the fix in the comment here: https://github.com/kubernetes/heapster/issues/1709#issuecomment-315979971

[2017-08-30 07:05] ofirmakmal opened #1789 "Heapster on K8S (On-Prem) cannot create elastic client"
Hi,
I have a Kubernetes 1.7.3 setup on premise, with Heapster (1.4.0, also tried 1.4.1) installed.

Heapster cannot connect to elastic search - I have two, On prem & on GCP - both don't work.
No Authentication, No SSL.

I'm getting the following errors (with verbose logs enabled --vmodule=*=4):
[code]

I've tried several configurations, with "nodes" and without - as I have a single server. with an

[2017-08-30 07:10] #1789 closed

[2017-08-30 07:10] ofirmakmal commented on #1789
I've found an invalid charcter in the configuration string.
Thanks anyway.

[2017-08-30 10:53] piosz commented on #1697
Unfortunately this is not fixed yet. We've seen duplicated containers with non-zero resource usage. Will send a fix soon.

[2017-08-30 11:19] BruceShenC commented on #1709
@andyxning I have tried but it still fail

[2017-08-30 12:11] DanyalITMO commented on #1743
Hi everybody,
I got the same error as @yin32167. I also have some namespaces like default, kube-public, kube-system, nginx-ingress, test1, test2 and etc. I installed Heapster stack from
deploy/kube-config/influxdb/ and
deploy/kube-config/rbac/heapster-rbac.yaml
I install latest version of container:
heapster-grafana-amd64:v4.4.1
heapster-amd64:v1.4.1
heapster-influxdb-amd64:v1.1.1
In Grafana in da

[2017-08-31 00:19] yguo0905 opened #1793 "Handling best-effort result from the summary API?"
Kubelet currently gets the container stats from cAdvisor, which can return the used/capacity/available bytes/inodes for the specified filesystem. The summary API will return an error if any of the stats cannot be retrieved.

https://github.com/kubernetes/kubernetes/pull/51557 added the support for getting the container stats from CRI. For the filesystem (container root and imageFS) stats, CRI will

[2017-08-31 02:36] JakimLi opened #1794 "unknown manifest for gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3"
when do docker pull gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3 is gives error says `unknow manifest`, cannot create deployment.

[2017-08-31 03:07] JakimLi commented on #1794
duplicate with #1783 , close the issue

[2017-08-31 03:07] #1794 closed

[2017-08-31 07:37] DanyalITMO commented on #1743
I solved my problem with heapster. If you want to have actual information in Grafana from database you need to configure Template:
1. go to YOUR_DASHBOARD (for example Pods) - Templating
2. press "Edit" in tab Variables
3. set fields "Data source =  influxdb-datasource" and "Refresh = On Dashboard Load"
After that you will have actual namespaces and pods list.

@DanyalITMO

Just restart kubelet se

[2017-08-31 18:54] miguellgt commented on #1783
I used these images and it works.

gcr.io/google-containers/heapster-influxdb-amd64:v1.1.1
gcr.io/google-containers/heapster-grafana-amd64:v4.4.1

![screen shot 2017-08-31 at 1 48 13 pm](https://user-images.githubusercontent.com/4840205/29940045-913e68de-8e53-11e7-839a-d7e4446ec272.png)

[2017-09-01 08:47] yin32167 commented on #1743
@DanyalITMO   thanks very much, i try it and it works. and i find that you needn't restart your kubelet, just press the 'Save & Test' button in 'Data Sources', it will reload the namespaces

[2017-09-01 08:48] #1743 closed

[2017-09-01 12:03] piosz commented on #1697
#1790 fixed the problem in 1.4. Decreasing the priority - we need to fix this in HEAD as well.

[2017-09-01 12:12] alok87 opened #1797 "Influxdb latest images missing in registry"
**What?**
Changes to update influxdb yamls been merged to master in this PR - https://github.com/kubernetes/heapster/pull/1777 but the the images have not been pushed to heapster.

Can some googler push it to registry ?

[2017-09-01 20:20] jpds commented on #1797
See #1783.

[2017-09-02 08:55] hbokh commented on #1783
Even with the above mentioned workaround, the dashboard is nowhere looking as it used to be.
At this moment I can't get it to look like this anymore - https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/ There's only a list of pods...
Is this missing behavior related to these workaround?

Besides I seems like there is a SPOF when it comes to releasing and image-pushing in

[2017-09-02 09:00] analbeard commented on #1783
@hbokh I've also been seeing this issue since my initial comment - I tried the workaround before it was suggested but none of the Heapster-provided metrics were available. Ended up deciding to wait for the updated images to be pushed to GCR, however as you note this does seem to be a massive SPOF - its taking a very long time to get two images built/pushed.

[2017-09-02 14:29] hbokh commented on #1783
@piosz Would you be so kind and (make somebody) push the right image-versions before you resume working on https://github.com/kubernetes-incubator/metrics-server? 😇
Much appreciated, dziękuję!

[2017-09-02 16:47] miramar-labs commented on #1783
even if you revert back to the latest images up in the repo, the graphs don't show up anymore... this is because the web app is doing some health check with heapster right at the start and its a one-shot thing .. if it fails you never see the graphs for the lifetime of that pod. The healthcheck used to work but is now failing due to some change in the heapster api whereby it now returns failure un

[2017-09-04 03:53] jicki opened #1798 "influxdb-amd64:v1.3.3 not found"
[code]

[2017-09-04 03:55] jicki commented on #1798
@luxas

[2017-09-04 08:54] Gianman commented on #1751
Hello,

Any update/clarification regarding this issue?

Thanks in advance.

[2017-09-04 14:39] voyalab commented on #1798
+1 InfluxDB and Grafana Images not found.
Error :
[code]

[2017-09-04 14:41] voyalab commented on #1798
@luxas Both images are not in gcr: **InfluxDB** and **Grafana**. Although the issue is created for InfluxDB. Please check Grafana too.

[2017-09-05 11:27] thenux commented on #1783
So guys...just to summarize, I have a cluster of 3 nodes in Google Cloud Platform, so I deployed my guestbook and now I want to use Heapster to monitor my metrics.
I followed the guide with InfluxDB and Grafana in https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

But when I do `kubectl create -f deploy/kube-config/influxdb/` I just get ImagePullBackOff from the grafana and influ

[2017-09-05 15:30] piosz commented on #1783
I've just released the following images:
`gcr.io/google_containers/heapster-grafana-<platform>:v4.4.3`
`gcr.io/google_containers/heapster-influxdb-<platform>:v1.3.3`

Please verify them.

[2017-09-05 15:30] #1783 closed

[2017-09-05 15:32] piosz commented on #1797
I've just released the following images:
`gcr.io/google_containers/heapster-grafana-<platform>:v4.4.3`
`gcr.io/google_containers/heapster-influxdb-<platform>:v1.3.3`

Please verify them.

[2017-09-05 15:32] #1797 closed

[2017-09-05 16:05] thenux commented on #1783
Yep! It seems fine now with the last edit for the new images :)

[2017-09-05 19:20] luxas commented on #1798
This is now fixed as @piosz pushed the images, ref https://github.com/kubernetes/heapster/issues/1783

[2017-09-06 10:01] voyalab commented on #1798
Thanks, @luxas

[2017-09-07 14:25] Parth6288 commented on #1208
Hi @vtuson , I am also facing the similar issue. Could you please explain in details on how you were able to resolve this. I am new to this and just set up my first Kubernets cluster.
Thanks.

[2017-09-07 15:21] DirectXMan12 commented on #1208
for the API proxy, you would have needed to ensure that system:anonymous had permissions to proxy that service, if you're on a recent version of kube.  Please look at the documentation on the Kubernetes RBAC system.

[2017-09-07 15:21] #1208 closed

[2017-09-07 15:21] #1798 closed

[2017-09-07 18:02] #1201 closed

[2017-09-08 06:38] shsjshentao opened #1800 "How to configure mutual authentication ssl in 1.3"
I have tried anyway and any configs.
It is no effects about auth client certificates.

        - --api-server
        - --tls-cert=/etc/ssl/certs/server.crt
        - --tls-key=/etc/ssl/certs/server.key
        - --tls-ca-file=/etc/ssl/certs/ca.crt
        - --tls-cert-file=/etc/ssl/certs/server.crt
        - --tls-private-key-file=/etc/ssl/certs/server.key
        - --requestheader-client-ca-file

[2017-09-08 17:02] gswallow opened #1802 "There's no change log?"
Am I dense, and missed the change log?  I had issues with heapster 1.3.0, decided to upgrade to 1.4.2 and the elasticsearch issue seems to have gone away.  I'd like to know why.

[2017-09-10 20:30] heckj opened #1804 "InfluxDB pod in CrashLoopBackoff - need advice on how to debug"
I have an otherwise blank and new 1.7.4 Kubernetes cluster that I created with kubeadm on 3 baremetal machines. I was attempting to add Heapster onto the cluster (akin to what can be found in minikube), and followed the instructions at https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

The pod for influxDB is reporting "Error":

[code]

I used `kubectl --namespace=kube-system des

[2017-09-11 00:09] heckj commented on #1804
I'm really not sure where the IP address `198.105.244.23:8088` is coming from. I did a `docker pull gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3` to get the image locally, and then looked at the contents in the image itself. When I run it locally on docker (i.e. `docker run -it --rm gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3`) I get the identical error message:

[code]

Whi

[2017-09-11 00:20] heckj commented on #1783
@luxas @piosz is it now functional for you? I just tried this evening, and only now found this bug. I've been debugging (and could use help debugging) from https://github.com/kubernetes/heapster/issues/1804. I'm not sure the images that were pushed are "good"...

Would love to hear I'm off base and missing something obvious.

[2017-09-11 00:42] heckj commented on #1804
I made a local change to revert back to influxdb version v1.1.1 per #1783 to see if that would resolve this issue. InfluxDB definitely starts up just fine after that - everything appears to be running, but in the while I was looking at the grafana logs I saw

[code]

Which includes that exact same "from nowhere" address of `198.105.244.23`. I just reverted to Grafana image v4.1.1 and the IP addres

[2017-09-11 04:34] luxas commented on #1783
If you have a problem, report a bug

[2017-09-11 05:56] heckj commented on #1783
Thanks @luxas - I did, before I found this thread: #1804

[2017-09-12 13:47] jeroenjacobs1205 commented on #1802
You might take a look here: https://github.com/kubernetes/heapster/releases

At the 1.4.0 notes, you can see they fixed some ElasticSearch stuff.

[2017-09-12 15:25] gswallow commented on #1802
Thanks!

On Tue, Sep 12, 2017 at 11:13 AM, Jeroen Jacobs <notifications@github.com>
wrote:

[2017-09-12 15:46] #1802 closed

[2017-09-12 15:50] DirectXMan12 commented on #1804
/cc @piosz

Perhaps something in the config is triggering autodiscovery of IP address and getting confused?  Maybe we should hard-code the IP address to `0.0.0.0`, since we're in a container anyway.

[2017-09-12 15:54] DirectXMan12 commented on #1800
Can you clarify what, exactly, you're trying to accomplish here?

[2017-09-12 19:42] andyxning commented on #1804
@DirectXMan12 Does this related with kube-dns?

[2017-09-12 21:09] heckj commented on #1804
@andyxning I don't believe so. The address to bind specified in config.toml is `bind-address = "localhost:8088"` (whole file from the 1.3.3 image at https://gist.github.com/heckj/b0aa1f243c1eff766a8bf60a00137fcb).

The address that it attempts to bind to (**`198.105.244.23`**) appears to be unrelated to the cluster at all - and the same address attempts to be used when I use a `docker run` command

[2017-09-12 21:42] heckj commented on #1804
Also of note, there's no "git branch" or release information that's output from the the binary as there had been in previous versions.

The output from the v1.3.3 image reports:
[code]

This pattern matches the output in the v1.1.1 image (gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1)
[code]

I'm not sure if there should be, but it appears to be the expectation of binary that it might ha

[2017-09-13 04:22] jmgao1983 opened #1806 "monitoring-grafana pod CrashLoopBackOff"
I have a Kubernetes cluster 1.7.5, and I was trying to add Heapster following instructions at [heapster1.4.2](https://github.com/kubernetes/heapster/tree/release-1.4/deploy/kube-config/influxdb), and got this:
[code]
and I tried to debug using 'systemctl status kubelet.service', and found this:
[code]
could anyone give me some advice, thanks!

[2017-09-13 10:06] kinsu commented on #1751
from the pod_aggregator it appears that this was done on purpose
https://github.com/kubernetes/heapster/blob/master/metrics/processors/pod_aggregator.go#L119

but this (at least to me) is kind-of contradictory since heapster is suppose to aggregate the data in pod level.

some insight on this would be great!

[2017-09-13 15:48] DirectXMan12 commented on #1804
@piosz @loburm @kawych @x13n can one of you take a look at if something went wrong in the image building process?

[2017-09-13 15:57] DirectXMan12 commented on #1751
honestly, I'm not sure.  It's possible that it was just to save space in-memory, because mostly we only care about rate metrics.

[2017-09-13 15:58] DirectXMan12 commented on #1806
did you check the logs of the pod?

[2017-09-13 17:13] #1697 closed

[2017-09-13 17:44] yguo0905 commented on #1793
/assign @piosz
/assign @loburm

Could you please take a look and confirm this?

[2017-09-14 03:24] andyxning commented on #1804
@heckj According to the [ipinfo](https://ipinfo.io/198.105.244.23), `198.105.244.23` maybe an ip  from your network provider.

The reason for why you are running correctly when you just run `influx` without `config.toml` is that the default value for `bind-address` is [`127.0.0.1:8088`](https://docs.influxdata.com/influxdb/v1.3/administration/config#bind-address-127-0-0-1-8088) which is specified

[2017-09-14 15:06] heckj commented on #1804
AHH! Yeah, that's where the IP address is coming from. I ran "nslookup localhost" on my local machine and:
[code]

I suppose a relevant question - should "localhost" have been set to reference something - is that a step that I missed somewhere in setting up my bare-node kubeadm cluster, or should be added?

I'll close my PR on reverting these changes, and I think using the `ip:name` form (or just

[2017-09-14 23:58] andyxning commented on #1804
I am not familiar with kubeadm. You can ask this in the kubernetes-user mailing list or fire an issue in Kubernetes.

[2017-09-15 00:12] andyxning commented on #1804
@DirectXMan12 @heckj I have just make an PR about moving `localhost:8088` to `127.0.0.1:8088` for the value of `bind-address`. This can help us avoid DNS problems. :)

[2017-09-15 01:43] jmgao1983 commented on #1806
@DirectXMan12
My grafana image is: gcr.io/google_containers/heapster-grafana-amd64:v4.2.0
logs
[code]
then I tried another image:gcr.io/google_containers/heapster-grafana-amd64:v4.0.2 , and it ran up fine, could it be the image's fault?

[2017-09-15 12:27] pgayvallet opened #1811 "Is there a way to choose which metrics are sent to the sinks ?"
Basically, there are a lot of metrics that we are simply not using. Is there a way to specify to heapster which metrics are sent to the sinks and which are not ?

[2017-09-15 13:38] andrey01 commented on #1658
@DirectXMan12 the other pods are working properly on our cluster, we are running many different ones.
I have just tried the ``v1.4.0`` and it has the same issue.

I am nearly out of ideas, will have to dig deeper probably.

Meanwhile, if you have some ideas what could I try, let me know please.

[2017-09-15 14:13] andyxning commented on #1658
@andrey01

* Do you have any other special settings for DNS?
* What is the content of `/etc/resolv.conf`?

[2017-09-15 14:39] andrey01 commented on #1658
@andyxning

- No special settings, we are using weave-net 2.0.4 at the moment;
- as of ``/etc/resolv.conf`` please refer to the below outputs I have just prepared:

## Adding a CentOS container

Slighlty modified the https://github.com/kubernetes/heapster/blob/480a1ca21fe65882dd41f28cd9296a825fbbb602/deploy/kube-config/influxdb/heapster.yaml to include a centos container running in the same namesp

[2017-09-15 14:48] andrey01 commented on #1658
#### To continue

## tcpdump

Apparently heapster is constantly trying to use the IPv6, despite the fact it is not working.
I think hepaster should try then IPv4 instead, unless something is broken within the hepaster container inside.

@andyxning is there a way to see what /etc/resolv.conf uses the heapster container itself? I've noticed that it is pretty slim and does not have sh / bash / cat to

[2017-09-15 15:34] andrey01 commented on #1658
We are running a dockerd with ``--iptables=false``, I have been also trying to set it to ``true``, restarting the dockerd but that did not do any difference. Neither have helped having the ``::1	localhost ip6-localhost ip6-loopback`` in ``/etc/hosts``  on the main host.

[2017-09-15 17:32] merqurio commented on #1459
AFAIK ES5 Is supported now but we are getting the same error. We got some logs, but most of them are failing.

[code]

How can we help? Other services are working correctly in the elasticsearch cluster

[2017-09-16 10:01] andyxning commented on #1811
@pgayvallet I am afraid not for now. Every metrics sink will receive all the metrics.

[2017-09-16 10:04] andyxning commented on #1416
@DirectXMan12 This issue should be closed for now.

[2017-09-16 10:53] andyxning commented on #1786
@khoing1111 First you need to check whether there are metrics available in Influxdb as what described by @miry above.

[2017-09-16 10:54] andyxning commented on #1416
@AlmogBaku Should we close this?

[2017-09-16 11:17] andyxning commented on #1648
@jeffery9 Could you do `wget https://kubernetes.default/api/v1/namespaces?resourceVersion=0` in the heapster pod?

[2017-09-16 11:36] #1416 closed

[2017-09-16 12:02] andyxning commented on #1806
@jmgao1983

Yes. There is already fixed in #1709 . And, an new version for `heapster-grafana-amd64` has been pushed to gcr.io and you should try `heapster-grafana-amd64:v4.4.1`.

[2017-09-17 07:05] andyxning commented on #1658
@andrey01  IIUC, when query an dns, client should not query `127.0.0.1:53`, it should consult nameservers directly. Seems something is wrong.

[2017-09-17 07:14] andyxning commented on #1658
@andrey01 What is the result of `nslookup monitoring-influxdb.kube-system.svc` inside the heapster pod?

[2017-09-17 07:21] andyxning commented on #1658
@andrey01

I am afraid that you can only `docker inspect heapster-POD_NON_POD_INFRA_CONTAINER` and search for `ResolvConfPath` mapping to get the content for `resolv.conf`.

[2017-09-17 07:39] andyxning commented on #1459
@merqurio I have run into this error for sink to ES with timeout error. I am not sure if it is true for your situation.

But we definitely need to add more error detail info here instead of just a generic error description.

[2017-09-17 13:57] eran-totango opened #1812 "Influxdb sink - missing metrics"
Hi,

i have an heapster V1.4.2 deployment in my standalone kubernetes V1.5.2 cluster that sends metrics to influxdb.
I'm using this command at startup:
[code]

The metrics are successfully sent to influxdb, however i still have some issues.

**What issues i see:**
1. I only see the "hostname" tag in the filesystem measurement. I don't see it in any other measurement (CPU, memory, network or uptime

[2017-09-17 16:18] andrey01 commented on #1658
@andyxning here you go:

## nslookup

[code]

## resolv.conf

### heapster POD

[code]

### from centos container which is part of heapster POD

[code]

[2017-09-17 16:23] andrey01 commented on #1658
I think the problem is that the heapster is trying to perform a DNS query over ``127.0.0.1`` or ``::1`` instead of reading the ``nameserver 10.96.0.10`` from the ``/etc/resolv.conf``. tcpdump confirms this from both, the container network and the VM host network.

[2017-09-17 16:53] andrey01 commented on #1658
Okay, moving the ``heapster`` binary to the other container-base image such as CentOS 7 seem to have worked around the issue.

Dockerfile:

[code]

[code]

[code]

[2017-09-17 18:23] andrey01 commented on #1658
Looks like the issue is local and not heapster related.

[code]

The thing is that heapster is running under 65534 UID since v1.3.0+ which has triggered this issue.

I will try to figure it out and will close this issue.

[2017-09-17 18:36] andrey01 commented on #1658
Yes, this was our local issue due to a over-complicated ACLs ...

To those who will wonder, when setting the Default ACLs (``-d`` with setfacl), do not forget to explicitly set the root, e.g.:

## Incorrect

[code]

## Correct

[code]

[2017-09-17 18:36] #1658 closed

[2017-09-17 20:55] merqurio commented on #1459
Thanks for the suggestion @andyxning ! I just changed the [transport.tcp.connect_timeout](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-transport.html#_tcp_transport) in the ingestion node but it keeps failing with a similar ratio.

Any other idea ? Thanks again !

[2017-09-18 00:19] andyxning commented on #1658
@andrey01 IIUC, you mean that the root reason for heapster to perform a DNS query against `127.0.0.1` is that heapster can not read the `/etc/resolv.conf` file?

[2017-09-18 00:24] andyxning commented on #1658
@andrey01 The docker file used to build heapster is at [here](https://github.com/kubernetes/heapster/blob/master/deploy/docker/Dockerfile).
[code]

Actually, according to the settings comment, it is expected that 65534 is the UID of `nobody`. Maybe this is not true across all linux distributions.

[2017-09-18 05:58] JuneZhao opened #1813 "heapster 1.3.0 crashing too much without clear reason"
root@k8s-agent-ECC3CC6B-0:/var/lib/docker/containers# kubectl --version
Kubernetes v1.6.6

zjune@k8s-agent-ECC3CC6B-0:~$ docker ps | grep heapster
21b2f632edd1        gcrio.azureedge.net/google_containers/addon-resizer@sha256:cf5e34dc058ced9b3f8235139c4f956afb61480ef76dc403c2b00b8d161cfa74                "/pod_nanny --cpu=80m"   36 seconds ago      Up 34 seconds                              k8s_he

[2017-09-18 07:20] andrey01 commented on #1658
@andyxning you are right:

Ubuntu xenial

[code]

CentOS 7

[code]

But the real issue lies somewhere else... I have tried to completely remove ``/mnt/docker/containers`` directory, restarting the dockerd, applying our old ACL setting which has ``other:r``, and I cannot reproduce this issue since ``/etc/resolv.conf`` is readable with 12345:12345 (non-existing user/group) and with 65534:65534 (nfsn

[2017-09-18 08:07] andrey01 commented on #1658
Ok, I am able to reproduce the issue:

[code]

After that, no matter if one restarts the dockerd or reloads the overlay FS, the issue occurs again:

[code]

As a remedy, one would need to explicitly set the ``group:root:r`` for the 2nd ``setfacl`` command:

[code]

Strangely, this affects only the heapster 1.3.0+ containers, nevertheless I was removing the image right before removing the heapster

[2017-09-18 08:35] huyhoang-goappable opened #1814 "pod_name=null in response"
With all the query group by pod_name, I always get the response with a pod_name=null

`>  select "value" from "cpu/usage_rate" where "namespace_name" = 'kube-system' and time > now() - 5m group by "pod_name"
name: cpu/usage_rate
tags: pod_name=
time                value
----                -----
1505723040000000000 77
1505723100000000000 75
1505723160000000000 77
1505723220000000000 74`

And grafa

[2017-09-18 09:36] andrey01 commented on #1658
@andyxning okay, I think I have got really close to the actual issue.

It appears that GID is not actually 65534 (nobody), but is 0 (root).

This is exactly why our Default ACL "fix" works while what it does, is explicitly allowing the ``group:root:r``.

So as I have finally managed to access the heapster container and see what is going on from inside.

## accessing the scratch images

The images

[2017-09-18 10:36] kinsu commented on #1751
we tried to change/remove this constrain (i.e. the check for non-cummulative type of metric in pod_aggregator.go) but faced a strange outcome.
That is, negative values were visible in usage_rate.

from what I can see, in case we have 1 container within the pod (+ pause container)
[code]

But also if more than one container exists (apart from the pause container) in the same pod:
[code]
where the -

[2017-09-18 14:16] SviataslauDauhuchyts opened #1815 "How to install plugins to Grafana"
I'm trying to install a new plugin to Grafana. I've connected to my pod, used ```grafana-cli plugins install raintank-kubernetes-app``` command. The output of this command was show as "successful". But I still can't see this plugin in the list of available ones.

[2017-09-18 19:31] DirectXMan12 commented on #1815
this is not the appropriate forum for grafana-specific questions, but I'd note that installing plugins at runtime like that is probably a bad idea, since they will not last through pod restart.

[2017-09-18 19:31] #1815 closed

[2017-09-18 19:35] DirectXMan12 commented on #1814
might be a bug in our influx sink

[2017-09-18 19:36] DirectXMan12 commented on #1813
I'd need to see the heapster logs (`kubectl logs $HEAPSTER_POD_NAME`) to figure much out.

[2017-09-18 19:38] #807 closed

[2017-09-18 19:39] DirectXMan12 commented on #1806
closing issue as per the above comment

[2017-09-18 19:39] #1806 closed

[2017-09-18 19:39] #1811 closed

[2017-09-18 20:04] DirectXMan12 commented on #1804
If `localhost` doesn't resolve to a loopback address, you're going to have a bad time with more than just Heapster.  Plus, [RFC 6761 section 6.3](https://tools.ietf.org/html/rfc6761#section-6.3) states

Furthermore, there's a draft in place to further solidify this: https://tools.ietf.org/html/draft-west-let-localhost-be-localhost-06.

I'd consider this to be a case of a misconfigured environment,

[2017-09-18 20:34] heckj commented on #1804
@DirectXMan12 Thank you - the local machines onto which I installed Kubernetes *do* have localhost referencing their own respective loopbacks, and the upstream DNS from my network is what is providing the response to 'localhost' at the IP address I ran into.

Since this was happening within a container, would it normally be consider the responsibility of a container to make sure any localhost refe

[2017-09-18 21:33] heckj commented on #1804
For anyone else following down this same track, or seeing the same results, the upstream provider CenturyLink was providing a response through my home DSL link. While I had made DHCP reservations for the machines that made up my cluster, primary DNS was still be passed down from my service provider.

I updated /etc/network/interfaces on my ubuntu hosts to explicitly assert DNS servers 8.8.8.8 and

[2017-09-18 21:33] #1804 closed

[2017-09-19 02:25] JuneZhao commented on #1813
@DirectXMan12  let me first attach the pods infor:
zjune@k8s-master-ECC3CC6B-0:~$ kubectl get pods --all-namespaces
NAMESPACE     NAME                                                READY     STATUS        RESTARTS   AGE
default       discuz-1878213324-8jr94                             1/1       Running       12         7d
default       keystone-3099452964-f33bm                           1/1

[2017-09-19 10:03] arindam00 commented on #1813
I am also facing the same issue with Heapster version 1.3.0. Is there a bug with heapster version 1.3.0 ?

[2017-09-19 19:30] DirectXMan12 commented on #1804
(for future reference, I'd guess that CenturyLink was not returning NXDOMAIN for localhost.  Shame on them ;-) )

[2017-09-20 06:27] AlmogBaku commented on #1459
plese send more detailed logs(verobosity enabled), and open a different issue.. since it's probably not the same

[2017-09-21 05:16] aaryabhatt opened #1816 "certificate is valid for x.x.x.x, not y.y.y.y"
Heapster is not able show data of two nodes servers, while it is showing data for rest of other servers.

when I run below command it don't show or gives the data of two servers while it shows rest of server

kubectl top node --heapster-namespace='openshift-infra' --heapster-port='80' --heapster-service=heapster --heapster-scheme=https

oc get node  ##return all nodes with ready

**using openshift

[2017-09-21 05:49] aaryabhatt commented on #1816
or do I need to follow this to redeploy node certificates
https://docs.openshift.com/container-platform/3.3/install_config/redeploying_certificates.html#redeploying-node-certificates

[2017-09-21 13:41] andyxning commented on #1658
@andrey01 According to the [user Dockerfile doc](https://docs.docker.com/engine/reference/builder/#user).

When there are no primary group then the heapster command will be run as root group.

[2017-09-21 15:42] arno01 commented on #1658
@andyxning that is interesting, I have created the PR https://github.com/kubernetes/heapster/pull/1817
which  intends to bring the default Docker behavior in order to preserve the relevant GID set to ``65534`` (nobody) since by default Kubernetes would not respect the image's ``USER uid:gid`` set in the Dockerfile. Not sure whether there is an opened issue/pr for the Kubernetes to address this.

-

[2017-09-21 18:12] DirectXMan12 commented on #1816
this almost certainly indicates that the certificates on your nodes are mismatched.  Try regenerating the certificates for those nodes.  Furthermore, this is not the correct place to ask about OpenShift deployment issues.

[2017-09-21 18:12] #1816 closed

[2017-09-22 06:38] aaryabhatt commented on #1816
Thanks DirectXMan12, I asked it here because did not get any response on openshift origin for this same issue and found something similar issue here and openshift origin based on kubernetes.

[2017-09-22 10:38] monotek commented on #645
The links is dead :-(
Any mirror available?

I'm currently trying to find out whats the standard / best practice monitoring solution which is used in Kubernetes.

I thought its Cadvisor + Prometheus. Then i've read about Heapster which seems to be dead regarding @davidkarlsen post.

I'm a bit confused now. Where to start?

[2017-09-22 15:00] andyxning commented on #1459
@merqurio

According to [Heapster metrics ES sink impl](https://github.com/kubernetes/heapster/blob/v1.4.2/metrics/sinks/manager.go#L106-L125), the root reason for error `Failed to push data to sink` is because the ES sink operation is synchronous and when export timeout is expired, an error log is logged.

So i think the root reason for this is that the write operation to ES is timeout. You may n

[2017-09-22 15:30] andyxning commented on #1813
@JuneZhao @arindam00

According to the kubelet log:

Seems this is related with you Kubernetes settings.

[2017-09-22 21:12] byxorna commented on #1585
I can confirm this is a pain to debug. After tcpdumping and finding opentsdb reports a Chunked Encoding error even with requests are not chunked, I had to add the opentsdb settings:
[code]
then debug with a captured request to replay against `/api/put?details` to figure out what the problem is. Would be dope to have better indications in heapster about errors experienced writing metrics.

It would

[2017-09-22 23:32] spiffxp commented on #645
try https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/monitoring_architecture.md

https://github.com/kubernetes/community/pull/1010 shuffled around the contents of the design-proposals dir

[2017-09-22 23:49] merqurio commented on #1459
You were right @andyxning and thanks for the verbosity suggestion @AlmogBaku; the error is due to a null_pointer_exception during index mapping. I guess I need to modify my mapping. Do you have any available ? Thanks for your help !

For the curious:
[code]

[2017-09-22 23:55] andyxning commented on #1459
seems like a bug in heapster. @merqurio which version of heapster do you use?

[2017-09-25 12:43] nefuddos opened #1818 "heapster-amd64 v1.4.0 can not get whole cluster info"
When i deploy the heapster-amd64 v1.4.0 in the kubernetes, there are just a part of node resource info show at grafana and dashboard. But i can see all the digital info with kubernetes-dashboard-amd64, and what is the matter of this? why heapster cann't gather all the cluster info?

[2017-09-25 14:59] kinsu commented on #1751
my point was to treat the pause container as other containers. That is:

[code]
Using the above, pod levels cummulative counters are working now (correctly aggregated).

Do you see any problem with the above approach ?

thank you in advance!

[2017-09-26 07:49] acondrat opened #1819 "Stackdriver metrics invalid and don't match values in heapster"
Hello,

We upgraded k8s from 1.7.1 to 1.7.6 and started to see strange cpu/memory usage being reported in stackdriver.

Heapster seems to report accurate values however the graph shows something else (please see bellow)
[code]
<img width="662" alt="screen shot 2017-09-26 at 10 42 19 am" src="https://user-images.githubusercontent.com/7072575/30848519-066cebfe-a2a8-11e7-8e20-5afbee225730.png">

[2017-09-26 09:33] rootsongjc commented on #1279
@nicolasbelanger Thanks you, it works! Setting grafana dashboard template datasource with `influxdb-datasource` and refresh with `on Dashboard Load`, save the template. Refresh browser.  You will see the other namespaces.

[2017-09-27 10:01] Lebuin commented on #1179
@whereisaaron @manuelschellenberg I'm a bit late to the party, but for anyone coming across this thread: I did manage to create a workaround using a continuous query. The following two influxdb commands create a new measurement `current_pods` that contains all the pods that were active somewhere in the last 2 hours. The `namespace_name`, `nodename` and `pod_name` tags are included. You can add oth

[2017-09-27 21:01] hyperbolic2346 commented on #1528
Any update on this?

[2017-09-28 09:22] piosz commented on #1819
@acondrat thanks for reporting. We're looking into this.

cc @loburm @x13n

[2017-09-28 10:17] eceglov commented on #1459
@andyxning, I use the latest stable version (1.4.2) + Elasticsearch 5.5.1 and I have exactly the same exception as @merqurio if use custom ingest pipeline for heapster.
[code]
Errors
[code]

Without using pipeline, Heapster just logs
[code]

There is indeed 20 sec default timeout to sink the metrics to ES *DefaultSinkExportDataTimeout*. Otherwise, the sink fails every 20 secs.

I increase the defa

[2017-09-28 15:46] piosz commented on #1819
Indeed there is an issue: we export evictable memory to Stackdriver instead of non-evictable one. @loburm is going to fix this.

[2017-09-28 15:46] piosz commented on #1819
https://github.com/kubernetes/heapster/blob/master/metrics/sinks/stackdriver/stackdriver.go#L412

[2017-09-28 20:25] erkules opened #1821 "empty metrics"
I'm running heapster-v1.4.1 on a k8s 1.7.6.
Heapster fails to get the metrics:

[code]

[2017-09-29 15:04] loburm commented on #1819
This should be fixed by #1822. Soon we will cherrypick 1.4 release and in the week it's going to released (both heapster and new kubernetes version).

[2017-10-02 16:14] steve21168 commented on #1179
@Lebuin Thank you for your solution it helped me out.

For anyone else not too familiar with influxDB like myself after following Lebuin's solution you want to update your template query to the following:
"SHOW TAG VALUES FROM k8s."2hours".current_pods WITH KEY = "pod_name" WHERE "namespace_name" =~ /$namespace$/"

[2017-10-03 13:02] craigbox opened #1830 ""Heapster currently supports Kubernetes and CoreOS natively""
From the README:

Where does this "CoreOS only" come from?  It feels like you are saying "Kubernetes on CoreOS", where you might be trying to say Heapster can look at metrics on CoreOS as well as on Kubernetes.

Is this still true, given things like Google COOS?

[2017-10-03 13:02] felixPG opened #1831 "Cant access grafana UI"
Hi, just testing heapster with grafana following this guide: https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

All deployed OK, all running but I cant access to the grafana UI. I cant use nodePort or loadbalancer, I have ingress option or externalIPs but using whatever of this two options  I cant access the dashboard:

Ingress config is simple:
[code]
5432 is the port that I hav

[2017-10-03 13:03] dieterdemeyer opened #1832 "Exclude metrics being sent to a sink"
Hello,

This is more a feature request than it is an issue.
I was wondering if it would be easy to implement a feature that would allow the sink to be configured which metrics should be sent to the sink.
We have an actual use case for this where the global cost of sending metrics to our sink is quite high, and certain metrics which are costing us money are not actively used.
Therefore, it would be

[2017-10-03 14:31] tvansteenburgh commented on #1528
@piosz Any news on this? Really need an s390x image!

[2017-10-03 15:25] DirectXMan12 commented on #1821
if you want support, please provide more details than that.  Specifically, what do the logs look like?  How long did you wait before looking for metrics?

[2017-10-03 15:28] DirectXMan12 commented on #1818
you're going to have to clarify what you mean.  It's not clear from what you've posted.

[2017-10-03 15:32] DirectXMan12 commented on #1585
you should be able to control that via the `ignore-label` and `store_label` flags.

[2017-10-03 15:32] #1585 closed

[2017-10-03 15:37] DirectXMan12 commented on #1832
I believe certain sinks have that option currently, but there's no global option.  I'd be willing to accept a patch for that, however.  What do you need to get started?

[2017-10-03 15:38] DirectXMan12 commented on #1831
What do you mean by "can't access"?  It doesn't load?  It's not exposed on the right port?  Which guide did you follow?

[2017-10-03 15:40] DirectXMan12 commented on #1830
IIRC, at one point there was some feature where Kubernetes could collect metrics from CoreOS absent an installation of Kubernetes.  We probably need to update that part of the README.

[2017-10-03 15:52] DirectXMan12 commented on #1830
feel free to submit a PR removing the "and CoreOS" part.

[2017-10-03 16:05] felixPG commented on #1831
@DirectXMan12 read again my post please! READ PLEASE!

[2017-10-03 18:10] dieterdemeyer commented on #1832
My use case involves the Librato sink specifically.
I was going through the code and one option would be to create a configurable option with an exclusion list of metrics which is taken into account in the following 2 files:
https://github.com/kubernetes/heapster/blob/master/metrics/sinks/librato/librato.go
https://github.com/kubernetes/heapster/blob/master/common/librato/librato.go

Would that be

[2017-10-03 21:43] byxorna commented on #1585
@DirectXMan12 is that documented in the docs? last i looked, i didnt see it there.

[2017-10-05 10:16] eceglov commented on #1459
Any updates?

[2017-10-06 12:17] felixPG opened #1835 "Add a way to install custom plugins"
Hi:

Please, could you add a way to install custom plugins at pod creation time? Probably a config file with plugin urls that allow the installation!!

Now I cant install plugins, I have grafana running and when I install plugin with grafana-cli plugin never appear in the UI, also, where are the plugins directory???

[2017-10-06 19:06] sgmiller opened #1836 "Librato backend tags not working"
Using this config:

  Command:
      /heapster
      --source=kubernetes.summary_api:''
      --sink=librato:?username=$(LIBRATO_EMAIL)&token=$(LIBRATO_TOKEN)&prefix=kubernetes&tags=environment&tag_environment=dev
      --metric-resolution=30s
      --vmodule=*=4

I get tags that Heapster generates from Kubernetes labels, etc, but the configured environment tag does not appear in resulting metrics

[2017-10-08 19:26] phagunbaya opened #1837 "Heapster container crashing v1.2.0 continuously"
Kubernetes version: v1.5.3

Logs :
[code]

I dont see any issue with node `k8s-master-a00b044c-0`. Other pods are running all fine.

[2017-10-09 10:29] mikebryant opened #1838 "Heapster v1.5.0-beta.0 panics regularly (nil pointer?)"
It's currently restarted ~850 times over 5 days of runtime.

[code]

[2017-10-09 11:33] mikebryant commented on #1838
Bumping the log level up to 8:
[code]

[2017-10-09 12:59] nefuddos commented on #1646
@mintzhao how about this issue, do you solve this problem?

[2017-10-09 15:24] SleepyBrett commented on #1705
I just found this after seeing the documentation mentioning that kafka doesn't support a sink for events. It certainly used to (back in like 1.2-1.3 if my memory serves). Is there a reason this was removed?

[2017-10-09 22:04] jasonkenneth commented on #1685
I'm running into this issue. The only change I am making is toggling the anonymous enabled environment variable:
        - name: GF_AUTH_ANONYMOUS_ENABLED
          value: "false"

When it's true, both the anonymous user and logging in as admin have the datasource set and the dashboards available.

When it's false, anonymous access to grafana is disabled; however, when logging in as admin, there i

[2017-10-10 15:24] Joseph-Irving opened #1840 "Heapster API server with Kubernetes 1.8"
Hi,

I've upgraded one of our clusters to 1.8 and discovered that I can no longer use Heapster as an APIService for things like Horizontal Pod Autoscaling as in 1.8 the metrics apis is now `/apis/metrics.k8s.io/v1beta1` instead of `apis/metrics/v1alpha1`.

The kube-controller logs `failed to get supported resources from server: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1

[2017-10-10 21:52] owain-je opened #1841 "No metrics from pods"
I have a kops built cluster running heapster , I am getting "no metrics for pod" for some of the namespaces , kube-system works. I have tried --source kubernetes and --source=kubernetes.summary_api neither of these has had any affect , I tried and upgrade to running 1.4.3 of heapster tried running -v=5 debug logging , but not noticed anything revealing  any ideas?

[code]

[2017-10-11 20:55] julianvmodesto opened #1842 "Add Docker events to eventer"
Heapster collects Kubernetes events, but it seems we don't watch the Docker daemon and collect Docker events, similar to how Datadog will do this. I'd like to collect error events from Docker, for example for OOMs (https://github.com/DataDog/dd-agent/pull/2866/files).

[2017-10-12 08:45] lidajia opened #1843 "influxdb sink not work with option retention"
--sink=influxdb:http://monitoring-influxdb.kube-system.svc:8086?retention=1h0m0s
the option retention dose not work.
using curl get the default retention policy of dababase k8s, the retention is set to 0s

env:
heapster 1.4.0
influxdb v1.1.1

in the function createDatabase, when command 'CREATE DATABASE %s WITH NAME "default"`, sink.c.DbName' execute, the default retention policy was created, and

[2017-10-12 10:30] ZhiqinYang opened #1845 "How to get disk usage with heapsters?"
Anybody help, how can I get node disk usage with heapster? I saw filesystem/usage in influxdb, but how can get it with heapster?

[2017-10-12 14:47] ZhiqinYang commented on #1739
@DirectXMan12
excuse me? How can I get filesystem/usage with heapster API? I had build an image with the master branch, but I cannot get this metrics? how can I get it?

[2017-10-12 15:15] tokiwinter opened #1846 "Skipping rates for various calculations - k8s 1.8.0"
I am running heapster 1.4.3 on a k8s 1.8.0 cluster (I've tried 1.4.0 too). InfluxDB 1.3.3. No matter what I set `--metric-resolution` to, I see this, always slightly larger than the value set for `--metric-resolution`. Here, it is using the default of 60s:
[code]
I see this for most resource types, and as a result, metrics are sporadically missing when I query via `kubectl top {pods,nodes}`.

Exam

[2017-10-12 16:48] erkules opened #1847 "heapster and proxy"
Accessing heapster in an environment with a proxy will not work.
So an `kubectl top nodes` returns the proxy page ending `  vertic (get services http:heapster:)`

I just wonder who calls to heapster, so I can add heapster to the NO_PROXY of that Pod/Service.

[2017-10-12 17:59] tokiwinter commented on #1846
I've tried running heapster standalone, and it seems considerably worse:
[code]
There is an ~eight minute difference there. Can some light be shed on what is going on?

[2017-10-13 09:31] ReSearchITEng commented on #1716
even worst, if one tries to define the grafana datasource to the prometheus service (under ...srv.cluster.local) (or even the ClusterIP), it fails.

[2017-10-13 13:41] #1845 closed

[2017-10-16 16:38] DirectXMan12 commented on #1847
most of the things that call Heapster do so by making a request to the API server's HTTP proxy (the `services/proxy` subresource).  Is the issue that you can't access that, or that the API server is configured to go through a proxy when contacting services?

[2017-10-16 16:46] benmathews commented on #1841
Same issue. And mine also started about a week ago. I've exhausted my problem-solving abilities on this.

[2017-10-16 16:47] DirectXMan12 commented on #1739
you'd have to use the deprecated model API (`/api/v1/model`) or look at the data directly in whatever sink you're using.

[2017-10-16 16:50] DirectXMan12 commented on #1841
you'll naturally see such messages (which occur when something tries to access Heapster, and Heapster can't find metrics) for the first 2 collection intervals after you start Heapster (may be up to 2ish minute, or for a particular pod, after you start that pod.  Does it persist after that?

[2017-10-16 16:51] DirectXMan12 commented on #1840
No, that is correct.  Heapster is deprecated for that purpose.  You should use metrics-server instead.  It was noted in the 1.8 release notes as a required action.

[2017-10-16 16:51] #1840 closed

[2017-10-16 16:53] #1830 closed

[2017-10-16 17:03] DirectXMan12 commented on #1646
closing due to lack of response.

[2017-10-16 17:03] #1646 closed

[2017-10-16 17:08] DirectXMan12 commented on #1837
Can you please try with the latest version, so that we can determine if it's still an issue?  Looking at the relevant code, it looks like the only way it could panic is if the amount of time taken is less than zero, which should never happen unless times are changing inconsistently on your cluster

[2017-10-16 17:08] DirectXMan12 commented on #1836
cc @johanneswuerbach

[2017-10-16 17:13] johanneswuerbach commented on #1836
Thanks @DirectXMan12

@sgmiller I'm using a similar argument and it works
`--sink=librato:?username=$LIBRATO_EMAIL&token=$LIBRATO_TOKEN&prefix=k8s&tags=cluster,environment&tag_cluster=xxx&tag_environment=production`

Which version of heapster are you running?

[2017-10-16 17:15] Joseph-Irving commented on #1840
Ah right thanks, I got a bit confused as it mentioned using the metrics-server but in the before upgrading section:
[code]
Which I assumed meant that heapster would be still be supporting the metrics api.

[2017-10-16 17:41] DirectXMan12 commented on #1831
I have read your post again, and I'm still unclear as to what you mean by "can't access".  It never hurts to be more specific.  Do you mean that it does not seem to be exposed on the right port?  If you try curling from inside the cluster to the service IP and port, does it work?  Is it an issue only with your ingress controller.

Please remain civil when participating in discussions or I will hav

[2017-10-16 17:44] DirectXMan12 commented on #1832
It looks like there's already something similar in the `--ignore_label` flag.  It's not quite what you want, but it's similar.  That's probably a good starting point.

[2017-10-16 17:45] DirectXMan12 commented on #1585
you can see it under `--help`, and it's also in `docs/storage_schema.md`.

[2017-10-16 17:47] DirectXMan12 commented on #1835
Do you mean Grafana plugins?  If so, you should be installing plugins at image creation time.  Create a new image with ours as the base image, and install during the `docker build` phase.

[2017-10-16 17:47] #1835 closed

[2017-10-16 17:55] DirectXMan12 commented on #1842
Most people seem to be using something like https://github.com/heptiolabs/eventrouter.  Eventer doesn't really get much love these days, so it's probably more worthwhile looking there.

Furthermore, collecting Docker events would make Eventer significantly more complicated, so I suspect we'd would not be incredibly likely to accept such a patch, unfortunately.  This is probably the kind of thing t

[2017-10-16 17:55] #1842 closed

[2017-10-16 18:06] DirectXMan12 commented on #1846
hmmm...

First things first, double check that the times are identical between all your nodes and masters (NTP, etc).  Once you've confirmed that, does anything jump out at you at log-level 9?  Look for messages about creating placeholder entries and similar.

[2017-10-16 18:22] sgmiller commented on #1836
v1.4.1

[2017-10-17 00:16] tokiwinter commented on #1846
Yeah, ntp/time sync across all nodes is good (was the first thing I checked), as for logs, I'll check when I'm working on this again (context switching is a great thing), probably within the next day or so.

[2017-10-17 07:11] #1838 closed

[2017-10-17 07:30] felixPG commented on #1831
@DirectXMan12 was problem of ingress controller due to bug of kubernetes. Thanks

[2017-10-17 07:30] #1831 closed

[2017-10-17 07:33] felixPG commented on #1835
Ok, I make the same work and all ok, but the option of values with plugins to install is a good way.

[2017-10-17 21:29] valentin2105 opened #1852 "Heapster need IPv4 to work"
Hi,

I'm trying to use heapster in k8s IPv6 only environment,
It seem that Heapster try to get the IPv4 IP of the node, but my workers doesn't get any.

Kubelet is running with `  --node-ip=<IPv6>`

[code]

I can't give more information if needed.

[2017-10-18 12:32] ZhiqinYang commented on #1739
@DirectXMan12
I config use summary_api, i can get filesystem/usage  with /api/vi/model/node/node1/metrics/filesystem/usage?labels=resource_id:/  , but i can't get network/tx , network/rx ;  without summary_api, i can get network/tx, network/rx, but i can't get filesystem/usage . why how can i solve this ? any help?

[2017-10-19 13:46] owain-je commented on #1841
So this has been running for a few days and I still see the same.

[code]

[2017-10-21 00:03] BlueMonday commented on #1843
This is a duplicate of: https://github.com/kubernetes/heapster/issues/1579

[2017-10-21 02:50] githubvick opened #1855 "Heapster pod crashes continously - panic: runtime error: slice bounds out of range"
I'm using Kubespray to install and configure a Kubernetes cluster. Kubernetes version running is 1.7.5

The heapster version of image used is gcr.io/google_containers/heapster-amd64:v1.4.2.
Heapster  grafana version of image used is  gcr.io/google_containers/heapster-grafana-<platform>:v4.4.3
Heapster influxdb version of image used is gcr.io/google_containers/heapster-influxdb-<platform>:v1.3.3

A

[2017-10-24 14:18] darkprisco commented on #1593
Sorry but I didn't get, I mean I am facing similar problem on my kubernetes cluster.
kubectl top showing something different than kubectl describe and more over, if I kubectl top pods and I sum all memory used by pods running on the same agent I don't match value showed by kubectl top nodes.

[2017-10-25 16:10] GrigorievNick commented on #1162
https://github.com/indigo-dc/Monitoring/blob/master/doc/heapster.md
i use this tools for such purposes. But i install it separately on every k8s node with zabix agent. is some one can help me with DaemonSet it will be perfect. I just do not have enough time.

[2017-10-25 16:12] GrigorievNick commented on #1162
https://github.com/indigo-dc/Monitoring/blob/master/doc/heapster.md
I use this tools for such purposes, but i'am install it separately(outside) from k8s service.
On every k8s node with zabix agent. If some one have time build daemon set over it, it will be great.

[2017-10-25 18:30] DirectXMan12 commented on #1593
Note that the sum of all pods is not necessarily the memory usage on the node.  The sum of all pods should be at most the memory usage of the node, but the node should have other processes that are using memory on it as well.

[2017-10-25 18:30] #1593 closed

[2017-10-25 18:37] DirectXMan12 commented on #1855
looks like a bug in the legacy kubelet source, which really just needs to be removed.  Please try using `--source=kubernetes.summary_api=...` and see if you hit the bug.  A quick glance seems to indicate that it's due to a hack put in place to extract container names

[2017-10-25 18:37] DirectXMan12 commented on #1843
closed as duplicate

[2017-10-25 18:37] #1843 closed

[2017-10-25 18:41] DirectXMan12 commented on #1739
you should see network usage with the summary API.  If not, please file a separate bug.  However, I will note that the model API is deprecated, so no support is guaranteed.

[2017-10-25 18:47] DirectXMan12 commented on #1852
hmm... first, seems we always error out if we don't get an IP address (which seems wrong), but you should probably still report a node IP on the node, even with an IP v6 address.  What does `kubectl get node -o yaml` show under the addresses section?

[2017-10-25 18:53] DirectXMan12 commented on #1840
ah, sorry about that.  The release notes may have gotten a bit out of sync with the plans for Heapster as things got shuffled around.

[2017-10-25 19:07] jackyycheng commented on #1813
I'm also seeing this issue as well...

[2017-10-25 20:52] valentin2105 commented on #1852
`kubectl get node -o yaml `

[code]

[2017-10-26 04:54] NickrenREN opened #1858 "Can not get filesystem metrics from Heapster 1.4.3"
Can not get storage metrics from heapster:

Node metrics:
![image](https://user-images.githubusercontent.com/6104418/32035548-b3244c46-ba4c-11e7-832d-09a336183225.png)

Pod metrics:
![image](https://user-images.githubusercontent.com/6104418/32035557-c276eb22-ba4c-11e7-8973-a42428f1c9a7.png)

Container metrics:
![image](https://user-images.githubusercontent.com/6104418/32035567-ce772ce8-ba4c-11e7-9

[2017-10-26 11:15] ori-stoliar opened #1859 "No metrics for pod"
kubernetes version: v1.7.4
heapster version: 1.4.0

I applied horizontal autoscale configuration on one of my pods and using HPA to get info about the status of it:
[code]
The deployment of my pod looks like:
[code]
The heapster logs indicate that there are no matrics for the specified pod:
`I1026 11:04:13.700779       1 handlers.go:215] No metrics for pod dev/dev-thumbor-4162317122-70rgf`

My hea

[2017-10-26 16:46] #1819 closed

[2017-10-27 16:33] githubvick commented on #1855
hi @DirectXMan12 Thx a lot, it worked, I'll close the issue in another few minutes to make sure it doesn't restart

[2017-10-27 16:38] #1855 closed

[2017-10-27 18:06] DirectXMan12 opened #1860 "Kafka Sink needs new maintainers"
The current maintainer of the Kafka sink, @huangyuqi, appears to be unresponsive.  We need at least one (preferably two) maintainers to review PRs and handle issues in order for the sink to continue to exist in Heapster.

See also #1792

 @miaoyq @Kokan @juanluisvaladas you've all contributed to the Kafka sink.  Are any of you interested?

[2017-10-27 18:09] DirectXMan12 commented on #1858
In order to debug this, you're going to have to give more information than that.  Please indicate Heapster version, Kubernetes version, and Heapster configuration, as well as the results of actually trying to fetch the metrics directly.

Please also bear in mind that the Heapster model API is deprecated, and should not be used for new projects.

[2017-10-27 18:14] DirectXMan12 commented on #1852
whoops, I missed a line when I was reading over the code last time: https://github.com/kubernetes/heapster/blob/e90c142b41c709bf47403e5756536ac961294f3d/metrics/sources/kubelet/kubelet.go#L323.

We explicitly try to convert to an IPv4 address.  That seems wrong, so we should fix that.  There's at least one other IPv6 issue with Heapster and nodes though (Heapster uses `fmt.Sprintf` to join host an

[2017-10-27 18:20] DirectXMan12 commented on #1859
Your issue is listed in the pod status conditions that you pasted in

You'll need to set a request for CPU in your pod spec for that container, like

[code]

That should fix your issue.

[2017-10-27 18:20] #1859 closed

[2017-10-28 00:32] miaoyq commented on #1860
@DirectXMan12  I would like to be the maintainer of Kafka sink. :)

[2017-10-28 14:12] juanluisvaladas commented on #1860
Thanks, but unfortunately I don't know nearly enough about kafka. I don't think I can take this responsibility in good faith.

[2017-10-28 17:19] Kokan commented on #1860
It would be a great opportunity for me.

[2017-10-30 03:07] NickrenREN commented on #1858
@DirectXMan12  thanks for your reply.
Heapster: 1.4.3,
kubernetes: latest (compiled using master branch),
Heapster configuration:  using yaml files from the dir `cluster/addons/cluster-monitoring` of kubernetes repo

I get the ip and port from the heapster service.  and then get the metrics from browser, results are shown above.

[2017-10-30 22:00] valentin2105 commented on #1852
Thanks, this PR seem a good way to make Heapster work on IPv6,
Any idea when a release will be available ?

I will do a feedback. 😄

[2017-10-31 13:55] gertjan-carbon opened #1862 "Too many pods"
I have made a dashboard to view the amount of pods of a certain container that are active at any given time.

``SELECT count("value") FROM "uptime" WHERE "type" = 'pod_container' AND "namespace_name" =~ /$namespace$/ AND "container_name" =~ /$container$/ AND $timeFilter GROUP BY time($interval), "container_name" fill(null) ``

This was working great for a while, until one of my "containers" showed

[2017-10-31 19:28] DirectXMan12 commented on #1852
Closed by #1861

[2017-10-31 19:28] #1852 closed

[2017-10-31 20:01] DirectXMan12 commented on #1860
@miaoyq @Kokan awesome.  Can one of you two file a PR to update the sink-owners doc?  Remove the old Kafka maintainer, and add yourselves as the current ones.

[2017-10-31 20:15] Kokan commented on #1860
@DirectXMan12 yes, see #1863

[2017-11-01 10:57] gertjan-carbon commented on #1862
Fixed it by adding INFLUXDB_DATA_MAX_SERIES_PER_DATABASE = 0 to the environmental settings of the pod.
As suggested in https://github.com/influxdata/docs.influxdata.com/issues/710

[2017-11-02 00:02] Random-Liu commented on #1838
@piosz Can we update heapster to fix this? https://github.com/kubernetes/heapster/issues/1838

I also hit this issue.

[2017-11-02 07:25] loburm commented on #1838
I'll try to patch and prepare a new release soon.

[2017-11-02 07:48] Random-Liu commented on #1838
Thanks a lot!

On Nov 2, 2017 12:25 AM, "Marian Lobur" <notifications@github.com> wrote:

[2017-11-02 19:04] Random-Liu commented on #1838
@loburm Thanks a lot! We really need this. If there is anything I could help, feel free to tell me!

[2017-11-02 19:19] jcharlytown commented on #1858
@NickrenREN, the filesystem metrics seem to be handled differently due to the fact that they're "labeled" metrics. They seem not to show up on the `/pods/NAME/metrics` endpoint like the other metrics. I ran into this issue myself. See this thread here: https://groups.google.com/forum/#!topic/kubernetes-dev/q8wdi6hJDkg

I confirmed that my setup in fact does produce those metrics (also for PVs and

[2017-11-02 21:30] #1862 closed

[2017-11-02 21:32] DirectXMan12 commented on #1860
just merged the PR.  Looks good.

[2017-11-02 21:32] #1860 closed

[2017-11-03 14:38] #1858 closed

[2017-11-06 03:49] NickrenREN commented on #1858
@jcharlytown  thanks for your comment. How can i get the filesystem metrics through API ?
I enabled the log sink but can not find related logs
[code]

[code]

[2017-11-06 06:06] NickrenREN commented on #1858
I can get filesystem metrics from container
[code]

but  can not get them from pod
[code]

[2017-11-06 14:03] jcharlytown commented on #1858
@NickrenREN, heapster supports multiple sources. If I am not mistaken the volume metrics are only available via the summary api source. See this documentation, at the very bottom: https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md

[2017-11-06 14:28] NickrenREN commented on #1858
@jcharlytown  yeah, i ran the heapster with summary api source.
[code]

[2017-11-06 15:34] jcharlytown commented on #1858
In your logs above, I see the following line:

[code]

I don't know why it says `eventer` for you, but that looks like the entrypoint into heapster. Are you sure you were using the summary api at this point in time?

Starting kubernetes 1.8 you can also find the metrics via the kubelet prometheus endpoint, at $node:10255/metrics - the metrics are prefixed with `volume_stats_`.

[2017-11-06 16:15] DirectXMan12 commented on #1858
eventer is the sister project to Heapster for events.  It's more-or-less deprecated.

[2017-11-06 16:18] DirectXMan12 commented on #1858
Also, based on that snippet, it looks like you'ver got the summary source and the influx sink, but I don't see any log sink.

[2017-11-07 05:51] feiskyer commented on #1813
I think it's not a heapster problem, we encounter same problem with v1.4.x images.

A quick fix for the problem is removing the label from heapster deployment: `kubernetes.io/cluster-service: "true"`.

[2017-11-07 08:16] khaled-nabil opened #1867 "Unable to retrieve Heapster Metrics through REST API"
I am running my kubernetes v1.6.11-gke.0 cluster on GKE. Within the cluster heapster-v1.3.0 (gcr.io/google_containers/heapster-amd64:v1.3.0) pod is running.

However when trying to retrieve heapster metrics through the REST API, there appears to be an issue, as showing below:
[code]
and
[code]
Moreover, kube-dns seems unreachable too
[code]
Using kubectl cluster-info services seem to be working we

[2017-11-07 17:07] DirectXMan12 commented on #1867
The Heapster model API needs to be accessed on the Heapster pod/service itself, not your main API server.  If you want to use the API server proxy, use the service name `http:heapster:`.  However, I would not recommend using the model API at all.  It's deprecated.

[2017-11-07 17:39] khaled-nabil commented on #1867
@DirectXMan12 Thanks for the clarification, it seems I have missed that part.
I haven't read anywhere that model API is deprecated, perhaps an update of [model.md](/kubernetes/heapster/blob/master/docs/model.md) is due. Is heapster to be replaced by kube-state-metrics?

[2017-11-07 17:57] DirectXMan12 commented on #1867
Heapster is being replaced by metrics-server.  The model API never left alpha, and we have no plans to do so.  I believe we marked it as deprecated at some point, but you're correct, the model document should probably also mention it.  Feel free to make a PR :-)

[2017-11-07 18:12] #1867 closed

[2017-11-07 21:56] aysark commented on #1614
Having same issue, with k8s v1.8.  Tried older image tags for heapster-grafana but no luck.

[2017-11-08 09:55] de1m opened #1868 "Cannot access API from heapster. User permissions problem with kubernetes 1.8.2"
Hi, I've updated today my kubernetes cluster to 1.8.2 version
And now I see in heapster logs this:
[code]
[Full Log](https://gist.github.com/de1m/4cceb1370e0aeb9b6c7e32e3b9fa805f.js)
I can access the GUI (grafana), but it don't have any information.

I've testet with serviceaccount "default" and with "heapster", it always the same issue.

[2017-11-08 11:23] de1m commented on #1868
I've solved my problem
I've added the rbac config
[code]
Maybe the role "cluster-admin" is too much

[2017-11-08 12:15] #1868 closed

[2017-11-08 14:48] natb1 commented on #1459
To reiterate some of what is above, I ran into similar issues and it mostly came down to 1) my ES cluster being under provisioned which caused timeouts and 2) some errors in my pipeline (similar to the null pointer exceptions above) which were getting buried by the default loging. For me, this was mostly of the ES side though, it would be nice if the default error logging were just a bit more verb

[2017-11-08 19:57] merqurio commented on #1459
@andyxning we finally went with metricbeat, but we were using v1.4.2.
Sorry for the delay

[2017-11-10 21:59] natb1 commented on #1459
adding this to my heapster index template also helped
[code]

[2017-11-12 07:36] andyxning opened #1872 "Tracking issue for adding GPU metrics to heapster"
This is a tracking issue for adding GPU metrics to heapster.
* bump cadvisor to [latest](https://github.com/google/cadvisor/commit/c99f2418fa7bbc6fc54159fa50f0043f882e9e7c)
* add support for GPU metrics for kubelet summary api endpoint
* add support for GPU metrics for normal cAdvisor endpoint

/cc @DirectXMan12 @piosz @loburm @mindprince @vishh

[2017-11-13 16:45] Guillaume-Mayer opened #1875 "k8s database not created in InfluxDB"
I followed the InfluxDB guide, the pods were correctly created (except for the heapster one that already existed).
In Grafana, the datasource source for InfluxDB is already set, but the k8s database does not exist.
Am I supposed to create it ?

GET /query?q=SHOW+DATABASES
Gives me:
{"results":[{"statement_id":0,"series":[{"name":"databases","columns":["name"],"values":[["_internal"]]}]}]}

Thanks

[2017-11-14 00:46] geekofalltrades commented on #1685
@jasonkenneth , I was running into the same issue, and I just solved it.

When you disable anonymous auth, you have to also enable basic auth:

    - name: GF_AUTH_BASIC_ENABLE
      value: "true"

If we look at the [source code of the Grafana setup script](https://github.com/kubernetes/heapster/blob/v1.4.3/grafana/setup_grafana.go#L98), we see that it constructs a URL to communicate with the Graf

[2017-11-14 17:41] KristianLyng commented on #1356
"kubectl top node" is also inconsistent with memory/node_utilization. "kubectl top node" seems to use working set to calculate its own utilization grade. Similarly, "kubectl top node" differ from typical memory usage in the dashboard (and anything else using "memory/usage") since it reports working set.

The result for me:

"kubectl top":

[code]
Grafana/influx: (cpu/node_utilization)
[code]

Thes

[2017-11-15 17:02] Tenzer commented on #1716
This sounds very similar to what is talked about here: https://github.com/kubernetes/kubernetes/issues/45790. I'm seeing the same problem and a workaround is to configure Grafana to contact InfluxDB via '127.0.0.1' instead of the service hostname.

I have not been able to find a way to solve it properly for now.

[2017-11-16 20:04] pquiggles opened #1876 "Filter Metrics for Wavefront Sink"
Since wavefront charges per point, it would be great if it were possible to pass include/exclude regexes as arguments to the wavefront sink to get down the metrics sent to only the ones that a user cares about. The ability to filter by both tag and metric name would be ideal.

cc: @ezeev

[2017-11-16 21:00] verult opened #1877 "Heapster API: listing metric names doesn't show filesystem metrics."
Steps to reproduce:

1) `curl <heapster_host:port>/api/v1/model/namespaces/{namespace-name}/pods/{pod-name}/metrics/`

What to expect:
Filesystem metrics should be listed

What happens:
Filesystem metrics missing

This happens at all levels, not just pod metrics. Is this intentional?

The problem is here:
https://github.com/kubernetes/heapster/blob/master/metrics/sinks/metric/metric_sink.go#L223
F

[2017-11-18 13:24] andyxning opened #1880 "Metrics simplification for influxDB"
For now, counter type metrics will have both counter metrics and the rate metrics. However, the most and only useful metrics are the rate metrics actually. This is fine for small clusters. However, when the clusters and running pods becomes more and more larger, the original counter metrics will only add stress on the metrics sinks.

For example, `cpu/usage` is useless IMO as for `cpu/usage_rate`

[2017-11-20 03:23] zhanjiejun opened #1882 "What does the value means？API “/api/v1/model/metrics/memory/usage”"
I called the API `/api/v1/model/metrics`
[code]

Then I called the API "/api/v1/model/metrics/memory/usage"
[code]

But the value doesn't match any node memory usage or the cluster memory usage.

If I want to get the memory usage of cluster, should I get memory usage of all nodes and plus it ?

[2017-11-20 09:49] loburm commented on #1880
What will happen if some users depend on this metrics?

[2017-11-21 21:26] leezout commented on #1875
Same issue here, it doesn't create k8s database.

[2017-11-22 12:58] piosz commented on #1872
It's not fixed yet

[2017-11-22 15:45] Guillaume-Mayer commented on #1875
I was able to fix my issue manually adding `–sink=influxdb:http://monitoring-influxdb.kube-system.svc:8086` in the heapster deploy.
So it was an Azure issue I guess.

[2017-11-24 10:57] chinajuanbob opened #1887 "How to update an existing autoscale setting?"
Hi,

I hit an error after issue this command twice

[code]

So how to update or delete an existing one, is there a doc for it?

ENV
minikube v0.23.0

Thanks a lot!

[2017-11-25 19:29] taylorshaulis commented on #1477
I would like to confirm the solution provided by @jorgelon

Switching from networking.kope.io to networking.flannel resolved my heapster getsockopt: connection timed out issue.

[2017-11-27 07:48] zouhuigang opened #1890 "monitoring-influxdb-67f8d587dd-2js7vf log show " POST /write?consistency=&db=k8s&precision=&rp=default HTTP/1.1" 204 0"
[run] 2017/11/24 15:39:36 InfluxDB starting, version unknown, branch unknown, commit unknown
[run] 2017/11/24 15:39:36 Go version go1.7.4, GOMAXPROCS set to 1
[run] 2017/11/24 15:39:36 Using configuration at: /etc/config.toml
 8888888           .d888 888                   8888888b.  888888b.
   888            d88P"  888                   888  "Y88b 888  "88b
   888            888    888

[2017-11-28 01:54] zouhuigang commented on #1890
Solved, restart the dashboard panel you can see the graphics

[2017-11-28 01:54] #1890 closed

[2017-11-28 08:08] caitong93 commented on #1554
Would defaultTagValue be something like `____empty_tag_value` ?

[2017-11-29 00:33] andyxning commented on #1058
Once #1788 is merged. We this should not be a problem again.

[2017-11-29 14:13] kinsu commented on #1812
for what i can say this appears that it is not related with influx sink only.
at least filesystem/available is missing from Kafka sink as well as ElasticSearch sink

[2017-11-29 16:18] pcm32 opened #1893 "InfluxDB/Heapster/Grafana show incorrect individual memory usage values at pod and host level."
Hi there!

Using the setup available in deploy/kube-config/influxdb, I can observe that there some incorrect plots on the grafana side for memory usage:

- Pod level: the individual memory usage values change for a defined pod and a defined time frame when the length of the period plotted (last 2 days, last 7 days) changes (for the same temporal points of course). See an example in [this gist](htt

[2017-11-30 09:29] #1872 closed

[2017-11-30 09:46] pcm32 commented on #1893
I think that the incorrect part lies in the Grafana query for influxdb being used. Currently it is doing a sum over the time interval used in the group by,

[code]

which is probably aggregating things differently on larger or smaller time intervals. Using the mean or the median as aggregator function in the select, you don't see the compounded effect over different time lapses (value levels stay

[2017-11-30 09:54] pcm32 commented on #1893
I can confirm that the same is currently happening with the CPU usage graphs, if you change the time window, values change for the same time points. I know what to change now, and if you agree with the change (I would change the aggregator to mean in all the grafana queries on the json files, in lines like [this](https://github.com/kubernetes/heapster/blob/a2ec4cb45407edab53948236468fec6b702447d8/

[2017-11-30 13:53] pcm32 commented on #1893
Possibly `max` is an even better aggregator as well, as `mean` will soften peaks, giving you false impressions when it comes to discovering whether you use to much of the resources...

[2017-11-30 18:04] chengwang86 opened #1897 "Heapster reports inconsistent memory usage stats for cluster/node/pod"
I have a heapster container (image: `wavefronthq/heapster-amd64:latest`; used with a wavefront-proxy container) in a k8s cluster (kubernetes version 1.8.2).

The cluster has two worker nodes, and below is what I observed
[code]
So the two worker nodes have 8GB RAM in total and the cluster uses 1.8 GB. But then why are the node_utilization values so high?

[2017-11-30 18:50] DirectXMan12 commented on #1887
this is not an appropriate question for the Heapster repository.  Questions about Kubernetes itself should be directed at [StackOverflow](https://stackoverflow.com/questions/tagged/kubernetes), or by reading the Kubernetes documentation: https://kubernetes.io/docs/tasks/run.../horizontal-pod-autoscale-walkthrough/

[2017-11-30 18:50] #1887 closed

[2017-11-30 18:53] DirectXMan12 commented on #1875
closing as per comments

[2017-11-30 18:53] #1875 closed

[2017-12-01 16:05] DirectXMan12 commented on #1356
`kubectl top` just uses data from Heapster, so it would have the same problem

[2017-12-01 16:10] DirectXMan12 commented on #1877
The model API never left alpha, and is deprecated (I need to put a large warning on the Heapster README).  It's typically because labeled metrics don't show up as normal in the model API.  If they're not showing up in you sink, that would be a problem, but it's more-or-less expected in the model API, and we have no plans to improve that.

[2017-12-01 16:10] #1877 closed

[2017-12-01 16:29] DirectXMan12 commented on #1882
We no longer support the model API.  Please see https://github.com/kubernetes/heapster/pull/1898 for more details.

[2017-12-01 16:29] #1882 closed

[2017-12-01 16:32] DirectXMan12 commented on #1880
`cpu/usage` is not the hard limit in millicores -- it's the cumulative CPU time used by the process.  These metrics are still useful for people who want to do their own rate calculations.  Depending on the sink, it's *almost* better to provide the counter metrics only, and let the sink to a better rate calculation than Heapster can.  I don't think we should remove either, or, at the very least, sh

[2017-12-01 16:38] #1477 closed

[2017-12-01 16:53] mrblackus opened #1899 "Measured uptime are randomly reseted"
Hi,

Since a couple of weeks, our reported uptime for most of our pods are incorrect and reset to 0 frequently but at a random rate (sometimes it's reset after a couple of minutes/seconds, sometimes a couple of hours).

The data are sinked to influxdb and displayed with Grafana.
Here is a screenshot of the uptime of some MongoDB nodes over a week (none of them have restarted). Only the blue line (

[2017-12-01 19:19] chengwang86 commented on #1593
@DirectXMan12 Hi I still observe that the sum of all worker nodes' memory usage > cluster mem usage. See https://github.com/kubernetes/heapster/issues/1897. I tried with heapster 1.3.0 and 1.4.2, the kubernetes version is 1.8.2

[2017-12-01 19:39] DirectXMan12 commented on #1841
If you're still experiencing the issue, you can run at `--v=10` to see exactly what Heapster is seeing in terms of responses from Kubelet, aggregation, etc.  That should give more insight as to what the issue is.

[2017-12-01 19:47] DirectXMan12 commented on #1897
this is a bit confusing, but cluster usage is the sum of all namespace usage, while node usage, IIRC, is at least partially just recorded directly, so thats probably what you're seeing (just pod usage vs pod+system usage).

[2017-12-01 19:47] #1897 closed

[2017-12-01 20:09] benmathews commented on #1841
That is what I eventually did and it pointed me back to influxdb where I solved my problem.

[2017-12-02 01:36] andyxning commented on #1880
@DirectXMan12 Make it an option is good for me. By giving a switch, it should be fine to let users to choose whether to disable or enable those counter metrics depends on their demand. Will change the PR.

[2017-12-04 09:28] mrblackus commented on #1899
After investigation, it seems that uptime resets happen when there is some load on the pod, but it's not always true...

Here is a graph with uptime in yellow, and CPU usage in millicores in green.
![](https://user-images.githubusercontent.com/2353980/33545247-c6390c5e-d8dd-11e7-9475-07e1dcda4725.png)

[2017-12-04 09:59] khaled-nabil commented on #1899
If you're running your cluster on GKE, my guess is that you're running a second Deployment of Heapster in order to dump metrics into InfluxDB sink. If that's the case, do both Heapster metrics match?
It might be useful to look into CPU and Memory Utilization at the the Node.

[2017-12-04 13:09] mrblackus commented on #1899
You're right, I have a second heapster deployment that sinks data on InfluxDB, and the default kubernetes one that sinks them to StackDriver.
I couldn't find the CPU usage per pod on StackDriver, but memory reporting seems to be the same on InfluxDB and StackDriver.

After digging more, I found [this issue](https://github.com/google/cadvisor/issues/1607) on cAdvisor that looks interesting. Not sur

[2017-12-04 16:40] DirectXMan12 commented on #1899
FYI, you can configure a single Heapster to dump to multiple sinks.

[2017-12-04 21:22] buddyledungarees commented on #1841
@owain-je This was resolved for me by realizing that my kops cluster was missing the system:heapster role. I'm not sure why that role is missing but this was a cluster that was upgraded from 1.4 -> 1.5 -> 1.6 -> 1.7 so could've been missed as part of an upgrade.

You can create the role by applying the object here:
https://github.com/kubernetes/kubernetes/pull/48357

[2017-12-05 10:05] owain-je commented on #1841
I will give this a try when I am back in the office.

[2017-12-05 11:04] #1880 closed

[2017-12-05 16:37] Asher-Shoshan opened #1903 "How to start with Heapster?"
Can't figure out what exactly to do and start using  Heapster in my on-premises Kubernetes cluster.
Download the yaml files (which ones)  and 'kubectl create -f ..."?
What about cadvisor?  Do I have to run it outside Kubernetes?
How is that related to Kubernetes-Dashboard?
Thanks,

[2017-12-05 18:36] #1058 closed

[2017-12-06 08:31] Asher-Shoshan opened #1904 "Install/Deploy with influxdb/grafana"
Can't figure out what exactly to do and start using  Heapster in my on-premises Kubernetes cluster.
Downloaded the yaml files and run 'kubectl create -f ..."?
There is 'k8s' db inside the influxdb container.  Should I do something?

[2017-12-06 21:01] Asher-Shoshan commented on #1648
I have same issue with kuberenetes 1.8.

What I see in a container when running "nslookup kubernetes.default" is this:
;; reply from unexpected source: 10.32.0.7#53, expected 10.96.0.10#53

Seems trying to access the dns via entrypoint ip (10.32.0.7)  and not via the service ip (10.96.0.10)
Probably the same occurs in the  "heapster" container, causing the time-out.

Any resolution to the issue?

[2017-12-06 23:50] AlmogBaku commented on #1459
can someone provide steps to reproduce? I can't reproduce this in my environment

[2017-12-07 06:31] fejta commented on #1773
These jobs will start failing in the extremely near future

[2017-12-07 06:31] fejta commented on #1773
Please migrate them out of jenkins and into their own GCP project (if this hasn't happened already)

[2017-12-07 07:06] tianshapjq commented on #1543
close since it's getting no response.

[2017-12-07 07:06] #1543 closed

[2017-12-07 09:52] x13n commented on #1773
I need more context here. What jobs, where is this configured?

[2017-12-07 22:35] BenTheElder commented on #1773
- All the heapster jobs running in test-infra via jenkins
- https://github.com/kubernetes/test-infra, the triggers are in prow/config.yaml and the rest of the config is in jobs/config.json and jenkins/job-configs.
  - Any jobs in jenkins/job-configs need to be moved to their own jenkins project or ideally migrated off of jenkins to prow. We are going to shut down the kubernetes jenkins and heapste

[2017-12-11 02:06] charlesakalugwu opened #1908 "Hpa cannot get metrics from heapster"
I am having troubles getting horizontal pod autoscaling to work on my k8s cluster on aws as it seems it is unable to retrieve metrics from heapster

[code]

I have heapster deployed and powering the kubernetes dashboard without issues. This is the heapster k8s manifest i have deployed

[code]

I have deployed an application with horizontal pod autoscaling. However I can see from the `describe hpa`

[2017-12-11 02:13] charleslieferando commented on #1908
/sig autoscaling

[2017-12-11 13:46] pschulten opened #1909 "ElasticSearch 6 support"
We're logging to ES 6 and the heapster export fails with:

`W1211 13:30:19.368537       1 driver.go:75] Failed to export data to ElasticSearch sink: elastic: Error 400 (Bad Request): Failed to parse mapping [general]: No handler for type [string] declared on field [cluster_name] [type=mapper_parsing_exception]`

[2017-12-11 14:16] newcrane commented on #1648
I have same issue

[code]

[2017-12-11 15:13] newcrane commented on #1744
@zhangqx2010 Can you tell me how to solve?

[2017-12-11 15:17] newcrane commented on #1392
@mashayev Can tell me what changed into?

[2017-12-11 16:07] mashayev commented on #1392
@newcrane What do you mean?

[2017-12-12 04:11] newcrane commented on #1392
@mashayev What did you change to for kubernetes.default in your system environment? Thank you very much.

[2017-12-12 08:10] tstoermer commented on #1909
ES 6 does no longer support multiple types in mappings per index. The metrics must be merged to one type or written to different indices.
https://www.elastic.co/guide/en/elasticsearch/reference/6.0/breaking-changes-6.0.html

There is also a new version of the used ES client
https://github.com/olivere/elastic

[2017-12-12 11:28] zhangqx2010 commented on #1744
Just do as the comments above.
You can see the `KUBELET_DNS_ARGS` parameter in `10-kubeadm.conf`. Change it whatever you like for cluster dns.

[2017-12-13 12:47] vielmetti commented on #1478
Can we reopen this? GCR now has multiarch support.

[2017-12-14 10:59] tirumaraiselvan opened #1913 "Failed to create influxdb : received status code 400 from server"
Hi all,

I am trying to run heapster on one kubernetes cluster and influxdb + grafana on another kubernetes cluster. So I setup my heapster like so:

      - command:
        - /heapster
        - --source=kubernetes:https://kubernetes.default
        - --sink=influxdb:https://influxdb.monitoring-stg.hasura-app.io
        image: gcr.io/google_containers/heapster-amd64:v1.4.3

The sink endpoint is

[2017-12-14 23:44] luxas commented on #1478
@vielmetti please send a PR with the small change to re-enable manifest lists :)

[2017-12-16 16:52] #1225 closed

[2017-12-17 02:02] fengss opened #1915 "heapster it does not collect information on other node node, can only collect it in the node node"
My heapster logs show the following information, it does not collect information on other node node, can only collect it in the node node

heapster:v1.3.0
k8s:v1.8.1

## The logs
[code]

## The content of the deployment
[code]

##  kube-apiserver ip addr
[code]

## Heapster's IP
192.168.166.134

## My master and node virtual machine static IP
master: 192.168.0.142
node1: 192.168.0.143
node2: 192.1

[2017-12-17 03:46] #1263 closed

[2017-12-18 13:32] Thermi commented on #1350
/remove-lifecycle stale

[2017-12-18 13:32] Thermi commented on #1350
/lifecycle frozen

[2017-12-18 14:36] kawych commented on #1904
Closing as duplicate of #1903.

[2017-12-18 14:36] #1904 closed

[2017-12-18 14:37] #1278 closed

[2017-12-18 14:43] kawych commented on #1903
Heapster deployment files are [here](https://github.com/kubernetes/heapster/tree/master/deploy/kube-config), choose the ones according to your backend. You shouldn't have to run cadvisor.

[2017-12-19 11:43] Thermi commented on #1363
/remove-lifecycle stale
/lifecycle frozen

[2017-12-19 23:32] Calpicow commented on #1080
This issue appears to be resolved now.

[2017-12-19 23:32] #1080 closed

[2017-12-20 09:10] piosz commented on #1175
This is fixed.

[2017-12-20 09:10] #1175 closed

[2017-12-20 16:17] andyxning commented on #690
/remove-lifecycle stale

[2017-12-20 22:09] 007 opened #1917 "Release process needs to include global version changes"
Same as mentioned in https://github.com/kubernetes/heapster/pull/1808#issuecomment-329606672 - when the main `heapster` version is changed and packages are built, the version needs to be changed in all places it is used - not just the [`Makefile`](https://github.com/kubernetes/heapster/blob/32a110de3d752bc6897afa4ea519e547a8276ab9/Makefile#L14).

Also ref: https://github.com/kubernetes/heapster/pu

[2017-12-21 15:25] whereisaaron commented on #1491
[This patch](https://github.com/kubernetes/heapster/commit/05f739ef6e7fddb265b9b73b2c65b58ef5e1b500#diff-da70c2dfec0602b33a8c0febbdea2748) appears to fix (1) it is uses the `GF_*` variables if present.

[2017-12-21 19:27] rohansahai opened #1918 "Help Wanted - Cannot connect to influxdb via influx client."
Not sure if this a heapster issue, but I figured someone might have a better idea than me what exactly is going wrong (I'm new to this stack).

I'm trying to actually use the influxdb shell to set a retention policy on some data (remove references to old terminated pods so our grafana graphs are a bit more useful). I run

`kubectl get services -n kube-system | grep influxdb`

to find our influx se

[2017-12-22 15:02] burmanm commented on #1531
/close

[2017-12-22 15:02] #1531 closed

[2017-12-23 09:51] #1358 closed

[2017-12-28 14:01] alexef commented on #1660
@DirectXMan12 I'm failing to find in the documentation, what certificates should I mount?

[2017-12-28 14:29] x13n commented on #218
/remove-lifecycle stale
/unassign @mwielgus

[2017-12-28 15:34] x13n commented on #1918
This doesn't look to be a problem with Heapster, so closing. Please use slack/stackoverflow for this type of questions.

That being said, your influxdb probably doesn't expose any external IP which is why you cannot reach it. Grafana runs in the same cluster, so internal IP is enough there.

[2017-12-28 15:34] #1918 closed

[2017-12-29 09:14] x13n commented on #1913
Looks like there is some connectivity, so I'd try checking influxdb logs to see why it returned this error.

[2017-12-29 16:37] tirumaraiselvan commented on #1913
I don't see any access request by heapster in influxdb logs.

This is what it looks like:

[I] 2017-12-14T10:43:19Z InfluxDB starting, version unknown, branch unknown, commit unknown
[I] 2017-12-14T10:43:19Z Go version go1.8.3, GOMAXPROCS set to 1
[I] 2017-12-14T10:43:19Z Using configuration at: /etc/config.toml
[I] 2017-12-14T10:43:19Z Using data dir: /data/data service=store
[I] 2017-12-14T10:43

[2017-12-29 16:38] shadycuz commented on #1908
Also seeing this, but we are running OC? Might not make a difference.  We see the same events describing the pods.

[2017-12-29 17:05] MaciekPytel commented on #1908
It's likely the same issue as https://github.com/kubernetes/kubernetes/issues/57673

[2017-12-29 17:08] shadycuz commented on #1908
@MaciekPytel Different errors in the event log?
`unable to get metrics for resource cpu: unable to fetch metrics from API: the server could not find the requested resource (get pods.metrics.k8s.io)`
but  I will check into this.

[2017-12-29 17:25] rohansahai commented on #1918
ok sorry about that, thanks

[2017-12-29 17:31] MaciekPytel commented on #1908
@shadycuz Yeah, good point. I've just seen that issue so much I automatically assumed this to be the case. This looks more like some network or RBAC related issue.

[2018-01-03 10:02] swade1987 commented on #1764
@alok87 we are seeing the same issue running version 1.1.1 on Kubernetes 1.7.4.

Over the past two days, it spiked at 21.41GB memory usage and is now running at 14.30GB.

[2018-01-03 20:44] DirectXMan12 commented on #1715
@kubernetes/heapster-maintainers was this ever fixed?

[2018-01-03 20:45] DirectXMan12 commented on #1771
/remove-lifecycle stale

[2018-01-03 20:46] DirectXMan12 commented on #1766
you should be using metrics-server if you want resource metrics API support

/close

[2018-01-03 20:46] #1766 closed

[2018-01-03 20:47] DirectXMan12 commented on #1765
closing b/c no response
/close

[2018-01-03 20:47] #1765 closed

[2018-01-03 20:48] DirectXMan12 commented on #1596
Closing as per my response above.  If you want to do something special for your cluster, build your own image.

[2018-01-03 20:48] #1596 closed

[2018-01-03 20:54] DirectXMan12 commented on #1672
cc @miaoyq / @Kokan if this is still the case, feel free to act on it.

[2018-01-03 21:01] DirectXMan12 commented on #1227
@Kokan we should probably have that modification, if we don't already

[2018-01-03 21:02] #1655 closed

[2018-01-03 21:02] #1617 closed

[2018-01-03 21:02] #1650 closed

[2018-01-03 21:02] #1619 closed

[2018-01-03 21:02] #1604 closed

[2018-01-03 21:02] #1621 closed

[2018-01-03 21:03] DirectXMan12 commented on #1609
for positerity, you can also use `--logtostderr` to *only* log to std err.

[2018-01-03 21:03] #1609 closed

[2018-01-03 21:19] Kokan commented on #1227
The additional logging have been fixed by #1684

[2018-01-03 21:43] Kokan commented on #1672
This is still an issue, and I have a patch somewhere for it, but that is an ugly hack.
Actually I think this is a more common issue, there should be a way for each sink to "heal" from such issue.

What I mean when the `ExportData` is called, it could return a status, and if the command failed the manager could re-create that  `DataSink`. My patch had similar to this, but actually implemented insid

[2018-01-04 15:48] DirectXMan12 commented on #1053
I don't think we want to ever try and handle this in Heapster.
Feel free to reopen if you disagree.

[2018-01-04 15:48] #1053 closed

[2018-01-04 15:49] DirectXMan12 commented on #1056
We have support for this in our Makefile now, closing.

[2018-01-04 15:49] #1056 closed

[2018-01-04 15:50] #1067 closed

[2018-01-04 15:50] #1085 closed

[2018-01-04 15:51] #1089 closed

[2018-01-04 15:51] #973 closed

[2018-01-04 15:51] #1115 closed

[2018-01-04 15:51] #1123 closed

[2018-01-04 15:52] DirectXMan12 commented on #1126
We've fixed this a couple times.  This particular issue should be fixed.

[2018-01-04 15:52] #1126 closed

[2018-01-04 15:53] #1131 closed

[2018-01-04 15:54] #296 closed

[2018-01-04 15:54] DirectXMan12 commented on #296
I believe we have these mechanisms now

[2018-01-04 15:55] DirectXMan12 commented on #241
I'm not certain we want to do this, and there hasn't been any movement on this for a while now.

[2018-01-04 15:55] #241 closed

[2018-01-04 15:56] DirectXMan12 commented on #1137
Events in general are currently undergoing some updates, and there are other tools that allow a bit better control of things over eventer.  Closing

[2018-01-04 15:56] #1137 closed

[2018-01-04 15:56] #1141 closed

[2018-01-04 15:56] DirectXMan12 commented on #1147
closing due to no activity/staleness

[2018-01-04 15:56] #1147 closed

[2018-01-04 15:57] DirectXMan12 commented on #1130
closing due to staleness

[2018-01-04 15:57] #1130 closed

[2018-01-04 15:57] DirectXMan12 commented on #1149
closing due to no response

[2018-01-04 15:57] #1149 closed

[2018-01-04 15:58] DirectXMan12 commented on #1180
With the advent of metrics-server, this is probably better done elsewhere in Kubernetes docs

[2018-01-04 15:58] #1180 closed

[2018-01-04 15:58] DirectXMan12 commented on #713
model is no longer supported, and this issue is stale, closing

[2018-01-04 15:58] #713 closed

[2018-01-04 15:59] DirectXMan12 commented on #1155
diskio work is partially completed and being tracked elsewhere.  closing

[2018-01-04 15:59] #1155 closed

[2018-01-04 16:00] DirectXMan12 commented on #1215
the direct cadvisor source hasn't been supported for quite a while.  closing.

[2018-01-04 16:00] #1215 closed

[2018-01-04 16:01] DirectXMan12 commented on #1601
no,  we do not support that

[2018-01-04 16:01] #1601 closed

[2018-01-04 16:02] DirectXMan12 commented on #1606
this is not an issue with Heapster.  It's probably a version issue with your Kubernetes cluster.

[2018-01-04 16:02] #1606 closed

[2018-01-04 16:46] DirectXMan12 commented on #1672
Something like that sounds fairly reasonable.  Tag me when you submit the PR.

[2018-01-04 16:46] DirectXMan12 commented on #1227
ack, closing

[2018-01-04 16:46] #1227 closed

[2018-01-04 16:47] DirectXMan12 commented on #1603
cc @AlmogBaku @andyxning @huangyuqi

[2018-01-04 16:48] DirectXMan12 commented on #1588
if you're still seeing this, please re-open.

[2018-01-04 16:48] #1588 closed

[2018-01-04 16:48] DirectXMan12 commented on #1583
If you're

[2018-01-04 16:48] #1583 closed

[2018-01-04 16:49] DirectXMan12 commented on #1420
closing due to inactivity.  We can always re-open this later.

[2018-01-04 16:49] #1420 closed

[2018-01-04 16:50] DirectXMan12 commented on #1142
/remove-lifecycle stale

[2018-01-04 16:51] DirectXMan12 commented on #1433
Closing.  This was due to not running a standard metrics setup, which Heapster doesn't really support.

[2018-01-04 16:51] #1433 closed

[2018-01-04 16:51] DirectXMan12 commented on #1547
closing due to inactivity

[2018-01-04 16:51] #1547 closed

[2018-01-04 16:52] DirectXMan12 commented on #1530
/remove-lifecycle stale

[2018-01-04 16:55] DirectXMan12 commented on #1156
Fixed by #1788

[2018-01-04 16:55] #1156 closed

[2018-01-04 16:56] #1259 closed

[2018-01-04 16:56] #1903 closed

[2018-01-04 16:57] DirectXMan12 commented on #1107
this is quite old at this point, and the model API is not really supported.  closing

[2018-01-04 16:57] #1107 closed

[2018-01-04 16:58] DirectXMan12 commented on #1160
fixed in #1591

[2018-01-04 16:58] #1160 closed

[2018-01-04 16:58] DirectXMan12 commented on #1306
closing.  If you want proper auth, use metrics-server.

[2018-01-04 16:58] #1306 closed

[2018-01-04 16:59] DirectXMan12 commented on #1284
@piosz what's the status of this

[2018-01-04 16:59] DirectXMan12 commented on #1287
This is quite old now.  Please re-open if you're still experiencing the issue

[2018-01-04 16:59] #1287 closed

[2018-01-04 16:59] DirectXMan12 commented on #1287
This is quite old now.  Please re-open if you're still experiencing the issue

[2018-01-04 17:01] DirectXMan12 commented on #1288
I believe this has been fixed.

[2018-01-04 17:01] #1288 closed

[2018-01-04 17:01] DirectXMan12 commented on #1183
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:01] #1183 closed

[2018-01-04 17:01] DirectXMan12 commented on #1120
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:01] #1120 closed

[2018-01-04 17:02] DirectXMan12 commented on #1133
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:02] #1133 closed

[2018-01-04 17:02] DirectXMan12 commented on #1270
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:02] #1270 closed

[2018-01-04 17:04] DirectXMan12 commented on #1915
looks like Heapster can't reach the nodes.  Make sure you're not using an overlay network that prevents this communication.

[2018-01-04 17:05] DirectXMan12 commented on #1136
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:05] #1136 closed

[2018-01-04 17:05] DirectXMan12 commented on #1221
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:05] #1221 closed

[2018-01-04 17:05] DirectXMan12 commented on #1226
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:05] #1226 closed

[2018-01-04 17:05] DirectXMan12 commented on #688
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:05] #688 closed

[2018-01-04 17:05] #873 closed

[2018-01-04 17:06] DirectXMan12 commented on #882
/remove-lifecycle stale

we should have some concrete action items if we're going to work on this

[2018-01-04 17:07] DirectXMan12 commented on #893
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:07] #893 closed

[2018-01-04 17:08] DirectXMan12 commented on #885
this should be covered under the disk io metrics work

[2018-01-04 17:08] #885 closed

[2018-01-04 17:08] DirectXMan12 commented on #894
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:08] #894 closed

[2018-01-04 17:09] DirectXMan12 commented on #906
if you're working in a GOPATH, sane practice is to have the GOPATH's `bin` directory on your path.

[2018-01-04 17:09] #906 closed

[2018-01-04 17:09] DirectXMan12 commented on #943
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:09] #943 closed

[2018-01-04 17:09] DirectXMan12 commented on #1002
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:09] #1002 closed

[2018-01-04 17:09] DirectXMan12 commented on #899
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:09] #899 closed

[2018-01-04 17:10] DirectXMan12 commented on #978
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:10] #978 closed

[2018-01-04 17:10] DirectXMan12 commented on #993
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:10] #993 closed

[2018-01-04 17:11] DirectXMan12 commented on #993
feel free to reopen if someone wants to work on this.  Trying to prune open issues as noticed by the bot to stuff that we're actually likely to work on.

[2018-01-04 17:11] DirectXMan12 commented on #860
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:11] #860 closed

[2018-01-04 17:11] DirectXMan12 commented on #771
please reopen if you plan on working on this

[2018-01-04 17:11] #771 closed

[2018-01-04 17:12] DirectXMan12 commented on #843
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:12] #843 closed

[2018-01-04 17:12] DirectXMan12 commented on #720
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:12] #720 closed

[2018-01-04 17:12] DirectXMan12 commented on #820
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:12] #820 closed

[2018-01-04 17:12] DirectXMan12 commented on #804
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:12] #804 closed

[2018-01-04 17:13] DirectXMan12 commented on #732
Don't think this is still an issue.  closing.

[2018-01-04 17:13] #732 closed

[2018-01-04 17:13] DirectXMan12 commented on #731
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:13] #731 closed

[2018-01-04 17:13] DirectXMan12 commented on #746
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:13] #746 closed

[2018-01-04 17:14] DirectXMan12 commented on #681
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:14] #681 closed

[2018-01-04 17:14] DirectXMan12 commented on #564
this is quite old.  please re-open if you are still experiencing the issue

[2018-01-04 17:14] #564 closed

[2018-01-04 17:15] DirectXMan12 commented on #1909
cc @AlmogBaku @huangyuqi @andyxning

[2018-01-04 17:16] DirectXMan12 commented on #1648
sounds like you have cluster networking issues, not Heapster issues.  Please ensure your cluster networking and cluster DNS works as expected, and then re-open this issue if you're still having problems

[2018-01-04 17:16] #1648 closed

[2018-01-04 18:37] AlmogBaku commented on #1909
I'll try to find the time to make it supports ES6. If someone can pick it up please comment

[2018-01-04 18:42] AlmogBaku commented on #1603
As we discussed before - I'm not in favor of providing CA file or bypassing the check. As a solution, you can attach your CA to the container's known CAs by the kubernetes manifest.

/close

[2018-01-04 18:42] #1603 closed

[2018-01-04 19:32] gcstr commented on #1685
Hi, I'm running the same issue and I can't get any other from Grafana than one pod on `kube-system` namespace.

@DirectXMan12, running `curl localhost:8001/api/v1/namespaces/kube-system/services/proxy/apis/metrics/v1alpha1/namespaces/kube-system/pods`

    {
      "kind": "Status",
      "apiVersion": "v1",
      "metadata": {},
      "status": "Failure",
      "message": "the server could not fin

[2018-01-04 19:46] bowei commented on #1599
Closing in favor of kubernetes/kubernetes#28407

/close

[2018-01-04 19:46] #1599 closed

[2018-01-07 02:27] whereisaaron commented on #1179
Thanks for the idea @Lebuin @steve21168 nice to have a workaround.

This remains a pain point for the grafana+influxdb combo, and certainly not a stale issue.

Luckily there may be some progress, with @daniellee picking up PR #7919 with a strategy to achieve it.

/lifecycle frozen

[2018-01-07 10:28] Asher-Shoshan commented on #1648
No cluster issues.   Changed the line in heapster.yaml to this:
"        - --source=kubernetes.summary_api:https://kubernetes.default"
And it's working fine now.

[2018-01-08 14:37] hyperbolic2346 commented on #1528
/remove-lifecycle stale

[2018-01-09 10:31] evilezh opened #1924 "New feature - add POD ownerReferences"
We have information about pods, but it would be much more useful if we would have owner metadata as extra labels:
owner_type: deployment/daemonset/statefulSet/......
owner_name: deployment-1

That would provide much better visibility for stats and I could template in grafana something like:
owner_type, owner_name, pod_id, container_id
CHART CHART CHART

If we could include at least top owner, it w

[2018-01-09 11:54] maartenvermeyen opened #1925 "Pod cpu usage calculation method for HPA"
Can someone explain how the cpu usage is calculated inside pods with multiple containers for use with an HPA?
Is it the mean value and how is this calculated?

For example:
If we have 2 containers:
- Container1 requests 0.5 cpu and uses 0 cpu
- Container2 requests 1 cpu and uses 2 cpu

If we calculate both seperatly and take the mean: (0% + 200%)/2 = 100% usage?
If we take the sums and take the me

[2018-01-09 16:08] maartenvermeyen commented on #1925
I moved the question to stackoverflow: https://stackoverflow.com/questions/48172151/kubernetes-pod-cpu-usage-calculation-method-for-hpa

[2018-01-09 16:08] #1925 closed

[2018-01-09 16:11] x13n commented on #1925
I think this is more of a HPA question, not a heapster question. I guess @MaciekPytel should know.

[2018-01-11 14:47] FrederikNS commented on #1142
Amazon announced that they would start providing a managed version of Kubernetes. Lets hope they implement some stuff for integrating it with CloudWatch

https://aws.amazon.com/eks/

https://techcrunch.com/2017/11/29/awss-container-service-gets-support-for-kubernetes/

[2018-01-12 17:47] #1701 closed

[2018-01-16 19:58] #1837 closed

[2018-01-16 19:59] #1847 closed

[2018-01-16 20:02] #1821 closed

[2018-01-16 20:02] #1818 closed

[2018-01-16 20:02] #1279 closed

[2018-01-16 20:02] #1786 closed

[2018-01-16 20:02] #1814 closed

[2018-01-16 20:03] #1800 closed

[2018-01-16 20:19] DirectXMan12 commented on #1685
you appear to have missed putting an actual service name in your curl -- it should be
`curl localhost:8001/api/v1/namespaces/kube-system/services/heapster/proxy/apis/metrics/v1alpha1/namespaces/kube-system/pods`

[2018-01-16 20:21] DirectXMan12 commented on #1751
I'm tempted to close this as I'm not particularly keen on adding new features to Heapster and/or increasing the memory bloat (which is already fairly large).  If you have a compelling use case and are still interested, please share.

[2018-01-17 09:26] x13n commented on #1289
/close

[2018-01-17 09:26] #1289 closed

[2018-01-17 19:50] ryarnyah opened #1928 "Improve Kafka Sink with SASL/SSL configuration"
Today kafka sink does not support security configuration. Also the library "https://github.com/optiopay/kafka" does not seem to support it yet but "https://github.com/Shopify/sarama" did.

Is there a plan to support SASL/SSL? If yes, can we propose PR to migrate to sarama to support it?

Edit: see https://github.com/kubernetes/heapster/pull/1931

[2018-01-19 02:09] cookeem opened #1932 "Heapster can't connect apiserver, getsockopt: no route to host"
I follow the guide to deploy heapster in kubernetes cluster:
[code]

But it shows this error log repeatly:
[code]

Heapster version 1.4.2

kubernetes version:
[code]

network addons flannel:
[code]

docker version:
[code]

firewalld settings:
[code]

[2018-01-21 06:43] DreadPirateShawn commented on #1177
Also relevant to this topic, for posterity:

https://bugzilla.redhat.com/show_bug.cgi?id=1421834

[2018-01-21 08:59] jonaz commented on #1320
/remove-lifecycle rotten

[2018-01-22 16:15] DirectXMan12 commented on #1932
Do you have an overlay network set up?  Does network policy prevent pods from communicating with masters or nodes?

[2018-01-22 17:04] Kokan commented on #1928
I have no plan to do it in the near feature, but glad to see such PR :)

Of course you can. But changes that does not improve, personally I do not like. Therefore it must improve something, while still provides the same set of features.
A few thing also important:
* active development/community
* good compatibility
* usable api

At first sight it looks promising to me, but I think to review most o

[2018-01-23 00:32] miaoyq commented on #1928
@ryarnyah Thanks, I will review this PR.

[2018-01-23 05:54] qhyou11 opened #1935 "Negative value on "disk/io_read_bytes_rate" and "disk/io_write_bytes_rate""
Hi all,

I am running heapster on one kubernetes cluster with influxdb as backends , and get some negative value on "disk/io_read_bytes_rate" and "disk/io_write_bytes_rate" .
Because metric "disk/io_write_bytes" and "disk/io_read_bytes" got "resource_id" as  tag, but "Process" in "rate_calculator.go" didn't consider such case.
[code]
line 70 should be something like " if itemOld.Name == metricName

[2018-01-23 12:44] r0bj opened #1936 "system:heapster ClusterRole lacking nodes/stats get privileges"
The `system:heapster` ClusterRole appears to be missing the ability to GET to `nodes/stats` resource.

heapster deployment:
[code]

error messages from API server:
[code]

error message from heapster:
[code]

Issue is fixed after adding those lines to ClusterRole `system:heapster`:
[code]

kubernetes: 1.9.1
heapster: 1.5.0

[2018-01-23 15:29] whites11 opened #1937 "Heapster stops retrieving CPU metrics when pod is under load"
Disclaimer: I can't be sure if this is heapster's fault or not, so please don't get angry if I am in the wrong spot.

My environment:

- kubernetes 1.8.4 on AWS, deployed with kops.
- Heapster 1.5.0 with influxdb sink and 60s metric resolution

When my pods are idle or low traffic everything's fine. My HPAs can get data out of heapster and I can see data on grafana, pulling it out from influxdb.

[2018-01-24 19:32] DirectXMan12 commented on #1937
Huh, fascinating.  Based on the initial symptoms, I'd guess something's being starved for CPU, probably either the kubelet or Heapster itself, ***but*** since you don't lose memory stats, that probably indicates a rate calculation issue (since CPU usage is actually a calculated rate metric).

That would imply that it's *probably* Kubelet that's starved for CPU, and collection is taking more than t

[2018-01-24 19:40] whites11 commented on #1937
Thank you very much for getting back to me @DirectXMan12

Your hypothesis make a lot of sense to me, I'll try increasing verbosity and post the logs.

Phewwww

[2018-01-25 00:14] M-Ayman commented on #1718
make sure the port 10255 is opened on all nodes

[2018-01-25 09:56] whites11 commented on #1937
So, a few updates on this case.
I raised verbosity to 10. It is so verbose that kubectl logs hangs up at a certaing point.
So i lowered verbosity to 5 and I discovered a difference in the log between a load situation or not a load situation. When CPU data is missing this is what I get in the log:

`Skipping rates for namespace:my-namespace/pod:my-pod-name-59587c855f-s9t99/container:app - different

[2018-01-25 14:05] remonlam commented on #1620
/close

[2018-01-25 14:05] #1620 closed

[2018-01-25 20:56] szaharici opened #1939 "influxdb tries to listen on wrong address"
Hello,

I am trying to run heapster on a newly created baremetal server running kubernetes 1.9.2 as described here https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md
However, InfluxDB fails to start because it is trying to use a wrong address
[code]
I have no idea where the range 10.132 comes from...it is not the on the nodeip range or pod network range
If I edit the monitoring-in

[2018-01-26 16:54] DirectXMan12 commented on #1935
Since you've already tracked down the issue, can you submit a PR to fix it?  Thanks!

[2018-01-26 18:37] DirectXMan12 commented on #1937
so... that means that two different metrics from the same container have different start times listed.  Generally, it means that there's a bug in Kubelet.  The only time I've ever seen it like that before was when we had a prefixing bug in cAdvisor where it wasn't stripping off cgroup prefixes for systemd, but that was fixed a long time ago.  If you can manage to get the logs from level 10, you sh

[2018-01-28 02:10] cookeem commented on #1932
@DirectXMan12 Sorry for reply late, finally I use calico on flannel, everything works fine, close this issue.

[2018-01-28 02:10] #1932 closed

[2018-01-28 07:27] fejta commented on #1771
We don't use travis
/assign @krzyzacy

[2018-01-28 22:21] krzyzacy commented on #1771
/reopen
this is heapster :-(

[2018-01-29 16:48] DirectXMan12 opened #1945 "We need an official Influx sink owner"
The influxdb sink issues are getting a bit out of hand.  We need an official Influx sink owner beyond just @kubernetes/heapster-maintainers, IMO.

There are currently 17 open bugs with sink/influxdb label and 34 open bugs that mention influxdb somewhere.

[2018-01-29 19:48] krzyzacy commented on #1771
@DirectXMan12 assume the only requirement for `make unit` is go?

[2018-01-30 15:55] szaharici commented on #1939
I dug a bit around and found the cause, we do have a localhost.<default-domain> entry on our DNS server that is always resolved when using localhost instead of reading the entry from the /hosts file. This is triggered by the absence of /etc/nsswitch.conf speicifying the host file priority in the docker image

[2018-01-31 09:38] x13n commented on #1595
/remove-lifecycle rotten

https://github.com/kubernetes/heapster/pull/1612 introduced a ClusterRoleBinding for heapster, but nothing for pod_nanny. Reusing https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/heapster-rbac.yaml will be enough here.

/cc @luxas who made the original change.

[2018-02-01 08:22] stanxing opened #1948 "A huge number of tag values causes influxdb to take up very high memory"
- I used  influxdb as sink to store metrics in k8s. The specific retention policy in influxdb is 90 days. The beginning is smooth, but as time goes by, influxdb's memory usage gets higher and higher.So when I looked for the source of the problem , I found heapster wrote a lot of tag keys into influxdb.
![2018-02-01 16-02-53](https://user-images.githubusercontent.com/23288646/35667665-83f159f4-0769

[2018-02-01 14:30] x13n commented on #1773
With https://github.com/kubernetes/test-infra/pull/6359 merged, I guess this is done? Please reopen if not.

[2018-02-01 14:30] #1773 closed

[2018-02-01 14:41] whites11 commented on #1937
Hi,
First of all, sorry for late response.
I extracted a 1 minute log from the heapster container while the problem was occouring.
I tried hard to extract a smaller part of the log but I am having a very hard time understanding where a "scrape period" starts and where it ends. The problem is that the log file is 23MB.
I attached a gzipped version, hope it helps.

[all.log.gz](https://github.com/ku

[2018-02-01 20:15] blakebarnett commented on #1908
I think https://github.com/kubernetes/kubernetes/issues/57673 only applies to 1.9, but it does seem like the `system:heapster` cluster role is lacking some of the apiGroup/resources (or perhaps it's expecting the 1.9 configuration?)

[2018-02-01 20:32] blakebarnett commented on #1908
confirmed adding
[code]

[2018-02-02 01:30] kevinschoon opened #1949 "Impossible to configure authenticated InfluxDB sink when passwords contain a `#` symbol"
Hi --

The Heapster executable reads sink options as a parameterized URL which is parsed with the built-in `net/url` library. For example one might run Heapster with an Inflxudb sink as follows:

[code]
This is [parsed](https://github.com/kubernetes/heapster/blob/release-1.5/common/flags/flags.go#L46-L50) in the `common/flags` package where `net/url` [splits](https://github.com/golang/go/blob/rele

[2018-02-02 19:14] toddams commented on #1356
Any update on this?

[2018-02-05 19:32] DirectXMan12 commented on #1908
o_O.  Heapster shouldn't itself need those permissions.  pod-nanny probably does, but that shouldn't prevent Heapster from working, IIRC.

[2018-02-05 19:34] DirectXMan12 commented on #1949
Does percent-escaping (URL escaping) the password work?  It probably should.  Please try that.

[2018-02-05 20:54] blakebarnett commented on #1908
I may have confused the issue, I thought the original post was running 1.5.0 which we are, on k8s 1.8.x, but it looks like it's 1.4.x and something else is going on.  Adding this fixed it for us.

[2018-02-06 15:43] andyxning commented on #1945
I can help to do some job in this but must be after Spring Festival. Too busy for now.

[2018-02-06 15:43] a4abhishek commented on #1611
@NullVoxPopuli even above solution doesn't work for me.

[2018-02-06 15:43] a4abhishek commented on #1611
@NullVoxPopuli even above solution doesn't work for me.

[2018-02-06 19:28] sjezewski commented on #1469
FYI this happened to me today. I could not pull either `gcr.io/google_containers/heapster-grafana-amd64:v4.0.2` or `gcr.io/google_containers/heapster-grafana:v4.0.2` on my local machine.

Instead, I used the `grafana/grafana:4.0.2` image on dockerhub. Obvious in retrospect, but I'll have to update some of my scripts which clearly use an old deployment manifest.

[2018-02-07 12:57] xvzup opened #1953 "No data points in Grafana when manually configuring InfluxDB retention policy"
Hi,

as it is currently not possible to set the InfluxDB retention policy in the Kubernetes manifest, I created a Kubernetes job which sets the retention policy in InfluxDB. The command I am using is:

CREATE RETENTION POLICY one_week ON k8s DURATION 7d REPLICATION 1 DEFAULT

The retention policy is successfully set as it appears when calling SHOW RETENTION POLICIES

However when I connect to Graf

[2018-02-08 09:11] BigbigY opened #1954 "k8s.io/heapster/metrics/util/util.go:51"
Can you tell me what the reason is for heapster?

Here is the heapster log.
[code]

Thank you very much!

[2018-02-08 12:06] #1778 closed

[2018-02-08 12:09] BigbigY commented on #1744
@ zhangqx2010 Is that delete KUBELET_DNS_ARGS，Could you please elaborate on how to do it?

[2018-02-08 22:13] acobaugh commented on #1945
I can likely help with this. May take me a little bit to learn the code, but most of the bugs look pretty straight forward. Was going to work on #1579 (was actually going to file that bug and one about allowing the RP to be selected instead of using `default` always when I saw the bug already existed).

[2018-02-08 22:32] acobaugh commented on #1948
This is likely more of an influxdb problem than a heapster problem per se. On your influxdb system `influx -execute 'show series on k8s'  | wc -l`. Memory consumption is roughly a function of series cardinality. When you approach 1M series, the older inmem index format starts to show its limitations: https://www.influxdata.com/blog/path-1-billion-time-series-influxdb-high-cardinality-indexing-read

[2018-02-09 01:59] acobaugh commented on #1948
After some casual observation of my own cluster with hardly anything running in it, I have 2613 series over 36 measurements. 34 of those measurements have `/` in the name, and they all seem to have a single field named `value`. If we collapsed the measurements with `/` in them into a single measurement by using multiple fields per measurement (ie, all memory values in a single measurement called `

[2018-02-09 03:05] zhangqx2010 commented on #1744
Not to delete. Just modify the line in the config
``Environment="KUBELET_DNS_ARGS=--cluster-dns= 10.96.0.10 --cluster-domain=cluster.local"``
Assign the IP of your customized DNS IP addr to that parameter.

[2018-02-09 09:54] Adriien-M commented on #1909
We are looking for this update, what is the status of this issue?

[2018-02-12 08:43] JuneZhao commented on #1813
/close

[2018-02-12 08:43] #1813 closed

[2018-02-13 01:30] kevinschoon commented on #1949
@DirectXMan12 Thank you for the follow up, escaping the password resolves the error. I opened the issue because it wasn't immediately clear to me how the parameters were being parsed (although it is indeed a URL) or how it was being validated.

[2018-02-13 02:39] #1063 closed

[2018-02-13 03:40] #1076 closed

[2018-02-13 03:40] #1087 closed

[2018-02-13 19:01] DirectXMan12 commented on #1939
Oof.  Yeah, `localhost` should resolve to the loopback address.  Does your DNS server not respond with NXDOMAIN for `localhost`?  That seems strange...

Anyway, I'm closing this be.  Feel free to re-open if you disagree.

[2018-02-13 19:01] #1939 closed

[2018-02-13 19:02] DirectXMan12 commented on #1771
yeah, that should be the only requirement

[2018-02-14 12:21] tettaji opened #1958 "Grafana dashboards are invalid"
When building the Grafana image from source, you'll notice that the Cluster and Pods dashboards aren't loaded. The reason being that `cluster.json` and `pods.json` are missing the top `dashboard` object, which was explicitly removed in commit https://github.com/kubernetes/heapster/commit/e960cd47fb14847f642ef275da01726496e7faff

Oddly enough the latest docker image does contain the right json file

[2018-02-14 23:59] acobaugh commented on #1953
The retention policy that heapster writes to is hardcoded to `default`: https://github.com/kubernetes/heapster/blob/d25a176baee4554dc59052785c4ee940fc94d305/metrics/sinks/influxdb/influxdb.go#L214

If you're manually creating your RP, you'll have to name it `default`. Note that this is not the same as the default RP, which is the RP written to when the client does not specify one.

[2018-02-15 04:27] #1269 closed

[2018-02-17 00:10] #1391 closed

[2018-02-19 08:04] #1522 closed

[2018-02-19 16:13] #1491 closed

[2018-02-20 08:29] #1507 closed

[2018-02-20 14:35] #1516 closed

[2018-02-20 22:43] #1207 closed

[2018-02-21 17:01] #1143 closed

[2018-02-22 14:45] PheonixS opened #1962 "Unable to authorize on Kubelet SSL Endpoint"
heapster deployment part:

[code]

Kubelet configured to deny anonymous access.
10.10.8.118 is point of 10-10-8-118.kubernetes.default.svc.cluster.local.

Also X509 auth enabled on Kubelet.
What I need to configure on Heapster?

Logs:
[code]

Also logs from kubelet:
[code]

[2018-02-22 19:52] DirectXMan12 commented on #1962
It will attempt to authenticate with Kubelet the same way it authenticates with the Kubernetes master: https://github.com/kubernetes/heapster/blob/b0a73e1c64a2787242368b55efdb542a632ef726/metrics/sources/kubelet/configs.go#L67, so make sure that you've set up Kubelet to accept similar auth.

[2018-02-22 19:52] #1962 closed

[2018-02-22 19:52] DirectXMan12 commented on #1962
It will attempt to authenticate with Kubelet the same way it authenticates with the Kubernetes API server: https://github.com/kubernetes/heapster/blob/b0a73e1c64a2787242368b55efdb542a632ef726/metrics/sources/kubelet/configs.go#L67, so make sure that you've set up Kubelet to accept similar auth.

[2018-02-22 19:55] DirectXMan12 commented on #1945
sounds good.  I'll cc you on a couple of issues for triage just so you can get a feel for it, and then if you're up for it we'll add you to the sink owners documentation.

[2018-02-22 20:12] DirectXMan12 commented on #1958
cc @acobaugh

[2018-02-22 21:05] #1928 closed

[2018-02-22 21:08] DirectXMan12 commented on #1949
ok, I'm closing the issue since URL-escaping works.

[2018-02-22 21:08] #1949 closed

[2018-02-23 04:36] #1487 closed

[2018-02-23 13:48] kinsu commented on #1812
are there any news on this?
As mentioned above this appear to happen in ES sink too. Shouldn't the title change too ?

[2018-02-24 07:13] stanxing commented on #1948
@acobaugh
- I have considered the possibility of setting pod_name as field key ,but I found it hid a bigger problem.If `pod_name` is a filed key,  it will not have a unique tag key (pod_id have be moved in heapster v1.5) to identify the point data and cause the data written to be overwritten. For example, influxdb wrote data in the timestamp (1519455048000000): "cpu/request namespace=default, valu

[2018-02-24 20:14] #1679 closed

[2018-02-25 12:30] #1675 closed

[2018-02-25 17:35] #1681 closed

[2018-02-26 09:26] yujmo opened #1967 "I have installed and run heapsterbut when I open grafana, it show no data point"
![qq 20180226172424](https://user-images.githubusercontent.com/23295281/36662688-2a7077c4-1b1a-11e8-9640-85698e186a4e.png)

I will boom

[2018-02-26 16:05] DirectXMan12 commented on #1967
can't really help you without more details about your setup, Heapster logs, etc

[2018-02-26 20:54] devopsprosiva commented on #1945
@acobaugh Any idea when the update for selecting `rp` will be available?

[2018-02-26 21:00] acobaugh commented on #1945
I wanted to run a quick test of my code in #1959.

[2018-02-26 21:19] DirectXMan12 commented on #1945
I'm going to close this now, since @acobaugh is in the Influx owners file.

[2018-02-26 21:19] #1945 closed

[2018-02-27 04:59] yujmo commented on #1967
root@node1:~# kubectl logs heapster-5c448886d-dpzjc -n kube-system
`168.125.223:10255/stats/container/": Post http://192.168.125.223:10255/stats/container/: dial tcp 192.168.125.223:10255: getsockopt: connection refused
E0227 04:42:05.004917       1 kubelet.go:231] error while getting containers from Kubelet: failed to get all container stats from Kubelet URL "http://192.168.125.224:10255/stats/co

[2018-02-27 05:06] yujmo commented on #1967
while I change env KUBELET_PORT="--port=10255".
`E0227 05:01:05.014232       1 kubelet.go:231] error while getting containers from Kubelet: failed to get all container stats from Kubelet URL "http://192.168.125.223:10255/stats/container/": Post http://192.168.125.223:10255/stats/container/: malformed HTTP response "\x15\x03\x01\x00\x02\x02\x16"
E0227 05:02:05.011760       1 kubelet.go:231] error w

[2018-02-27 05:45] yujmo commented on #1967
` root@node1:/etc/kubernetes# curl https://192.168.125.223:10255/stats/container/ -k --cert ssl/node-node1.pem --key ssl/node-node1-key.pem `
`      "working_set": 1998614528,
      "failcnt": 0,
      "container_data": {
       "pgfault": 290569,
       "pgmajfault": 716
      },
      "hierarchical_data": {
       "pgfault": 290569,
       "pgmajfault": 716
      }
     },
     "network": {

[2018-02-27 05:56] yujmo commented on #1967
<img width="602" alt="image" src="https://user-images.githubusercontent.com/23295281/36712886-e8847f0c-1bc5-11e8-89bd-a0600f5a4c25.png">

I'm sorry

[2018-02-27 11:16] #1598 closed

[2018-02-27 17:06] PheonixS commented on #1962
We solve the issue by adding
`--authentication-token-webhook=true \`
in file` /etc/kubernetes/kubelet.env` And after this restarting all kubelets in cluster.

[2018-02-27 17:58] lvicentesanchez commented on #1614
Having this issue with grafana 4.4.3 and postgres as the database.

[2018-02-27 18:09] DirectXMan12 commented on #1614
cc @acobaugh

[2018-02-27 18:10] #1967 closed

[2018-02-27 18:28] lvicentesanchez commented on #1614
This are the log messages I get:
[code]

[2018-02-27 18:30] lvicentesanchez commented on #1614
I'm using a ClusterIP service as I want to access the grafana dashboard using our nginx ingress.

[2018-02-28 11:32] lvicentesanchez commented on #1614
I can confirm that I'm having this issue with any 4.x version of Grafana when I'm trying to use postgres as the database. If I use sqlite3 it just works. I will try to replicate the issue with MySql

[2018-02-28 12:19] lvicentesanchez commented on #1614
And same problem with mysql...

[2018-02-28 12:26] lvicentesanchez commented on #1614
It seems that the migration for mysql and postgres is trying to connect to the dashboard... but grafana doesn't start listening in port 3000 until the migration is finished... or that's what happens with sqlite3:

[code]

[2018-02-28 12:27] lvicentesanchez commented on #1614
/remove-lifecycle stale

[2018-02-28 14:43] #1698 closed

[2018-02-28 23:52] #1579 closed

[2018-03-01 08:00] #1696 closed

[2018-03-02 06:36] bangau1 opened #1969 "Error CrashLoopBackOff in heaspter container with statsd sink configuration"
**Description**

Hi,

I got error when trying to deploy the Heapster with statsd sink configuration. The error is segmentation fault.

**Steps to reproduce:**
- kubectl apply -f heapster-rbac.yaml
[code]
- kubectl apply -f heapster.yaml
[code]

Note: `dd-agent-service.default` is a kubernetes service hostname to abstract the dd-agent daemonset pod running in all our nodes.

**Describe the results

[2018-03-02 07:28] bangau1 commented on #1969
Perhaps @yogeswaran can help this issue? Sorry if mentioning you in this issue violates the repository guideline.

[2018-03-02 07:47] ryarnyah commented on #1969
It seem that it was linked to this https://github.com/kubernetes/heapster/pull/1940

You may have an error in sink initialisation. Can you try an older version before 1.5.0(see https://github.com/kubernetes/heapster/commit/0feaf73df74f3eefa28dfe7f111b87c1653fbdec#diff-1576fd41228e6cabea46c1ffba259246)

[2018-03-02 07:56] bangau1 commented on #1969
Hi @ryarnyah thanks for pointing that out. Unfortunately, version before 1.5.0 (which is 1.4.3) doesn't have `statsd` sink.

Here is the error message when I deployed the v1.4.3 version:

[code]

[2018-03-02 10:22] ryarnyah commented on #1969
Can your build master branch? (docker must be installed)
[code]

[2018-03-02 13:30] yogeswaran commented on #1969
@bangau1 - can you try removing double-quotes?
ie, try
[code]
instead of
[code]

[2018-03-02 15:34] RouR opened #1970 "New data batch has timestamp before the previous one"
**Description**

Error in logs - rate_calculator.go:40 New data batch has timestamp before the previous one

**Steps to reproduce:**
Install from https://github.com/kubernetes/heapster

**Describe the results you received:**

![image](https://user-images.githubusercontent.com/1227355/36906606-696e5916-1e47-11e8-97ab-704fd4b24e3a.png)

**Describe the results you expected:**

No errors

[2018-03-02 16:49] DirectXMan12 commented on #1970
check the times on your nodes.  Make sure they're all in sync.

[2018-03-02 16:52] RouR commented on #1970
This was done before open this issue.
Maybe i did it wrong
What do you advise?

[2018-03-03 10:45] stash1001 commented on #1969
I had the same issue.    Removing the quotes fixed it for me.   In the docs it shows quotes

[2018-03-03 13:39] bangau1 commented on #1969
Hi @yogeswaran @stash1001 many thanks for the solution, it solved my problem :+1: :smile:
I guess I can close this issue then.

[2018-03-03 13:39] #1969 closed

[2018-03-05 10:32] shayeeb-ahmed commented on #650
Can u please still elaborate about the cpu metric shown in <machine-ip>:10255/stats/summary

[2018-03-05 16:59] woodlee commented on #1579
/reopen
/remove-lifecycle-rotten

[2018-03-05 17:02] woodlee commented on #1579
This seems to still be an issue, but the robot's policy prevents me from re-opening it.

[2018-03-06 12:31] meysam001 opened #1972 "Heapster API"
Hello
**Description**
I had installed Heapster and I'd like to get Heapster API. I ran `kubectl proxy —port=8080` to get Kubernetes API. when `localhost:8080` was ran,  It shows all of APIs endpoints but there aren't any endpoint of Heapster API.
I don't know how to get Heapster API?

**Steps to reproduce:**

- `git clone https://github.com/kubernetes/heapster.git`
- `cd heapster`
- `kubectl creat

[2018-03-07 11:15] mrblackus commented on #1899
/remove-lifecycle stale

[2018-03-08 13:20] amitman1810 commented on #1908
Can you please explain how exactly it was fixed ?

[2018-03-08 19:52] blakebarnett commented on #1908
In 1.9, the apiGroup for Deployment moved from "extensions" to "apps", the service account that heapster uses only gives access to `extensions.deployments`, so I changed that to add the same permissions to `apps.deployments` in the `system:heapster` cluster role.

@DirectXMan12 said this shouldn't be required but it's working for me now... ¯\_(ツ)_/¯

[2018-03-10 03:27] #768 closed

[2018-03-10 08:32] #1494 closed

[2018-03-10 14:38] #1715 closed

[2018-03-10 14:38] #1761 closed

[2018-03-11 00:48] #1672 closed

[2018-03-11 01:49] #1284 closed

[2018-03-11 06:17] #1972 closed

[2018-03-11 14:01] #1793 closed

[2018-03-12 09:21] toddams commented on #1845
Same question)

[2018-03-12 17:28] #1705 closed

[2018-03-15 16:46] Data-drone opened #1976 "heapster no such host error"
**Description**

I deployed heapster with influx db as per the instructions from a fresh git pull so:
    $ kubectl create -f deploy/kube-config/influxdb/
    $ kubectl create -f deploy/kube-config/rbac/heapster-rbac.yaml

The cluster was setup with kubespray. I had issues with timeouts so I switched the deployment to use `--source=kubernetes:https://kubernetes.default`  to `--source=kubernetes:ht

[2018-03-15 19:40] #1836 closed

[2018-03-16 01:46] #1846 closed

[2018-03-16 03:38] jejer commented on #1498
Seems we can't config cert and key for kubelet connection.
I have tried to set --tls-cert-file / --tls-cert / --authorization-kubeconfig , all report "Unauthorized".
Heapster version v1.5.0

[2018-03-17 16:40] nim-nim opened #1980 "Please update your kubernetes vendoring to a release without security issues"
Since all kubernetes clients have just been released due to a CVE, please release an heapster version based on a kubernetes version with the security fix (1.7.14 or 1.8.9 or 1.9.4, 1.9.4 would be the nicest)

[2018-03-17 21:29] #1751 closed

[2018-03-19 03:52] #1976 closed

[2018-03-20 03:17] chenjianjun19920702 commented on #1586
@pastushenko  k8s cluster already close firewalld, how to change firewall rules, Looking forward to your reply, thanks!!!

[2018-03-20 13:25] SpComb commented on #1498
If the kubelet is configured with `--authorization-mode=Webhook --client-ca-file=...` (the case for `kubeadm`), then the kubelet API does not seem to accept a bearer token for authentication, but instead expects a TLS client cert signed by the kube CA: https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authentication

A configuration like `--source=kubernetes:?kubeletHt

[2018-03-21 01:50] jejer commented on #1498
Hi @SpComb ,
I am afraid the auth in --source is for kube-apiserver , not for kubelet.
My kubelet has --client-ca-file but no --authorization-mode=Webhook.

[2018-03-22 12:10] Charleslvn opened #1986 "FAIL: TestCreateElasticSearchServiceV2"
With:
    go 1.9.4 x86_64
    github.com/kubernetes/heapster 1.5.2

Hello,
I try to build and test your project and it fails with :

Could you help me please ?

Thanks

[2018-03-23 04:34] andyxning opened #1987 "Add load metric about a cgroup/container"
**Description**
Currently heapster does not collect cgroup/container cpu load metrics. But it seems that cpu load is supported in cAdvisor https://github.com/google/cadvisor/blob/master/utils/cpuload/cpuload.go.

/kind feature

[2018-03-23 10:37] serathius opened #1988 "Stackdriver TimeSeries Points must be written in order"
Looks like heapster doesn't guarantee order of metrics sent

**Steps to reproduce:**
Run k8s cluster with larger number of nodes. In my case 200

**Describe the results you received:**
In 40% requests Stackdriver responds with 400
In logs visible:
[code]

**Describe the results you expected:**
requests to Stackdriver not being rejected

**heapster --version**
[code]

**kubectl version**
[code]

[2018-03-23 21:54] krzyzacy commented on #1501
/reopen

[2018-03-23 21:54] krzyzacy commented on #1501
/assign

[2018-03-23 21:54] krzyzacy commented on #1501
/reopen

[2018-03-23 21:54] krzyzacy commented on #1501
/unassign

[2018-03-24 17:10] #1162 closed

[2018-03-24 20:13] #1690 closed

[2018-03-26 08:55] kawych opened #1990 "Heapster e2e tests for Stackdriver sink are failing"
https://k8s-testgrid.appspot.com/sig-instrumentation#gce-sd-monitoring

[2018-03-26 08:59] kawych commented on #1990
From my observations so far, Heapster runs and exports metrics, but fails at verification of cpu utilization: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/instrumentation/monitoring/stackdriver.go#L155

[2018-03-26 11:47] kawych commented on #1988
@x13n
Daniel, IIRC you have been working on this bug some time ago - can you summarize here what was the outcome?

[2018-03-26 12:02] kawych commented on #1970
Similar issue #1988 has been noticed for Stackdriver sink, it may have the same root cause. Waiting for more input there.

[2018-03-26 12:06] kawych commented on #1980
Probably we should release 1.9.4, #1849 is  bumps it to 1.9.3 and is almost ready.

[2018-03-26 12:18] x13n commented on #1988
I didn't get to the root cause, unfortunately. My only finding was that in the request sent by Heapster, the container name was sometimes empty. At the same time, no such thing could be observer in the summary API. My guess was that there is a bug in Heapster causing it to sometimes lose container names, which in turn causes Stackdriver to think there are duplicates (if there was more than one con

[2018-03-26 12:26] kawych commented on #1988
Thanks Daniel. Container name is empty for pod metrics, so if container metrics are reported with empty container name, this can lead to similar error even for one-container pods (not sure if the error message would be the same though).