[2015-09-15 15:58] vishh commented on #136
`publicIP` and `internalIP` can both be set to the same IP. They are
different in public clouds which have a dedicated internal network. You can
ignore the cpu and memory limits for now.

Is zookeeper used in most mesos clusters? If so, going with zookeeper makes
sense. If not, let's use the Mesos APIs since it should work on all mesos
deployments.

On Tue, Sep 15, 2015 at 6:39 AM, Ignacio Tolstoy

[2015-09-15 16:09] vishh opened #557 "Use yaml for config files"
The kube deployment configs are now in json because the integration test cannot parse yaml as of now. Json is hard to maintain and we should update the integration tests to parse yaml.
This will help us keep the deployment configs in sync with the ones in kubernetes repo.

cc @mvdan @piosz @mwielgus

[2015-09-15 17:40] vishh commented on #551
cc @afein

On Tue, Sep 15, 2015 at 3:06 AM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-09-15 19:24] afein commented on #551
Is this behavior present in other Getter methods as well?

[2015-09-15 19:34] #552 closed

[2015-09-15 22:13] mwielgus commented on #543
Adding some debugs in #558 so the executed steps are printed and it is possible to tell which of the sub-tests failed.

[2015-09-15 22:14] mwielgus opened #559 "Startup problems in integration tests"
Sometimes integration tests fail because of:
[code]
or
[code]

[2015-09-15 22:17] vishh commented on #559
I wonder if running the tests in a separate namespace would resolve the
first failure.
The second failure may be because some nodes are not `Ready` yet?

On Tue, Sep 15, 2015 at 3:14 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-09-16 08:19] #535 closed

[2015-09-16 09:42] piosz opened #561 "Migrate GCL/GCM related code to the Google API client"
https://github.com/google/google-api-go-client

[2015-09-16 10:56] liuhewei commented on #172
@jimmidyson We are working on a heapster kafka-sink to pub metrics to kafka, but we don't separate metrics from different ns/pod/containers to different topics as you said. Our idea now is "one topic for one k8s cluster". Our purpose is similar to your thought: provide metrics to different backend services such as alerting, autoscaling, not only for storage and dashboard.

[2015-09-16 10:59] jimmidyson commented on #172
@liuhewei Sounds great!

[2015-09-16 12:24] mwielgus commented on #172
/cc

[2015-09-16 18:55] shilpapadgaonkar opened #564 "Restricting metrics view to a namespace"
Hello,
I am currently running heapster(+influxdb + grafana) on openshift. I can see the clusterwide metrics in grafana and can edit the metrics in the dashboard etc.
I want to however restrict users to be able to see the metrics only for a given namespace (from openshift point of view a user should be able to see metrics only for his project). Any pointers on if and how this can be achieved?

[2015-09-16 19:03] shilpapadgaonkar commented on #564
@jimmidyson: Currently we are using the read-only port without auth to make heapster work on openshift. When authentication is introduced, I am guessing this should solve the problem?

I also saw this https://trello.com/c/xWFvS0xc/45-8-hawkular-metrics-security-metrics
for hawkular. Is there something similar planned for heapster?

[2015-09-16 19:27] jimmidyson commented on #564
One for @mwringe I think.

[2015-09-16 19:54] mwringe commented on #564
What we are doing here for Hawkular will be specific to the Hawkular sink in Heapster, so its not a generic solution for other sinks.

We separate out the metrics from each individual project and store them into separate tenants in Hawkular (https://github.com/kubernetes/heapster/pull/555). In Hawkular will then require a token to be sent with any request and it will be used to authenticate agains

[2015-09-16 20:03] vishh commented on #564
To get similar behavior with InfluxDB and Grafana, we can create a DB per
namespace and let users manage access to those DBs via InfluxDB directly.
InfluxDB documentation [here](
https://influxdb.com/docs/v0.9/administration/authorization.html). In
Grafana, you'd then need to pass in DB credentials in-order to gain access
to your namespace metrics.

On Wed, Sep 16, 2015 at 12:54 PM, mwringe <notif

[2015-09-16 20:55] mwielgus opened #565 "sources/kube_events_test is flaky"
[code]

[2015-09-16 21:14] vishh opened #566 "Set default retention policy in InfluxDB"
We should set default retention policy in InfluxDB to be 5 days. Any data that needs to persist longer should be moved to a different database using continuous queries and separate retention policies.

Any thoughts @mwielgus @piosz ?

[2015-09-16 21:15] vishh commented on #566
There are quite a few issues around disk usage of InfluxDB. I'm hoping 5 days will work for most deployments.

[2015-09-16 21:26] vishh commented on #546
Noticed this again.

[2015-09-16 22:49] mvdan commented on #565
This is probably due to `-race` being added to `go test`, in which case the flakyness might have been around for much longer than you would think.

[2015-09-16 23:28] vishh commented on #544
Looks like events do not have UID set. Switching to using names which are unique.

[2015-09-16 23:53] vishh opened #568 "Expose cpu usage in terms of cores"
Cpu limits are exposed as milli cores, but cpu usage is in terms of nanoseconds. This makes visualizing these metrics together difficult.

[2015-09-17 02:28] alfred-huangjian commented on #172
/cc

[2015-09-17 04:49] piosz commented on #566
SGTM

[2015-09-17 06:28] shilpapadgaonkar commented on #564
@vishh
Does heapster now support influxdb v0.9?
Could you kindly give me a hint how I can make heapster get this data into namespace specific DBs?

Thanks

[2015-09-17 07:05] shilpapadgaonkar commented on #564
@mwringe : I would like to try out the heapster-hawkular sink for my openshift env. Could you kindly point me to some documentation link for the same?

[2015-09-17 10:01] mwielgus commented on #559
#563

[2015-09-17 10:01] mwielgus commented on #559
Probably fixed.

[2015-09-17 10:01] #559 closed

[2015-09-17 14:35] #546 closed

[2015-09-17 14:51] mwielgus commented on #544
Shouldn't we rather fix it in Kubernetes?

[2015-09-17 15:05] mwielgus commented on #544
Actually events do have UID set. I generated the similar event and it looks OK. The above is not also lacking UID but also creationTimestamp - I would suggest dropping broken events or giving them heapster generated uid - if uid & creation time is broken why should we assume that the name is fine?

[code]

[2015-09-17 16:39] vishh commented on #544
[Here](
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/record/event.go#L273)
is the relevant code. Kubernetes uses event Name to identify events.
Arguably this can be fixed. But until it is fixed, heapster needs to work
around that. Timestamps are not an issue since if it is not present, it
does not affect heapster. It might confuse users though. So it has to be
fixed in Kubernete

[2015-09-17 16:45] mwielgus commented on #544
Do you know who is assigning the uids and how it could fail?

[2015-09-17 17:41] vishh commented on #544
More details on this issue:
https://github.com/kubernetes/kubernetes/issues/14126

On Thu, Sep 17, 2015 at 9:38 AM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-09-17 17:45] sanjana-bhat commented on #501
@afein and @vishh, what are the recommended resource specifications for heapster container?

[2015-09-17 17:51] vishh commented on #564
#800 is out to support InfluxDB v0.9. To create multiple DBs, the InfluxDB
driver under `sinks/influxdb/driver.go` will have to create a new database
whenever it encounters a new namespace and use that database for all
metrics that belong to that namespace.
From the InfluxDB side you can create users and access policies.

On Thu, Sep 17, 2015 at 12:05 AM, shilpapadgaonkar <notifications@github.com

[2015-09-17 18:07] #544 closed

[2015-09-17 18:27] shilpapadgaonkar opened #571 "Certificate error"
Hello,
I was earlier able to run heapster on my openshift installation but today when I tried it again, I get an error saying  Failed to list *api.Namespace: Get https://kubernetes.default.svc.cluster.local/api/v1/namespaces: x509: certificate is valid for master4.exampletest.com, not kubernetes.default.svc.cluster.local.

@jimmidyson
I am still following your user guide https://docs.openshift.org

[2015-09-17 21:32] vishh commented on #501
I would suggest providing 300MB of memory and 0.2 cores for Heapster to
begin with. If you see heapster getting closer to these limits, let me
know. Disk space should not be of concern since heapster is currently
stateless.

On Thu, Sep 17, 2015 at 10:45 AM, Sanjana J Bhat <notifications@github.com>
wrote:

[2015-09-17 22:08] mvdan commented on #495
Update - kubernetes is not ready yet. See the races still present that were found in https://github.com/kubernetes/kubernetes/pull/13838

[2015-09-17 22:38] vishh commented on #495
@mvdan: Itchy to get rid of Go 1.4 huh :)

On Thu, Sep 17, 2015 at 3:08 PM, Daniel Martí <notifications@github.com>
wrote:

[2015-09-17 22:41] mvdan commented on #495
:) Just adding the note in case anyone is thinking kubernetes is ready since it builds with 1.5.

[2015-09-17 23:54] vishh opened #575 "Do not export Kube specific model endpoints in non-kube clusters"
@afein: Can we avoid exposing endpoints specific to kubernetes clusters like `namespaces` and `pods` from non-kubernetes clusters? AFAIK, the other endpoints like containers, nodes and cluster should still continue to work.

[2015-09-18 12:02] mwielgus commented on #545
Fixed in #563

[2015-09-18 12:02] #545 closed

[2015-09-18 12:03] mwielgus commented on #543
Added even more debugs in #562. Closing for now.

[2015-09-18 12:03] #543 closed

[2015-09-18 15:55] #547 closed

[2015-09-18 15:59] #487 closed

[2015-09-18 20:55] vishh opened #581 "Default memory and cpu limit to that of Node Capacity"
Current memory and cpu limits for containers are set to a random number which does not signify the logic limits applied by the kernel. We can instead default cpu and memory limits to that of the node.

cc @piosz @mwielgus

[2015-09-18 20:56] vishh commented on #568
CAdvisor is currently being updated to expose instantaneous usage.

[2015-09-18 21:00] afein commented on #568
Finally! What is the time interval that is used in the calculation of the instantaneous CPU metric?

[2015-09-18 21:01] vishh commented on #568
cc @mvdan

On Fri, Sep 18, 2015 at 2:00 PM, Alexandros Mavrogiannis <
notifications@github.com> wrote:

[2015-09-18 21:22] afein commented on #575
That is certainly possible. We would have to create a "Kubernetes mode" on the model which would cause the Kubernetes-specific API endpoints to return an appropriate message instead of invoking their corresponding Getter methods.

Other than that, no further changes should be needed, as no PodElements should be received by the cache in non-Kubernetes clusters.

[2015-09-18 21:23] afein commented on #581
For reference, the memory limits are currently being set to -1 and the cpu limits are being set to 99 millicores.

[2015-09-18 21:24] vishh commented on #575
Instead of returning an error, I am suggesting not exposing the
Kubernetes-specific endpoints at all - basically not registering those
endpoints. WDYT?

On Fri, Sep 18, 2015 at 2:22 PM, Alexandros Mavrogiannis <
notifications@github.com> wrote:

[2015-09-18 21:24] vishh commented on #581
Is this in Heapster?

On Fri, Sep 18, 2015 at 2:24 PM, Alexandros Mavrogiannis <
notifications@github.com> wrote:

[2015-09-18 21:26] mwielgus commented on #581
Can you provide more context? I don't understand how this issue is related to Heapster.

[2015-09-18 21:27] afein commented on #575
That would be also possible by editing the API handlers to skip endpoint registration according to a certain flag.

This behavior could be also automated by attempting to access kube-dns from within heapster, instead of asking for a CLI flag.

[2015-09-18 21:30] afein commented on #581
This is defined in CAdvisor.
Machine containers are populated here: https://github.com/google/cadvisor/blob/master/container/raw/handler.go#L168

The behavior you're describing could be handled here as well

[2015-09-18 21:30] vishh commented on #581
@mwielgus: If limits are not set on containers, the node's capacity is the limit. So instead of defaulting memory limit to some arbitrary high value, we can set it to node capacity. Similarly for cpu, we can set it to cpu capacity. This defaulting behavior is only required if one of the sources doesn't do it automatically. For example, Cadvisor could perform this defaulting.

[2015-09-18 21:31] mwielgus commented on #575
+1, I can do it on Monday. Kube-dns is not (or at least was not) obligatory so I would rather stick to the flag.

[2015-09-18 21:32] vishh commented on #575
+1 for flag based control.

On Fri, Sep 18, 2015 at 2:31 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-09-18 22:34] mvdan commented on #568
See https://github.com/google/cadvisor/pull/861. They are derived from the accumulated cpu usage, so they are updated exactly as often as the accumulated cpu usage is.

[2015-09-19 01:16] #302 closed

[2015-09-19 01:56] liuhewei opened #586 "heapster deployment with influxdb/grafana"
As a beginner, I tried deploying heapster with influxdb/grafana following [guide](https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md) and [manifests](https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb). I think here might be a mistake:

`"--source=kubernetes:https://kubernetes"`
https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influ

[2015-09-19 02:43] vishh commented on #586
That's interesting. AFAIK DNS is not restricted to namespaces yet in
Kubernetes. In kubernetes clusters, you should be able to re-use existing
deployment files under `deploy/kube-config/`.

Thanks for reporting!

On Fri, Sep 18, 2015 at 6:56 PM, Hewei Liu <notifications@github.com> wrote:

[2015-09-19 18:55] jimmidyson commented on #571
@shilpapadgaonkar The api server certificate has been created with a different FQDN, `master4.exampletest.com`. Did you do this manually or use the ansible scripts or some other way? There are a couple of SANs (alternative names) that should be added to your api server certificate to help make services that run on your cluster portable & the api server address validate successfully. These are:

[c

[2015-09-21 10:17] shilpapadgaonkar commented on #571
Thanks.

[2015-09-21 10:17] #571 closed

[2015-09-21 10:18] jimmidyson commented on #571
@shilpapadgaonkar Glad that worked for you.

[2015-09-22 01:27] huangyuqi opened #595 "Add a kafka sink"
Now, an increasing number of OPS systems have been integrating [kafka](http://kafka.apache.org/documentation.html#introduction)  to provide the functionality of a messaging system. So I want to add a **kafka sink for Heapster**. Would you kindly offer me some advice? : )

[2015-09-22 05:03] liuhewei commented on #172
@vishh I have a question here about the "--sink" flag:
The kafka-client usually need be configured multiple tcp endpoints for a broker cluster, typically:
`var kafkaAddrs = []string{"192.168.1.2:9092", "192.168.1.2:9093"}`
It's different with other existing sinks such as influxdb/hawkular which usually has only one http_url as  the endpoint.

And I checked the [sink extension's interface](https://

[2015-09-22 05:06] #595 closed

[2015-09-22 16:16] #575 closed

[2015-09-22 16:33] vishh commented on #595
@huangyuqi: You seemed to closed this issue. Was that intentional?

[2015-09-22 16:41] vishh commented on #172
The URL part is optional. For the kafka case, you can take in a list of IPs
as a query param.
Another option is to use a DNS name and resolve the name to all its IPs.

On Mon, Sep 21, 2015 at 10:03 PM, Hewei Liu <notifications@github.com>
wrote:

[2015-09-23 01:32] huangyuqi commented on #595
Sorry, @vishh , : ). I have found an existing issue about the kafka sink.: https://github.com/kubernetes/heapster/issues/172. So, i close this one.

[2015-09-23 07:03] jszczepkowski commented on #528
CC @jszczepkowski

[2015-09-23 13:56] jszczepkowski commented on #173
CC @jszczepkowski

[2015-09-24 14:40] jonaz commented on #586
Also ran in to this problem source should be

[code]

[2015-09-24 15:14] jonaz opened #602 "Wrong version deployed to dockerhub? 0.18.1 is still 0.18.0"
Im trying to use thew new v0.18.1 with a RC:
[code]

But the container still have the **0.18.0** ?

[code]

[2015-09-24 15:29] gerritbinnenmars opened #603 "Make heapster REST interface compatible with CIM-RS"
Hello,

As mentioned in https://groups.google.com/forum/#!topic/google-containers/2utXt1WvG54
we like to use the REST API of Heapster as monitoring solution in our project github.com/inaetics/kubernetes-demo-cluster.

It would be helpful if Heapster could implement a CIM-RS server to be able to make the container data of a Kubernetes Cluster available in "standard" management tools like Open Pegas

[2015-09-24 15:34] gerritbinnenmars opened #604 "Make all cAdvisor REST API info available through HEAPSTER"
Hello,

As mentioned in https://groups.google.com/forum/#!topic/google-containers/2utXt1WvG54
we like to use the REST API of Heapster as monitoring solution in our project github.com/inaetics/kubernetes-demo-cluster.

It would be helpful if Heapster could make all cAdvisor data available. We are especially missing the machine information that cAdvisor contains.

[2015-09-24 16:44] mwielgus opened #605 "InfluxDB memory leakage"
This issue is to gather information about the memory leakage in InfluxDB and check if there are some immediate steps that can be taken to reduce its size.

@vishh Can you provide more info on how big the leak is?

[2015-09-24 16:57] mwielgus commented on #605
cc: @piosz @fgrzadkowski @jszczepkowski

[2015-09-24 17:33] vishh commented on #602
@jonaz: Thanks for reporting this issue. This was an error in the release process where the binary version wasn't updated. The images have been updated now. Kindly try again!

[2015-09-24 18:28] vishh commented on #586
That's right. Heapster got moved into `kube-system` namespace and thats the
reason for this breakage. I will fix this right away.

On Thu, Sep 24, 2015 at 7:40 AM, jonaz <notifications@github.com> wrote:

[2015-09-24 18:31] jimmidyson commented on #586
Shouldn't it be `kubernetes.default.svc`?

[2015-09-24 18:59] vishh commented on #586
The search paths (resolv.conf) include `svc.cluster.local` and so
`kubernetes.default` should work.

On Thu, Sep 24, 2015 at 11:31 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-09-24 20:59] #586 closed

[2015-09-24 21:11] vishh commented on #605
The recommendation is 8GB memory limit for InfluxDB. I usually see InfluxDB
consuming all the CPU and memory allocated to it. When left un-limited, it
frequently used >4 cores and more than 3GB of memory in small sized
clusters.

I think the underlying problem is not a leak. If we want good performance
out of InfluxDB, we need to allocate enough resources. It might be worth
running some of the ben

[2015-09-24 23:50] mwielgus commented on #605
Personally I would double check whether we are not writing too much data to it or in the suboptimal way. From a brief & tired look at how the influxdb sink is implemented I would suspect that we are are writing samples with the default 5 sec resolution. What about changing it to 30 sec (not perfect but better than switching of infuxdb)?

Other idea is to play with how batches are constructed and s

[2015-09-25 00:20] vishh commented on #605
We can increase the sink duration. It is currently set to 10 seconds by
default.
A thorough analysis of batch write performance is pending though.
With InfluxDB v0.9, we have switched to using tags, which is expected to
significantly reduce storage and lookup times. In prior versions, we used
to use columns, which resulted in multiple lookups within the DB in the
read path.

InfluxDB v0.8 is now b

[2015-09-25 04:20] huangyuqi commented on #172
@vishh , I am developing the kafka sink. Shall I commit a wip PR to accept some guys' comments? Thanks : )

[2015-09-25 05:04] vishh commented on #172
Awesome :)
Do post a WIP. We can provide some feedback, if applicable, before you
spend a lot of much time on the PR.

On Thu, Sep 24, 2015 at 9:20 PM, yuqi huang <notifications@github.com>
wrote:

[2015-09-25 08:33] mwielgus commented on #605
I personally don't care whether we use Influxdb or some other time series database like GCM. I just want to have some kind of permanent storage (cloud-provider permitting) for metrics. And I'm convinced that we should not write another one as there is lots of other, more important challenges in K8s. If influxdb is not the best choice for big customers - lets change it in 1.2 and for now provide an

[2015-09-25 11:59] mwielgus commented on #605
After a discussion with @piosz we agreed that 30 sec resolution is even more handy for him. We also took a look at the metrics that are exported - there are 16 of them but InitialResources need only 6 of them (but network may also be handy so lets count 8). So if we added a flag to control what metrics are propagated to influxdb we could reduce the load even more.

Assuming the K8S 1.0 scalability

[2015-09-25 17:00] vishh commented on #605
@mwielgus: We store all 16 of those metrics today in InfluxDB, and possibly more soon (disk io, load stats, tcp stats, etc).
So the actual points per second is (100 nodes * 30 pods/node * 2 containers per pod * 16 metrics per container) = ~96000 points per batch write or ~3200 points per second. This is not taking into account the system containers and the node itself.

In any case, I think we are

[2015-09-25 19:08] satheessh commented on #293
we also need it

[2015-09-27 02:01] mvdan commented on #557
Took a stab at it - #614

[2015-09-28 19:49] #557 closed

[2015-09-28 21:47] mvdan commented on #537
Skipping the test for now, but leaving this issue open as it still needs fixing.

[2015-09-28 21:47] mvdan commented on #565
Skipping the test for now, but leaving this issue open as it still needs fixing.

[2015-09-28 22:58] mvdan opened #618 "Smarter integration tests timeouts"
Right now we have an overall timeout of 30m on the integration tests. The timeout is sane because sometimes we have to bring up a cluster, which may take up to 5-10m, plus the tests themselves which may take up to 5m.

The problem is that if the integration tests are broken, they take 30m to fail. Since Jenkins currently only does one job at a time, this means that if a broken PR triggers a few bu

[2015-09-28 23:50] vishh commented on #618
At times, we upgrade the test cluster version. That is now tied to the
integration tests themselves for the sake of ease. If we separate cluster
maintenance from integration testing, we can lower the timeout and also
possibly run multiple tests in parallel (each tests needs its own
namespace).

On Mon, Sep 28, 2015 at 3:58 PM, Daniel Martí <notifications@github.com>
wrote:

[2015-09-29 17:35] jjw27 commented on #173
subscribe.  @jjw27

[2015-09-29 23:18] jordannielsen opened #619 "Heapster connections to InfluxDB"
I'm trying to spin up a heapster rc in our Kubernetes cluster. I have InfluxDB 0.9.4.1 running outside of Kubernetes. Each time I start the rc  I get the following error:

E0929 23:15:17.504255       1 driver.go:326] Database creation failed: Server returned (404): 404 page not found
. Retrying after 30 seconds

Any ideas?

[2015-09-29 23:20] jordannielsen commented on #619
I am using the following options in the rc file:

          command:
            - /heapster
            - --source=kubernetes:http://IP_Address?insecure=true&inClusterConfig=false
            - --sink=influxdb:http://IP_Address:8086

[2015-09-30 11:49] piosz opened #621 "Missing timeseries in GCM"
I'm running Heapster with the following options: ```stats_resolution=30s```, ```sink_frequency=1m```. In GCM I can see the following values:

[code]

[2015-09-30 12:35] prateekrastogi opened #622 "Heapster Pod ExitCode:255 status with restart loop"
I tried to run heapster using
https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md
and changed Grafanaservice yaml to use NodePort rather than LoadBalancer. After executing kubectl command on the directory, I get following output for my pods:
NAME                    READY     STATUS         RESTARTS   AGE
heapster-zxvi0          0/1       ExitCode:255   14         22m
infludb-grafan

[2015-09-30 13:26] thucatebay commented on #249
@vishh Please let me know what else needs to be done here. Perhaps I can help.

[2015-09-30 13:29] thucatebay commented on #178
This should be covered in https://github.com/kubernetes/heapster/pull/599, right?

[2015-09-30 22:23] jkurz commented on #619
same issue here.

[2015-10-01 12:14] #621 closed

[2015-10-02 06:43] lachlanbull opened #625 "heapster:v0.18.1 not compatible with Influx 0.9x and Grafana 2.x"
Someone recently pushed an update with kubernetes/heapster_grafana:v2.1.0 and kubernetes/heapster_influxdb:v0.5 which is causing problems on Kubernetes clusters.

Basically the heapster container can no longer create the database because 0.9x has a significantly different API. Using kubernetes/heapster_influxdb:v0.4 fixes the issue but causes errors with default Grafana dashboards.
Dashboard init

[2015-10-02 21:02] vishh commented on #625
We recommend to use the heapster configs bundled with specific kubernetes releases. We would ideally like heapster HEAD to support all kubernetes releases, but with the current velocity of changes, that is proving to be difficult.

If you can provide me your kube and heapster versions along with pointers to deployment files you are using for heapster, I can suggest modifications.

[2015-10-06 22:49] lachlanbull commented on #625
Hi Vishh,
I had been using heapster from the kubernetes releases, i think around release 1.05 it broke. I'm reasonably sure it's the same issues.

I've been using a relatively straight forward AWS build from the included /cluster/aws scripts.
Currently on Release 1.0.6, grafana 2.1 starts but never configures a data source.

[2015-10-07 03:16] ecnahc515 commented on #625
@lachlanbull I can also confirm the same. Works on v1.0.4 but not after.

[2015-10-07 05:48] mzupan commented on #538
I'd love to help.. It should send right to carbon since you can set a `-model_resolution` time which I assume relates to the time the data would get flushed out to a sink.

[2015-10-08 12:46] piosz opened #632 "Heapster is killed with signal 9 on 100-nodes Kubernetes cluster"
@gmarek did some experiments with 100 nodes and he noticed that Heapster is crash-looping without any suspicious logs there. My hypothesis is that the cause is high mem usage but it has to be verified.

@gmarek suggested also adding some kind of self-monitoring which seems to be a good idea.

[2015-10-08 12:46] piosz commented on #632
cc @mwielgus @wojtekt-t

[2015-10-08 12:53] wojtek-t commented on #632
@gmarek did some experiments with 100 nodes and he noticed that Kubernetes is crash-looping without any suspicious logs there. My hypothesis is that the cause is high mem usage but it has to be verified.

You mean "heapster is crash-looping", not "kubernetes is crash-looping", right?

[2015-10-08 12:58] piosz commented on #632
Sure. Changing in the description. Thanks for catch.

[2015-10-08 14:18] gmarek commented on #632
After some experiments it turned out to be OOM.

[2015-10-08 23:22] thucatebay commented on #619
kubernetes/heapster:v0.18.1 as specified in https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/influxdb/heapster-controller.yaml doesn't work with InfluxDB 0.9.4. I had to build heapster from master branch and create my own Docker image with it.

[2015-10-09 00:09] vishh commented on #625
@lachlanbull: I have tried setting up an influxdb data source in `proxy` mode with `http://localhost:8086` as the URL. Is that what you tried setting up?

The title of this issue says that v0.18.1 is not compatible with InfluxDB v0.9. I believe this issue is because the deployment scripts on HEAD are tied to past releases. I'm working on nightly builds that should resolve this issue.

[2015-10-09 00:22] lachlanbull commented on #625
Hi Vish,
Appreciate you checking, Yes so i manually specified the service address endpoint but it's same behaviour as using localhost in a single node setup.

Later today i'll try manually building the docker images to see if i can get it working.

[2015-10-09 00:25] vishh commented on #625
I'm updating the scripts on HEAD to use a `canary` tagged image that will include support for InfluxDB v0.9.
Grafana will no longer be accessible using apiserver proxy. The default service file sets up a LoadBalancer. If that doesn't work for you, I will be happy to help.
My interpretation of this issue is essentially HEAD configs being incompatible with each other.

[2015-10-09 00:33] lachlanbull commented on #625
"Grafana will no longer be accessible using apiserver proxy" - Yeah fair enough, I've been advertising the routes for service range from VPC so i can reach them easily enough without the ELB.

I'll let you know how it goes.

[2015-10-09 00:48] vishh commented on #622
I suspect heapster is being killed by the kernel because of memory limits. Can you try removing the memory limits from heapster cofiguration file?

[2015-10-09 00:49] vishh commented on #619
Sorry for the confusion. #634 should fix this issue.

[2015-10-09 00:50] vishh commented on #604
@gerritbinnenmars: Thanks for filing the issue. Is this something that you can work on?

[2015-10-09 00:50] #602 closed

[2015-10-09 00:51] vishh commented on #603
@gerritbinnenmars: Can you post a WIP that will demonstrate the changes required? As we discussed over email, I'd be fine with an additional API that exposes data in CIM format.

[2015-10-09 00:52] vishh commented on #632
The default memory limits are not set to work on large clusters/workloads.
We can update the limits to `requests` for now.

[2015-10-09 07:14] gmarek commented on #632
Well, we promised everything to be working on 100 Node cluster with 30 pods/node. I don't think that 100 Node cluster with 10 pods/node counts as 'large cluster/workload'.

[2015-10-09 08:08] fgrzadkowski commented on #632
I definitely agree we need to work properly on 100 node cluster. However this might mean changing things like requests/limits for some components.

However, from discussion with @mwielgus I understood that the problem is not that we OOM, but that used 1GB of memory in ~10 minutes. This gives ~1MB per pod. Sounds a bit too much.

[2015-10-09 13:00] mwielgus opened #637 "Pods are queried separately"
Each pod container is queried in a separate http request. On the other hand all container stats come in `kubelete.go/getAllContainers` but pod stats are dropped. This is likely to cause network problems on big clusters -  30 pods x 250 nodes (=> 250 qps with stats resolution 30sec) which is the target for Kubernets 1.1

[2015-10-09 13:01] mwielgus commented on #637
cc: @fgrzadkowski @piosz @wojtek-t @gmarek

[2015-10-09 13:04] mwielgus opened #638 "Heapster gets 1 sample/second from cAdvisor"
Even if the stats resolution is 30 seconds. We drop 29 samples but they consume both network(transmission) and cpu&mem (parsing).

[2015-10-09 13:05] mwielgus commented on #638
cc: @fgrzadkowski @piosz @gmarek @wojtek-t

[2015-10-09 13:07] mwielgus commented on #638
This, combined with #637, means that we transfer up to 60x more data than we actually need.

[2015-10-09 13:58] vishh commented on #638
We can request for just one sample instead.

[2015-10-09 14:11] shilpapadgaonkar opened #640 "cpu usage sometimes gives negative values"
Hello,
I want to run a  script periodically which will give me the cpu usage. I am using the following query on influxDb which is a sink for my heapster:

select derivative(value) from "cpu/usage_ns_cumulative" where pod_namespace='scaledemo' AND labels=~/name:locust,role:worker/ AND time > now() - 300s group by pod_namespace, labels order desc"
-----
Result of Query:
[
    {
        "columns": [

[2015-10-09 14:25] mwielgus opened #641 "Cache should store timeseries, not cadvisor.Stats and cadvisor.Spec"
Right now `cadvisor.Spec` is stored with every data set from cAdvisor. I guess the decoding should take place before storing data in the cache, not before sending them to sinks.

[2015-10-09 14:26] mwielgus commented on #641
cc: @piosz

[2015-10-09 14:58] jszczepkowski opened #642 "Frequency of updating model is too high (145 seconds)"
Currently, heapster has frequency of model updateds dependent on model resolution. It is 145 seconds for model resolution of 1 minute it is. As a result, horizontal pod autoscaling gets metrics from heapster with 145 seconds lag. This increases latency of horizontal pod autoscaler too much.

Proposed fix:
1. Make model update frequency configurable #635.
2. Reduce it to 65 seconds for 1 minute mod

[2015-10-09 14:59] jszczepkowski commented on #642
@vishh
Why the current frequency is so high? Can we do p.2 (reduce it to 65 seconds)?

[2015-10-09 14:59] jszczepkowski commented on #642
CC @piosz @fgrzadkowski @mwielgus

[2015-10-09 16:20] mwielgus opened #643 "sources/kube_pods.go should be removed"
After thinking for a while on #637 I came to conclusion that this way of getting pods+metrics should actually not be needed. Pods are marked quite clearly in Docker ("io.kubernetes.pod.name" label that contains namespace+"/"+name). So a single query to cAdvisor/kubelet for all containers will get us metrics AND the list of pods that are running. We don't care about pods that don't have metrics (ar

[2015-10-09 16:23] mwielgus commented on #643
cc: @vishh @piosz @jszczepkowski @fgrzadkowski

[2015-10-09 17:08] mwielgus commented on #643
The only thing that is taken from pod - cpu/mem reservation can be added either to the api or to docker kubelet-generated labels, just like "io.kubernetes.pod.terminationGracePeriod" is right now.

[2015-10-09 17:10] vishh commented on #643
We need to watch the API server for metadata. This approach might not work with other runtimes like rocket which can understand pods only. https://github.com/kubernetes/kubernetes/issues/12483 attempts to solve this issue. The labels added by kubelet are an implementation detail and ideally, the rest of the system should not depend on that implementation detail.

[2015-10-09 17:10] vishh commented on #642
SGTM. cc @afein

[2015-10-09 17:12] vishh commented on #501
I'm closing this issue. @sanjana-bhat feel free to re-open if I failed to address any concerns.

[2015-10-09 17:12] #501 closed

[2015-10-09 17:13] vishh commented on #642
[Here](https://github.com/kubernetes/heapster/pull/508#discussion_r38687414) is some relevant conversation on this with @afein.

[2015-10-09 17:14] vishh commented on #641
The cache is used for the API and the model, in addition to the sinks.
So switching over to timeseries might not be possible.
One option is to avoid storing the entire cadvisor object and instead choose to store only the metrics heapster can handle.

[2015-10-09 17:15] mwielgus commented on #643
Which metadata (that are not returned by cAdvisor) are needed?

[2015-10-09 17:17] vishh commented on #640
I have seen this issue with InfluxDB v0.8.x. One option is to setup continuous queries in InfluxDB to sample the cpu_usage periodically into a new series, and avoid derivatives(..).

Another option is to try InfluxDB v0.9. The configs on Heapster HEAD support InfluxDB v0.9. I have not seen issues with derivative with this version.

cc @piosz who is working on adding instantaneous cpu metrics.

[2015-10-09 17:18] vishh commented on #637
https://github.com/kubernetes/kubernetes/issues/12483 should solve this.

[2015-10-09 17:36] mwielgus commented on #641
Sinks are fed with timeseries. Model storage does some processing on its own but it is mainly targeted at fighting with cumulative cpu usage.

I think it is bad. The metrics should come from sources/cache in one common way that doesn't require any extra processing to make them usable.

[2015-10-09 17:55] mwielgus commented on #641
I have a strong feeling that the responsibility and isolation between sources, sinks, and data-passing layer should be drawn more clearly. Sources should produce ready-to-use container metrics. Another layer should group the container data into pods, namespaces, nodes etc. Another calculate any derivative metrics that are needed (cummulative cpu -> average cpu). And the final layer: sinks and mode

[2015-10-09 18:24] jimmidyson opened #645 "Proposal: Use Prometheus for scraping & storage"
Right now, Heapster performs all the tasks of scraping, caching, exporting to external storage, & REST API for retrieval.

The same metrics that Heapster retrieves via the `/stats` endpoint on the kubelet are also exposed for Prometheus to scrape via `/metrics`. How do you feel about Heapster becoming a query & abstraction layer on top of Prometheus to provide Kubernetes semantics to Prometheus ti

[2015-10-09 18:46] vishh commented on #645
As of now, I think prometheus can be one of the backends for heapster.

I assume you are referring to metrics being in prometheus format. AFAIK, that was done because prometheus client libs were the most expressive ones as of now.

This is great. This will definitely be helpful.

Do we have any scalability numbers on prometheus?

Prometheus will be a good solution for monitoring.
But I'm not convi

[2015-10-09 18:47] afein commented on #640
As an additional note, this behavior also occurs if the container is restarted between measurements of `cpu/usage_ns_cumulative`.

[2015-10-09 18:50] vishh commented on #645
We want kubernetes to have minimal dependencies for bootstrapping purposes.
We will need reliable, low latency access to node resource usage metrics and that is the reason why heapster collects and serves these metrics directly.
Internally, we have never depended on timeseries DB for critical cluster functionalities like scheduling.
In this regard, we can have prometheus serve as the source of non

[2015-10-09 18:54] afein commented on #642
I would strongly recommend resolving #528 alongside #635. The reason is that if the update period is a multiple of the model resolution then some derived model metrics (pods, namespaces, cluster) could incorrectly disregard values during aggregation.

This behavior is caused by the fact that the same model timestamp is used for both aggregation and updates and it was a tradeoff that was required t

[2015-10-09 18:57] afein commented on #641
Even though this is a very drastic change, I agree that it would lead to a more intuitive structure for the project and a reduced memory footprint.

Alternatively, the model could replace the cache as it already maintains a set of compressed timeseries in memory.

[2015-10-09 19:33] jszczepkowski commented on #642
The problem here is that we **need** 65 seconds model frequency for 1.1, while #528 will rather not be solved for 1.1. Model frequency of nearly 2.5 minutes is not acceptable from the horizontal pod autoscaler point of view.

[2015-10-09 19:48] #625 closed

[2015-10-09 19:52] afein commented on #642
Fair enough, but do keep in mind that reducing the model frequency before #528 is resolved might potentially reduce the accuracy of aggregated metrics in a periodic fashion.

 Specifically, I suspect that every 1 in LCM(model_frequency, model_resolution) samples will be incorrectly aggregated to 0.

[2015-10-10 04:08] ttllyy opened #646 "Get list timestap metic record fail?(by get Heapster Metric Model API)"
heapster/docs/model.md
It allows the extraction of up to 1 hour of historical data for any Container, Pod, Node or Namespace in the cluster, as well as the cluster itself.
I set -use_model=true and  -model_resolution=10s

Get
/api/v1/model/namespaces/{namespace-name}/pods/{pod-name}/metrics/{metric-name}?start=X&end=Y
 (If start is not defined, it is assumed as the zero Unix epoch time. If end is

[2015-10-10 14:49] vishh commented on #641
Kubelet will return pod and node metrics in the future. Except for this part I agree with the rest of your comments.
The current state has been reached due to organic growth.

[2015-10-10 17:14] jszczepkowski commented on #642
CC @derekwaynecarr

[2015-10-12 08:09] piosz commented on #640
@biskup noticed similar issue in Grafana dashboard. I'll try to fix #568 soon.

[2015-10-12 14:40] derekwaynecarr commented on #642
/cc @kubernetes/rh-cluster-infra

[2015-10-13 02:03] ttllyy opened #650 "cpu usage unit is ns，How to correspond to percent？"
/api/v1/model/namespaces/{namespace-name}/pods/{pod-name}/metrics/cpu-usage
Returns a set of (Timestamp, Value) pairs for the requested pod-level metric

cpu usage unit is ns，How to correspond to percent?
Every timestamp,  How much is the total time?

[2015-10-13 13:12] thucatebay commented on #645
Since Prometheus has alerting capability, it'd make for a good out-of-the-box experience. However, as a cluster grows in terms of nodes and pods, it becomes a non-trivial task to operate and scale a metric store such as Prometheus, InfluxDB, Graphite, etc. At eBay we have our own monitoring and alerting system, which we're planning to use for Kubernetes. Heapster fits well in this model since all

[2015-10-13 13:39] jimmidyson commented on #645
@thucatebay Thanks for the feedback! I was thinking of Prometheus in this scenario as a day store, similar to how Heapster operates now, with rules for aggregating metrics as they come in to keep storage & memory requirements low. This would keep the management of it simple but bring with it extra benefits of:

* application level metrics (future work for heapster)
* persistence (afaik if heapster

[2015-10-13 15:12] jimm-porch commented on #632
In our production cluster we have 11 nodes, with a total of 173 pods (using `--all-namespaces`) and we were seeing Heapster getting OOM-killed after about 2 minutes, with default configuration.

Yesterday we started using `kubectl patch` to change the memory limit for Heapster:

- At `600Mi`, it still OOM'd about every 2 minutes.
- At `900Mi`, it OOM'd about every 4 minutes.
- At `1500Mi`, it OOM'

[2015-10-13 15:18] prateekrastogi commented on #622
Hi, I don't have any memory limit set in my config file. Also, I tried running only heapster-rc alone and it is unable to start. docker ps -a shows no trace of heapster container whatsoever. My docker version in 1.7.1, build 2c2c52b-dirty. And the cluster is running on coreos.

[2015-10-13 15:22] jimm-porch commented on #632
There is no doubt that it is OOM, for example when I was watching it yesterday, in a 7-minute period I saw 5 OOMs.  That was with our default memory configuration (which I'm told was `400Mi`):

[code]

[2015-10-13 15:52] gmarek commented on #632
cc @fgrzadkowski @mwielgus

[2015-10-13 17:00] vishh commented on #632
What version are you running?
We are working on optimizing memory usage.
Until then, can you update the `limits` in the heapster spec to be
`requests`?

[code]

becomes

 resources:
            requests:
              cpu: 100m
              memory: 300Mi

On Tue, Oct 13, 2015 at 8:52 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-10-13 17:03] vishh commented on #622
What version are you running? Can you post heapster logs? Also post the
output of `dmesg` from your host.

On Tue, Oct 13, 2015 at 8:18 AM, prateekrastogi <notifications@github.com>
wrote:

[2015-10-13 17:10] jimm-porch commented on #632
@vishh in our production environment we are still on v0.21.4 (but we will migrate to 1.x soon).  In our dev & qa environments we are on v1.0.6.  We see this Heapster issue in all environments.

Interestingly we see the same version of Heapster running in our environments even though they are using different versions of Kubernetes.

- The image is `gcr.io/google_containers/heapster:v0.16.1`.
- The

[2015-10-13 17:11] vishh commented on #632
I'd suggest upgrading to heapster v0.18.2. We have optimized memory usage
quite a bit.

On Tue, Oct 13, 2015 at 10:10 AM, Jim McCabe <notifications@github.com>
wrote:

[2015-10-13 17:12] jimm-porch commented on #632
We'll try your suggestion (using "requests" in place of "limits") to see how that fares today, and upgrading the version.

I have a completely naive and silly question - what would happen if Heapster was completely turned off?

[2015-10-13 17:14] vishh commented on #632
Heapster was completely turned off?

With the version of Kubernetes you are running, the default monitoring
setup will stop working.

Starting from Kubernetes v1.1 though, we require running heapster. But v1.1
will ship with a more optimized version of heapster.

On Tue, Oct 13, 2015 at 10:12 AM, Jim McCabe <notifications@github.com>
wrote:

[2015-10-13 17:15] vishh commented on #645
I agree that Prometheus is a good candidate for better out of the box
monitoring experience.
AFAIK there is at-least one scenario where we will not run Prometheus -
Google Container Engine.

I'd like to split core-cluster functionalities from monitoring. Disabling
monitoring using heapster is totally fine.
But I don't think we can disable collection and processing of core-cluster
metrics that are

[2015-10-13 17:56] vishh commented on #650
If a process were to run on one cpu continuously for a second, its usage
will be 1e+9 nanoseconds. If it ran on `n` cores continuously its usage
will n * 1e+9 nanoseconds. Does this make sense?

Percentage will be usage_in_nanoseconds / (capacity_in_absolute_cores *
1e+9).

Meanwhile we are also working on adding an utilization metric.

On Mon, Oct 12, 2015 at 7:03 PM, ttllyy <notifications@github

[2015-10-13 18:19] tylerd-porch commented on #632
Hi @vishh  -- How would we go about upgrading heapster on GKE?

[2015-10-13 18:29] vishh commented on #632
@tylerd-porch: That might not be possible. cc @a-robinson

[2015-10-13 19:53] jimm-porch commented on #632
@vishh / @tylerd-porch would it be possible to change the image via `kubectl patch`?  For example under `items.spec.containers.image`:

[code]

[2015-10-13 20:28] vishh commented on #632
There is a controller running on the master that ensures that the current
state of cluster addons matches the desired state.
I'm not sure if that controller looks at image version. So, a patch might
be worth a try.

On Tue, Oct 13, 2015 at 12:53 PM, Jim McCabe <notifications@github.com>
wrote:

[2015-10-13 20:50] spiffxp commented on #645
@vishh I'm a bit confused, are you saying that currently the heapster addon's presence is required for kube-scheduler to be working properly?

[2015-10-13 22:18] a-robinson commented on #632
@jimm-porch - turning heapster off is a perfectly reasonable option. The only effect it'll have is that metrics from your cluster will no longer be available via Cloud Monitoring. If you want to turn it off, just run `gcloud alpha container clusters update CLUSTERNAME --monitoring-service "none"`.

[2015-10-13 22:22] a-robinson commented on #632
Also, judging by the limitations section of the [addon-updater](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-addons/kube-addon-update.sh), patching the image version used won't be overwritten by the addon-updater, so that should also work.

[2015-10-13 22:37] vishh commented on #645
@spiffxp: Moving forward heapster (standalone) will be run by default on all kubernetes clusters. It will be serving the [metrics APIs](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/compute-resource-metrics-api.md) which will be consumed by the scheduler, auto-scalers, etc.
The term `addon` is a misnomer because other addons like `dns` are also required for default kubernetes

[2015-10-13 23:03] spiffxp commented on #645
@vishh yeah but how about today?  is this required for proper functioning of v 1.0.x or 1.1.x?

[2015-10-13 23:22] vishh commented on #645
It is not required for v1.0.x.
It is required for beta features in v1.1.x.

On Tue, Oct 13, 2015 at 4:03 PM, Aaron Crickenberger <
notifications@github.com> wrote:

[2015-10-14 07:44] gmarek commented on #632
@jimm-porch FYI: for pre v1 I don't think that changing limits to requests will help. I don't remember when we implemented requests, but it was rather later than sooner.

[2015-10-14 10:31] prateekrastogi commented on #622
i was running 7.3.0 of coreos with k8 1.0.5. After your response I used dmesg and saw some error lines in it, so i tried upgrading the whole cluster first os and then k8, but it broke down whole setup. Then, i created a new setup with latest realeases and heapster working fine on it. Unfortunately, i was not able to log dmesg at that time, nor able to comprehend how mere upgrade broke down whole c

[2015-10-14 10:31] #622 closed

[2015-10-14 16:11] z0rc opened #651 "Retry connection attempt to hawkular"
I'm trying to test heapster with hawkular with docker-compose.
[code]
The problem is hawkular takes some time to come up, but heapster doesn't wait and just dies:
[code]
Would it be possible to implement connection retry policy?

[2015-10-14 17:15] vishh commented on #651
cc @burmanm

[2015-10-14 17:22] z0rc commented on #651
Also, maybe I'm doing something wrong, but even after launching docker containers manually (with the same options as in compose), I cannot to find any data from cadvisor in hawkular.

[2015-10-14 17:34] vishh opened #653 "Data race in Hawkular Sink"
GOOS=linux GOARCH=amd64 godep go test --test.short -race ./...
?   	k8s.io/heapster	[no test files]
?   	k8s.io/heapster/api/v1	[no test files]
?   	k8s.io/heapster/api/v1/types	[no test files]
?   	k8s.io/heapster/clusters/coreos	[no test files]
?   	k8s.io/heapster/expapi/v2	[no test files]
?   	k8s.io/heapster/expapi/v2/types	[no test files]
?   	k8s.io/heapster/extpoints	[no test files]
ok  	k

[2015-10-14 17:43] jimmidyson commented on #653
@mwringe @burmanm Can you look at this please? Needs to be fixed for opensihft heapster release too.

[2015-10-14 18:05] burmanm commented on #653
Okay, it is theoretical data race in a test (if the test would be run in a multithreaded way and the same instance of httptest-server would be used) as the method used inside the goroutine does "++" operator to an outside variable.. This can't be triggered by the test itself as it does not spawn more threads. I'll fix it.

[2015-10-14 18:23] burmanm commented on #651
I think the issue with reconnection is that the Register method will return an error and Heapster will die in these cases. Restart policy for Heapster is probably the best workaround for now.

[2015-10-15 01:20] ttllyy opened #655 "kubectl rolling-update rc correspond to api?"
kubectl rolling-update foo new_image.

What interface API for  rolling-update?  Give an example for update new image?

thanks!

[2015-10-15 01:21] #655 closed

[2015-10-15 19:46] jayunit100 commented on #645
There seems to be pretty close coupling to prometheus on the metrics front already.  sorta seems like overkill to maintain a separate timeseries framework ?  but i see both sides of the coin here.

[2015-10-16 04:35] gosharplite opened #657 "404 Not Found with influxdb-grafana-controller.yaml"
I create pods and services using files in [heapster/deploy/kube-config/influxdb/](https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb).
API objects are created and look fine.
[code]
[code]
[code]
In a browser, I try to access below url without success. (I can access other services without problem.)
`https://10.128.112.11/api/v1/proxy/namespaces/kube-system/services/monit

[2015-10-16 06:08] gosharplite commented on #657
I have tried using nodePort as shown below. Same result, no luck.

grafana-service.yaml
[code]

[2015-10-16 07:34] gosharplite commented on #657
It might be a href issue. Html source code shows href has wrong relative url.
So I changed `influxdb-grafana-controller.yaml` as shown below.
[code]
Now I can see the Grafana UI with proxy url, but can't get any content. Browser pop-up shows `the server could not find the requested resource`
`https://10.128.112.11/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/`

Luckily I have no

[2015-10-16 07:38] ravilr opened #658 "panic in sources.(*kubeNodeMetrics).updateStats"
heapster custom build from commit rev 20f9a2eac6f64d305a71d3c392ee9209c2e65e91
kubernetes : v1.0.5

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x68 pc=0x50a016]

goroutine 570 [running]:
k8s.io/heapster/sources.(*kubeNodeMetrics).updateStats(0xc2080e4a80, 0xc20831d5f0, 0x2f, 0xc2085fc300, 0xe, 0xc2087fe1f0, 0xe, 0xc20831a030, 0x2f, 0x5dc0, ...

[2015-10-16 12:56] thucatebay commented on #657
Which version of Kubernetes were you using? I believe @vishh made some changes to kube-proxy on the Kubernetes side to make Grafana work via the proxy URL.

[2015-10-16 19:06] vishh commented on #658
cc @mwielgus @piosz

[2015-10-17 05:33] gosharplite commented on #657
I'm using v1.0.6, here are some proves.
[code]
[code]
Am I missing some parameters in kube-proxy?
[code]

[2015-10-17 07:49] ravilr commented on #658
I tried to debug this more. what i found out was, one of the node in the cluster was returning empty stats for rawContainerstats call  http://kubelet:10255/stats/container/

[2015-10-19 08:00] piosz commented on #658
cc @gmarek

[2015-10-19 18:14] vishh commented on #658
Thanks for debugging @ravilr!
1. heapster should handle this situation gracefully and not panic.
2. We should investigate why kubelet is not exporting stats. This can happen is cAdvisor initialization fails. Can you check your kubelet logs @ravilr?

[2015-10-20 08:20] flyer5200 opened #661 "InfluxDB database 'k8s' is empty"
I am deploy a standlone InfluxDB v0.9.4.1, heapster 0.18.2, kubernetes v1.1.0

I try run a command by heapster,

[root@iZ94orq2kz1Z ~]# /usr/local/bin/heapster --source="kubernetes:http://10.116.92.1:8080?inClusterConfig=false" --sink=influxdb:http://10.45.176.243:8086
I1020 16:38:22.346787   17492 heapster.go:61] /usr/local/bin/heapster --source=kubernetes:http://10.116.92.1:8080?inClusterConfig=

[2015-10-21 13:33] mwringe opened #662 "Insecure option not used for kubelet connection"
If the kubelet endpoint has an issue with its certificate, it will not connect even when the `insecure` option is specified

[2015-10-21 13:39] mwringe opened #663 "Connection to kubelet based on IP not hostname"
There is an issue when connecting to a kubelet endpoint over tls where the certificate used is based on hostname and not ip address.

When trying to connect to a kubelet endpoint in this situation, heapster will fail to connect and throw the following error:

1 kubelet.go:96] failed to get stats from kubelet url: https://192.168.122.1:10250/stats/metrics/hawkular-metrics-tbd9b/f00788ca-7760-11e5-9

[2015-10-21 13:43] jimmidyson commented on #663
@mwringe What does `kubectl get nodes` show?

[2015-10-21 13:44] mwringe commented on #663
NAME      LABELS                          STATUS    AGE
mynode    kubernetes.io/hostname=mynode   Ready     18h

[2015-10-21 13:45] jimmidyson commented on #663
How about `kubectl get nodes -oyaml`? Just want to think of the best way to get the node address.

[2015-10-21 13:46] mwringe commented on #663
Note that it will work if I happen to name my node the same as its IP address (which is why it just happens to work on my machine but not on any others)

[2015-10-21 13:47] mwringe commented on #663
The node yaml output:

apiVersion: v1
kind: Node
metadata:
  creationTimestamp: 2015-10-20T19:24:54Z
  labels:
    kubernetes.io/hostname: mynode
  name: mynode
  resourceVersion: "944"
  selfLink: /api/v1/nodes/mynode
  uid: 3e05f4bd-7760-11e5-a89f-3c970e88a56f
spec:
  externalID: mynode
status:
  addresses:
  - address: 192.168.122.1
    type: LegacyHostIP
  - address: 192.168.122.1
    type: In

[2015-10-21 13:48] jimmidyson commented on #663
@liggitt What do you suggest for this? Node name doesn't have to be a resolvable address afaik & node IP isn't a SAN in node TLS cert.

[2015-10-21 15:20] liggitt commented on #663
If the node is accessed by IP, then the IP should be in the node's certificate as a SAN. What setup are you using to create the node's certificate?

[2015-10-21 15:27] jimmidyson commented on #663
By default, does kubernetes connect to the node via the IP & does it validate the node certificate?

[2015-10-21 15:31] jimmidyson commented on #653
@burmanm Is this closed now?

[2015-10-21 15:36] liggitt commented on #663
If a ca is provided to the master for constructing the kubelet client, it verifies the cert.

It looks like connections to the node are IP based (https://github.com/kubernetes/kubernetes/blob/782102d4370f85228ca6aabbc84b998c266b6e6d/pkg/registry/node/strategy.go#L139)

I am not sure how the various setup scripts invoke the master, if they provide a kubelet CA or not

[2015-10-21 15:46] mwringe commented on #663
`openshift start --write-config=openshift.local.config --hostname=myNode --public-master=$IP_ADDRESS --master=$IP_ADDRESS`

As a work around, if I set `--hostname=$IP_ADDRESS` then it can connect

[2015-10-21 15:54] #662 closed

[2015-10-21 15:54] mvdan commented on #663
Fixed by #664.

[2015-10-21 15:54] #663 closed

[2015-10-21 16:05] mwringe commented on #663
I don't believe #664 does not fix this issue, I believe it only allows `insecure` to work with the kubelet endpoint and this is a separate issue.

[2015-10-21 16:10] jimmidyson commented on #663
#664 "fixes" it for a cluster that doesn't have certificates correctly set up as you had. Heapster cannot fix up poorly configured clusters but we can work with it...

[2015-10-21 16:22] liggitt commented on #663
I'm pretty sure the ansible installer adds the node IP to the serving cert (@sdodson, confirm?). Can you open an issue against openshift origin to fix the write-config option to include the IP?

[2015-10-21 17:34] mwringe commented on #663
Are we sure this is a broken setup? Not specifying the IP address in a certificate may not be the best idea, but I don't know if I would say its an invalid setup.

[2015-10-21 17:38] liggitt commented on #663
There are degrees of invalid. Serving with a cert that doesn't include an address you expect to be contacted on is not a good setup

[2015-10-21 17:42] mwringe commented on #663
Ok, makes sense. Do we have a corresponding issue in OpenShift to track this?

[2015-10-21 17:46] liggitt commented on #663
Not that I'm aware of. Can you open an issue against openshift origin to add the IP to the node's certificate when running the all-in-one? I think the ansible install already builds the node's serving certificate correctly

[2015-10-21 18:08] mwringe commented on #663
@liggitt Ok, I created one here: https://github.com/openshift/origin/issues/5294

[2015-10-21 18:12] burmanm commented on #653
Yep.

[2015-10-21 21:14] bgrant0607 opened #665 "Decide and document the scope of heapster's responsibilities"
Since we're extending heapster in various ways for auto-scaling, and we're about to add support for collecting and aggregating custom metrics, we should decide and document what the boundaries for heapster's responsibilities should be. In particular, I don't want it to grow into a general-purpose application and/or infrastructure monitoring, dashboarding, and alerting system, such as [Prometheus](

[2015-10-21 21:31] jimmidyson commented on #665
I think this is an incredibly important thing to nail down. I've previously raised a proposal in #645 to utilise Prometheus for metric collection & Heapster to become a REST API with Kubernetes API semantics over the top of Prometheus.

I'd also like to point out the work I've done with Prometheus to provide autodiscovery for master, node, container & application targets for metric collection.

Bu

[2015-10-21 23:03] #653 closed

[2015-10-22 09:00] remy-phelipot commented on #661
I have the same problem with the kubernetes endpoint configured in unsecure mode. Here is the configuration for the replication controllers:

Grafana/InfluxDB
[code]

Heapster
[code]

Here are the logs:

[code]

[code]

The InfluxDB contains an empty 'k8s' table.

[2015-10-22 11:41] piosz commented on #665
cc @fgrzadkowski

[2015-10-22 14:58] erimatnor commented on #293
+1

[2015-10-22 23:05] ravilr commented on #658
@vishh, i remember checking the kubelet cadvisor port 4914 directly and it was showing stats at that time. the kubelet logs are rotated now, will check next time this issue recurs.

[2015-10-22 23:48] vishh commented on #661
I suspect that heapster is not able to collect metrics from the nodes. Can
you run heapster with an extra flag? Add the following line to the
`command` section in heapster controller
 `- --vmodule=*=3`

With this option, heapster logs should provide more useful information.

On Thu, Oct 22, 2015 at 2:00 AM, Rémy Phelipot <notifications@github.com>
wrote:

[2015-10-23 11:24] remy-phelipot commented on #661
I've "solved" this issue by using the canary version of heapster and I can't go back to the previous version.. I'm sorry vishh.

[2015-10-23 11:47] remy-phelipot opened #668 "Data collected only in the "default" k8s namespace"
Hello!

I'm using the last version of heapster (the canary version of DockerHub) and I've encountered an issue when I want to monitor containers deployed in a namespace other than "default". It seems that there is no data in InfluxDb about these containers, and there are obviously not appearing in the grafana dashboard.

Here are the configuration files:

Grafana/InfluxDB
[code]

Heapster RC
[code

[2015-10-23 17:21] sdodson commented on #663
No it does not add the node's ip to the node's serving cert. I've added this to https://github.com/openshift/openshift-ansible/pull/609

[2015-10-23 18:09] vishh commented on #668
What version of kubernetes are you running? A similar issue was reported in
older versions and v1.0.6 seemed to have resolved that.

On Fri, Oct 23, 2015 at 4:47 AM, Rémy Phelipot <notifications@github.com>
wrote:

[2015-10-23 18:14] vishh opened #669 "canary image pusher job is broken on jenkins"

[2015-10-24 04:04] JunejaTung opened #673 "cannot find package "k8s.io/heapster/api/v1" in any of"
# I try to install heapster in standalone on kubernetes cluster Master. when i make heapster,then entry question:
[root@wlan-cloudserver31 heapster]# pwd
/etc/kubernetes/heapster
## [root@wlan-cloudserver31 heapster]# make
rm -f heapster
rm -f deploy/docker/heapster
go get -u github.com/tools/godep
GOOS=linux GOARCH=amd64 CGO_ENABLED=0 godep go build ./...
handlers.go:24:2: cannot find package "k8

[2015-10-24 11:21] JunejaTung opened #674 "run heaster with Pod Errors & Node Errors, don't write data to influxdb"
## run heapster with cmd
docker run  -p 8082:8082 docker.io/kubernetes/heapster --source=kubernetes:http://172.27.8.210:8080?inClusterConfig=false&auth=””&useServiceAccount=false --sink=influxdb:http://172.27.8.109:8086
[root@wlan-cloudserver31 wlanuser]#
eAccount=false --sink=influxdb:http://172.27.8.109:8086:8082 docker.io/kubernetes/heapster --source=kubernetes:http://172.27.8.210:8080?inCluste

[2015-10-25 18:19] vishh commented on #673
Setup GOPATH as per instructions on Golang's website.
Then run
[code]

On Fri, Oct 23, 2015 at 9:04 PM, Juneja <notifications@github.com> wrote:

[2015-10-25 18:19] #673 closed

[2015-10-26 03:10] JunejaTung commented on #673
@vishh thanks for you help, i got the heapster run in standalone with curl results.
i have another doubt, i config three nodes in /var/run/heapster/hosts, but i only get curl results of only one node!

[2015-10-26 08:08] remy-phelipot commented on #668
Indeed, I'm running kubernetes v1.0.4, so the issue is probably related to kubernetes. Do you have the link of this issue?
I will update kubernetes and check if it solves the problem.

[2015-10-26 10:14] lorenzvth7 commented on #571
I have the same issue. I'm using OpenShift Origin (installed with ansible). I want to enable metrics using Influxdb, grafana and heapster. I'm using the same user guide.
I have this error logs in the Heapster pod.
[code]
So very similar and I executed your command:

[code]
But it really messed up my OpenShift:
[code]
 It said I was not able to login anymore and I had to run the ansible installer a

[2015-10-26 10:18] jimmidyson commented on #571
@lorenzvth7 Try adding the public hostname you're trying to connect to to the list of hostnames passed to the `--hostnames` flag. Once you've done that & restarted the API server, can you check it's running successfully before trying `oc login` again?

[2015-10-26 10:31] lorenzvth7 commented on #571
@jimmidyson I'm sorry but what do you mean with the public hostname? The domainname?: ```ec2-52-18-247-x.eu-west-1.compute.amazonaws.com```

[2015-10-26 10:34] jimmidyson commented on #571
@lorenzvth7 Sorry - I mean whatever address you hit the API server at remotely, if that's the public hostname of the server or a different DNS that you have set up.

[2015-10-26 11:12] lorenzvth7 commented on #571
I did
[code]
And after restarting openshift I've just the same issue.

[2015-10-26 11:28] JunejaTung commented on #674
when i got run with ./heapster --source=kubernetes:http://172.27.8.210:8080?inClusterConfig=false&auth=””&useServiceAccount=false --sink=influxdb:http://172.27.8.109:8086?user=root&pw=root&db=k8s
it run ok .

[2015-10-26 11:32] lorenzvth7 commented on #571
The logs from the beginning:
[code]

[2015-10-26 11:41] jimmidyson commented on #571
Did you overwrite the `master.server.crt` & `master.server.key` files wherever they are stored? Possibly in `/etc/origin/master/` looking at your logs.

[2015-10-26 11:41] lorenzvth7 commented on #571
Okay I did it a few times an I think it works now. I'm also able to login There is a new error:
[code]

[2015-10-26 11:43] jimmidyson commented on #571
Have you deployed influxdb in the same namespace? Has it started properly?

[2015-10-26 11:52] lorenzvth7 commented on #571
I think so,  they are in the same openshift-project (=same namespace). The pod is running fine. I can access the influxdb container.
[code]

[2015-10-26 11:55] jimmidyson commented on #571
What does `oc get services influxdb-monitoring` show?

[2015-10-26 11:55] lorenzvth7 commented on #571
[code]

[2015-10-26 11:57] lorenzvth7 commented on #571
The logs are changed:
[code]

The last log is several minutes ago. I think the manual start of influxdb (in the container) did the job. I'm also seeing the statistics in grafana in my web browser. So I think it's working now? Thanks!

[2015-10-26 11:58] jimmidyson commented on #571
There should be no need to manually start influxdb though...

[2015-10-26 12:00] lorenzvth7 commented on #571
Weird, maybe I just had to wait a bit longer? Is it possible to curl to the service of influxdb? I get a 404 but I read that's normal? But sometimes I'm seeing some UI for influxdb on tutorialsites.

[2015-10-26 12:01] JunejaTung opened #675 "lookup monitoring-influxdb: no such host, not found with , 500 can't access influxdb service"
## run heapster in deploy/kube-config/influxdb
the heapster have to restart!
[root@wlan-cloudserver31 opt]# kubectl get pods --all-namespaces=true
NAMESPACE     NAME                     READY     STATUS    RESTARTS   AGE
default       jenkins-master-xongc     1/1       Running   0          2d
default       portal-master-82yce      1/1       Running   0          2d
default       portal-slave-helec

[2015-10-26 13:40] thucatebay commented on #675
From your list of pods, it looks like skydns  wasn't there. You'll need to enable the DNS add-on to access InfluxDB service via ```monitoring-influxdb```.

[2015-10-26 16:46] vishh commented on #675
Yeah. kube-dns addon needs to be run. If you choose to not run that, you
will have to pass the IP of monitoring-influxdb service to heapster.

On Mon, Oct 26, 2015 at 6:40 AM, Thuc Nguyen <notifications@github.com>
wrote:

[2015-10-26 17:27] vishh commented on #571
Just curious: How is DNS handled in the case of open shift? Could there be
an issue with DNS here?

On Mon, Oct 26, 2015 at 4:58 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-26 17:35] jimmidyson commented on #571
@vishh skydns is embedded in the openshift binary so instead of the DNS addon deployed as a pod it is embedded in the master.

@lorenzvth7 `404` is normal when using the API port (`8086`). InfluxDB does have a built-in console on port `8083` - if you want to use that then create another service using that as the target port & connect to the service IP (or OpenShift route if you're running in a ful

[2015-10-26 17:36] vishh commented on #674
* You need to run kube-dns addon.
* We recommend setting up service accounts as part of kube cluster setup.

On Mon, Oct 26, 2015 at 4:28 AM, Juneja <notifications@github.com> wrote:

[2015-10-26 17:36] vishh commented on #674
Kindly re-open this issue if the documentation under `docs/source-configuration.md` does not help you resolve your current issues :)

[2015-10-26 17:36] #674 closed

[2015-10-26 17:39] vishh commented on #668
I will try to find the original issue.

On Mon, Oct 26, 2015 at 1:08 AM, Rémy Phelipot <notifications@github.com>
wrote:

[2015-10-26 18:08] vishh commented on #673
Can you run heapster with `--vmodule=*=4` flag and post its logs?

On Sun, Oct 25, 2015 at 8:10 PM, Juneja <notifications@github.com> wrote:

[2015-10-27 02:01] JunejaTung commented on #675
@vishh @thucatebay  I'm sorry ，i can't find any documention for kube-dns，how to start kube-dns？

[2015-10-27 03:04] thucatebay commented on #675
@JunejaTung https://github.com/kubernetes/kubernetes/tree/release-1.1/cluster/addons/dns.

[2015-10-27 12:06] JunejaTung commented on #673
@vishh  add ‘--vmodule=*=4’ can get more nodes stats. but i have another doubt in standalone type，then --sink option doesn't validated, it didn't write any data to influxdb
[root@wlan-cloudserver31 heapster]# ./heapster --vmodule=*=4 --source=kubernetes:http://172.27.8.210:8080?inClusterConfig=false&auth=''&useServiceAccount=false --sink=influxdb:http://172.27.8.109:8086
[1] 131344
[2] 131345
bash

[2015-10-27 12:15] JunejaTung commented on #674
@vishh thanks for your help, i run heapster in standalone type (make the heapster source code, adn ./heapster ...), then the doubt hasn't encounter!

[2015-10-27 12:21] JunejaTung commented on #675
@thucatebay  thanks, i had try to lauch kube-dns, encounter many questions no luck. then i try to pass the ips to all services for refer, then all pods and services (heapster , influxdb , granafa) run normal. i will try to resolve other troubles such as grafana web returns no figures, inlfuxdb no data .

[2015-10-27 13:10] huangyuqi opened #677 "some redundant data in the heapster sink's source data"
heapster store timeseries of PODs(including their containers ) and events to the external sink.
https://github.com/kubernetes/heapster/blob/master/sinks/external.go#L139
[code]
**here, just saving the pods' and containers' metric information**, but the `timeseries` contains **some redundant data about some process and cgroup**, i debug this issue,and got these:
*cgroup
[code]
*other process
[code]

[2015-10-27 18:15] vishh commented on #677
The base image will be missing for containers that were not started via
kubernetes APIs. In kubernetes, the kubelet (node agent), creates cgroups
to track resource usage of certain node daemons (docker, sshd, etc). This
information is useful to monitor the nodes. Filtering out non-interesting
containers is possible, but it will be difficult to implement in practice
unless we can somehow discover o

[2015-10-27 18:17] vishh commented on #673
pass the flag arguments within `""`.
*./heapster --vmodule=**=4 --source="kubernetes:
http://172.27.8.210:8080?inClusterConfig=false&auth=''&useServiceAccount=false
<http://172.27.8.210:8080/?inClusterConfig=false&auth=%27%27&useServiceAccount=false>
" --sink="influxdb:http://172.27.8.109:8086"

On Tue, Oct 27, 2015 at 5:06 AM, Juneja <notifications@github.com> wrote:

[2015-10-28 02:02] huangyuqi commented on #677
@vishh ,  thanks for your explanation.

[2015-10-28 02:06] JunejaTung commented on #673
@vishh  pass flag within '""' then it run ok, but there is no data in influxdb
more logs:
[root@wlan-cloudserver31 heapster]# ./heapster --vmodule=*=3 --source="kubernetes:http://172.27.8.210:8080?inClusterConfig=false&auth=''&useServiceAccount=false" --sink="influxdb:http://172.27.8.109:8086"
I1028 09:37:54.097134  142891 heapster.go:61] ./heapster --vmodule=*=3 --source=kubernetes:http://172.27.

[2015-10-28 08:12] JunejaTung commented on #675
@vishh  now i can access web ui of influxdb and grafana services through  config NodePort in yaml file, when i ' kubectl create  -f  heapster-controller.yaml ' , the heapster have to restart for underly error logs, i pass clusterIP to ‘--sink=influxdb:http//’ option, but the heapster didn't use the pass ip but another localhost, how can i resolve this new trouble? heapster version is canary .
[roo

[2015-10-28 19:44] vishh commented on #673
I see some metrics aggregation errors:
[code]

[2015-10-29 01:04] JunejaTung commented on #673
@vishh  wlan-cloudserver35 is notready for kubernetes cluster.  my heapster has run ok in standalone type, can get stats from ready kubelets. thanks.

[2015-10-29 14:59] thirunavukkarasumca commented on #296
Hi Guys, I have doubt in calculating the CPU usage of Kube in percentage. I need to convert cpu/usage_ns_cumulative value to percentage with help of cpu/limit_gauge. Plz give some example for me to analysis....

[2015-10-30 13:32] JunejaTung commented on #675
@vishh  sorry, for my clerical errors in `--sink=influxdb:http:///....` option in `heapster-controller.yaml` ,  more a char `/`. then entry that  strange question: `F1028 07:58:33.028741       1 heapster.go:67] failed to ping InfluxDB server at "localhost:8086" - Get http://localhost:8086/ping: dial tcp 127.0.0.1:8086: connection refused`

[2015-10-30 13:32] #675 closed

[2015-10-30 16:40] #668 closed

[2015-11-01 20:48] eliaslevy commented on #249
This is still broken on the `beta.gcr.io/google_containers/heapster_grafana:v2.1.1` container.  Attempting to use the Grafana UI through the apiserver proxy results in 404s when Grafana trying to find the CSS and JS files.  Commenting out the GF_SERVER_ROOT_URL env variable in the Pod spec allows the CS and JS to load, but then it can't load dashboards, as the XHR requests no longer have the proxy

[2015-11-01 21:07] eliaslevy commented on #249
Grafana is correctly making use of the GF_SERVER_STATIC_ROOT_PATH config env variable to to prepend the proxy path to the link, base, and script elements, but the apiserver proxy is rewriting the HTML to insert the path as well.  Thus, you end up with a duplicate path that messes up Grafana.

If you don't use GF_SERVER_STATIC_ROOT_PATH, then the static assets load fine, but the XHR requests fail,

[2015-11-01 21:21] eliaslevy commented on #657
See my explanation of the problem in #249.

[2015-11-01 21:35] imesh commented on #277
Hi @vishh, I'm also seeing this problem on Kubernetes 1.0.6. Anyway to resolve this?
Thanks

[2015-11-01 22:27] imesh commented on #277
AFAIU the problem is with the SSL certificate configuration in Heapster. The HTTPS call to Kubernetes API fails due to a certificate issue. I was able to get around this by specifying the HTTP Kubernetes API URL in the heapster controller as below:

[code]

[2015-11-01 22:31] vishh commented on #249
The proxy on the apiserver has been causing quite some trouble. Thanks for digging in. Will you be able to post a patch to fix this?

[2015-11-02 00:54] eliaslevy commented on #249
I'll see what I can do tomorrow.

[2015-11-03 06:30] JunejaTung opened #681 "Only view containers of the first node in Grafana and has residual data"
## deployed environment

there are 2 ready nodes ,the first is 172.27.8.211, the second is 172.27.8.214. All the pods of heapster are runing on the second node.

[code]

containers in the second node (172.27.8.214):

[code]
## Grafana dashboards

The `Containers` dashboard only show containers of the first node, and is residual:
![cont](https://cloud.githubusercontent.com/assets/13295415/10902290/

[2015-11-03 13:45] rvrignaud opened #682 "Heapster panic due to invalid memory address or nil pointer dereference"
Hello,

I'm running a custom build heapster in GKE (in // of official GKE's one).
The commit used to build heapster is d500aa975889f6ba2c2093b2bd518e17266c42fd.

I got for the first time a panic today.
Here is the begining of logs that I have. I can provide full logs if requested.

[code]

[2015-11-03 19:25] vishh commented on #681
cc @thucatebay

[2015-11-03 20:45] thucatebay commented on #681
Here's the query that Grafana uses to fetch the list of nodes:
```select distinct(hostname) from \"memory/limit_bytes_gauge\" where time > now() - 10m```

for namespace:
```select distinct(pod_namespace) from \"uptime_ms_cumulative\" where time > now() - 1m```

for pod:
```select distinct(pod_name) FROM \"uptime_ms_cumulative\" where pod_namespace =~ /$namespace/ and time > now() - 1m```

and cont

[2015-11-03 22:59] mwielgus opened #684 "Heapster scalability refactoring"
This is an umbrella issue for a significant refactoring me and @piosz are planning to do. The goal of this is to:
* make Heapster reach Kubernetes scalabiity goals
* make the code that passes/aggregates metrics simpler
* reduce latency to ~30 sec (measured from metric being collected to being available in model api)
* reduce memory footprint
* reduce the number of api calls to kubelet and traffic

[2015-11-03 23:09] vishh commented on #682
cc @mwielgus @piosz

[2015-11-04 17:33] bh016088 commented on #443
That should be referenced somewhere in the heapster config guide as service accounts are not a requirement for kubernetes.

[2015-11-04 18:49] vishh commented on #443
@bh016088: https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#kubernetes

[2015-11-04 23:34] smarterclayton commented on #368
Any update on this?  Haven't seen it working yet - not sure if I missed it.

[2015-11-04 23:56] vishh commented on #368
Waiting for kubelet to expose [pod level metrics](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/compute-resource-metrics-api.md#kubelet). @timstclair is working on the kubelet APIs now.

[2015-11-05 02:02] ravilr commented on #682
this is same panic reported in https://github.com/kubernetes/heapster/issues/658
Can we move the these 2 lines inside the loop:
https://github.com/kubernetes/heapster/blob/20f9a2eac6f64d305a71d3c392ee9209c2e65e91/sources/kube_nodes.go#L86-L87

[2015-11-05 09:34] tsn77130 opened #688 "Container view often empty"
Hi,

I've set up grafana & influxdb with pods from "master/cluster/addons/cluster-monitoring/influxdb", pods are alive.

Problem is that Kubernetes view is OK (see all nodes & cluster graphes), but the Containers view is empty most of time.
I say most of time, because I've already seen all of my pods listed normally hre inthis view after refleshing. But a reflresh later, I had only some of contain

[2015-11-05 09:42] tsn77130 commented on #688
result when I'm lucky

![containers_ok](https://cloud.githubusercontent.com/assets/8789835/10964862/eacb89b0-83a9-11e5-89cd-affc01b5885d.png)

[2015-11-05 17:54] vishh commented on #688
This is an issue with the kubernetes api server. Can you try accessing
grafana directly, without the api-server proxy? The configuration files
should contain information that will guide you to skip the proxy.

On Thu, Nov 5, 2015 at 1:42 AM, tsn77130 <notifications@github.com> wrote:

[2015-11-06 01:02] vishh opened #690 "Expose disk io metrics"
Disk IO metrics are useful to identify disk bandwidth hogging application. Since containers typically share a local disk, these metrics will be very useful.

[2015-11-06 10:07] mwielgus commented on #690
Good idea. I will take a look.

[2015-11-06 10:26] mwielgus opened #692 "Create a plugin-like mechanism for sinks"
At this moment we have a bunch of sinks contributed by the community. I guess none of the core Heapster developers will have time to actively test all of the fancy sinks with the newest release of Kafka, Riemann, Bosun, or some yet another shiny time series database.

I think we have to draw a line between what is fully supported/tested, what is bundled with the default release and what is a best

[2015-11-06 10:39] piosz commented on #692
cc @bgrant0607 @davidopp

[2015-11-06 10:48] mwielgus commented on #692
related to: #665

[2015-11-06 13:29] #658 closed

[2015-11-06 19:34] vishh commented on #692
Yeah. The best we can do for now is document what we test against.
Setting up integration tests for some of the sinks like kafka and riemann isn't that difficult. We can create a heapster pod with these sinks, re-configure heapster sinks from e2e tests, and then run the necessary sink validation logic.
We can also encourage the community to add e2e tests for those sinks, if they happen to use thos

[2015-11-06 22:58] #682 closed

[2015-11-06 23:21] ivanthelad commented on #293
+1

[2015-11-06 23:38] vishh commented on #293
Support for Riemann is now available on HEAD.

[2015-11-06 23:38] #293 closed

[2015-11-07 01:28] chrislovecnm opened #694 "Fails to start for GCM"
I am getting the following error while deploying to a kubernetes cluster running in google cloud.

kubectl create -f deploy/kube-config/google/

I am on the master ... should I try a release?

Error from kubectl logs

flag provided but not defined: -poll_duration
Usage of /heapster:
  -allowed_users="": comma-separated list of allowed users
  -alsologtostderr=false: log to standard error as well a

[2015-11-08 01:47] vishh commented on #694
cc @piosz

[2015-11-09 03:55] JunejaTung commented on #681
@thucatebay  to now, I config the query in Grafana not very good! I make some chages to the node `172.27.8.212`, make it `ready`. then find some interesting things . i doubt there may be bug when has node `notready` in kubelets or no up containers, in this scene, heapster can't get metrics for the `ready` nodes after that `notready` node.
[code]
![co](https://cloud.githubusercontent.com/assets/132

[2015-11-09 09:19] tsn77130 commented on #688
Hi vishh, thanks for answer.
I'm already using public IP to access grafana

[2015-11-09 14:15] #694 closed

[2015-11-10 21:54] chrislovecnm opened #702 "Fails to start with GCM"
So this is continuing https://github.com/kubernetes/heapster/issues/694

Now the pod keeps restarting, with very little logging information.  All I have now is:

W1110 14:48:19.665252   12536 cmd.go:149] log is DEPRECATED and will be removed in a future version. Use logs instead.
I1110 21:48:19.802383       1 heapster.go:61] /heapster --source=kubernetes:https://kubernetes.default --sink=gcm --sin

[2015-11-10 22:02] vishh commented on #702
cc @piosz

On Tue, Nov 10, 2015 at 1:54 PM, Chris Love <notifications@github.com>
wrote:

[2015-11-11 06:49] piosz commented on #702
Thanks for reporting @chrislovecnm. You can decrease stats_resolution to 30s. I'll create a fix.

[2015-11-11 19:15] vishh commented on #688
In that case, @thucatebay might be able to help you.

[2015-11-11 22:00] chrislovecnm commented on #702
That is great!  Maybe the docs should be a bit more clear??

[2015-11-12 14:19] thucatebay commented on #681
I've also seen this from time to time where heapster isn't able to get metrics from a node (that is not ready, for example), and is just stuck there. A connection timeout is needed when heapster connects to kubelet.

[2015-11-12 14:24] #702 closed

[2015-11-12 14:50] thucatebay commented on #688
It seems that Grafana wasn't able to get the list of containers from time to time. Any errors in Grafana log?

[2015-11-12 16:23] tsn77130 commented on #688
No, nothing apperas with kubectl logs monitoring-influxdb-grafana-v2-vamvb grafana --namespace=kube-system

[2015-11-12 17:08] vishh commented on #681
cc @piosz @mwielgus

[2015-11-12 17:33] thucatebay commented on #688
If you're just starting out on using Heapster, I'd recommend using the [latest]( https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb), which leverages InfluxDB 0.9.

In the version that you use, the query to get all containers looks like this:

[code]

You'll find it in the dashboard settings panel under the Templating section. You can change the time internal to say 30m

[2015-11-12 18:08] chrislovecnm commented on #702
Another error:

Let me know what else you need

kubectl logs heapster-j9w02 --namespace=kube-system
I1112 18:06:02.054151       1 heapster.go:61] /heapster --source=kubernetes:https://kubernetes.default --sink=gcm --sink=gcl --stats_resolution=30s
I1112 18:06:02.054215       1 heapster.go:62] Heapster version 0.18.0
I1112 18:06:02.054659       1 kube_factory.go:172] Using Kubernetes client with ma

[2015-11-12 18:34] vishh commented on #702
AFAIK, GCE does not allow updating scopes (permissions to Google Cloud
APIs) dynamically. When you create nodes on GCE, you need to add the
monitoring scope. If you had setup the cluster using the kubernetes scripts
(kube-up.sh), then the monitoring scope should have been added by default.

To get around this, you will have to add new nodes with the `monitoring`
scope enabled, and then delete the

[2015-11-12 18:42] vishh opened #709 "Consider using OAuth to communicate with Google Cloud Sinks"
Currently, heapster requires `monitoring` and `logging` scopes to be set to read-write on all nodes. This requirement is not explicit, and often users end up hitting this road-block after setting up their VMs.
Heapster currently supports dynamic sink updates. We can let users add Google Cloud sinks (GCM and GCL) dynamically and in that process complete the login sequence that will let heapster acc

[2015-11-12 19:52] chrislovecnm commented on #702
Nooooooooooooooo .... Have time setup with Google to discuss.  Arg

[2015-11-12 20:01] smugcloud commented on #333
@vishh I'm having a similar problem as @wonderfly.  My K8S cluster was deployed with the `kube-up` script, on AWS.  The cluster seems to be working fine, and I can access the Grafana UI, but do not get any heapster data.  I am also seeing a lot of restarts with the Pod.  Looking at the logs gives me:

[code]

It looks like @wonderfly and I do not have an `influxDB` pod running.  Is that the proble

[2015-11-12 20:10] vishh commented on #333
If you are not running InfluxDB, can you remove the InfluxDB sink from
heapster configs? The configs [here](
https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/standalone)
are an example of heapster not requiring any sinks.

On Thu, Nov 12, 2015 at 12:01 PM, Nick Leli <notifications@github.com>
wrote:

[2015-11-12 20:38] smugcloud commented on #333
Thanks @vishh.  Upon spinning up my cluster, I was inspecting the summary links like @wonderfly.  Grafana renders, but heapster and InfluxDB do not.  I saw #338 and do run into some redirect issues, but I wasn't sure if that was the root cause.

Are you saying I should stop heapster, and restart it with the definition files you referenced, or can I modify the existing service since the `monitoring

[2015-11-12 20:42] vishh commented on #333
@smugcloud: If you want to use Grafana, then you need InfluxDB. The fact that InfluxDB pod is not running is an issue. I do see `monitoring-influx-grafana-v1-e0xvk` pod running. Can you list services `kubectl get svc --namespace=kube-system`?
Heapster for some reason is not able to resolve `monitoring-influxdb` service DNS name.

[2015-11-12 20:43] smugcloud commented on #333
Sure, here you go:

[code]

[2015-11-12 20:48] vishh commented on #333
Hmm. The service is running. The errors might have been transient. Can we
try enabling detailed logging? Detailed steps [here](
https://github.com/kubernetes/heapster/blob/master/docs/debugging.md#extra-logging
).
I wonder if heapster is not able to fetch data from the nodes.
One more thing to try would be to log in to InfluxDB UI and run `list
series` to see if data is flowing to InfluxDB.

On Th

[2015-11-12 21:03] eliaslevy commented on #249
As of k8s v.1.1.1 Grafana 2.1.0 is working.  Looks like @vishh fixed the double prefix issue in kubernetes/kubernetes@2a075cd4bd04a003045d4946065b4cf153803446, which made it into v1.1.1.  I think this issue can be closed.  Thanks @vishh.

[2015-11-12 21:04] eliaslevy commented on #657
I believe this has been fixed by kubernetes/kubernetes@2a075cd4bd04a003045d4946065b4cf153803446, which made it into v1.1.1.  I think this issue can be closed.

[2015-11-12 21:06] smugcloud commented on #333
@vishh I don't think they're transient as I have not been able to hit the Heapster or InfluxDB URL's since the cluster was created.  If I try to hit the Influx DB UI I get:
[code]
$ k logs monitoring-heapster-v5-919mw --namespace=kube-system
I1112 21:01:36.952166       1 heapster.go:52] /heapster --source=kubernetes:'' --sink=influxdb:http://monitoring-influxdb:8086
I1112 21:01:36.952300       1 h

[2015-11-12 21:53] vishh commented on #333
How are you trying to access the InfluxDB UI?
A simpler option might be to try upgrading to Heapster v0.18.2. We made
several improvements to that version.

On Thu, Nov 12, 2015 at 1:06 PM, Nick Leli <notifications@github.com> wrote:

[2015-11-12 22:01] smugcloud commented on #333
I'm hitting the URL provided in `cluster-info`: https://x.x.x.x/api/v1/proxy/namespaces/kube-system/services/monitoring-heapster/.  Should I be hitting something else?

I'll try upgrading the heapster image and report back.

[2015-11-12 22:25] vishh commented on #333
Run `kubectl proxy &` and then run the following commands:

`curl -G '
http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/monitoring-influxdb:8086/db/k8s/series?u=root&p=root&pretty=true'
--data-urlencode "q=list series"`.

`curl -G '
http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/monitoring-influxdb:8086/db/k8s/series?u=root&p=root&pretty=true'
--data-urlencode

[2015-11-12 22:35] smugcloud commented on #333
So without upgrading heapster, and running these curl requests, i get the same response back:
[code]

[2015-11-12 23:06] smugcloud commented on #333
What's also strange is that if I hit the `/validate` endpoint for Heapster, I get a (unformatted) response back.  This was generated by hitting: https://master_IP/api/v1/proxy/namespaces/kube-system/services/monitoring-heapster/validate.  Everything appears healthy from this perspective.

[code]

[2015-11-13 00:34] vishh commented on #333
Yeah. I don't see any write failures for the InfluxDB sink. So I would
suspect the Grafana -> InfluxDB bridge.
I wonder why the service URL isn't working for you though. The service is
expected to be running.
Can you post the output of `kubectl describe pods -l k8s-app=influxGrafana`
and `kubectl get endpoints --all-namespaces`?
What version of kubernetes are you using?

As a side note, I'd sugges

[2015-11-13 00:47] smugcloud commented on #333
Sure thing @vishh, here are the outputs.  I'll try upgrading heapster as well.

[code]
[code]
[code]

[2015-11-13 01:31] vishh commented on #333
Everything seems to be right. I don't see why your queries to the
`monitoring-influxdb` service is failing. Can you post the URl you used?
Could there be a typo?
Also v1.0.3 is old (yeah the project is moving at light speed). Upgrade to
v1.06 at-least. There are known issues in lower versions, that can affect
heapster functionality.

On Thu, Nov 12, 2015 at 4:47 PM, Nick Leli <notifications@github

[2015-11-13 01:34] gosharplite commented on #657
I'll take your word for it!
Since K8S v1.1.1 upgrade to docker 1.8.3 [(#15719)](https://github.com/kubernetes/kubernetes/pull/15719) and CoreOS stable is still on 1.7.1, I'm not ready to check this issue.

[2015-11-13 01:43] #249 closed

[2015-11-13 16:46] oli-g opened #710 "Update documentation for Heapster on CoreOS"
Hi! I'm evaluating Heapster as a monitoring solution for a CoreOS cluster. I followed [this guide](https://github.com/kubernetes/heapster/blob/master/docs/coreos.md), and I was able to view this crippled dashboard:

![screenshot 2015-11-13 17 43 38](https://cloud.githubusercontent.com/assets/440821/11151558/1ce29f76-8a2e-11e5-830a-eb57553e3719.png)

That guide above mentions old versions of the co

[2015-11-13 17:41] smugcloud commented on #333
Thanks again for looking at this @vishh.  Unfortunately, I'm still having the same issue, with some slight differences in the ancillary components.

1. I updated K8S to 1.1.1 across the board.
2.  I used the `kube-up.sh` script to provision a cluster on AWS with 2 minions
* Everything appeared to be up at cluster creation but upon hitting the Grafana UI, I saw some errors pointing to an InfluxDB i

[2015-11-17 01:21] chrisleck opened #711 "Race in deployment of heapster vs. influxdb"
Instructions here point to starting up all services/RCs simultaneously: https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md.

If heapster comes up before influxdb is ready, I see the following error in the heapster logs:
E1117 00:54:03.431077       1 manager.go:257] encountered following errors while setting up sinks - failed to ping InfluxDB server at "monitoring-influxdb:8086" -

[2015-11-17 03:59] vishh commented on #711
What version of heapster are you using? Heapster will retry connecting to
InfluxDB until it can succeed.

On Mon, Nov 16, 2015 at 5:21 PM, Chris <notifications@github.com> wrote:

[2015-11-17 18:38] chrisleck commented on #711
apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    k8s-app: heapster
    name: heapster
    version: v6
  name: heapster
  namespace: kube-system
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v6
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v6
    spec:
      containers:
      - name: heapster
        image: kubernetes/heaps

[2015-11-18 01:26] vishh commented on #711
@piosz @mwielgus Can one of you try out the HEAD configs and see if we are able to repro this issue?

[2015-11-18 06:24] mwielgus commented on #711
I will take a look.

[2015-11-19 02:22] SidneyAn opened #713 "/api/v1/model/namespaces/ response file not found"
I am running heapster standalone and I get non-empty response when I using the following endpoint http://{master-ip}/api/v1/model/metrics/. But when I try the endpoint http://{master-ip}/api/v1/model/namespaces/ , it returns file not found.

I use the binary file and the following parameters "--source="cadvisor:external?cadvisorPort=8080"","--use_model=true","-stats_resolution==1s","-model_resolut

[2015-11-19 08:35] jimmidyson opened #714 "Embed version via ldflags"
Right now the version is hard-coded & not updated properly - see https://github.com/kubernetes/heapster/blob/master/version/version.go#L22. This should be changed to add the version at compile time via `ldflags`.

[2015-11-20 00:33] afein commented on #713
The namespaces endpoint refers to Kubernetes namespaces. If you are not running heapster within a Kubernetes cluster then this endpoint is not enabled.

In standalone mode, you should be able to view your containers on a per-node basis under /api/v1/model/nodes/{node-name}/freecontainers

[2015-11-20 03:28] SidneyAn commented on #713
I retry it within a Kubernetes cluster. I run heapster standalone in a minion node and I change the cadvisorPort to 4194, which is the port provided by kubelet. But the namespaces endpoint still returns file not found.
My test containers are running under the default namespace. Is there any problem with it?

[2015-11-20 09:46] ntquyen opened #720 "Asking for built-in network graphs in grafana dashboard"
First of all, thank you very much for including grafana dashboard. It saved me a lot of time learning influxdb queries and building grafana graphs. I think it would be even nicer if there are also network graphs included :-)

[2015-11-20 14:54] jimmidyson commented on #368
@vishh @timstclair What's the status of this? Any kubernetes issues/PRs I can look at?

[2015-11-20 18:19] timstclair commented on #368
@jimmidyson we just decided that we need to re-think the API, rather than trying to force the cAdvisor API into k8s. I should have a PR out in the next couple of days, but I suspect it will not get merged until after thanksgiving since a lot of people are out next week. You can see the draft here (actively changing): https://github.com/timstclair/kubernetes/blob/metrics-beta/pkg/apis/metrics/types

[2015-11-20 18:36] jimmidyson commented on #368
@timstclair Thanks for the update. Look forward to your PR!

[2015-11-21 20:22] maklemenz commented on #688
I've experienced the same problem was just about to report it.

Basically the query grafana used to get a list of all pods nearly always returned an empty array. I fixed that by using a larger timefilter at the end of each query and creating an own container based on the official one just adding the fixed container-dashboard.

I used dockerhub for my tests. To test the image just replace the *heap

[2015-11-22 00:16] jimmidyson commented on #368
@timstclair @vishh When do you aim for a stable stats v2 endpoint in kubernetes? A couple of months perhaps?

Thinking about users who want to use network stats today & can see a simple fix to heapster to ingest them - network stats from kubelet are correctly exposed today, ready for ingestion, albeit in a raw cadvisor form.

What do you think about just adding in network stats to existing heapste

[2015-11-23 20:23] timstclair commented on #368
I'd like to deprecate the `/stats` endpoint, and put any data we need going forward into the metrics API. In order to move heapster over to the new API for v1.2, we need to have the new API in beta in a couple weeks. To this end, I'm only planning on including the minimum stats requirements for heapster.

Which network stats are you looking for? It looks like heapster [already has](https://github.

[2015-11-24 09:01] tsn77130 commented on #688
Hi,
@thucatebay , thanks for your reply.
I just have recreated services, rc & pods, and indeed it works great with 0.5 vertsion of influxDB.

It is a little confusing, because I used kubernetes documentation for install monitoring, and it refers to another github location , with 0.4 version in (see https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring/influxdb )

M

[2015-11-25 10:03] piosz commented on #638
This will be fix by introducing Metrics API in Kubeletet https://github.com/kubernetes/kubernetes/issues/12483

[2015-11-25 10:03] #638 closed

[2015-11-25 16:38] perhapszzy commented on #711
And there's a similar problem:

Heapster will not work correctly if the influxdb pod restart.

[2015-11-25 19:04] mwringe opened #731 "Add new label for the Node name"
We should add support for a new label for the name of the node. This should correspond to the metadata.name element of the node.

Currently the closest thing we have is "host_id" but this corresponds to using a deprecated 'ExternalID' (https://github.com/kubernetes/kubernetes/blob/release-1.0/pkg/api/v1/types.go#L1256) which is probably not something we should continue to use.

[2015-11-25 19:47] mwringe opened #732 "Support connecting to kubelet endpoints using hostname"
Currently we connect to the kubelet endpoints using the ip address instead of the hostname.

This can cause problems when dealing with tls and certificates where the certificate may contain the hostname but not the ip address.

This means connecting via the hostname will result in the certificate being valid, while connecting directly via the ipaddress is not.

It would be nice to be able to have

[2015-11-26 09:52] Galexrt opened #735 "Heapster runtime error: invalid memory address or nil pointer dereference"
### Description
Heapster is periodically crashing like every 6 hours.

***

### Details
* **OS**: Fedora release 22 (Twenty Two)
* **Versions**:
    * **Docker**:
[code]
* **Kubernetes**:
[code]
* **Heapster**: `gcr.io/google_containers/heapster:v0.18.2`

****

### Output
**Kubernetes addon file** `/etc/kubernetes/addons/cluster-monitoring/heapster-controller.yaml`:
[code]

**Heapster log outpu**:

[2015-11-26 09:56] jimmidyson commented on #735
Thanks for reporting.

This is a dupe of #658 fixed in master by #693

[2015-11-26 09:56] #735 closed

[2015-11-26 10:00] Galexrt commented on #735
@jimmidyson Sry for the dupe, I didn't saw those issues.

[2015-11-26 11:54] fgrzadkowski commented on #665
Reassigning to @mwielgus who is driving now changes in heapster.

[2015-11-30 14:31] jcantrill opened #743 "Heapster is using the deprecated externalID value to identify metrics"
Issue reported here and initial content provided below: https://bugzilla.redhat.com/show_bug.cgi?id=1284700

[code]

[2015-11-30 14:31] jcantrill commented on #743
/cc @jimmidyson

[2015-11-30 14:33] jcantrill commented on #743
apparently a dup of https://github.com/kubernetes/heapster/issues/731

[2015-11-30 14:33] #743 closed

[2015-11-30 17:39] ddispaltro opened #744 "heapster not reporting anything but log/events"
heapster is currently only sending `log/events` measurements to influxdb, so all of the out of the box metrics in the grafana/influxdb don't really work.

I think I narrowed it down to a heapster somehow not working correctly (vs a Influx or grafana problem)

Here's my config https://gist.github.com/ddispaltro/c29bbcaa1eb4d3a0149e

Here's the heapster api response

[code]

[2015-11-30 18:00] vishh commented on #744
Can you post heapster logs? You can try following the [debugging guide](
https://github.com/kubernetes/heapster/blob/master/docs/debugging.md) if
the logs don't contain any useful information.

Also note that there is currently a 2 minute delay for the `/model`
endpoints to start working.

On Mon, Nov 30, 2015 at 9:39 AM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-11-30 18:29] ddispaltro commented on #744
It's been up for 15 hrs.

Here's what /validate responds with:

[code]

And here's some excerpt from the logs with added verbosity

[code]

[2015-11-30 18:31] vishh commented on #744
What version of kubernetes are you running? Heapster required versions >=
1.0.6

On Mon, Nov 30, 2015 at 10:29 AM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-11-30 18:31] ddispaltro commented on #744
1.1 using the docker setup + cluster-dns

[2015-11-30 18:40] vishh commented on #744
[code]

1. The Api server is not including kube-system namespace when heapster
attempts to list namespaces.

2. The kubelet is not allowing heapster to query container metrics. I
suspect an issue with auth configuration.

On Mon, Nov 30, 2015 at 10:31 AM, Dan Di Spaltro <notifications@github.com>
wrote:

[2015-11-30 19:45] ddispaltro commented on #744
1) Not sure I understand that, when I use kubectl I have to use --all-namespaces when I get pods,rc, etc to see everything

2) It appears to be an issue with docker local install giving the kubelet ip 127 etc.

Looks like the fix needs to be on my end, thanks!

[2015-11-30 19:55] mwringe commented on #731
I already have a patch getting ready for this, the bigger issue is that heapster broke compatibility with OpenShift about a month ago (which I also have a patch almost ready to commit, I just need to update the tests).

How does one get added as someone who can take tasks?

[2015-11-30 20:00] vishh commented on #731
@mwringe: I have added you to the `kubernetes` github org. Issues and PRs can be assigned to you now.

[2015-11-30 20:03] mwringe opened #746 "Regression: OpenShift secure connections"
There was a commit about a month ago (https://github.com/kubernetes/heapster/commit/063ce38deb63d1d66629a3811ef508a49860b08d) which breaks compatibility with OpenShift.

Specifically it removes the ability to connect to OpenShift in a secure manner.

The problem is that it is using the kubernetes v1.1.0 build, where the security implementation is in the v1.2.0 builds.

We need to update our godeps

[2015-11-30 20:04] vishh commented on #746
AFAIK, v0.18.2 should not have this issue. v0.18.2 is what has been bundled
with kubernetes v1.1.

On Mon, Nov 30, 2015 at 12:03 PM, Matthew Wringe <notifications@github.com>
wrote:

[2015-11-30 20:05] vishh commented on #746
It might be helpful to setup an e2e test against all releases and master
and post the results to github. I can help setup such an e2e.

On Mon, Nov 30, 2015 at 12:04 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-11-30 20:11] mwringe commented on #746
v0.18.2 is almost 2 months ago and is out of date with our needs. We did get a bunch of the commits we required into the release-0.18.0 branch, but no release has happened yet which contains those commits. Even if a release were to happen for 0.18.0 we would still need to go in and back port a commit or two.

I almost have a PR which will bring master up to the latest v1.2.0 alpha, if that makes s

[2015-11-30 20:12] vishh commented on #746
Ok. We can cut a v0.18.3 if the PRs you care about are already merged into
`release-0.18` branch. It is just an option.

On Mon, Nov 30, 2015 at 12:11 PM, Matthew Wringe <notifications@github.com>
wrote:

[2015-11-30 20:14] ddispaltro commented on #744
Fixed by using better options in hyperkube, thanks for the help!

[2015-11-30 20:14] #744 closed

[2015-11-30 20:15] jimmidyson commented on #746
Yes it seems we should just be able to cut a release from the `release-0.18.0` branch as @vishh said unless there's something we're missing @mwringe?

[2015-11-30 20:22] mwringe commented on #746
Yeah, getting a proper release from the release-0.18.0 branch would be the best solution :)

We probably want to backport a few commits from master in there, and to get the commits from https://github.com/kubernetes/heapster/issues/731 in there

Updating the heapster master to the v1.2.0 alphas is probably also a good idea

[2015-11-30 20:23] jimmidyson commented on #746
:+1: to updating master to 1.2.0 alphas

[2015-11-30 20:25] mwringe commented on #746
The patch I have is not that complex, other than updating the godeps to the newer 1.2.0 alphas, there is just some minor changes which need to be made.

[2015-11-30 20:35] jimmidyson commented on #746
I agree with @vishh that we need e2e against multiple versions now, including master so we can track version compatibility as much as anything else.

[2015-11-30 20:48] vishh commented on #711
This issue has been fixed on HEAD. The next release of heapster should be
resilient to backend failures.

On Wed, Nov 25, 2015 at 8:38 AM, perhapszzy <notifications@github.com>
wrote:

[2015-11-30 21:16] vishh commented on #368
@jimmidyson: A workaround for now SGTM. Let's get this working. The
cadvisor stats we query directly should let us figure out the network usage
of a pod's infra container. The infra container is tagged with special
docker labels.

On Mon, Nov 23, 2015 at 12:23 PM, Tim St. Clair <notifications@github.com>
wrote:

[2015-12-01 09:03] piosz commented on #731
We do have a label https://github.com/kubernetes/heapster/blob/master/sinks/api/supported_labels.go#L45 which is usually set to node name https://github.com/kubernetes/heapster/blob/master/sources/nodes/kube.go#L71

[2015-12-01 14:22] mwringe commented on #731
The hostname is only set to the node name if the hostname is empty. Which I don't think should be the case in most situations.

There is also the host_id which corresponds to the external id of the node. If the system doesn't overwrite the external id, then it should default to the node name. The external id is also deprecated and probably not something we should continue to rely on (https://githu

[2015-12-02 17:15] phemmer opened #756 "heapster comes up before influxdb is ready"
The guide at https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md provides a command (`kubectl create -f deploy/kube-config/influxdb/`) which brings up all resources near simultaneously. This apparently can cause issues with the heapster pod when it tried to connect to influxdb:

[code]

This results in grafana throwing 500 errors when it tries to access

     https://kubernetes.exa

[2015-12-02 20:19] phemmer opened #757 "Errors logged at info level"
I was trying to track down why heapster wasn't gathering any stats, but the logs weren't proving much help, only:

    E1202 20:04:54.955140       1 model_handlers.go:620] unable to get pod list metric: the model is not populated yet

After increasing the logging level, I started seeing other errors such as:

[code]

As these are error messages, I think they should be logged at the error level, so

[2015-12-02 21:13] vishh commented on #757
SGTM. This issue shows up very frequently these days, that it warrants
raising the logging level by default.
Do you have some spare cycles to post a PR?

On Wed, Dec 2, 2015 at 12:19 PM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-12-02 21:13] phemmer opened #759 "CPU utilization metrics wildly inaccurate"
I'm new to heapster, influxdb, grafana, so I apologize if this isn't the right place, but this seems like an issue with heapster.

The problem is: I have an app running inside a pod which is consuming about 40% CPU (according to `docker stats` on the container), though it does bounce up and down a bit. However when I look at the pod in grafana, the chart is all over the place, including showing ne

[2015-12-02 21:17] phemmer commented on #757
Perhaps. I'm sure it's a trivial change. Will take a look.

[2015-12-02 21:24] vishh commented on #759
This is an issue with older versions of InfluxDB. A more recent version,
InfluxDB v0.9.x, does not have this issue. The next heapster release will
include support for v0.9.x and it should be released this week.

On Wed, Dec 2, 2015 at 1:14 PM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-12-02 21:38] vishh commented on #756
This issue is already fixed on HEAD. The next release will fix this issue.

On Wed, Dec 2, 2015 at 9:15 AM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-12-02 22:14] chrisleck commented on #711
Cool!  When is the next release of heapster happening?

[2015-12-03 06:12] piosz commented on #711
@vishh could you please link PR with fix? I can't find any.

[2015-12-03 16:45] ncdc commented on #732
@jszczepkowski @piosz @mwielgus

[2015-12-03 23:10] vishh commented on #711
https://github.com/kubernetes/heapster/blob/master/sinks/influxdb/driver.go#L230

On Wed, Dec 2, 2015 at 10:12 PM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-12-04 13:37] piosz commented on #732
When do you need it? Should this be fixed in the HEAD right now or can we do it once we will refactor Heapster (late Dec/early Jan).

[2015-12-04 14:21] ncdc commented on #732
I'm guessing this can wait for the refactor, but let's get at least 1 of @smarterclayton @liggitt @deads2k @mwringe @sdodson to weigh in.

[2015-12-04 14:51] liggitt commented on #732
Are we sure we always have DNS resolution of hostnames to nodes?

[2015-12-04 14:53] ncdc commented on #732
@liggitt if not, using the proposed flag to indicate using the IP address would suffice, wouldn't it?

[2015-12-04 15:15] mwringe commented on #732
There are a lot of people running into the problem where they cannot connect to the kubelet endpoints due to this. OpenShift should soon have the ability to update the certificates when performing an update, so it may be less of an issue when new releases.

[2015-12-04 16:42] jimmidyson commented on #368
So this is a bit more involved than I thought it would be. AFAIK there is no way to query the infra container in a pod with the current kubelet API & as the network metrics are associated only to the infra container that means there is no way to get the network metrics.

I guess this will have to wait for the new metrics APIs.

@vishh Does that sound right to you or can you think of a simple way t

[2015-12-04 16:49] sdodson commented on #732
I defer to @mwringe on priority here. But yeah basically folks who have upgraded from Origin 1.0 / OSE 3.0 to Origin 1.1 / OSE 3.1 will have trouble with this.

[2015-12-04 18:48] vishh commented on #368
SO we pull all the containers from cadvisor already. We filter out the
system containers using special labels. We can similarly filter out pod
containers.

Infact, we can get avoid accessing kubelet APIs completely, if we had a map
between kube pod container name to docker container ID.

Look here:
https://github.com/kubernetes/heapster/blob/master/sources/datasource/kubelet.go#L180

On Fri, Dec 4

[2015-12-07 15:46] andrejvanderzee opened #768 "Persist Grafana and InfluxDB"
Hi,

I am new to the Heapster, InfluxDB and Grafana combi. I installed it on a dedicated cluster node together in one POD. I have noticed that when the POD restarts, for example when the node reboots, all data is gone.

I would like to make the data in Grafana (mainly my crafted graphs) and also the InfluxDB persistent. What would be the recommended way to achieve this?

Many thanks

[2015-12-07 19:30] andrejvanderzee commented on #768
I have tried with volumes hostDir like this but it does not create anything in the host's path:

apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    name: influxGrafana
  name: influxdb-grafana
  namespace: kube-system
spec:
  replicas: 1
  selector:
    name: influxGrafana
  template:
    metadata:
      labels:
        name: influxGrafana
    spec:
      nodeSelector:
        role

[2015-12-08 00:15] vishh commented on #768
cc @piosz

On Mon, Dec 7, 2015 at 11:30 AM, andrejvanderzee <notifications@github.com>
wrote:

[2015-12-08 08:25] piosz commented on #768
cc @mwielgus

[2015-12-08 16:38] mwringe opened #771 "Hawkular Sink: Support trusting specific certificate"
Currently we are running into an issue where Heapster connects to Hawkular Metrics via its service hostname (eg 'hawkular-metrics') but a user provided certificate may not contain 'hawkular-metrics' as part of the certificate's san.

In this situation the connection will be refused.

We already pass the certificate used by Hawkular Metrics to the Hawkular Sink, and we should just trust this certif

[2015-12-08 16:41] jimmidyson commented on #771
Adding that is an option sounds ok, but should not be the default: if users have gone to the trouble of configuring TLS then we should adhere to proper TLS handshake/certificate validation.

[2015-12-08 19:43] mwringe commented on #771
It wont be by default. The user would have to explicitly configure the sink to trust very specific certificates.

Looking at the current options, we don't actually pass the server certificate but the CA certificate. As part of this we will need to add a new option to specify the server certificate to trust.

[2015-12-09 18:46] rvrignaud opened #775 "Can't send data to influxdb using master"
I'm running GKE cluster (1.1.2). I'm trying to send heapster data to influxdb (0.9.4). I tried to build master branch but I'm having some errors.

[code]

Heapster is launched with `/heapster --source=kubernetes:"" --sink=influxdb:http://influxdb:8086 --sink_frequency=30s`

Am I doing something wrong ?

[2015-12-09 21:35] vishh commented on #775
That error is returned by InfluxDB. We have tested HEAD against InfluxDB v0.9.4 and it used to work in the past.
We are in the process of releasing a new version of heapster with InfluxDB v0.9 support.
cc @mwielgus: We should test v0.19.0 with the InfluxDB v0.9.4 before officially releasing it.

[2015-12-10 11:25] rvrignaud commented on #775
Just for the record, I've been running Heapster (commit d500aa975889f6ba2c2093b2bd518e17266c42fd) successfully for a while. Since my cluster got upgraded to 1.1.2 I have this kind of error with the d500aa version:
[code]

This is why I tried to upgrade heapster version to master without luck (see first comment).
I can send privately full logs if needed.

[2015-12-10 18:38] vishh commented on #775
Heapster from HEAD supports InfluxDB v0.9 only. Are you running InfluxDB
v0.8?

On Thu, Dec 10, 2015 at 3:25 AM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-12-10 18:45] rvrignaud commented on #775
As I said I'm running Influxdb 0.9.4.1. Heapster d500aa975889f6ba2c2093b2bd518e17266c42fd has successfully sent data for a while when I was running GKE 1.0.7.

[2015-12-10 18:47] vishh commented on #775
Thanks for clarifying. I'm trying the new release v0.19.0 now.

On Thu, Dec 10, 2015 at 10:45 AM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-12-11 08:57] #757 closed

[2015-12-11 14:50] mwielgus commented on #756
@vishh It is still not fixed. Moreover there should be retries in the sink.

[code]

[2015-12-11 14:55] mwielgus commented on #756
cc: @piosz

[2015-12-11 16:37] mwielgus commented on #756
I'm fixing a bunch of issues in influxdb code. The fixing PR should come soon.

[2015-12-12 15:32] rvrignaud commented on #775
Hi @vishh. Did you reproduce ?

[2015-12-14 02:09] huangyuqi commented on #713
@SidneyAn ,

If you want to get the response of something  about kubernetes cluster, you need  config the `source` to `kubernetes`,like this: ` --source=kubernetes:http://9.91.18.135:8080` or ` --source=kubernetes:http://kubernetes`(If you run the heapster in a `POD`)

In this mode, you can just get the metrics from the cadvisor, and not perceive the resource about `kubernetes`, such as `namespace

[2015-12-14 12:58] FlavioF opened #787 "No data received if one or more nodes not ready in kubernetes"
Hi,

I am using Heapster with Kubernetes. My cluster has a size of 4 nodes.
When one of the nodes stops (and changed state to not ready), the Heapster stops to send data to InfluxDB.

In the example, I stopped the node 3 of my cluster.

Heapster is logging this message:

[code]

[code]

Data presented in Grafana:
<a href='http://postimg.org/image/u1plc0ejj/' target='_blank'><img src='http://s11.po

[2015-12-15 14:53] mwielgus commented on #756
Fixed with #780.
The fix is available in release v0.19.1.

[2015-12-15 14:53] #756 closed

[2015-12-15 14:54] mwielgus commented on #711
Fixed with #780.
The fix is available in release v0.19.1.

[2015-12-15 14:54] #711 closed

[2015-12-15 18:03] vishh commented on #787
That's not expected. Heapster will continue its operations even if it encounters any errors.
cc @mwielgus

[2015-12-15 18:30] mwielgus commented on #787
1. Can you tell me the exact Heapster version (last git commit)?
2. Can you share some more details about your deployment? Is it Amazon, GCE or some bare-metal cluster.
3. Did Heapster stop writing the metrics completely? (No metrics for other pods as well)
4. Did the node come back to life? If yes, did Heapster recover?

[2015-12-16 06:57] huangyuqi opened #802 "some issues come with 'time synchronization'"
Sometimes, in our production environment, the timestamp of the cluster nodes are nonsynchronous for some reasons(such as NTP server do not work i.e).
For this reason, heapster can not get the metrics in two kinds of scene, as follows:

+ timestamp of heapster is **sooner** than other nodes

  if **TimeSpan > cache_duration**,  all the metrics data will be set to `tooOld`,and be discarded.

[code]

[2015-12-16 08:25] rvrignaud commented on #775
I still have same problem (bad timestamp error) with heapster 0.19.1

[2015-12-16 11:30] FlavioF commented on #787
1. I was using the canary docker image in docker hub, but now I changed the version to 0.19.0 and it is still happening
2. GCE using my own kubernetes cluster (not GKE)
3. Yes
4. Yes

Using 0.19.0 this log message doesn't appear but heapster didn't send any data when I shut down one of the nodes
[code]

[2015-12-17 00:02] vishh opened #804 "Populate labels for events in InfluxDB"
As of now it is not possible to overlay events specific to a container or pod in Grafana.
Adding the default tags for events as well will help combine events in grafana.

[2015-12-17 00:42] tomdee opened #805 "The kubernetes + influxDB guide should mention that DNS is required"
https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

[2015-12-17 01:52] vishh commented on #775
I have been running heapster v0.19.0 with InfluxDB v0.9.6 successfully for
the last few days.
I'm using the configs from HEAD.

On Wed, Dec 16, 2015 at 12:25 AM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-12-17 01:54] vishh commented on #802
Yeah. Perhaps we can enhance the `debugging.md` doc with this information?

On Tue, Dec 15, 2015 at 10:57 PM, yuqi huang <notifications@github.com>
wrote:

[2015-12-17 02:26] huangyuqi commented on #802
Yes, I agree with you @vishh , enhancing the docs is a practicable way, i will add this tips.
But I think it's not a forcing method ^_^.
Maybe, In my opinion, let the heapster to check in the init process is more better, if the timestamp is nonsynchronous, it will return a warning or an error to users.
BTW, all these come from usability of heapster, it's assistant .So what's your opinion about add

[2015-12-17 03:04] vishh opened #807 "Push user labels for pods and containers as separate tags in InfluxDB"
As of now we serialize all the user defined labels into a single tag in InfluxDB.
This was done to meet the number of lables limitation in GCM.
We should make this schema storage dependent.

[2015-12-17 03:16] vishh commented on #802
Sure post a PR. We can discuss the specifics over the PR.

On Wed, Dec 16, 2015 at 6:27 PM, yuqi huang <notifications@github.com>
wrote:

[2015-12-17 07:16] rvrignaud commented on #775
Is there anything I can provide to help you debug ?

[2015-12-17 18:28] vishh commented on #775
Setting heapster logging level to `--vmodule=*=4` will be very helpful.

On Wed, Dec 16, 2015 at 11:16 PM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-12-18 11:10] rvrignaud commented on #775
@vishh I sent you the log file with vmodule=*=4 privately as it's very complicated to remove sensible parts on this huge file.

[2015-12-18 18:22] #805 closed

[2015-12-19 11:21] antoineco opened #811 "Missing containers in "Containers" dashboard when pod definition includes a 'lifecycle' block"
I switched my Heapster + InfluxDB setup from what was deployed by Kubernetes 1.1 to what I found [here @ master](https://github.com/kubernetes/heapster/tree/adaf88389818e2632e6a50bb945b96a3020d3d5d/deploy/kube-config/influxdb).

[code]

The _Containers_ dashboard, which I also loaded from the [current master](https://github.com/kubernetes/heapster/tree/adaf88389818e2632e6a50bb945b96a3020d3d5d/graf

[2015-12-19 11:33] antoineco commented on #811
Extra info: the query used on InfluxDB 0.8 (Kubernetes 1.1)

[code]

Result: -> {rails,logrotate,logforwarder}

[2015-12-21 18:43] vishh commented on #811
cc @thucatebay

[2015-12-22 09:12] huangyuqi commented on #787
Hi, @FlavioF

+ Can you request the Heapster's RESTApi to get the metrics? If you can get any data, maybe there is something wrong about the influxDB sink? You can change the log level to get more details.You can try this RESTapi: `http://***:8082/api/v1/metrics`

+ AFAIK, Heapster has aging mechanism; So if you stopped a node, it will exist in `node list` of cache ,until heapster `runGc` to delet

[2015-12-22 18:44] antoineco commented on #759
On a stack running `heapster:v0.19.1`, `influxdb:v0.6` (v0.9.6) and `grafana:v2.5.0`, CPU metrics are even simply absent:

<img src="https://cloud.githubusercontent.com/assets/3299086/11962527/c5286596-a8e0-11e5-9204-b0879107ecee.png" height="200">

@vicki-c: I'm using the dashboards @master ([here](https://github.com/kubernetes/heapster/tree/aa5a129d2852ba140a8c68c9aa58c1bfe863d8cd/grafana/dashbo

[2015-12-22 20:25] antoineco commented on #811
Found it.

Heapster is struggling to write data for this one group of pods. My heapster logs are full of:

`driver.go:207] failed to write stats to influxDB - {"error":"partial write:\nunable to parse 'uptime_ms_cumulative,container_base_image=example.com/image:tag,container_name=rails,...\"containerID\":\"docker://08b6bbb923aef450d50fee92038132601f34425a1b475311b3a4d47e40a82252\"}}\\,\"ready\":tr

[2015-12-22 20:37] antoineco commented on #811
Looks very related to #775

[2015-12-22 20:59] antoineco opened #817 "[Grafana] Container metrics aggregated across namespaces and pods"
(Containers dashboard)
Container metrics are aggregated across namespaces and pods even when a namespace and/or pod is selected via Grafana's drop-down menus.

Let's say I have a container `web` running in both namespaces `ns1` and `ns2`, in 2 different pods `pod1` and `pod2`. The metrics I see for the container `web` in pod `pod1` running in namespace `ns1` is the aggregation of both `web` contai

[2015-12-22 21:57] #759 closed

[2015-12-22 22:20] antoineco commented on #811
I suspect the lifecycle hook to be the culprit, the following block doesn't exist in a similar pod, and the metrics are exported properly.

[code]

[2015-12-23 01:54] Fei-Guang opened #820 "Run Heapster on a Kubernetes cluster with InfluxDB: failed to get stats for container "hello" in pod "default"/"hello-world""
$source ${KUBE_ROOT}/cluster/ubuntu/config-default.sh

$kubectl create -f deploy/kube-config/influxdb/
service "monitoring-grafana" created
replicationcontroller "heapster" created
service "heapster" created
replicationcontroller "influxdb-grafana" created
service "monitoring-influxdb" created

$ kubectl logs heapster-ll34y  --namespace=kube-system

I1223 01:40:10.666821       1 heapster.go:61] /h

[2015-12-23 06:12] huangyuqi commented on #820
This log shows that, heapster can not get the metrics from kubelet (Cadvisor). So, In my opinion, there may be two ways to check first,

+ You can request the URL `http://10.0.0.12:10255/stats/default/hello-world/e8c46f4f-a54b-11e5-85d5-fa163ea22a7a/hello` manually, with command `curl` or `wget` to check stats of kubelet. This is the RESTapi of Cadvisor,.

+ Run `docker ps` to check the container

[2015-12-23 08:13] antoineco commented on #775
@rvrignaud I have a similar issue with a group of pods, can you check the :point_up: referenced issue and see if we have a pattern in common? If suspect it has to do with a `lifecycle:` block but I could be completely wrong.

[2015-12-23 09:34] mwielgus commented on #817
LGTM

[2015-12-23 09:37] #817 closed

[2015-12-23 09:41] antoineco commented on #759
This is not yet sufficient, the patterns look right but the CPU usage calculation doesn't.

--

Comparison of CPU metrics from New Relic, Kubedash and Grafana for one single node over 1 hour:

<img src="https://cloud.githubusercontent.com/assets/3299086/11973798/6a607d1e-a95e-11e5-868c-c6d5ac7d33ed.png" width="500px">
<img src="https://cloud.githubusercontent.com/assets/3299086/11973796/6a5e9f76-a

[2015-12-24 04:32] Fei-Guang commented on #820
ubuntu@k8s:~$ sudo netstat -ntp |grep 10255
sudo: unable to resolve host k8s
tcp6       0      0 10.0.0.12:10255         172.16.70.5:60664       ESTABLISHED 30150/kubelet
tcp6       0      0 10.0.0.12:10255         172.16.70.5:60651       ESTABLISHED 30150/kubelet

[2015-12-24 06:28] huangyuqi commented on #820
Can you get the container after running `docker ps` ?

[2015-12-24 10:39] Fei-Guang commented on #820
ubuntu@k8s:~$ docker ps --format={{.Image}}
kubernetes/heapster:canary
kubernetes/heapster_grafana:v2.5.0
kubernetes/heapster_influxdb:v0.6
gcr.io/google_containers/pause:0.8.0
gcr.io/google_containers/pause:0.8.0
nginx
gcr.io/google_containers/pause:0.8.0
gcr.io/google_samples/gb-frontend:v3
gcr.io/google_samples/gb-redisslave:v1
gcr.io/google_containers/pause:0.8.0
gcr.io/google_containers/pause

[2015-12-24 10:51] huangyuqi commented on #820
Because you got the error log `failed to get stats from kubelet url: http://10.0.0.12:10255/stats/default/hello-world/e8c46f4f-a54b-11e5-85d5-fa163ea22a7a/hello - request failed - "404 Not Found", response: "no matching container\n"`
So ,i want to know the container `hello` exists or not in your kubernetes nodes. Would you check again?
AFAIK, if containers are deleted by some reason(delete by RC,

[2015-12-25 08:43] SidneyAn commented on #713
@huangyuqi  get it. Thanks a lot!

[2015-12-26 02:47] vishh commented on #759
Either works for me. Thanks for investigating!

On Wed, Dec 23, 2015 at 1:41 AM, Antoine Cotten <notifications@github.com>
wrote:

[2015-12-26 03:40] antoineco commented on #759
I found the issue and pushed the changes as part of #824

[2015-12-28 10:13] mwielgus opened #826 "Add status information to Heapster"
**In heapster-scalability**

Use prometheus client library (https://github.com/prometheus/client_golang) to instrument the code so that the following information is exposed on a http endpoint:

* time of the last metrics scrape
* histogram of Kubelet/source response times
* number of scraped nodes and containers
* time spent in scrape (single run, not cumulative)
* time spent in processors (single

[2015-12-28 10:19] mwielgus opened #827 "Add tests for influxdb"
**In heapster-scalability**

Please also cover error situations. Fix bugs if needed.

cc: @piosz @huangyuqi

[2015-12-28 10:23] mwielgus opened #828 "Add support for Custom Metrics"
**In heapster-scalability**

Read Custom Metrics from cAdvisor/Kubelet response (https://github.com/google/cadvisor/blob/master/info/v1/container.go#L463).

cc: @piosz @huangyuqi

[2015-12-28 12:01] huangyuqi commented on #826
thanks, @mwielgus , I will work on this interesting issues.

[2015-12-28 19:08] vishh commented on #820
The pod and/or container is mostly not running on the kubelet.

On Tue, Dec 22, 2015 at 5:54 PM, Wu Fei <notifications@github.com> wrote:

[2015-12-29 00:28] antoineco commented on #720
I'm working on it as part of #824, however Network metrics are not yet available for containers (see #368)

[2015-12-29 11:52] simon3z commented on #368
@vishh @jimmidyson right now stats are per-container, any idea on how to represent these per-pod network metrics? I think you mentioned the problem here above but I didn't understand the conclusion.

You mentioned the `pod` infra container, are you thinking to expose/collect them (with their network metrics) and then leave to external applications to do the grouping? (It should properly reference

[2015-12-29 11:55] jtblin opened #831 "`TLS handshake error` on heapster and `malformed HTTP response` on kubedash"
I've setup heapster in a kubernetes cluster following the docs here. I have influxdb and grafana working fine but there are continuous errors in heapster logs, errors in kubedash when it tries to talk to heapster and no data making it through kubedash or grafana.

heapster logs:
[code]

I have no idea what ip `10.244.92.13` is. It doesn't look like any of the master / nodes neither skydns cidr. Th

[2015-12-29 21:18] jimmidyson commented on #368
I am erring on waiting until the new metrics APIs are finalised as this will be pod based rather than container based. However if this is a requirement in the near future then we should probably get this added to existing APIs. This will be a bit trickier (& dirtier) to do but should be doable.

[2015-12-29 21:37] simon3z commented on #368
@jimmidyson with regard to openshift (openshift-metrics) when is expected the new API to be finalized? Is it for 3.2? We expected to have network metrics in 3.1.z. cc @smarterclayton to keep me honest on the expectancy.

[2015-12-30 10:58] warran opened #835 "ps"

[2015-12-30 10:58] #835 closed

[2015-12-31 22:59] moomou opened #843 "Heapster falls behind and cadvisor returns no stats"
This might be related to https://github.com/kubernetes/heapster/issues/684 but just want to summarize the issue I encountered in case it helps others.

I am running heapster in production with 19 k8s nodes where each runs about 20-30 pods. I noticed that heapster would start fine and write data to influxdb for the first 5 minutes or so but it it inexplicably stop writing data.

After a lot of digg

[2016-01-04 01:40] smarterclayton commented on #368
We would certainly like to have network metrics, since it can be a
significant bit of info for administrators.  How dirty and ugly do we think
it will be?

On Tue, Dec 29, 2015 at 4:37 PM, Federico Simoncelli <
notifications@github.com> wrote:

[2016-01-04 08:24] rvrignaud commented on #775
@antoineco Thank you very much. Removing all lifecycle definitions, fixed indeed the heapster problem.
@vish did you get anything from the logs I sent you ? Do you reproduce when adding lifecycle fields ?

[2016-01-04 12:47] huangyuqi commented on #843
please refer https://github.com/kubernetes/heapster/issues/802

[2016-01-04 13:48] mwielgus commented on #828
Fixed with #846.

[2016-01-04 13:48] #828 closed

[2016-01-04 14:02] jimmidyson commented on #368
The problem is that the infrastructure container isn't included in the pod status retrievable from the kube API (the API server is unaware of the infrastructure container from what I can see). The way that Heapster currently works is to get container info for each pod from API server then request stats for each container from the appropriate kubelet (of course this is really inefficient & addresse

[2016-01-04 18:14] jimmidyson commented on #368
So looking again it seems the infra container name is hard coded to `POD` (https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/pkg/kubelet/leaky/leaky.go#L24 , https://github.com/kubernetes/kubernetes/blob/810181fb7b4e969d1c1aa84f32377ef1b65f8c65/pkg/kubelet/dockertools/docker.go#L41). Of course this is terrible & fragile but would simplify finding infra containe

[2016-01-04 18:24] timstclair commented on #368
The kubelet-metrics API was finally merged
<https://github.com/kubernetes/kubernetes/pull/18544>, and includes what
you're looking for (pod level network stats). There is a little more work
to do on the metrics (most notably filesystem & volume metrics), but I can
start implementing what we have. This shouldn't be too much work, nor
should it see much push back (compared with the API), so I'm opti

[2016-01-04 19:20] vishh commented on #831
cc @jimmidyson

[2016-01-04 20:55] jimmidyson commented on #831
The `--tls_*` flags are used to configure Heapster serving TLS, not connecting to a secured Kubernetes endpoint - with your current configuration you would need to `curl https://heapster/...`

To connect using TLS please take a look at https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#kubernetes:

[2016-01-05 13:28] FlavioF commented on #787
Hi, @huangyuqi

I have tried the Heapster's RESTApi: **http://.../api/v1/model/namespaces/default/pods**. In the same scenario described above.

Rest results with all nodes alive:
[code]

Rest results with one node down are always:
[code]
I waited like 1 hour and there is still any data, so I believe it is not related to cache.
Is it possible that Heapster isn't removing the NotReady nodes from th

[2016-01-05 15:21] jimmidyson commented on #831
I'm going to close this now as I've just tested & it works for me. @jtblin - feel free to reopen if you still have problems or queries.

[2016-01-05 15:21] #831 closed

[2016-01-05 19:34] cboggs opened #860 "Heapster not authorized to query kubernetes stats endpoint in an OpenShift cluster - 403 Forbidden using system:anonymous"
I'm trying to run a standalone Heapster pod in my OpenShift cluster that can query kubernetes and ship those stats out to Riemann, but `openshift/origin-metrics-heapster:latest` uses Heapster 0.18.0 which does not include the Riemann sink. I see that there is indeed a Riemann sink in Heapster 0.19.0, but plugging that version into the heapster image (just modifying the dockerfile used for the open

[2016-01-06 04:06] huangyuqi commented on #787
Yes, @FlavioF , I have two nodes of kubernetes cluster,

[code]
when I stop one node `8.8.8.239` , i got the same issue:
`E0106 23:57:50.001755   26308 kube_nodes.go:59] Failed to get container stats from Kubelet on node "8.8.8.239"`

i have debugged this, i got this:
In heapster node function `List` and `getNodeInfoAndHostname`, heapster doesn't check the node state.
https://github.com/kubernetes

[2016-01-06 08:01] huangyuqi commented on #787
Hi, @FlavioF
I have push a commit to fix this, please check https://github.com/kubernetes/heapster/pull/862, and debug in your enviroment. Thanks

[2016-01-06 14:09] vishh commented on #860
cc @jimmidyson

[2016-01-06 14:15] vishh opened #863 "Expose heapster internal metrics to sinks"
The internal metrics that were added recently (#874) should be exposed to the sinks as well, to facilitate monitoring heapster as well.

cc @huangyuqi

[2016-01-06 14:31] jimmidyson commented on #860
cc @mwringe :)

[2016-01-06 14:32] jimmidyson commented on #863
There is no #874?

[2016-01-06 14:37] jimmidyson commented on #863
Ah you mean #847. So the metrics added in #847 & enhanced in #861 could be useful to external sinks as custom metrics.

[2016-01-06 14:46] mwringe commented on #860
It could be related to https://github.com/kubernetes/heapster/pull/749

Heapster broke compatibility with OpenShift when it refactored some of its dependencies and for some reason the PR to get it back running have not yet been accepted.

[2016-01-06 16:23] cboggs commented on #860
Excellent! Thanks so much for the update. Certainly seems related to the PR mentioned, happy to wait until that's merged and released. In the meantime I can get by with using cadvisor as my source (it's hack week, so a less-than-ideal fix is totally fine for a while).

I'll monitor that PR and update here if my issue goes away when it's released.

Thanks again!

[2016-01-07 02:26] huangyuqi commented on #863
Yes, I agree. Do we need add the runtime profiling data to sinks at the same time?

[2016-01-07 06:58] jimmidyson commented on #863
#861 instrumented the sink export data so you can track how long exploring to each individual sink took.

[2016-01-07 07:11] huangyuqi commented on #863
thanks so much, @jimmidyson ,  i will study this and take the exporting today.

[2016-01-07 11:12] mwielgus commented on #863
Well not really. I don't want to create another path for metrics to go within Heapster. So this should be rather handled by defining the Prometheus internal metrics as Custom Metrics and use the upcoming mechanism to export custom metrics from Kubelet. The same applies to storing internal metrics of other Kubernetes components, like scheduler.

[2016-01-07 11:18] jimmidyson commented on #863
@mwielgus :+1:

[2016-01-08 17:07] jimmidyson commented on #771
Passing a server certificate seems odd. If you have a CA then you should give the CA certificate. If you are using self-signed server certificates then that also acts as the CA for the server certificate (their one & the same thing) so we don't need to add an option for specifying a server certificate.

Even so, the only way to trust a badly issued certificate (e.g. one that has a hostname that is

[2016-01-08 21:46] ivanthelad commented on #860
@cboggs I was able to get rieman sink working on OSE 3.1 by rebuilding the origin heapster-base  and heapster images based on the following commit id. https://github.com/kubernetes/heapster/commit/c7910881b1a5acde8fe7b1e8b93e6d1b828f6d0c
See, https://github.com/ivanthelad/origin-metrics/blob/master/heapster-base/Dockerfile#L30

and then building the 'heapster' image  https://github.com/ivanthelad/

[2016-01-09 03:22] cboggs commented on #860
@ivanthelad, did you get it to work with Kubernetes as the source?

The Riemann sink has actually been working quite nicely, it's just been the source side that I'm struggling with. :-)

[2016-01-11 10:39] piosz opened #871 "panic in integration tests"
godep go test -v --timeout=30m ./integration/... --vmodule=*=2  --namespace=heapster-e2e-tests --kube_versions="1.0.6"
=== RUN   TestHeapster
I0111 10:26:56.884810   25208 framework.go:257] Disabled cluster monitoring
--- FAIL: TestHeapster (0.00s)
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
	panic: runtime error: invalid memory address or nil pointer derefe

[2016-01-12 18:47] mwringe commented on #860
@cboggs do you mean what to use for the `--source` option?

The standalone Heapster configuration file we uses this https://github.com/openshift/origin-metrics/blob/master/deployer/templates/heapster-standalone.yaml#L71

See also https://github.com/openshift/origin-metrics#deploying-only-heapster

[2016-01-12 21:11] #368 closed

[2016-01-13 01:08] jtblin commented on #831
Thanks @jimmidyson for the detailed info. I'm on leave so cannot verify but that looks like it should solve my problems.

[2016-01-13 03:49] Toplife opened #873 "heapster start step"
Hi all,
How to start heapster in k8s cluster and access UI link?
Thanks.

[2016-01-13 10:12] Pendoragon commented on #566
Any updates on this?

[2016-01-13 14:12] piosz opened #876 "data race in k8s.io/heapster/sinks/hawkular unit test"
[code]

[2016-01-13 14:14] piosz commented on #876
cc @burmanm @jimmidyson

[2016-01-13 14:22] piosz commented on #876
The problem takes place in release-0.18 branch only

[2016-01-13 20:33] piosz opened #880 "timeout in integration test"
When running in default suite:
[code]

[2016-01-14 06:48] huangyuqi commented on #880
Aha, I have got the same issue ,and this is random occurrence

[2016-01-14 06:50] huangyuqi commented on #873
Maybe, you can get more details in this doc:
https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

[2016-01-14 06:52] huangyuqi commented on #827
fixed #872

[2016-01-14 08:33] piosz opened #882 "Integration tests are flaky"
[code]

[2016-01-14 13:48] huangyuqi opened #884 "For scalability branch: strange ContainerInfo triggers panic"
In my experimental environment, I changed the clock between some nodes(includes heapster) to nonsynchronous , i got a panic.

Then i take a debug, found that:
when call function `getAllContainers`:
https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/sources/kubelet/kubelet_client.go#L118
[code]

the respone of container info does not contains any `stat`, like this:

[code]

So

[2016-01-14 18:45] moserke opened #885 "Container Volume Usage"
Been trying to determine which metric contains volume usage metrics for a specific container.  The situation is when using kubernetes volumes that are EBS backed and the volume is not mounted in the system OS, only to the container itself.  Which metric captures this storage usage?

Does this metric exist?

[2016-01-14 21:37] moserke commented on #566
Seems like the retention policy name, like db name, should be configurable through the sink.  At sink startup should be able to pass in a retention policy.  Then users can create retention policies in influx themselves for their own cases.

Alternatively could expose the duration value and let the sink build the policy on the fly configured to that duration.  This to me seems more flexible.  The d

[2016-01-14 23:13] vishh commented on #566
A configurable value SGTM.

On Thu, Jan 14, 2016 at 1:37 PM, Kevin Moser <notifications@github.com>
wrote:

[2016-01-15 07:40] Toplife commented on #873
yes,
I have flow this document to setup.
but look like can not working...
May be need I print some log to here.

[2016-01-16 07:57] mwielgus opened #892 "Integration e2e test doesn't start"

[2016-01-18 03:50] dehongw opened #893 "Run Heapster on a Kubernetes cluster with InfluxDB: Only 2-3 records of a metric for a container"
We setup an environment for K8S and use Heapster monitoring the cluster. We wan to use API to retrieve performance metrics. It's no problem to get values for a metric at node level. For example, with URL /api/v1/model/nodes/{nodeip}/metrics/cpu-usage/, we got about 60 records,it's last one hour data. But when try to get value for a metrics at container level,It always return 2 records only.

For e

[2016-01-18 14:15] piosz commented on #871
The issue is fixed.

[2016-01-18 14:15] #871 closed

[2016-01-18 14:17] piosz commented on #876
fixed by #877

[2016-01-18 14:17] #876 closed

[2016-01-19 13:42] shilpapadgaonkar opened #894 "Endpoint access issue"
Hello,
I am not able to access the grafana endpoint http://public-master-ip:8080/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/.

I have checked that the pods are running fine
# oc get pods --all-namespaces=true

kube-system   monitoring-influxdb-grafana-v2-scrfs                         2/2       Running   0          4d
# oc describe pod monitoring-influxdb-grafana-v2-scrfs  --na

[2016-01-21 12:23] tyler274 commented on #710
would appreciate this as well

[2016-01-21 15:11] bertrand-quenin opened #898 "Heapster doesn't retry connecting to influxdb after a failure"
Hi,

It seems that heapster is not retrying to reconnect to influxdb after it failed once.

I'm using the following container images:
[code]

Basically, I'm starting all the pods at once on my environment. Sometimes, the DNS takes time to start, or influxdb starts after heapster, etc. It's basically a "start storm".

When heapster starts first (I assume before the DNS addon), I get this logs:
[cod

[2016-01-21 18:23] vishh commented on #710
Can you try with the latest versions of all the components?
Heapster is v0.19.0, InfluxDB v0.6 and Grafana v2.6.0

On Thu, Jan 21, 2016 at 4:23 AM, tyler274 <notifications@github.com> wrote:

[2016-01-21 22:49] bh016088 commented on #873
One thing that is not mentioned at all in the "getting started guide" is configuring sources:
https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#kubernetes

The documentation of this thing needs some serious help.

[2016-01-21 22:57] jimmidyson commented on #873
@bh016088 Thanks for offering! PRs always appreciated.

[2016-01-25 15:19] mwringe opened #899 "Fix modified Godep dependencies"
Heapster currently has modified files in its Godeps/_workspace directory.

This means its a hassle to use `godeps restore` to populate the checkout and build without using godeps.

All the changes are to modify the path of the imports. For example, see these two files:

https://github.com/kubernetes/heapster/blob/master/Godeps/_workspace/src/github.com/coreos/etcd/client/auth_role.go#L23
https://g

[2016-01-26 15:34] mwringe opened #905 "Intermittent Unit Test failures"
The Hawkular unit tests are sometimes failing.

See the attached error log from the unit tests (from Heapster master)
[unit-test-failure.txt](https://github.com/kubernetes/heapster/files/105145/unit-test-failure.txt)

[2016-01-26 15:34] mwringe commented on #905
@burmanm Can you take a look?

[2016-01-26 20:00] mwringe commented on #905
Looks to be this issue: https://github.com/golang/go/issues/13032

Which should be fixed in the next Go release. Cannot reproduce with Go 1.6 Beta 2

[2016-01-26 20:00] #905 closed

[2016-01-26 21:28] cboggs commented on #860
@mwringe, sorry to have stalled out on this one - planning and meetings, meetings and planning, blah.

That said, I've run back into this particular issue, even with the sha that you provided in PR #749. At one point I'd managed to make it work, but we've since blown away our test OpenShift environment and I can't seem to get the same version to work with auth'd kubernetes endpoints anymore (same

[2016-01-26 21:50] mwringe commented on #860
Do you know what problems you are running into with performing your builds? Godeps can be interesting to deal with.

I just tried out these steps and it built:

export GOPATH=/tmp/heapster
mkdir -p $GOPATH/src/k8s.io/
cd $GOPATH/src/k8s.io/
git clone https://github.com/mwringe/heapster
cd heapster
git checkout update-1.2.0
make

At this point I don't know what to do about trying to get https://git

[2016-01-26 21:56] cboggs commented on #860
Interesting. I'll try those steps, though they look awfully familiar - then again, it's been more than a few sleeps since I tried. I'll give it another go.

I also recall trying to build from the head of `heapster-scalability`, but no love there either.

Thanks for the input! Will loop back around after I give it a shot tonight or tomorrow.

[2016-01-26 22:02] mwringe commented on #860
If you run into issues building, please let us know what the command used and what the error message is. We might be able to help debug the build problem.

I am almost tempted to start carrying the patch in the OpenShift metric images for Heapster, just so we can get something up and running again on OpenShift which is a bit newer. But I would really prefer to get the patch properly merged.

[2016-01-27 17:00] cboggs commented on #860
@mwringe, it worked! Had to add steps to install godep in my container, but it worked this time. I haven't a clue what I did wrong before, but that's fine, I have a reproducible build now, thanks!

I think it's working with Kubernetes appropriately at this point, but I'm getting flooded with 404's for containers that never managed to spin up inside the pending pods that kubernetes sees. Need to fi

[2016-01-27 18:27] mwringe opened #906 "installed godep not used by default for the build"
Currently as part of the Makefile we install godeps (https://github.com/kubernetes/heapster/blob/master/Makefile#L11), but this is not automatically added to the path, so its not used without manual configuration.

If we are installing godeps as part of the build, we should be using this version for the build

[2016-01-27 18:31] mwringe commented on #860
Ah, you need to add $GOPATH/bin to $PATH for godeps to automatically be available. I just created an issue for this (https://github.com/kubernetes/heapster/issues/906). Since its being installed as part of the build, we should configure it to be actually used by the build.

From the Heapster logs or from somewhere else? How verbose the Heapster logs are can be configured, and when its configured t

[2016-01-27 19:04] vishh commented on #906
Shouldn't this be handled as part of golang setup? If required, we can
reference all binaries relative to $GOPATH.

On Wed, Jan 27, 2016 at 10:27 AM Matthew Wringe <notifications@github.com>
wrote:

[2016-01-27 19:12] mwringe commented on #906
Its not part of the go install as far as I can tell: https://golang.org/doc/install
And its not something that the system installed go does on RHEL or Fedora systems either.

[2016-01-27 19:46] cboggs commented on #860
Yea the godep path issue was an easy fix, I had just forgotten it at first. No biggie.

The 404's are in the heapster log. I've tried various flags to quiet it down, but no dice yet. Eventually just piped everything to /dev/null in the wrapper script for now, though that's clearly not a viable solution long-term.

I believe the flags I've tried are `-stderrthreshold=10` and `-alsologtostderr=false

[2016-01-27 22:03] mwringe commented on #860
Ah, ok, I am seeing those as well. It looks like its throwing an error when its trying to fetch metrics for containers which are no longer running

[2016-01-27 22:05] cboggs commented on #860
Yea it's really not a big problem in itself, just ends up filling up my docker volume on whatever host happens to be hosting heapster at the time. Would be down for a better fix than piping to /dev/null, that's for sure. :-)

[2016-01-28 00:07] timstclair opened #907 "Switch kubelet metrics source to /stats/summary API"
Heapster should try to use the new `/stats/summary` API provided by the kubelet when it's available. The new API is preferable because:
- It hides implementation details (e.g. does Container-Pod mapping)
- It sends less data over the wire
- It will include volume & FS information not previously available

The switch must be backwards compatible to support older kubelets.

[2016-01-28 06:26] piosz opened #908 "Watch channel closed in eventer"
As described in https://github.com/kubernetes/kubernetes/issues/20231#issuecomment-175890410 eventer fails with `[kubernetes_source.go:103] Event watch channel closed`

[2016-01-28 15:04] fgrzadkowski commented on #907
@timstclair - Tim, thanks for adding this new API! Since we are almost at the code freeze for 1.2 I think we won' be able to work on this for this release. I think we should come back to this once we are done with 1.2.

Btw - does the new API export custom metrics?

@dchen1107 @mwielgus @piosz

[2016-01-28 15:17] mwielgus opened #910 "Support Labeled Metrics in Sinks"
cc: @piosz

[2016-01-28 18:38] timstclair commented on #907
I know this is coming in hot, but if the Kubelet side does land it would be awesome to get this in. I'm volunteering to do all the work on this, as I know you're all overloaded right now (and it's so late!).

@vishh is adding custom metrics to the API.

[2016-01-28 18:39] mwringe opened #911 "[heapster-scalability] 'No node info in pod' crashes Heapster"
When Heapster tries to access a pod which is not currently running, it will not receive information about that pod. Currently with the heapster-scalability branch this will cause the Heapster container to crash:

`oc get pods metrics-deployer-436wu`

metrics-deployer-436wu   0/1       Completed   0          6m

In the `master` branch this looks to cause 404 errors to be logged, but the Heapster in

[2016-01-28 19:48] mwringe opened #912 "[heapster-scalability] Lots of "missing metadata for container" errors in the logs"
When running on OpenShift with the heapster-scalability branch, there are a lot of error messages in the logs about missing metadata for the system level metrics. These are the metrics which are not coming from a container or pod, but from the system itself.

Eg:

kubelet.go:132] Missing metadata for container /system.slice/run-user-42-gvfs.mount. Got: map[]
kubelet.go:132] Missing metadata for co

[2016-01-29 02:04] timstclair opened #913 "cpu/usage_rate units incorrect"
From https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/sources/kubelet/kubelet.go:
[code]

But `1000 * [nano-cores] = [micro-cores]` (not `[milli-cores]`).

[2016-01-29 02:16] timstclair commented on #913
Sorry, I completely misread this. Code is correct, please forget you ever say this! :grimacing:

[2016-01-29 02:16] #913 closed

[2016-01-29 12:02] #908 closed

[2016-01-29 12:03] piosz opened #916 "Index out of range in Kubelet source"
[code]

[2016-01-29 12:03] piosz commented on #916
cc @mwielgus @fgrzadkowski

[2016-01-29 12:05] piosz opened #917 "Eventer in waiting state after reboot test"
[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/11119/consoleFull

[2016-01-29 12:05] piosz commented on #917
cc @mwielgus @fgrzadkowski

version v0.20.0-alpha2

[2016-01-29 12:05] piosz commented on #916
version v0.20.0-alpha2

[2016-01-29 12:21] jimmidyson commented on #912
The problem here is this bit of code - https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/sources/kubelet/cadvisor_utils.go#L23-L41. It doesn't take into account systemd based distros systems or indeed nested cgroups.

[2016-01-29 12:29] piosz commented on #917
another failure http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10579/

[2016-01-29 12:39] piosz commented on #917
In gce suite the problem is with heapster container in waiting state.

[2016-01-29 13:04] mwielgus commented on #916
fixed with 918

[2016-01-29 13:04] #916 closed

[2016-01-29 14:56] mwringe commented on #911
Is there anyway I could get this assigned to me?

[2016-01-31 08:09] jimmidyson commented on #911
@mwringe It doesn't need to be assigned for you to work on it & provide a PR :)

[2016-02-01 03:55] lvsha1989 commented on #646
Have you sloved the problem?

[2016-02-01 15:49] mwielgus commented on #907
You can start adding the new API as a separate source (leaving the existing one intact). If all elements are in (including the code that picks the right api based on kubelet version and CM) and we still have time to redo the tests then we will definitely consider using the new source in K8S 1.2.

[2016-02-01 16:07] mwielgus commented on #911
Does #922 fix the problem?

[2016-02-01 16:21] jimmidyson commented on #911
It should do. Sorry I didn't mark it as fixed in the PR.

[2016-02-01 16:26] #911 closed

[2016-02-01 18:39] timstclair commented on #907
Sounds good. I've already mostly implemented this as an alternate path in
the existing kubelet source, since there's a lot of overlap with the
previous methods. I'll probably send a WIP PR out later today, so if you
still think it would be better to refactor it as a separate source after
that, let me know.

On Mon, Feb 1, 2016 at 7:49 AM, Marcin Wielgus <notifications@github.com>
wrote:

[2016-02-01 21:44] mwielgus commented on #907
Yes, please make it completely separate.

[2016-02-02 00:02] ichekrygin opened #925 "Heapster containers are being killed"
It seems that after 10 min or so, k8s kills heapster pods and removes rc.

[code]

Heapster container logs does not show any errors.

[2016-02-02 00:13] mwielgus opened #926 "Add autoscaling metrics to GCM sink"
Right now autoscaling suite in k8s is failing due to lack of these metrics.

cc @piosz @fgrzadkowski

[2016-02-02 00:14] mwielgus commented on #637
Fixed in heapster-scalability.

[2016-02-02 00:14] #637 closed

[2016-02-02 00:14] mwielgus commented on #641
Fixed in heapster-scalability.

[2016-02-02 00:14] #641 closed

[2016-02-02 00:15] mwielgus commented on #643
Fixed in heapster-scalability.

[2016-02-02 00:15] #643 closed

[2016-02-02 00:15] mwielgus commented on #692
Postponed until after 1.2

[2016-02-02 00:17] mwielgus commented on #826
Fixed by @huangyuqi .

[2016-02-02 00:17] #826 closed

[2016-02-02 09:17] DImuthuUpe commented on #893
I'm also getting the same output

[2016-02-02 15:29] mwringe commented on #911
Can we please re-open this issue?

#922 just adds a check to get around the issue and is not addressing the main problem.

There are a few things happening here and it has to do with how we handle metrics coming in from /stats endpoint and how we handle metrics which are not available under /stats.

For metrics which we get from the /stats endpoint, we go through and add the hostname label to them

[2016-02-02 16:00] jimmidyson commented on #911
I do agree it would make more sense to only keep stats for pods we have stats for & ignore pods we don't have stats for. I assume the idea was to have an in-memory representation of every pod in the cluster but that is a bit wasteful.

Thoughts @mwielgus?

[2016-02-03 13:11] mwielgus opened #933 "Test Hawkular sink"
Please take a look the Hawkular sink and check if everything is in order there. You may want to implement LabeledMetrics support.

[2016-02-03 13:16] mwielgus commented on #910
Log, Influxdb, Riemann and Kafka are done.
Hawkular, GCM are pending.

[2016-02-03 13:16] mwielgus opened #934 "Support Labeled Metrics in GKE/GCM"

[2016-02-03 13:17] mwielgus commented on #934
ref #910

[2016-02-03 13:17] mwielgus commented on #933
ref: #910

[2016-02-03 13:24] jimmidyson commented on #933
@mwringe Can you look at the Hawkular sink please & add support for LabeledMetrics as required? Thanks!

[2016-02-03 14:02] mwringe commented on #933
@jimmidyson ok

[2016-02-03 15:08] jimmidyson commented on #933
Thanks!

[2016-02-03 15:35] muzzy82 opened #937 "Heapster is unable to connect Kubelet and gets periodically terminated"
Hi,

I'm experimenting with Kubernetes on a single VM (CentOS 7.1 - VirtualBox) cluster.
When trying to setup resource monitoring using
 _heapster:v0.20.0-alpha3_
 _heapster_influxdb:v0.5_
 _heapster_grafana:v2.1.1_

heapster gets periodically terminated with producing the following logs:

[code]

The Kubernetes version i use:

[code]

The single node i use i up:

[code]

IP address of the Kubelet

[2016-02-03 16:14] paulbakker commented on #768
Any news on this issue? I tried this with an EBS volume. When I delete the pod and attach the EBS to another container, I see it still contains the `log/grafana` and `lib/grafana` folders, but they are both empty.

[2016-02-03 18:02] HardikDR commented on #690
Any update on this ??

[2016-02-04 01:43] vklonghml opened #939 "[QUESTION]autoscaler can not work normal by heapster."
Description of problem:
 when i create two autoscalers in cluster environment, one is php-apache which created through http://kubernetes.io/v1.1/docs/user-guide/horizontal-pod-autoscaling/README.html, the other is
dockerhttpd, here is the result:

kubectl get hpa --all-namespaces -o wide
NAMESPACE   NAME           REFERENCE                                  TARGET    CURRENT     MINPODS   MAXPODS

[2016-02-04 02:14] vklonghml commented on #937
you must configure the --source=kubernetes:'' in heapster-controller.yaml,  configure it in heapster yaml with "- --source=kubernetes:'http://$kube-apiserver' " for example.

[2016-02-04 10:39] muzzy82 commented on #937
Thanks for the hint!
I've configured the source as was suggested, but no luck yet:

[code]

My kube-apiserver indeed listens on port 6443:

[code]

Detected/default Kubelet port seems to be correct, too:

[code]

Furthermore, using the above provided URL i was able to connect to kube-apiserver from an arbitrary pod using the auto-mounted service account.

[2016-02-04 12:33] jimmidyson commented on #937
We've fixed the no node info ...` error that was causing it to exit, should be released with v0.20.0-alpha4 when it's released (soon I hope).

As for the `Node 10.0.2.15 has no valid hostname and/or IP address: 10.0.2.15` error that looks like something unexpected with your node config. Can you share the output of `kubectl get node 10.0.2.15 -oyaml` so I can see why? Also, what version of Kubernet

[2016-02-04 12:55] rohitsardesai83 commented on #227
I am interested in contributing towards this. Do let me know I can pick this up . Thanks !

[2016-02-04 13:02] muzzy82 commented on #937
Node info and kubernetes version:

[code]

[2016-02-04 13:22] jimmidyson commented on #937
Thanks - fix support for legacy node IP in PR. Will try to get this in next release too.

[2016-02-04 13:28] muzzy82 commented on #937
OK, thanks for your kind help!

[2016-02-04 13:35] jimmidyson commented on #937
You're welcome!

[2016-02-04 20:00] bh016088 opened #943 "Container Dash not populating"
I just set up heapster/grafana/influxdb on my on-premise Centos7 Kube cluster.  Kube v1.1.4, Heapster v0.18.2 (even though I specify 'latest' in the controller).

I set it up to use a service account and kubernetes api as the source.

When I pull up grafana I see two built in dashboards, Kubernetes Cluster and Containers.  I see data in the Kubernetes Cluster dashboard but when I pull up the conta

[2016-02-04 23:21] jfoy opened #944 "Riemann sink panics on backend connection loss"
Stack trace:
https://gist.github.com/jfoy/12f91044119743f091e3

It looks like code designed to gracefully recover from a lost backend connection causes the entire Heapster daemon to crash:
https://github.com/kubernetes/heapster/blob/0e06b6b792f566d9f1a514049caebe0513f1f1b5/sinks/riemann/driver.go#L192-L194

[2016-02-05 10:43] gmarek opened #945 "Eventer panics"
[code]
It's currently failing in gce-soak tests.

cc @fgrzadkowski @piosz

[2016-02-05 11:46] geoah commented on #898
Having the same issue, currently on canary.

[2016-02-05 17:21] #945 closed

[2016-02-07 14:28] DImuthuUpe commented on #811
Is this a bug? I'm also having the same issue and once the lifecycle block was removed stats were correctly published. But I need the lifecycle hook to be present in the configuration.

[2016-02-07 20:26] jimmidyson commented on #937
This is now fixed in master, will be in next release.

[2016-02-07 20:26] #937 closed

[2016-02-07 20:26] jimmidyson commented on #912
System containers are now properly identified.

[2016-02-07 20:26] #912 closed

[2016-02-07 20:57] mwielgus opened #953 "[heapster-scalability] Add retries in GCM sink startup"
[code]

[2016-02-08 04:50] rohitsardesai83 commented on #604
Hello @vishh , I can take this up. Do let me know if I can proceed. Thanks !

[2016-02-08 09:45] llarsson opened #955 "Release a version with OpenTSDB support"
I would love to see a release, complete with container image, that includes OpenTSDB support, now that it's present in the master branch. Alternatively, I would appreciate an estimate on when we could expect it, in case we need to go ahead and make unofficial builds and images in the mean time.

[2016-02-08 10:33] jimmidyson commented on #955
Rather than unofficial builds/images, we'd love contributions for that to heapster itself if you're up for that?

[2016-02-08 15:12] mwielgus commented on #604
Personally, I would rather not include cAdvisor structs in Heapster api. What is exactly needed? Maybe we could expose the required data through some generic api?

[2016-02-08 15:30] llarsson commented on #955
I am unclear about how I would go about making a build that gets pushed out through the official channels.

The code for OpenTSDB is there (not mine), there are no bug reports against it as far as I can see, and it's just not made available in any of the official images.

[2016-02-08 15:57] jimmidyson commented on #604
The majority of information should be available once #941 is merged - this will be in the heapster API format. Is that enough? Supported metrics shown in https://github.com/kubernetes/heapster/pull/941/files#diff-7ee408da48cb16f010268e3b72643f00R37

[2016-02-08 18:20] gerritbinnenmars commented on #604
Hello all,

Thanks for picking this up. We would like to have the machine information like the Node structure with number of cores, the disk Info structure and the NetInfo structure of cAdvisor available. This is needed to build a custom scheduler that is based on the OSGi requirement-capability resolver.
E.g. a specific POD is only placed on machines that have a 10 Gb interface.
Hope it is more c

[2016-02-09 18:26] #944 closed

[2016-02-10 05:15] maty21 commented on #657
the problem still happens to me  in K8S 1.1.7 so i suggest to open that issue again

[2016-02-10 12:40] #926 closed

[2016-02-10 16:35] mwielgus opened #958 "Debug k8s gce autoscaling suite"
It is failing despite gcm sink with autoscaling enabled.

[2016-02-10 16:36] mwielgus commented on #958
cc: @piosz

[2016-02-10 20:24] piosz commented on #958
from logs
[code]

[2016-02-10 20:46] piosz commented on #958
To fix the problem we should add waiting for token right after it's created https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/sinks/gcm/gcm.go#L239

I'll create the fix tomorrow.

[2016-02-11 01:18] moserke commented on #943
Have verified that this is a docker 1.10.x issue.  Don't have a resolution to date, but went back to the beta channel of coreos.

[2016-02-11 10:41] #958 closed

[2016-02-11 14:41] mwielgus opened #963 "[heapster scalability] Too much stuff logged on pod/namespace deletion"
[code]

[2016-02-11 17:06] bh016088 commented on #943
This occurred on Docker 1.8.x when I tried it.  I recently upgraded to 1.9.  I will test.

[2016-02-11 23:20] mwringe opened #967 "[heapster-scalability] certificate based authentication broken"
It looks like certificate authentication was broken when this commit was put into place: https://github.com/kubernetes/heapster/commit/8ad5353a3dd6dc00eeb24eb4da778e566d26178c

As it stands right now its not possible to use client based authentication to secure the heapster endpoints.

[2016-02-12 00:42] mwielgus commented on #953
Done

[2016-02-12 00:42] #953 closed

[2016-02-12 12:34] muzzy82 opened #970 "Heapster REST endpoint is not reachable"
Hi,

I have a single VM (CentOS 7.1) Kubernetes configuration (version: 1.1.0)
My heapster setup is:
_heapster:v0.20.0-alpha5_
_heapster_influxdb:v0.6_
_heapster_grafana:v2.6.0_

Heapster is running well (i.e. no sign of errors in log with increased verbosity):
[code]
Heapster is listening on its default port, 8082.
However HTTP GET requests return error 404:
[code]

The same happens when trying t

[2016-02-15 13:29] tommyknows opened #973 "Heapster Internal Error 500"
Hi,
I have a working baremetal Kubernetes Cluster on top of CoreOS. When deploying heapster, I had to change the datasource in Grafana from _http://monitoring-grafana:8086_ to _http://localhost:8086_ to get the InfluxDB Database working.
Now I see stats for the Kubernetes Dashboard, but none for the Container-Dashboard.
I tried to start debugging and found out that Heapster has many internal error

[2016-02-16 09:39] git001 opened #977 "Heapster 18 and influxdb 10 get 404 at create db"
Hi.

today we try to setup the following.

Openshift v3.1.1.6
kubernetes v1.1.0-origin-1107-g4c8e6f4
kubernetes/heapster:v0.18.3
InfluxDB starting, version 0.10.0, branch 0.10.0, commit b8bb32ecad9808ef00219e7d2469514890a0987a, built 2016-02-04T17:06:04.850564

After successfully creating the pods we always get the following errors and no database.

`
E0216 08:46:08.341101       1 driver.go:326] D

[2016-02-16 09:44] muzzy82 commented on #970
Further investigating it seems that heapster successfully connects to kubernetes master, kubelet and influxdb:
[code]

However the measurements collected by heapster are somewhat strange:
[code]
According to [storage schema](https://github.com/kubernetes/heapster/blob/master/docs/storage-schema.md), measurements should've been postfixed with metric type and unit, e.g.:
uptime_ms_cumulative

[2016-02-16 10:12] tsn77130 opened #978 "Downsampling k8s cluster data"
Hi all,

I've set up heapster / grafana / influxdb on my kubernetes cluster, and it works well.

Problem I have is that it generates a lot of data, and so size of DB is growing quickly (~1GB / day)
I saw on influxdb docs that we can downsample data with Retention Policies & Continuous Queries, with for example full data on last 24 hours, and sample data for long time (like RRDs ).

Is that a simpl

[2016-02-16 18:14] mwielgus opened #981 "Heapster-Grafana 2.5.0 dashboards are not working with v0.20.0-alphaX"

[2016-02-16 22:45] moserke commented on #744
@ddispaltro Can you expand on "better options in hyperkube"?  Seem to be having the same issue and can not determine resolution

[2016-02-17 00:20] #963 closed

[2016-02-17 00:24] mwielgus opened #984 "[heapster-scalability] Convert missing rate metrics from cumulatives"
https://github.com/kubernetes/heapster/blob/master/sinks/gcm/rate_metrics.go

[2016-02-17 00:32] mwielgus commented on #984
@piosz Only cpu is converted, plus the code is prone for map size overflow.
https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/sources/kubelet/kubelet.go#L218

[2016-02-17 13:43] Vanuan opened #987 "cadvisor processes"
cAdvisor provides information about processes of each container. Could heapster get this information?

[2016-02-17 21:47] mwielgus opened #988 "When calculating rates from cumulatives check if there was no restart"
cc: @piosz  @fgrzadkowski

[2016-02-18 13:23] git001 opened #989 "%d is not substituted"
Hi.

I have the following in my logs in version 0.20.0-alpha7.

I0218 13:09:08.645330       1 influxdb.go:145] Exported %d data to influxDB in %s4046 193.84419ms

I have found 2 lines where this output is.

heapster]$ egrep -r 'data to influxDB' *
events/sinks/influxdb/influxdb.go:      glog.V(4).Info("Exported %d data to influxDB in %s", len(dataPoints), end.Sub(start))
metrics/sinks/influxdb/inf

[2016-02-18 13:27] mwielgus commented on #989
Yep should be Infof instead of Info. Will fix it in a minute.

[2016-02-18 15:58] mwielgus commented on #989
Fixed.

[2016-02-18 15:58] #989 closed

[2016-02-18 18:56] timstclair opened #993 "Consider dropping uptime from storage"
Since CreateTime was added to the MetricSet in https://github.com/kubernetes/heapster/pull/985/files, it now seems redundant to store an Uptime metric. Consider removing it to save storage costs.

/cc @mwielgus

[2016-02-18 19:58] piosz commented on #984
fixed in #985

[2016-02-18 19:58] #984 closed

[2016-02-19 01:54] vishh opened #994 "Export new disk metrics via `/metric-export` endpoint."
The newly exposed disk usage metrics are required for GKE monitoring. `/metric-export` and `/metric-export-schema` REST endpoints should include pod volumes usage data and container's logs and write layer usage data, if available.

Essentially, [`LabeledMetrics`](https://github.com/kubernetes/heapster/blob/heapster-scalability/metrics/core/metrics.go#L66) should also be exported.

This will let us

[2016-02-19 10:30] git001 opened #996 "Double entry in influxdb"
Hi.

we use the following components.

InfluxDB starting, version 0.10.0, branch 0.10.0, commit b8bb32ecad9808ef00219e7d2469514890a0987a, built 2016-02-04T17:06:04.850564
Go version go1.4.3, GOMAXPROCS set to 4
Heapster version 0.20.0-alpha7

Heapster sends 2 different entries at the same time.
Is this a expected behavior?

oc rsh influxdb-0-10-2-x9qdg
bash-4.2$ influx

...
1455877380000000000

[2016-02-19 10:35] mwielgus commented on #996
I guess that the first entry is for pod and the second is for the container. Please add container_name to the query to check.

[2016-02-19 11:01] git001 commented on #996
cool yes you are right.

thanks.

[2016-02-19 11:01] #996 closed

[2016-02-19 15:24] fgrzadkowski opened #997 "Test exporting metrics from new heapster to GCM in GKE"

[2016-02-22 23:46] timstclair commented on #994
/cc @dchen1107

[2016-02-23 04:21] binarybana commented on #710
These version numbers did indeed fix things for me (although 0.19.1 heapster also fixed the race between heapster and influxdb). Thanks!

[2016-02-23 16:43] mwielgus opened #998 "[heapster-scalability] Be super verbose when there is no service account or the node list from server is empty."
Heapster:
[code]

Eventer:
[code]

[2016-02-23 16:52] janwillies commented on #998
maybe mention in https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md that the public apiserver address has to be used when running without ServiceAccount/InClusterConfig: --source=kubernetes:http://foo.bar.lan:8080?inClusterConfig=false&auth=

[2016-02-24 02:12] theobolo commented on #973
Same issue here
Kubernetes v 1.1.7

[2016-02-24 12:11] fgrzadkowski commented on #994
P2 as it's not a blocker for 1.2

[2016-02-24 12:12] fgrzadkowski commented on #988
Fixed in #992

[2016-02-24 12:12] #988 closed

[2016-02-24 12:14] fgrzadkowski commented on #987
This sounds like out of scope for kubernetes monitoring.

[2016-02-24 12:14] #987 closed

[2016-02-24 12:18] fgrzadkowski commented on #978
@tsn77130 What exactly do you mean? Would it be a change in Heapster or just a configuration change in Influxdb?

[2016-02-24 12:24] fgrzadkowski commented on #973
It seems that there are two separate issues:
* It seems that DNS is not working in your cluster. This means that you'll not be able to use addresses like `http://monitoring-grafana:8086`
* Internal error in kubelet is somewhat separate story, but please report it in kubernetes/kubernetes and cross reference this issue.

[2016-02-24 12:26] fgrzadkowski commented on #967
Fixed in #968

Please let us know if this is still the problem.

[2016-02-24 12:26] #967 closed

[2016-02-24 14:38] ramonrue commented on #973
My DNS is working, when I start a busybox in the kube-system Namespace and execute a nslookup monitoring-grafana, I get the correct IP address of the server. I can curl to that IP and get a WebSite back...

[2016-02-24 14:50] fgrzadkowski commented on #973
Assigning to @mwielgus for further debugging.

[2016-02-24 19:04] mwielgus opened #1001 "[heapster scalability] Port OpenTSDB"
cc: @piosz @fgrzadkowski

[2016-02-24 20:28] alexa-infra opened #1002 "failed to get list of machines from fleet"
I've tried this setup:

[code]

and it raises the following error:

[code]

`:8082/validate/` fails also:

[code]

Heapster config:

[code]

cAdvisor runs on every machine (and listens 8080 port). Fleet has 4 machines. And Fleet API seems to be ok too:

[code]

Do you have any idea what is wrong in this configuration?
Thanks

[2016-02-24 20:29] mwielgus commented on #1001
I will port the code but someone should test if it really works.

[2016-02-24 21:58] gabe-ochoa commented on #657
+1

[2016-02-24 22:10] justinsb opened #1003 "Grafana pre-baked queries reference invalid influxdb datasets"
I believe the queries in grafana are wrong:

These are the measurements shown by "SHOW MEASUREMENTS" against influxdb:

[code]

Did we change the names of the statistics that were collected? All the grafana queries are things like `select hostname, mean(value) from "memory/limit_bytes_gauge" where $timeFilter and container_name = 'machine' group by time($interval), hostname order asc` but `memory/

[2016-02-24 23:01] mwielgus commented on #1001
#1000 needs porting.

[2016-02-25 04:34] Vanuan opened #1005 "Working set seem to be shared between containers"
I use heapster to get info from cadvisor to influxdb. What I've noticed is that memory/working_set_bytes_gauge is approximately the same, no matter which container I choose. But memory/usage_bytes_gauge does seem to represent what cadvisor shows as a "hot" memory. I.e. working set is greater than usage bytes for some containers.

Is there some misunderstanding?

[2016-02-25 08:53] innovia commented on #1003
cf [kubernetes/kubernetes#487](https://github.com/kubernetes/contrib/issues/487) same issue...

[2016-02-25 08:58] tsn77130 commented on #978
I was thinking a way to enable this change in influxdb configuration

[2016-02-25 09:35] piosz commented on #568
This is fixed in new Heapster.

[2016-02-25 09:35] #568 closed

[2016-02-25 09:36] piosz commented on #561
This is fixed in new Heapster.

[2016-02-25 09:36] #561 closed

[2016-02-25 09:36] piosz commented on #542
We no longer use cadvisor types internally. Closing as obsolete

[2016-02-25 09:36] #542 closed

[2016-02-25 09:39] piosz commented on #917
Heapster is no longer failing in reboot tests.

[2016-02-25 09:39] #917 closed

[2016-02-25 09:43] piosz commented on #933
Any progress?

[2016-02-25 10:54] fgrzadkowski opened #1008 "Verify metrics name in influxdb"
Check if this has changed in the underlying DB.

[2016-02-25 10:54] fgrzadkowski opened #1009 "Update documentation for new Heapster"

[2016-02-25 10:55] fgrzadkowski opened #1010 "Merge scalability branch to master"

[2016-02-25 11:09] fgrzadkowski commented on #894
How this can be reproduced?

[2016-02-25 11:10] fgrzadkowski commented on #893
@bryk

[2016-02-25 11:11] fgrzadkowski commented on #893
We are about to release new version of heapster (0.20) which will solve this problem.

[2016-02-25 11:11] fgrzadkowski commented on #892
Fixed.

[2016-02-25 11:11] #892 closed

[2016-02-25 11:14] fgrzadkowski commented on #884
We don't panic anymore. Fixed

[2016-02-25 11:14] #884 closed

[2016-02-25 11:15] fgrzadkowski commented on #880
The test doesn't timeout anymore.

[2016-02-25 11:15] #880 closed

[2016-02-25 11:16] fgrzadkowski commented on #863
We don't want to do this for now.

[2016-02-25 11:16] #863 closed

[2016-02-25 11:17] #827 closed

[2016-02-25 11:20] fgrzadkowski commented on #898
This will be fixed in new release (v0.20)

[2016-02-25 11:20] #898 closed

[2016-02-25 11:21] fgrzadkowski commented on #528
Done in new heapster

[2016-02-25 11:21] #528 closed

[2016-02-25 11:21] fgrzadkowski commented on #493
Obsolete

[2016-02-25 11:21] #493 closed

[2016-02-25 11:22] fgrzadkowski commented on #483
This will be handled by metrics API.

[2016-02-25 11:22] #483 closed

[2016-02-25 11:24] fgrzadkowski commented on #481
We don't want to do this right now. We might come back to this later.

[2016-02-25 11:24] #481 closed

[2016-02-25 11:24] fgrzadkowski commented on #476
This will be substituted by metrics API.

[2016-02-25 11:24] #476 closed

[2016-02-25 11:24] fgrzadkowski commented on #473
Obsolete.

[2016-02-25 11:24] #473 closed

[2016-02-25 13:58] mwielgus commented on #370
Obsolete. Eventer handles events in 0.20.

[2016-02-25 13:58] #370 closed

[2016-02-25 13:59] mwielgus commented on #1001
#1007 - #1000 ported.

[2016-02-25 14:00] mwielgus commented on #1001
Ok, so we have a basic support for metrics in opentsdb. Events are pending/TBD.

[2016-02-25 14:12] mwringe commented on #933
Sorry, I have been busy with some other stuff, and wow, I can't believe its been so long since I was looking at this. I should hopefully have time to get back to this in the next couple of days.

I had it partially working with the Hawkular sink, but the lack of differentiation labels on LabeledMetrics meant that they could not be properly categorized and stored. I think I had to add the host labe

[2016-02-26 00:05] andrewmichaelsmith commented on #625
I've just loaded `cluster/addons/cluster-monitoring/influxdb`. When I go to: `:8080/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/datasources` Grafana loads but I get the

```InfluxDB` Error: <br/>404 page not found error.```

I read what you said about LoadBalancers - I just set a nodePort on my `grafana-service.yaml` but when I go to :nodePort Grafana doesn't even load because

[2016-02-26 00:28] vishh commented on #625
InfluxDB v0.9 is supported from v0.19+

On Thu, Feb 25, 2016 at 4:05 PM, Andrew Smith <notifications@github.com>
wrote:

[2016-02-26 05:04] juner417 commented on #657
+1

[2016-02-26 08:37] ZhuPeng commented on #973
Encounter same issue with kubernetes building from master HEAD source(commit id: 7ee8dde1e3afc9fc68616c54833f96d6391e0b22)

[2016-02-26 09:31] andrewmichaelsmith commented on #625
So is the problem that the yml files define [heapster v0.20](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/heapster-controller.yaml#L29) and [influxdb 0.5](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-controller.yaml#L23)?

[2016-02-26 10:21] #998 closed

[2016-02-26 14:10] Morriz commented on #973
I have the same issue (tested with 1.1.2 all the way up to 1.2.0-alpha.8). Could it be networking contraints that prevent it? Or would we see 404s then?

[2016-02-26 15:59] mwielgus opened #1014 "[heapster-scalablity] Node memory/usage is bigger than node/limit"
Probably the values are mixed up.

cc: @piosz

[2016-02-26 16:18] mwielgus commented on #1014
Ok, it is container capacity limit. There should be some mem capacity metrics for nodes.

[2016-02-26 16:18] #1014 closed

[2016-02-26 18:50] mwielgus opened #1015 "[heapster-scalability] Floats in influxdb are aggregated to 0"
[code]
produces only zeros
Either we are putting the floats somehow as strings or "wrong" floats.

Blocks graphana updata.

cc: @piosz

[2016-02-26 19:26] vishh commented on #625
That configuration is expected to work

On Fri, Feb 26, 2016 at 1:31 AM, Andrew Smith <notifications@github.com>
wrote:

[2016-02-26 19:30] andrewmichaelsmith commented on #625
With that configuration I get the 404 error above.

Fairly sure I'm on the right images:

[code]

[2016-02-26 22:24] vishh commented on #625
Have you updated the grafana configs to work with NodePorts or
LoadBalancer? Look in the configs, there will be comments on how to make it
work outside of the proxy.

On Fri, Feb 26, 2016 at 11:30 AM, Andrew Smith <notifications@github.com>
wrote:

[2016-02-26 22:39] dchen1107 commented on #994
@fgrzadkowski disk account is blocker 1.2.

[2016-02-28 06:41] ZhuPeng commented on #973
The problem was same with this issue https://github.com/kubernetes/kubernetes/issues/18868.

[2016-02-28 09:23] tommyknows commented on #973
Ok, that explains the error 500s, but the DNS-problem still persists, right?

[2016-02-29 08:15] fgrzadkowski commented on #994
@dchen1107 I didn't know that. Thanks for noticing this. Bumping up priority and reassigning to @timstclair as it seems he owns this now.

[2016-02-29 08:48] fgrzadkowski commented on #981
Dup https://github.com/kubernetes/heapster/issues/1003

[2016-02-29 08:48] #981 closed

[2016-02-29 08:54] piosz commented on #551
Fixed in new Heapster.

[2016-02-29 08:54] #551 closed

[2016-02-29 08:54] piosz commented on #514
Obsolete.

[2016-02-29 08:54] #514 closed

[2016-02-29 17:32] vishh commented on #994
I started putting together a patch for this issue. I'm yet to test it. I can own this issue.

[2016-02-29 19:45] gravis commented on #925
I have the same issue with os 1.1.3
Only heapster pod is being deleted, no error in the logs, just:
`Killing container with docker id 97b2aa607729: Need to kill pod.`
in the events.

[2016-02-29 20:45] ichekrygin commented on #925
Update: this issue is most likely due to "corrupted" heapster-controller.yaml during `kube up`. Which resulted in installation where heapster-controller.yaml was entirely missing on kube master under: `/etc/kubernetes/addons/cluster-monitoring/influxdb/`. They way I understand it k8s is using salt to keep installed kube-system components in check. Since heapster-controller.yaml was originally miss

[2016-02-29 20:57] gravis commented on #925
Ok, I'll wait for the image openshift/origin-metrics-deployer to be updated and will try again then.
Thanks!

[2016-02-29 23:06] #1015 closed

[2016-02-29 23:09] mwielgus opened #1020 "Container_name not populated for system stuff in GKE endpoint"
cc: @a-robinson @piosz @fgrzadkowski

[2016-02-29 23:10] mwielgus opened #1021 "GKE endpoint should return only 1 sample per metric"
@a-robinson @piosz @fgrzadkowski

[2016-03-01 08:43] fgrzadkowski commented on #1003
Fixed

[2016-03-01 08:43] #1003 closed

[2016-03-01 10:44] piosz commented on #1021
This is not fixed actually. #1023 fixed #1020

[2016-03-01 10:45] piosz commented on #1020
fixed by #1023

[2016-03-01 10:45] #1020 closed

[2016-03-01 12:20] innovia commented on #1003
Thank you!

[2016-03-01 13:05] #1021 closed

[2016-03-01 13:45] innovia commented on #1003
@fgrzadkowski  how do I build only heapster to test on my deployed  alpha 1.2 cluster?

[2016-03-01 13:58] gravis commented on #925
/cc @mwringe

[2016-03-01 14:20] piosz commented on #1009
Storage schema documentation should be updated (see #https://github.com/kubernetes/heapster/issues/970#issuecomment-184599624).

[2016-03-01 14:22] piosz commented on #970
@muzzy82 thanks for reporting this.

`curl http://localhost:8082` is not working by design. Please try `curl http://localhost:8082/api/v1/model/namespaces`.

We decided to change storage schema in influxdb starting from version 0.20 to make it consistent with our REST endpoint and others sinks. It hasn't been documented yet (see #1009). Apologies for that.

I'm closing the issue. Feel free to re-o

[2016-03-01 14:22] #970 closed

[2016-03-01 16:38] mwringe commented on #925
@gravis How exactly does this relate to origin-metrics? This doesn't sound like the issue with the yaml file would apply to origin-metrics. Could you please open a new issue for the issue you are seeing when running with the origin-metrics components (https://github.com/openshift/origin-metrics/issues)?

[2016-03-01 18:04] cheld opened #1028 "Heapster very unstable in local cluster"
I run version 0.20.0-alpha1 along a local cluster (or hypercube). It is very unstable and crashes every couple of minutes.

Command:

docker run --net=host  gcr.io/google_containers/heapster:v0.20.0-alpha1 -port 8082 \
    --source=kubernetes:http://127.0.0.1:8080?inClusterConfig=false&auth=""

Stack-Trace:

I0301 16:11:05.000151       1 manager.go:76] Scraping metrics start: 2016-03-01 16:10:30 +

[2016-03-01 19:15] mwielgus commented on #1028
Can you please switch to the newest version? gcr.io/google_containers/heapster:v0.20.0-alpha9

Just FYI heapster 0.20.0 is a big refactoring/rewrite and there were numerous bugs in early alpha versions. Issue in kubelet.go:154 was fixed some time ago.

[2016-03-01 20:15] mwringe commented on #925
@gravis its not mixing up projects and if you have specific questions or issues about Heapster, then please file them here :) The origin-metrics project does things a bit differently in terms of deployment and if you hare having problems deploying components than its likely the fault of origin-metrics and not related to Heapster directly.

[2016-03-02 07:46] fgrzadkowski opened #1031 "Document how to use old heapster + kubedash"
Since kube-dash is not supported in new heapster we need a way for some customer to run the old "bundle".

[2016-03-02 08:02] fgrzadkowski commented on #1003
We have release new version that should include this fix `v0.20.0-alpha9`.

[2016-03-02 08:12] innovia commented on #1003
great thank you so much

[2016-03-02 08:14] innovia commented on #1003
@fgrzadkowski sorry but I don't see that in the releases for kubernetes

you mean a release on heapster ?

if so how do I add it to the alpha8 deployed cluster / or how do i redeploy with the new release?

[2016-03-02 08:18] cheld commented on #1028
ok, thanks. It seems to run stable.

BTW stupid question: Is there a way to see the available versions of a container in gcr like on Docker Hub?

[2016-03-02 08:18] #1028 closed

[2016-03-02 09:19] fgrzadkowski commented on #1003
I meant heapster release. If you want to update this manually you should update RC definition for heapster on master in `/etc/kubernetes/addons/cluster-monitoring` or you can update 'cluster/addons/cluster-monitoring/...` and redeploy your cluster.

[2016-03-02 10:20] innovia commented on #1003
thanks for the explanation - i really appreciate your help

[2016-03-02 13:10] piosz opened #1032 "Memory value is doubled in GKE"

[2016-03-02 13:11] piosz opened #1033 "CPU is probably in wrong unit in GKE"

[2016-03-02 13:11] piosz opened #1034 "Start time for cumulative metrics is wrong in GKE"

[2016-03-02 13:12] piosz commented on #1032
cc @a-robinson @fgrzadkowski @mwielgus

[2016-03-02 13:12] piosz commented on #1033
cc @a-robinson  @fgrzadkowski @mwielgus

[2016-03-02 13:12] piosz commented on #1034
cc @a-robinson  @fgrzadkowski @mwielgus

[2016-03-02 13:28] mwielgus commented on #1003
@innovia @fgrzadkowski
A tiny correction - grafana + influxdb is in a separate docker image. New version is here gcr.io/google_containers/heapster_grafana:v2.6.0-2.

[2016-03-02 13:32] piosz commented on #1032
ref #997

[2016-03-02 13:32] piosz commented on #1034
ref #997

[2016-03-02 13:32] piosz commented on #1033
ref #997

[2016-03-02 13:38] piosz commented on #1028
We are not aware of any way. If you will figure it out please let us know:)

[2016-03-02 13:38] piosz commented on #1020
ref #997

[2016-03-02 13:38] piosz commented on #1021
ref #997

[2016-03-02 13:50] piosz opened #1037 "GKE schema is slightly different in new Heapster"
Old:
[code]
New:
[code]

[2016-03-02 13:51] #1032 closed

[2016-03-02 13:53] piosz commented on #1037
@a-robinson could you please take a look and verify whether the difference is acceptable?

cc @mwielgus @fgrzadkowski

ref #997

[2016-03-02 15:26] piosz commented on #1034
fixed in #1036

[2016-03-02 15:26] #1034 closed

[2016-03-02 15:37] mwielgus commented on #1005
Please check if the problem persists in the new Heapster version candidate gcr.io/google_containers/heapster:v0.20.0-alpha10 and reopen if needed.

[2016-03-02 15:37] #1005 closed

[2016-03-02 15:39] mwielgus commented on #977
Heapster 0.18 doesn't work with Influxdb >= 0.9.

[2016-03-02 15:39] #977 closed

[2016-03-02 15:43] mwielgus commented on #684
The code is +- complete in heapster-scalablity branch.

[2016-03-02 15:43] #684 closed

[2016-03-02 15:45] mwielgus commented on #581
Obsolete.

[2016-03-02 15:45] #581 closed

[2016-03-02 15:59] mwielgus commented on #565
obsolete

[2016-03-02 15:59] #565 closed

[2016-03-02 16:48] dmcnaught commented on #1003
I updated our 1.2alpha8 cluster to use heapster v0.20.0-alpha9 and heapster_grafana:v2.6.0-2.
It's looking great now - thanks!

[2016-03-02 17:03] dmcnaught commented on #1003
It looks like there is a similar issue in 1.1.7 and 1.1.8. Is there is a patch for that release?

[2016-03-02 17:34] mwielgus commented on #1032
Not only in GKE.

[2016-03-02 17:41] mwielgus commented on #1003
You will have to port the config files manually. Heapster and grafana should work on the older cluster as well. BTW, please pay attention to new mini-releases of Heapster - 0.20.0 (a big rewrite/refactoring) is still in alpha stage and we are pushing new version with bugfixes every other day. Today we pushed alpha10.

[2016-03-02 18:57] a-robinson commented on #1032
LGTM now

[2016-03-03 09:28] innovia commented on #1003
@fgrzadkowski  i've deleted my running rc's for garafana and heapster and re-ran  the create on them and it's working great! thank you so much for the fix

[2016-03-03 22:25] vishh commented on #581
Has this been fixed for real? This will affect monitoring of best effort
pods...

On Wed, Mar 2, 2016 at 7:45 AM, Marcin Wielgus <notifications@github.com>
wrote:

[2016-03-04 13:54] piosz commented on #581
As for now we aggregate limit/request metric for node. It's no longer a machine capacity.

[2016-03-04 19:19] a-robinson commented on #1033
You can assign this one to me as well, I no longer have maintainer privileges on heapster.

[2016-03-07 18:26] #907 closed

[2016-03-07 18:38] #994 closed

[2016-03-07 18:40] mwielgus commented on #955
Heapster v0.20.0 (currently we have an alpha release candidate) will have OpenTSDB enabled.

[2016-03-07 18:40] #934 closed

[2016-03-07 18:43] mwielgus commented on #22
Obsolete.

[2016-03-07 18:43] #22 closed

[2016-03-07 18:44] mwielgus commented on #29
We track running pods.

[2016-03-07 18:44] #29 closed

[2016-03-07 18:44] mwielgus commented on #89
Obsolete.

[2016-03-07 18:44] #89 closed

[2016-03-07 21:59] mwielgus opened #1050 "Bump Heapster to beta in K8S release branch"
cc: @piosz @fgrzadkowski

[2016-03-07 21:59] mwielgus opened #1051 "Create final v1.0 version and bump version in K8S 1.2 release branch"
cc: @piosz @fgrzadkowski

[2016-03-10 08:23] mwielgus opened #1052 "Update documentation for Heapster"
Basically all docs in /docs need some update.
cc: @piosz  @fgrzadkowski

[2016-03-10 16:32] mwielgus opened #1053 "Create service, rc, deployment aggregators"
cc: @piosz @fgrzadkowski

[2016-03-10 16:37] mwielgus opened #1054 "Sync Riemann sink code in heapster-scalability and master"

[2016-03-10 16:38] mwielgus commented on #1054
cc: @jfoy @piosz

[2016-03-10 17:35] piosz opened #1056 "Consider building Heapster on Docker to be local go version independent"
cc @mwielgus

[2016-03-10 19:29] ckleban opened #1057 "Heapster race conditions with docker image heapster:canary"
As in issue #780, I'm still seeing the race condition. Logs from my heapster pod that fail to create a DB in influxdb (and also fail to retry). I'm using the kubenernetes/heapster:canary image.

I0310 18:40:14.541729       1 heapster.go:61] /heapster --source=kubernetes:https://kubernetes.default --sink=influxdb:http://monitoring-influxdb:8086
I0310 18:40:14.541818       1 heapster.go:62] Heapster

[2016-03-10 19:53] piosz commented on #1001
Fixed by @mwielgus

[2016-03-10 19:53] #1001 closed

[2016-03-10 20:20] mwielgus commented on #1057
Please try v0.20.0-alpha12.

[2016-03-10 22:45] ckleban commented on #1057
Retrying works. Closing request

[2016-03-10 22:45] #1057 closed

[2016-03-10 22:55] ckleban opened #1058 "Network usage for physical servers doesn't appear in grafana"
Hello,

When installing k8s, with heapster and inluxdb, network utilization appears in grafana for my VMs but not for my physical servers.

I'm using: v0.20.0-alpha12, heapster_influxdb:v0.5, heapster_grafana:v2.6.0-2.

My guess is that the network interfaces on the phsyical machines aren't being picked up correctly, but I'm not sure. My physical machines using a bond0 sub interface (bond0.3691, w

[2016-03-11 08:22] piosz commented on #1033
This is fixed now. The reason was #1034

[2016-03-11 08:22] #1033 closed

[2016-03-11 09:27] piosz commented on #1037
fixed in #1060

[2016-03-11 09:27] #1037 closed

[2016-03-11 09:27] piosz commented on #1051
our target is v1.0

[2016-03-11 10:30] piosz commented on #1010
fixed in #1059

[2016-03-11 10:30] #1010 closed

[2016-03-11 10:31] piosz commented on #1052
dup of #1009

[2016-03-11 10:31] #1052 closed

[2016-03-11 11:15] mwielgus commented on #115
CoreOS support is currently suspended.

[2016-03-11 11:15] #115 closed

[2016-03-11 11:16] mwielgus commented on #110
done

[2016-03-11 11:16] #110 closed

[2016-03-11 11:17] mwielgus commented on #119
done

[2016-03-11 11:17] #119 closed

[2016-03-11 11:18] mwielgus commented on #136
support for non-kubernetes deployments is currently suspended.

[2016-03-11 11:18] #136 closed

[2016-03-11 11:18] #144 closed

[2016-03-11 11:19] mwielgus commented on #172
Kafka sink is avaiable for metrics.

[2016-03-11 11:20] mwielgus commented on #173
Possible with custom metrics. Support in Heapster is done.

[2016-03-11 11:20] #173 closed

[2016-03-11 11:20] mwielgus commented on #196
Obsolete

[2016-03-11 11:20] #196 closed

[2016-03-11 11:21] mwielgus commented on #246
Obsolete

[2016-03-11 11:21] #246 closed

[2016-03-11 11:21] mwielgus commented on #231
Obsolete, retries were added.

[2016-03-11 11:21] #231 closed

[2016-03-11 11:23] mwielgus commented on #177
There should be no volatile configuration changes. Cycling heapster with new configuration is much easier today as the internal state is relatively small.

[2016-03-11 11:23] #177 closed

[2016-03-11 11:24] mwielgus commented on #289
GCM sink was rewritten.

[2016-03-11 11:24] #289 closed

[2016-03-11 11:25] mwielgus commented on #329
Done.

[2016-03-11 11:25] #329 closed

[2016-03-11 11:25] mwielgus commented on #330
Done.

[2016-03-11 11:25] #330 closed

[2016-03-11 11:26] mwielgus commented on #355
Obsolete.

[2016-03-11 11:26] #355 closed

[2016-03-11 11:27] mwielgus commented on #526
Obsolete.

[2016-03-11 11:27] #526 closed

[2016-03-11 12:46] piosz commented on #1050
The PR is in flight https://github.com/kubernetes/kubernetes/pull/22851

[2016-03-11 12:48] piosz commented on #997
This is fixed now.

cc @a-robinson

[2016-03-11 12:59] piosz commented on #1008
I'm not sure what should be done in this issue. @fgrzadkowski @mwielgus any ideas?

[2016-03-11 14:24] rposts opened #1063 "Add s390x support"
Please add s390x support to Heapster.

I was able to get this working on s390x by simply pulling this file from Kubernetes master:

https://github.com/kubernetes/kubernetes/blob/master/Godeps/_workspace/src/github.com/boltdb/bolt/bolt_s390x.go

Thanks.

[2016-03-11 15:26] mwielgus commented on #1063
Could you please be a bit more specific on what you are exactly trying to do? And what exactly is missing?
I guess that s390x stands for some IBM architecture but I've personally never heard much about it.

[2016-03-11 15:59] rposts commented on #1063
My apologies.  Yes, s390x is Linux on IBM's System z.

I am working on validating OpenShift on s390x architecture and as part of that effort I had to use Heapster for OpenShift autoscaling.  I found that I was unable to create Heapster Docker images unless I copied bolt_s390x.go from Kubernetes master.  Here is Dockerfile reference: https://github.com/openshift/origin-metrics/blob/master/heapster-

[2016-03-11 16:03] rposts commented on #1063
So what is missing is bolt_s390x.go in https://github.com/kubernetes/heapster/tree/master/Godeps/_workspace/src/github.com/boltdb/bolt

[2016-03-11 17:09] mwielgus commented on #1063
Well, it is not entirely missing - most likely we are just using Influxdb client/db that is about half a year old that doesn't depend on the newest boltdb that has the mentioned file. We can definitely think about upgrading the deps a bit to have this file on-board but this is not a matter of putting an extra file there.